/*---------------------------------------------------------------*/
/*---------------------------- docs.scss ------------------------*/
/*---------------------------------------------------------------*/
.layout-options {
  img {
    max-height: 15rem;
  }
}

.resize,
main > section > div.resize,
main.sidemenu div > section > div.resize {
  width: 100%;
  margin: 0;
  resize: both;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  border: 2px solid black;

  iframe {
    flex-grow: 1;
    border: 0;
  }
}
