/*------------------------------------------------------------------------*/
/*-------------------------- article-variables.scss ----------------------*/
/*------------------------------------------------------------------------*/

:root {
  --article-align-items: var(--layout-base-content-block-align-items);
  --article-gap: var(--layout-base-within-content-block-gap);
  /* --article-background-color: ; */
  /* --article-text-color: ; */

  /* article title */
  --article-title-margin-top: var(--layout-base-content-block-title-margin-top);
  --article-title-margin-bottom: var(
    --layout-base-content-block-title-margin-bottom
  );

  /* article subtitle */
  --article-subtitle-margin-top: var(
    --layout-base-content-block-subtitle-margin-top
  );
  --article-subtitle-margin-bottom: var(
    --layout-base-content-block-subtitle-margin-bottom
  );

  /* Content block within article's */
  --article-content-block-gap: var(--article-gap);
}
