/*---------------------------------------------------------------*/
/*----------------------- article.scss --------------------------*/
/*---------------------------------------------------------------*/
@use "article-variables";

main article {
  display: flex;
  flex-direction: column;
  align-items: var(--article-align-items);
  gap: var(--article-gap);
  background-color: var(--article-background-color);
  color: var(--article-text-color, inherit);
  width: 100%;
  box-sizing: border-box;

  > div {
    display: flex;
    flex-direction: column;
    align-items: var(--article-content-block-align-items);
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    gap: var(--article-content-block-gap);

    h1 {
      margin: var(--article-title-margin);
    }

    h2 {
      margin: var(--article-subtitle-margin);
    }
  }

  h1 {
    margin: var(--article-title-margin);
  }

  h2 {
    margin: var(--article-subtitle-margin);
  }
}
