/*------------------------------------------------------------------------*/
/*-------------------------- article-variables.scss ----------------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Layout */
  --article-flex-direction: column;
  --article-gap: 0;
  --article-justify-content: flex-start;
  --article-align-items: flex-start;
  --article-padding-top: 0;
  --article-padding-right: 0;
  --article-padding-bottom: 0;
  --article-padding-left: 0;
  --article-max-width: unset;
}
