/*---------------------------------------------------------------*/
/*---------------- breadcrumb-bar-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  --breadcrumb-bar-max-width: 100%;
  --breadcrumb-bar-justify-content: flex-start;
  --breadcrumb-bar-align-items: center;
  --breadcrumb-bar-background-color: var(
    --application-base-tint-1-background-color,
    var(--application-base-background-color)
  );
  --breadcrumb-bar-text-color: var(
    --application-base-tint-1-text-color,
    var(--application-base-text-color)
  );
  --breadcrumb-bar-padding-top: 1rem;
  --breadcrumb-bar-padding-right: var(--layout-base-padding-right);
  --breadcrumb-bar-padding-bottom: 1rem;
  --breadcrumb-bar-padding-left: var(--layout-base-padding-left);

  /* Hover */
  --breadcrumb-bar-hover-text-color: var(--application-base-text-color);

  /* List */
  --breadcrumb-bar-list-padding: 0;
  --breadcrumb-bar-list-gap: 1rem;
  --breadcrumb-bar-list-vertical-align: center;

  /* List item */
  --breadcrumb-bar-list-item-gap: 1rem;

  /* Icon */
  --breadcrumb-bar-icon: ">";
  /* --breadcrumb-bar-icon-margin-left: ; */
  /* --breadcrumb-bar-icon-margin-right: ; */

  /* Last item */
  --breadcrumb-bar-list-item-last-child-font-weight: bold;

  /* Link */
  --breadcrumb-bar-link-text-decoration: none;

  /* Link hover */
  --breadcrumb-bar-link-hover-text-decoration: none;
}
