/*---------------------------------------------------------------*/
/*---------------- button-icon-only-variables.scss --------------*/
/*---------------------------------------------------------------*/
@use "mixins/button";
@use "mixins/outline";
@use "mixins/icon-only";

:root {
  --button-icon-only-background-color: transparent;
  --button-icon-only-border-width: 0;
  --button-icon-only-font-size: 0;
  --button-icon-only-min-width: 2.75rem;
  --button-icon-only-gap: 0;
  --button-icon-only-padding-right: 0;
  --button-icon-only-padding-left: 0;

  /* Icon */
  --button-icon-only-icon-font-size: 1rem;

  /* Hover */
  --button-icon-only-hover-background-color: transparent;
  --button-icon-only-hover-border-width: 0;
}
