/*---------------------------------------------------------------*/
/*------------------- button-icon-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  /* Button */
  --button-icon-min-width: 2.75rem;
  --button-icon-width: auto;
  --button-icon-min-height: var(--button-base-min-height);
  --button-icon-height: var(--button-base-height);
  
  /* Icon */
  --button-icon-font-family: var(--icon-font-family);
  --button-icon-font-size: var(--icon-font-size);
  --button-icon-padding-left: var(--icon-padding-left);
  --button-icon-padding-right: var(--icon-padding-right);
  --button-icon-text-color: var(--icon-text-color);
  --button-icon-padding-right: 0;
  --button-icon-padding-left: 0;
}
