/*---------------------------------------------------------------*/
/*--------------------- button-to-top.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "button-to-top-variables";

%icon-styling {
  & {
    color: var(--button-to-top-icon-color);

    &:hover,
    &:visited,
    &:visited:hover {
      color: var(
        --button-to-top-icon-color-hover,
        var(--button-to-top-icon-color)
      );
    }
  }
}

.to-top,
a.button.to-top,
button.to-top {
  position: var(--button-to-top-position);
  bottom: var(--button-to-top-bottom);
  right: var(--button-to-top-right);
  left: var(--button-to-top-left);
  font-size: var(--button-to-top-font-size);
  width: var(--button-to-top-width);
  height: var(--button-to-top-height);
  min-width: var(--button-to-top-min-width);
  min-height: var(--button-to-top-min-height);
  border-radius: var(--button-to-top-border-radius);
  border-width: var(--button-to-top-border-width);
  border-style: var(--button-to-top-border-style);
  border-color: var(--button-to-top-border-color);
  background-color: var(--button-to-top-background-color);
  color: var(--button-to-top-text-color);
  gap: var(--button-to-top-gap, 0);

  &:hover {
    background-color: var(--button-to-top-hover-background-color);
    color: var(--button-to-top-hover-text-color);
    border-color: var(--button-to-top-hover-border-color);

    .icon {
      ::before {
        @extend %icon-styling;
      }
    }
  }
  .icon::before,
  &::before {
    @extend %icon-styling;
  }
}
