/*------------------------------------------------------------------------*/
/*------------------------- card-variables.scss --------------------------*/
/*------------------------------------------------------------------------*/
:root {
    --card-gap: var(--application-base-gap-medium);
    --card-padding-top: 2rem;
    --card-padding-right: 1rem;
    --card-padding-bottom: 2rem;
    --card-padding-left: 1rem;
    --card-background-color: var(--application-base-background-color);
    --card-text-color: var(--application-base-text-color);
    --card-border-radius: var(--application-base-border-radius);
    --card-max-width: 100%;
    --card-box-shadow:0;
    --card-border-width: 1px;
    --card-border-style: solid;
    --card-border-color: var(--grey-2);

    /* After breakpoint 1 */
    --card-breakpoint-1-gap: var(--card-gap);
    --card-breakpoint-1-padding-top: var(--card-padding-top);
    --card-breakpoint-1-padding-right: var(--card-padding-right);
    --card-breakpoint-1-padding-bottom: var(--card-padding-bottom);
    --card-breakpoint-1-padding-left: var(--card-padding-left);
    --card-breakpoint-1-max-width: var(--card-max-width);
    --card-breakpoint-1-border-radius: var(--card-border-radius);

    /* After breakpoint 2 */
    --card-breakpoint-2-gap: var(--card-breakpoint-1-gap);
    --card-breakpoint-2-padding-top: var(--card-breakpoint-1-padding-top);
    --card-breakpoint-2-padding-right: var(--card-breakpoint-1-padding-right);
    --card-breakpoint-2-padding-bottom: var(--card-breakpoint-1-padding-bottom);
    --card-breakpoint-2-padding-left: var(--card-breakpoint-1-padding-left);
    --card-breakpoint-2-max-width: var(--card-breakpoint-1-max-width);
    --card-breakpoint-2-border-radius: var(--card-breakpoint-1-border-radius);
}
