/*---------------------------------------------------------------*/
/*------------------------ checkbox.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "checkbox-variables";

.checkbox {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: var(--checkbox-gap);
  align-items: var(--checkbox-align-items);
  flex-wrap: nowrap;

  input[type="checkbox"] {
    padding: 0;
    cursor: pointer;
    width: var(--checkbox-width);
    min-width: var(--checkbox-width);
    height: var(--checkbox-height);
    min-height: var(--checkbox-height);
    accent-color: var(--checkbox-accent-color);

    &+label {
      width: var(--checkbox-label-width);
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;

      &+label {
        cursor: not-allowed;
      }
    }
  }

  &.required {
    gap: var(--checkbox-required-gap);
    /* Set values instead of variables to prevent layout breaks */
    flex-direction: column;
    align-items: flex-start;
    /* Using alignment value because the flex direction is column */
    justify-content: var(--radio-align-items);

    >div {
      padding: 0;
      display: flex;
      flex-direction: row;
      gap: var(--checkbox-gap);
    }
  }

  +.nota-bene {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: calc(var(--checkbox-width) + var(--checkbox-gap));
  }
}