/*------------------------------------------------------------------------*/
/*-------------------------- checkbox-variables.scss ---------------------*/
/*------------------------------------------------------------------------*/
:root {
  /* Checkbox */
  --checkbox-gap: 0.75rem;
  --checkbox-align-items: flex-start;

  /* Box */
  --checkbox-width: 1.25rem;
  --checkbox-height: 1.25rem;
  --checkbox-accent-color: var(--branding-color-1, initial);

  /* Label */
  --checkbox-label-width: auto;

  /* Required */
  --checkbox-required-gap: var(--application-base-gap-small);
}
