/*---------------------------------------------------------------*/
/*------ collapsible-menu-horizontal-view-variables.scss --------*/
/*---------------------------------------------------------------*/
:root {
    --collapsible-menu-horizontal-view-box-shadow: none;

    /* List */
    --collapsible-menu-horizontal-view-border: 0;
    --collapsible-menu-horizontal-view-width: auto;

    /* Link */
    --collapsible-menu-horizontal-view-link-border: 0;
}
