/*---------------------------------------------------------------*/
/*------------------- collapsible-menu.scss ---------------------*/
/*---------------------------------------------------------------*/
@use "collapsible-menu-variables";
@use "mixins/icon";

/* Collapsed menu */
.collapsing-element {
    flex-direction: var(--collapsible-menu-flex-direction);
    justify-content: var(--collapsible-menu-justify-content);
    gap: var(--collapsible-menu-gap);
    
    max-height: initial;
    height: auto;
    max-width: var(--collapsible-menu-max-width);
    width: var(--collapsible-menu-width);
    z-index: var(--collapsible-menu-z-index);
    
    box-sizing: border-box;
    padding-top: var(--collapsible-menu-padding-top);
    padding-right: var(--collapsible-menu-padding-right);
    padding-bottom: var(--collapsible-menu-padding-bottom);
    padding-left: var(--collapsible-menu-padding-left);
    
    border-width: var(--collapsible-menu-border-width);
    border-style: var(--collapsible-menu-border-style);
    border-color: var(--collapsible-menu-border-color);

    background-color: var(--collapsible-menu-background-color);
    color: var(--collapsible-menu-text-color);

    -webkit-box-shadow: var(--collapsible-menu-box-shadow);
    box-shadow: var(--collapsible-menu-box-shadow);

    position: absolute;
    top: var(--collapsible-menu-top);
    left: var(--collapsible-menu-left);
    right: var(--collapsible-menu-right);

    ul,
    ol {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: var(--collapsible-menu-list-gap);
        background-color: var(--collapsible-menu-list-background-color);
    
        li {
            display: flex;
            align-items: var(--collapsible-menu-list-item-align-items);

            width: 100%;

            background-color: var(--collapsible-menu-list-item-background-color);
            color: var(--collapsible-menu-list-item-text-color);

            border-width: var(--collapsible-menu-list-item-border-width);
            border-style: var(--collapsible-menu-list-item-border-style);
            border-color: var(--collapsible-menu-list-item-border-color);
    
            &:before {
            display: none; /* Preventing default nav before to show up */
            }
    
            &:last-child {
                border-width: var(--collapsible-menu-list-item-last-item-border-width);
            }
    
            &:first-child {
                border-width: var(--collapsible-menu-list-item-first-item-border-width);
            }
    
            a {
                width: 100%;
                max-width: 100%;
                padding: 0;
                box-sizing: border-box;
                text-decoration: var(--collapsible-menu-list-item-link-text-decoration);
                justify-content: var(--collapsible-menu-list-item-link-justify-content);
                border: 0;
                background-color: transparent;
                color: var(--collapsible-menu-list-item-link-text-color);
                white-space: nowrap;

                padding-top: var(--collapsible-menu-list-item-link-padding-top);
                padding-right: var(--collapsible-menu-list-item-link-padding-right);
                padding-bottom: var(--collapsible-menu-list-item-link-padding-bottom);
                padding-left: var(--collapsible-menu-list-item-link-padding-left);

                &[aria-selected="true"] {
                    background-color: var(--collapsible-menu-list-link-selected-background-color);
                    font-weight: var(--collapsible-menu-list-link-selected-font-weight);
            
                    &:before {
                        @include icon.icon;
                        content: var(--collapsible-menu-list-selected-icon);
                        font-family: var(--collapsible-menu-list-selected-icon-font-family);
                        margin-left: var(--collapsible-menu-list-selected-icon-margin-left);
                        font-size: var(--collapsible-menu-list-selected-icon-font-size);
                        color: var(--collapsible-menu-list-selected-icon-text-color);
                        margin-right: var(--collapsible-menu-list-selected-icon-margin-right);
                    }
            
                    &:hover {
                        border: 0;
                        border-top: var(--collapsible-menu-list-link-selected-hover);
                    }
                }
            }
    
            &:hover {
                background-color: var(--collapsible-menu-list-item-link-hover-background-color);
                color: var(--collapsible-menu-list-item-hover-text-color);
        
                a {
                    background-color: var(--collapsible-menu-list-item-link-hover-background-color);
                    color: var(---collapsible-menu-list-item-link-hover-text-color);
                    
                    &:visited {
                    background-color: var(---collapsible-menu-list-item-link-hover-background-color);
                    }
                }
            }
    
            &[aria-current] {
                background-color: var(--collapsible-menu-list-item-link-hover-background-color);
                color: var(--collapsible-menu-list-item-link-hover-text-color);
            }
        }
    }
}
