/*---------------------------------------------------------------*/
/*------------ header-navigation-collapsible-menu.scss ----------*/
/*---------------------------------------------------------------*/
@use "header-navigation-collapsible-menu-variables";

$breakpoint: 60rem !default;

/*body > header nav {
    .collapsible.horizontal-view {
        position: initial;

        button,
        a.button,
        input[type="button"],
        input[type="submit"],
        input[type="reset"] {
            
            + div {
                left: var(--header-navigation-collapsible-menu-left);
                top: var(--header-navigation-collapsible-menu-top);
                width: var(--header-navigation-collapsible-menu-width);
            }
            
        }
    }
}*/
