/*---------------------------------------------------------------*/
/*------------------ collapsible-variables.scss -----------------*/
/*---------------------------------------------------------------*/

:root {
    /* Collapsible */
    --collapsible-width: 100%;
    --collapsible-max-width: 100%;

    /* Collapsing element */
    --collapsing-element-flex-direction: column;
    --collapsing-element-justify-content: center;
    --collapsing-element-gap: 0;

    --collapsing-element-width: 100%;
    --collapsing-element-max-width: 100%;
    --collapsing-element-z-index: 20;

    --collapsing-element-padding-top: 0;
    --collapsing-element-padding-right: 0;
    --collapsing-element-padding-bottom: 0;
    --collapsing-element-padding-left: 0;

    --collapsing-element-border-width: 0;
    --collapsing-element-border-style: solid;
    --collapsing-element-border-color: transparent;

    --collapsing-element-background-color: #fff;
    --collapsing-element-text-color: #000;

    --collapsing-element-box-shadow: 0px 8px 16px 0px rgba(17,20,22,0.15);

    --collapsing-element-top: 2.8rem;
    --collapsing-element-right: auto;
    --collapsing-element-left:  0;

    /* List */
    --collapsing-element-list-gap: 0;
    --collapsing-element-list-backgound-color: transparent;

    /* List item */
    --collapsing-element-list-item-align-items: flex-start;
    --collapsing-element-list-item-min-height: 3rem;
    --collapsing-element-list-item-background-color: transparent;
    --collapsing-element-list-item-text-color: #000;

    --collapsing-element-list-item-border-width: 1px 0 0 0;
    --collapsing-element-list-item-border-style: solid;
    --collapsing-element-list-item-border-color: #dbdbdb;

    /* List item link icon */
    --collapsible-list-icon-font-family: var(--icon-font-family);
    --collapsible-list-icon-font-size: var(--icon-font-size);
    --collapsible-list-icon-text-color: var(--language-selector-list-label-text-color);
    --collapsible-list-icon-margin-right: 0.5rem;
    --collapsible-list-icon: none;

    /* List item link selected */
    --collapsible-list-link-selected-background-color: #f0f0f0;
    --collapsible-list-link-selected-font-weight: bold;
    
    /* List item link selected hover */
    --collapsible-list-link-selected-hover-background-color: var(--collapsible-list-link-selected-background-color);

    /* List item link selected icon */
    --collapsible-list-selected-icon-font-family: var(--icon-font-family);
    --collapsible-list-selected-icon-font-size: var(--icon-font-size);
    --collapsible-list-selected-icon-text-color: var(--language-selector-list-label-text-color);
    --collapsible-list-selected-icon-margin-right: 0.5rem;
    --collapsible-list-selected-icon: none;

    /* First collapsed list item */
    --collapsing-element-list-item-first-item-border-width: 0;

    /* Last collapsed list item */
    --collapsing-element-list-item-last-item-border-width: 1px 0;

    /* Link */
    --collapsing-element-list-item-link-justify-content: flex-start;
    --collapsble-element-list-item-link-text-color: #000;
    --collapsing-element-list-item-link-text-decoration: none;

    --collapsing-element-list-item-link-padding-top: 0;
    --collapsing-element-list-item-link-padding-right: 2rem;
    --collapsing-element-list-item-link-padding-bottom: 0;
    --collapsing-element-list-item-link-padding-left: 2rem;

    /* List item collapsed hover */
    --collapsing-element-list-item-link-hover-background-color: var(--collapsible-list-link-selected-background-color);
    --collapsing-element-list-item-link-hover-text-color: #000;
      
    /* Button */
    --collapsing-element-button-background-color: var(--application-base-background-color);
    --collapsing-element-button-font-sie: 0;
    --collapsing-element-button-height: 2.75rem;
    --collapsing-element-button-min-height: var(--button-base-min-height);
    --collapsing-element-button-width: 2.75rem;
    --collapsing-element-button-min-width: 2.75rem;

    /* Icon */
    --collapsing-element-icon: "≡";
    --collapsing-element-icon-font-size: 1.75rem;
    --collapsing-element-icon-color: var(--application-base-text-color);

    /* Collapsed icon */
    --collapsing-element-icon-collapsed: "x";
    --collapsing-element-icon-collapsed-font-size: var(--collapsible-icon-font-size);
    --collapsing-element-icon-collapsed-color: var(--collapsible-icon-color);
}
