/*---------------------------------------------------------------*/
/*------ header-navigation-collapsible-menu-variables.scss ------*/
/*---------------------------------------------------------------*/
:root {
 --header-navigation-collapsible-menu-left: 0;
 --header-navigation-collapsible-menu-top: 4rem;
 --header-navigation-collapsible-menu-width: 100%;
}
