/*---------------------------------------------------------------*/
/*--------------- collapsible-menu-variables.scss ---------------*/
/*---------------------------------------------------------------*/
:root {
    /* List */
    --collapsible-menu-width: auto;
    --collapsible-menu-top: 2.75rem;
    --collapsible-menu-justify-content: flex-start;
    --collapsible-menu-right: auto;
    --collapsible-menu-left: auto;
    --collapsible-menu-z-index: 20;
    --collapsible-menu-box-shadow: 0px 8px 16px 0px rgba(17,20,22,0.15);
    --collapsible-menu-padding: 0;
    --collapsible-menu-gap: 0;
    --collapsible-menu-border: 1px solid #f0f0f0;
    --collapsible-menu-background-color: #fff;

    /* List item */
    --collapsible-menu-list-style: none;

    /* List item link */
    --collapsible-menu-list-link-border-top: 1px solid #f0f0f0;
    --collapsible-menu-list-link-justify-content: flex-start;
    --collapsible-menu-list-link-padding: 0 1rem;
    --collapsible-menu-list-link-min-height: 3rem;
    --collapsible-menu-list-link-text-color: #000;
    --collapsible-menu-list-link-white-space: nowrap;

    /* List item link selected */
    --collapsible-menu-list-link-selected-background-color: #fff;
    --collapsible-menu-list-link-selected-font-weight: bold;

    /* List item link selected icon */
    --collapsible-menu-list-selected-icon-font-family: var(--icon-font-family);
    --collapsible-menu-list-selected-icon-font-size: var(--icon-font-size);
    --collapsible-menu-list-selected-icon-text-color: var(--language-selector-list-label-text-color);
    --collapsible-menu-list-selected-icon-margin-right: 0.5rem;
}
