/*----------------------------------------------------------------------------------*/
/*------------------ critical-informational-labels-variables.scss ------------------*/
/*----------------------------------------------------------------------------------*/
:root {
  --critical-informational-labels-padding: 0 1rem;
  --critical-informational-labels-min-width: 5rem;
  --critical-informational-labels-text-align: center;
}
