/*----------------------------------------------------------------------------------*/
/*---------------------------- description-list.scss -------------------------------*/
/*----------------------------------------------------------------------------------*/
@use "description-list-variables";

$breakpoint: 24rem !default;

%dl-styling {
  width: var(--description-list-width, 100%);
  max-width: var(--description-list-max-width);
  margin: 0;

  > div {
    display: flex;
    flex-direction: var(--description-list-item-flex-direction);
    gap: var(--description-list-item-gap);
    padding: var(--description-list-item-padding);
    flex-wrap: wrap;
    width: 100%;
    border-width: var(--description-list-border-width);
    border-style: var(--description-list-border-style);
    border-color: var(--description-list-border-color);

    &:nth-child(odd) {
      background-color: var(--description-list-item-odd-background-color);
    }
  }

  dt,
  dd {
    white-space: var(--description-list-item-white-space);
    word-break: break-word;
    box-sizing: border-box;
    margin: 0;
  }

  dt {
    font-weight: var(--description-list-item-title-font-weight);
    background-color: var(--description-list-item-title-background-color);
    color: var(--description-list-item-title-text-color);
    padding: var(--description-list-item-title-padding);
    width: var(--description-list-item-title-width);
  }

  dd {
    background-color: var(--description-list-item-data-background-color);
    color: var(--description-list-item-data-text-color);
    padding: var(--description-list-item-data-padding);
    font-weight: var(--description-list-item-data-font-weight);
    width: var(--description-list-item-data-width);
  }

  @media (min-width: $breakpoint) {
    div {
      flex-direction: var(
        --description-list-item-flex-direction-after-breakpoint
      );
    }
  }
}

main div,
main section,
main article {
  form dl,
  dl {
    @extend %dl-styling;
  }
}

dl {
  @extend %dl-styling;
}
