/*----------------------------------------------------------------------------------*/
/*---------------------------- description-list.scss -------------------------------*/
/*----------------------------------------------------------------------------------*/
@use "description-list-variables";

$breakpoint: 24rem !default;

main div dl,
main section dl,
main article dl,
dl {
  width: var(--description-list-width, 100%);
  max-width: var(--description-list-max-width);
  margin: 0;



  >div {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--description-list-item-gap, 0 1rem);

    flex-direction: var(--description-list-flex-direction);
    gap: var(--description-list-gap);
    padding: 0;

    &:nth-child(odd) {
      background-color: var(--description-list-item-odd-background-color);
    }
  }

  dt,
  dd {
    white-space: pre-wrap;
    word-break: break-word;
    padding: var(--description-list-item-padding, 0.5rem 0);
    margin: 0;
  }

  dt {
    font-weight: var(--description-list-item-title-font-weight, bolder);
    background-color: var(--description-list-item-title-background-color);
    color: var(--description-list-item-title-text-color);
  }

  dd {
    background-color: var(--description-list-item-data-background-color);
    color: var(--description-list-item-data-text-color);
  }

  @media (min-width: $breakpoint) {
    div {
      grid-template-columns: 1fr 2fr;
    }
  }
}