/*----------------------------------------------------------------------------------*/
/*---------------------------- description-list.scss -------------------------------*/
/*----------------------------------------------------------------------------------*/
@use "description-list-variables";

$breakpoint: 24rem !default;

main div dl,
main section dl,
main article dl,
dl {
  width: var(--description-list-width, 100%);
  max-width: var(--description-list-max-width);
  margin: 0;

  > div {
    display: flex;
    flex-direction: var(--description-list-item-flex-direction);
    gap: var(--description-list-item-gap);
    padding: var(--description-list-item-padding);
    flex-wrap: wrap;
    width: 100%;

    &:nth-child(odd) {
      background-color: var(--description-list-item-odd-background-color);
    }
  }

  dt,
  dd {
    white-space: var(--description-list-item-white-space);
    word-break: break-word;
    box-sizing: border-box;
    margin: 0;
    width: calc(50% - (var(--description-list-item-gap) / 2));
  }

  dt {
    font-weight: var(--description-list-item-title-font-weight, bolder);
    background-color: var(--description-list-item-title-background-color);
    color: var(--description-list-item-title-text-color);
    padding: var(--description-list-item-title-padding);
  }

  dd {
    background-color: var(--description-list-item-data-background-color);
    color: var(--description-list-item-data-text-color);
    padding: var(--description-list-item-data-padding);
  }

  @media (min-width: $breakpoint) {
    div {
      grid-template-columns: 1fr 2fr;
    }
  }
}
