/*------------------------------------------------------------------------*/
/*----------------------------- div-variables.scss -----------------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Layout */
  --div-flex-direction: var(--content-flex-direction);
  --div-justify-content: var(--content-justify-content);
  --div-align-items: var(--content-align-items);
  --div-gap: 0;
  --div-padding-top: 0;
  --div-padding-right: var(--page-whitespace-right);
  --div-padding-bottom: 0;
  --div-padding-left: var(--page-whitespace-left);
  --div-max-width: 100%;
}
