/*---------------------------------------------------------------*/
/*--------------------------- div.scss --------------------------*/
/*---------------------------------------------------------------*/
@use "div-variables";

main div {
  display: flex;
  flex-direction: var(--div-flex-direction);
  gap: var(--div-gap);
  justify-content: var(--div-justify-content);
  align-items: var(--div-align-items);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--div-padding-top);
  padding-right: var(--div-padding-right);
  padding-bottom: var(--div-padding-bottom);
  padding-left: var(--div-padding-left);
  max-width: var(--div-max-width);
}
