/*------------------------------------------------------------------------*/
/*-------------------- fieldset-radio-variables.scss ------------------*/
/*------------------------------------------------------------------------*/
:root {
    /* radio */
    --fieldset-radio-margin: 0.25rem 0;

    /* Input */
    --fieldset-radio-input-margin-top: 0.25rem;
    --fieldset-radio-input-width: 1.25rem;
    --fieldset-radio-input-height: 1.25rem;
    --fieldset-radio-input-accent-color: var(--branding-color-1, initial);

    /* Label */
    --fieldset-radio-label-width: auto;

    /* Required */
    --fieldset-radio-required-margin-bottom: var(--application-base-gap-small);
}
