/*------------------------------------------------------------------------*/
/*-------------------- fieldset-checkbox-variables.scss ------------------*/
/*------------------------------------------------------------------------*/
:root {
    /* Checkbox */
    --fieldset-checkbox-input-margin-top: 0.25rem;

    /* Box */
    --fieldset-checkbox-width: 1.25rem;
    --fieldset-checkbox-height: 1.25rem;
    --fieldset-checkbox-accent-color: var(--branding-color-1, initial);

    /* Label */
    --fieldset-checkbox-label-width: auto;

    /* Required */
    --fieldset-checkbox-required-margin-bottom: var(--application-base-gap-small);
}
