/*---------------------------------------------------------------*/
/*--------------------- filter-variables.scss -------------------*/
/*---------------------------------------------------------------*/
:root {
  --filter-intro-padding: 0.5rem 0;
  --filter-intro-border-width: 0 0 1px 0;
  --filter-intro-border-style: solid;
  --filter-intro-border-color: #ccc;
  --filter-intro-font-size: var(--application-base-font-size, 1rem);
  --filter-intro-text-color: var(--application-base-text-color, #000);

  /* Span */
  --filter-intro-span-font-size: 1.5rem;
  --filter-intro-span-text-color: var(--application-base-text-color, #000);

  /* Button */
  --filter-button-background-color: transparent;
  --filter-button-text-color: var(--application-base-text-color, #000);
  --filter-button-border-width: 0;
  --filter-button-border-style: 0;
  --filter-button-border-color: 0;
  --filter-button-padding: 0 0.5rem;
  --filter-button-min-height: 2.5rem;
  --filter-button-margin-left: auto;
  --filter-button-font-size: var(--application-base-font-size, 0.9rem);

  /* Button icon */
  --filter-button-icon-font-family: var(--icon-base-font-family);
  --filter-button-icon-font-size: var(--icon-base-font-size);
  --filter-button-icon-font-weight: bold;

  /* To center text within the button set the line-height to 1 */
  --filter-button-icon-line-height: 1;

  /* content on the button when the menu is collapsed */
  --filter-button-icon-before-open-content: "v";

  /* content on the button when the menu is expanded */
  --filter-button-icon-before-close-content: "^";
}
