/*-----------------------------------------------------------*/
/*---------- components/finn-large-variables.scss -----------*/
/*-----------------------------------------------------------*/
:root {
  /* Branding color 1 */
  --branding-color-1-background-color: LightSalmon;
  --branding-color-1-text-color: black;

  /* Branding color 2 */
  --branding-color-2-background-color: SeaShell;
  --branding-color-2-text-color: black;

  /* Branding color 3 */
  --branding-color-3-background-color: LightSeaGreen;
  --branding-color-3-text-color: white;

  /* Branding color 4 */
  --branding-color-4-background-color: MediumVioletRed;
  --branding-color-4-text-color: white;

  /* Branding color 5 */
  --branding-color-5-background-color: SlateBlue;
  --branding-color-5-text-color: white;
}
