/*---------------------------------------------------------------*/
/*----------------- components/finn-small.scss ------------------*/
/*---------------------------------------------------------------*/
@use "finn-small-variables";

%branding-color-1,
.branding-color-1 {
	background-color: var(--branding-color-1-background-color);
	color: var(--branding-color-1-text-color);
}

%branding-color-2,
.branding-color-2 {
	background-color: var(--branding-color-2-background-color);
	color: var(--branding-color-2-text-color);
}
