/*---------------------------------------------------------------*/
/*------------------- states/focus-variables.scss ---------------*/
/*---------------------------------------------------------------*/
:root {
  --focus-outline: 2px dotted #000;
  --focus-outline-offset: 0.25rem;
  --focus-z-index: 1;
}
