/*---------------------------------------------------------------*/
/*---------------------- states/focus.scss ----------------------*/
/*---------------------------------------------------------------*/
*:focus,
*.focus,
.outline-dotted {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
  z-index: var(--focus-z-index);
  position: relative;

  + label::before {
    outline: var(--focus-outline);
    z-index: var(--focus-z-index);
    position: relative;
  }
}
