/*---------------------------------------------------------------*/
/*--------------- footer-link-active-variables.scss -------------*/
/*---------------------------------------------------------------*/
:root {
  --footer-link-active-background-color: var(--link-active-background-color);
  --footer-link-active-text-color: var(--link-active-text-color);
  --footer-link-active-text-decoration: var(--link-active-text-decoration);

  /* Icon */
  --footer-link-icon-active-background-color: var(--footer-link-active-background-color);
  --footer-link-icon-active-text-color: var(--footer-link-active-text-color);
  --footer-link-icon-active-text-decoration: var(--footer-link-icon-text-decoration);

  /* Active on hover */
  --footer-link-active-hover-background-color: var(--link-active-hover-background-color);
  --footer-link-active-hover-text-color: var(--link-active-hover-text-color);
  --footer-link-active-hover-text-decoration: var(--link-active-hover-text-decoration);

  /* Active on hover icon */
  --footer-link-icon-active-hover-background-color: var(--footer-link-active-hover-background-color);
  --footer-link-icon-active-hover-text-color: var(--footer-link-active-hover-text-color);
  --footer-link-icon-active-hover-text-decoration: var(--footer-link-icon-active-text-decoration);
}
