/*---------------------------------------------------------------*/
/*------------------- footer-variables.scss ---------------------*/
/*---------------------------------------------------------------*/
:root {
  --footer-flex-direction: column;
  --footer-gap: var(--application-base-gap-medium);
  --footer-justify-content: center;
  --footer-align-items: flex-start;
  --footer-flex-wrap: wrap;
  --footer-min-height: 10rem;
  --footer-background-color: var(--branding-color-1-background-color);
  --footer-text-color: var(--branding-color-1-text-color);
  --footer-padding-top: var(--content-padding-top);
  --footer-padding-right: 5%;
  --footer-padding-bottom: var(--content-padding-bottom);
  --footer-padding-left: 5%;
  --footer-max-width: 100%;

  /* Links */
  --footer-link-text-color: var(--footer-text-color);
  --footer-link-text-decoration: none;

  /* Links hover */
  --footer-link-hover-text-color: var(--footer-link-text-color);
  --footer-link-hover-text-decoration: underline;
}
