/*---------------------------------------------------------------*/
/*------------------- footer-link-variables.scss ----------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";

:root {
  /* Footer Link */
  @include link.styling-variables("footer-link-", "link-");

  /* Icon */
  --footer-link-icon-font-family: var(--link-icon-font-family);
  --footer-link-icon-font-size: var(--link-icon-font-size);
  --footer-link-icon-padding-right: var(--link-icon-padding-right, 0.5rem);
  --footer-link-icon-padding-left: var(--link-icon-padding-left, 0);
  --footer-link-icon-text-decoration: var(--link-icon-text-decoration, none);

  --footer-link-icon-background-color: var(--footer-link-background-color);
  --footer-link-icon-text-color: var(--footer-link-text-color);

  /* Icon at the end */
  --footer-link-icon-last-padding-right: 0;
  --footer-link-icon-last-padding-left: 0.5rem;
}
