/*---------------------------------------------------------------*/
/*---------- footer-navigation-link-hover-variables.scss --------*/
/*---------------------------------------------------------------*/

@use "mixins/link";

:root {
  /* Hover */
  @include link.styling-variables('footer-navigation-link-hover-', 'navigation-link-hover-');

  /* Icon */
  --footer-navigation-link-hover-icon-background-color: var(--footer-navigation-link-hover-background-color);
  --footer-navigation-link-hover-icon-text-color: var(--footer-navigation-link-hover-text-color);
  --footer-navigation-link-hover-icon-text-decoration: var(--footer-navigation-link-icon-text-decoration);
}
