/*---------------------------------------------------------------*/
/*---------- footer-navigation-link-focus-variables.scss --------*/
/*---------------------------------------------------------------*/

@use "mixins/link";

:root {
  /* Focus */
  @include link.styling-variables('footer-navigation-link-focus-', 'navigation-link-focus-');

  /* Icon */
  --footer-navigation-link-focus-icon-background-color: var(--footer-navigation-link-focus-background-color);
  --footer-navigation-link-focus-icon-text-color: var(--footer-navigation-link-focus-text-color);
  --footer-navigation-link-focus-icon-text-decoration: var(--footer-navigation-link-icon-text-decoration);
}
