/*---------------------------------------------------------------*/
/*--------------- footer-link-visited-variables.scss ------------*/
/*---------------------------------------------------------------*/
:root {
  --footer-link-visited-background-color: var(--link-visited-background-color);
  --footer-link-visited-text-color: var(--link-visited-text-color);
  --footer-link-visited-text-decoration: var(--link-visited-text-decoration);

  /* Icon */
  --footer-link-visited-icon-background-color: var(--footer-link-visited-background-color);
  --footer-link-visited-icon-text-color: var(--footer-link-visited-text-color);
  --footer-link-visited-icon-text-decoration: var(--footer-link-icon-text-decoration);

  /* visited on hover */
  --footer-link-visited-hover-background-color: var(--link-visited-hover-background-color);
  --footer-link-visited-hover-text-color: var(--link-visited-hover-text-color);
  --footer-link-visited-hover-text-decoration: var(--link-visited-hover-text-decoration);

  /* visited on hover icon */
  --footer-link-icon-visited-hover-background-color: var(--footer-link-visited-hover-background-color);
  --footer-link-icon-visited-hover-text-color: var(--footer-link-visited-hover-text-color);
  --footer-link-icon-visited-hover-text-decoration: var(--footer-link-visited-icon-text-decoration);
}
