/*---------------------------------------------------------------*/
/*------------------- footer-link-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
    --footer-link-background-color: var(--link-background-color);
    --footer-link-text-color: var(--link-text-color);
    --footer-link-text-decoration: var(--link-text-decoration);

    /* Icon */
    --footer-link-icon-font-family: var(--link-icon-font-family);
    --footer-link-icon-font-size: var(--link-icon-font-size);
    --footer-link-icon-padding-right: var(--link-icon-padding-right, 0.5rem);
    --footer-link-icon-padding-left: var(--link-icon-padding-left, 0);
    --footer-link-icon-text-decoration: var(--link-icon-text-decoration, none);

    /* Icon at the end */
    --footer-link-icon-after-padding-right: 0;
    --footer-link-icon-after-padding-left: 0.5rem;
}
