/*---------------------------------------------------------------*/
/*---------------- footer-link-hover-variables.scss -------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";

:root {
  /* Hover */
  @include link.styling-variables('footer-link-hover-', 'link-hover-');

  /* Icon */
  --footer-link-hover-icon-background-color: var(--footer-link-hover-background-color);
  --footer-link-hover-icon-text-color: var(--footer-link-hover-text-color);
  --footer-link-hover-icon-text-decoration: var(--footer-link-icon-text-decoration);
}
