/*---------------------------------------------------------------*/
/*---------------- footer-link-hover-variables.scss -------------*/
/*---------------------------------------------------------------*/
:root {
  --footer-link-hover-background-color: var(--link-hover-background-color);
  --footer-link-hover-text-color: var(--link-hover-text-color);
  --footer-link-hover-text-decoration: var(--link-hover-text-decoration);
}
