/*---------------------------------------------------------------*/
/*--------- footer-two-thirds-one-third-variables.scss ----------*/
/*---------------------------------------------------------------*/
:root {
  --footer-two-thirds-one-third-flex-direction: row;
  --footer-two-thirds-one-third-gap: var(--content-gap);
  --footer-two-thirds-one-third-justify-content: center;
  --footer-two-thirds-one-third-align-items: flex-start;
  --footer-two-thirds-one-third-flex-wrap: wrap;
  --footer-two-thirds-one-third-min-height: 10rem;
  --footer-two-thirds-one-third-background-color: var(
    --branding-color-1-background-color
  );
  --footer-two-thirds-one-third-text-color: var(--branding-color-1-text-color);
  --footer-two-thirds-one-third-padding-top: var(--content-padding-top);
  --footer-two-thirds-one-third-padding-right: 5%;
  --footer-two-thirds-one-third-padding-bottom: var(--content-padding-bottom);
  --footer-two-thirds-one-third-padding-left: 5%;
  --footer-two-thirds-one-third-max-width: 100%;

  /* After breakpoint */
  --footer-two-thirds-one-third-breakpoint-gap: var(
    --footer-two-thirds-one-third-gap
  );
}
