/*------------------------------------------------------------------------*/
/*----------------- footer-content-wrapper-variables.scss ----------------*/
/*------------------------------------------------------------------------*/

:root {
    --footer-content-wrapper-flex-direction: var(--content-flex-direction);
    --footer-content-wrapper-justify-content: var(--content-justify-content);
    --footer-content-wrapper-align-items: var(--content-align-items);
    --footer-content-wrapper-gap: var(--content-gap);
    --footer-content-wrapper-padding-top: var(--content-padding-top);
    --footer-content-wrapper-padding-right: var(--content-padding-right);
    --footer-content-wrapper-padding-bottom: var(--content-padding-bottom);
    --footer-content-wrapper-padding-left: var(--content-padding-left);
    --footer-content-wrapper-max-width: var(--content-max-width);
}