/*---------------------------------------------------------------*/
/*----------------------- footer.scss ---------------------------*/
/*---------------------------------------------------------------*/
@use "footer-variables";

body > footer,
%footer-style {
  display: flex;
  flex-direction: var(--footer-flex-direction);
  gap: var(--footer-gap);
  justify-content: var(--footer-justify-content);
  align-items: var(--footer-align-items);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  flex-wrap: var(--footer-flex-wrap);
  min-height: var(--footer-min-height);
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding-top: var(--footer-padding-top);
  padding-right: var(--footer-padding-right);
  padding-bottom: var(--footer-padding-bottom);
  padding-left: var(--footer-padding-left);
  max-width: var(--footer-max-width);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li {
    color: var(--footer-text-color);
  }

  a,
  a:visited {
    color: var(--footer-link-text-color, inherit);
    text-decoration: var(--footer-link-text-decoration);

    &:before,
    &:hover {
      color: var(--footer-link-hover-text-color);
    }

    &:hover {
      text-decoration: var(--footer-link-hover-text-decoration);
    }
  }
}
