/*---------------------------------------------------------------*/
/*---------------- footer-link-focus-variables.scss -------------*/
/*---------------------------------------------------------------*/
@use "mixins/link";

:root {
  /* Focus */
  @include link.styling-variables('footer-link-focus-', 'link-focus-');

  /* Icon */
  --footer-link-focus-icon-background-color: var(--footer-link-focus-background-color);
  --footer-link-focus-icon-text-color: var(--footer-link-focus-text-color);
  --footer-link-focus-icon-text-decoration: var(--footer-link-icon-text-decoration);
}
