/*---------------------------------------------------------------*/
/*------------- footer-navigation-link-variables.scss -----------*/
/*---------------------------------------------------------------*/
:root {
  --footer-navigation-link-background-color: var(--navigation-link-background-color);
  --footer-navigation-link-text-color: var(--navigation-link-text-color);
  --footer-navigation-link-text-decoration: var(--navigation-link-text-decoration);

  /* Icon */
  --footer-navigation-link-icon-font-family: var(--navigation-link-icon-font-family);
  --footer-navigation-link-icon-font-size: var(--navigation-link-icon-font-size);
  --footer-navigation-link-icon-padding-right: var(--navigation-link-icon-padding-right);
  --footer-navigation-link-icon-padding-left: var(--navigation-link-icon-padding-left);
  --footer-navigation-link-icon-text-decoration: var(--navigation-link-icon-text-decoration);

  /* Icon at the end */
  --footer-navigation-link-icon-last-padding-right: var(--navigation-link-icon-last-padding-right);
  --footer-navigation-link-icon-last-padding-left: var(--navigation-link-icon-last-padding-left);
}
