/*---------------------------------------------------------------*/
/*------------- form-grouped-choice-list-radio.scss -------------*/
/*---------------------------------------------------------------*/

form.horizontal-view {
    .grouped-choice-list {

        legend {
            margin: 0;
            font-weight: normal;
            margin-bottom: -2rem;
            position: absolute;
            max-width: var(--label-column);
            padding: 0;
        }
    }
}