/*---------------------------------------------------------------*/
/*----------------- form-fieldset-checkbox.scss -----------------*/
/*---------------------------------------------------------------*/
@use "form-fieldset-checkbox-variables";

form {
    fieldset {
        .checkbox {
            padding: 0;
            display: initial;
            margin: var(--form-fieldset-checkbox-margin);

            input[type="checkbox"] {
                padding: 0;
                cursor: pointer;
                width: var(--form-fieldset-checkbox-width);
                min-width: var(--form-fieldset-checkbox-width);
                height: var(--form-fieldset-checkbox-height);
                accent-color: var(--form-fieldset-checkbox-accent-color);
                margin-right: 0;
                margin-top: var(--form-fieldset-checkbox-input-margin-top);

                &+label {
                    width: calc(100% - var(--form-fieldset-checkbox-width));
                    cursor: pointer;
                    padding-left: 0.5rem;
                    margin: 0;
                }

                &:disabled {
                    cursor: not-allowed;

                    &+label {
                        cursor: not-allowed;
                    }
                }
            }

            &.required {
                flex-direction: column;

                span {
                    margin-bottom: var(--form-base-required-gap);
                }

                >div {
                    padding: 0;
                    display: initial;
                }
            }

            fieldset {
                .checkbox {
                    margin: var(--form-fieldset-checkbox-margin);
                }
            }
        }
    }
}