/*---------------------------------------------------------------*/
/*------------- form-grouped-choice-list-radio.scss -------------*/
/*---------------------------------------------------------------*/

form.horizontal-view {
    $breakpoint: 24rem !default;

    .grouped-choice-list {

        legend {
            font-weight: normal;
            width: auto;
            margin: 0;

            @media (min-width: $breakpoint) {
                position: absolute;
                max-width: var(--label-column);
                padding: 0;
            }
        }
    }
}