/*---------------------------------------------------------------*/
/*----------------- form-horizontal-view.scss -------------------*/
/*---------------------------------------------------------------*/
@use "form-horizontal-view-variables";

form.horizontal-view {
  $breakpoint: 24rem !default;
  $label-column: calc(var(--form-horizontal-view-label-max-width) + var(--form-horizontal-view-gap));

  flex-direction: column;
  gap: var(--form-horizontal-view-gap);
  flex-wrap: wrap;

  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    margin-left: 0;
  }

  > div,
  > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: var(--form-horizontal-view-justify-content);
    flex-wrap: wrap;
    gap: var(--form-horizontal-view-gap);

    &.checkbox {
      gap: var(--form-checkbox-margin-right);

      %horizontal-view-checkbox,
      input[type="checkbox"] {
        /* Align checkbox with input fields */
        margin-left: $label-column;
        flex-grow: 0;
        margin-right: 0;

        & + label {
          max-width: 100%;
        }
      }

      > div {
        @extend %horizontal-view-checkbox;

        input[type="checkbox"] {
          margin-left: 0;
        }
      }
    }

    &.radio {
      gap: var(--form-radio-margin-right);

      %horizontal-view-radio,
      input[type="radio"] {
        /* Align radio with input fields */
        margin-left: $label-column;
        flex-grow: 0;
        margin-right: 0;

        & + label {
          max-width: 100%;
        }
      }

      > div {
        @extend %horizontal-view-radio;

        input[type="radio"] {
          margin-left: 0;
        }
      }
    }

    &.checkbox,
    &.radio {
      justify-content: flex-start;

      > .nota-bene {
        margin-left: $label-column;
      }
    }

    /* Notifications */
    &.error,
    &.warning,
    &.explanation,
    &.confirmation,
    &.system {
      flex-direction: var(--form-horizontal-view-notification-block-element-flex-direction);
      justify-content: var(--form-horizontal-view-notification-block-element-justify-content);
      align-items: var(--form-horizontal-view-notification-block-element-align-items);
      gap: var(--form-horizontal-view-notification-block-element-gap);

      > * {
        max-width: 100%;
      }
    }

    input[type="color"] {
      max-width: var(--form-input-color-max-width);
    }

    > * {
      flex-grow: 1;
      box-sizing: border-box;
    }

    > button,
    > a.button,
    > input[type="button"],
    > input[type="submit"],
    > input[type="reset"] {
      flex-grow: 0;
    }

    @media (min-width: $breakpoint) {
      flex-wrap: nowrap;

      > * {
        max-width: var(--form-horizontal-view-input-max-width);
      }

      label {
        width: 100%;
        max-width: var(--form-horizontal-view-label-max-width);
      }
    }
  }

  @media (min-width: $breakpoint) {
    > button,
    > a.button,
    > input[type="button"],
    > input[type="submit"],
    > input[type="reset"] {
      width: auto;
      max-width: 100%;
      margin-left: $label-column;
      flex-grow: 0;
    }
    
    > div.horizontal-view,
    > div.button-container {
      max-width: var(--form-horizontal-view-input-max-width);
      margin-left: $label-column;
      flex-wrap: wrap;
    }
  }
}
