/*---------------------------------------------------------------*/
/*---------------------- form-checkbox.scss ---------------------*/
/*---------------------------------------------------------------*/
@use "form-checkbox-variables";

form {
  $checkbox-input-width: calc(var(--checkbox-width) + var(--checkbox-gap));
  $breakpoint-1: 24rem !default;

  input[type="checkbox"] {
    padding: 0;
    vertical-align: var(--form-checkbox-vertical-align);
    cursor: var(--form-checkbox-cursor);
    width: var(--form-checkbox-width);
    min-width: var(--form-checkbox-width);
    height: var(--form-checkbox-height);
    accent-color: var(--form-radio-background-color);
    margin-left: 0;
    margin-right: 0;

    & + label {
      width: auto;
      cursor: pointer;
      margin-top: 0;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .checkbox {
    > div {
      padding: 0;
      display: flex;
      flex-direction: row;
      gap: var(--checkbox-gap);
      align-items: var(--checkbox-align-items);
    }

    p.error,
    p.warning,
    p.confirmation,
    p.explanation,
    p.primary {
      margin: 0;
    }

    @media (min-width: $breakpoint-1) {
      + p.error,
      + p.warning,
      + p.confirmation,
      + p.explanation,
      + p.primary {
        max-width: calc(100% - ($checkbox-input-width));
        margin-left: $checkbox-input-width;
      }
    }
  }

  @media (min-width: $breakpoint-1) {
    .option-group {
      .checkbox {
        + p.error,
        + p.warning,
        + p.confirmation,
        + p.explanation,
        + p.primary {
          max-width: calc(var(--input-column) - ($checkbox-input-width));
          margin-left: calc(var(--label-column) + $checkbox-input-width);
        }
      }
    }
  }
}
