/*---------------------------------------------------------------*/
/*------------- form-horizontal-view-variables.scss -------------*/
/*---------------------------------------------------------------*/
:root {
  --form-horizontal-view-justify-content: var(--form-base-flex-justify-content);
  --form-horizontal-view-gap: 1rem;

  /* Distance between columns */
  --form-horizontal-view-group-vertical-gap: 1rem;

  /* Grouped content - Div */
  --form-horizontal-view-group-gap: var(--form-group-gap);

  /* Labels */
  --form-horizontal-view-label-max-width: 33.33%;

  /* Input fields */
  --form-horizontal-view-input-max-width: 66.66%;

  /* Fieldset form fields */
  /* Usually the same as form-base-gap, but it has to be a single value */
  --form-horizontal-view-fieldset-fields-margin-bottom: 1.25rem;

  /* Submit button */
  --form-horizontal-view-button-margin-left: calc(
    var(--form-horizontal-view-label-max-width) +
      var(--form-horizontal-view-gap)
  );

  /* Block notifications */
  --form-horizontal-view-notification-block-element-flex-direction: var(
    --notification-block-element-flex-direction
  );
  --form-horizontal-view-notification-block-element-justify-content: var(
    --notification-block-element-justify-content
  );
  --form-horizontal-view-notification-block-element-align-items: var(
    --notification-block-element-align-items
  );
  --form-horizontal-view-notification-block-element-gap: var(--form-base-gap);

  --label-column: calc(
    var(--form-horizontal-view-label-max-width) +
      var(--form-horizontal-view-group-vertical-gap)
  );
  --input-column: calc(
    var(--form-horizontal-view-input-max-width) - var(
        --form-horizontal-view-group-vertical-gap
      )
  );
}
