/*---------------------------------------------------------------*/
/*----------------------- form-button.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "form-button-variables";

form {
  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    $breakpoint: 24rem !default;

    align-self: var(--form-button-align-self);

    width: var(--form-button-width);
    min-width: var(--form-button-min-width);
    min-height: var(--form-button-min-height);

    box-sizing: border-box;
    padding-top: var(--form-button-padding-top);
    padding-right: var(--form-button-padding-right);
    padding-bottom: var(--form-button-padding-bottom);
    padding-left: var(--form-button-padding-left);

    background-color: var(--form-button-background-color);
    color: var(--form-button-color);

    font-size: var(--form-button-font-size);
    line-height: var(--form-button-line-height);
    font-weight: var(--form-button-font-weight);

    border-width: var(--form-button-border-width);
    border-style: var(--form-button-border-style);
    border-color: var(--form-button-border-color);

    @media (min-width: $breakpoint) {
      width: var(--form-button-after-breakpoint-width);
      min-width: var(--form-button-min-width);
    }
  }
}
