/*------------------------------------------------------------------------*/
/*----------------------- header-navigation-form-inline-variables.scss ---------------------*/
/*------------------------------------------------------------------------*/
:root {
  --header-navigation-form-inline-gap: var(--application-base-gap);
  --header-navigation-form-inline-text-color: var(
    --application-base-text-color
  );
  --header-navigation-form-inline-flex-direction: row;
  --header-navigation-form-inline-width: auto;
}
