/*---------------------------------------------------------------*/
/*----------------- header-navigation.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "header-navigation-variables";

body > header,
.page-header,
%header-navigation-style {
  width: 100%;
  box-sizing: border-box;

  /* Grouped content */
  div {
    display: flex;
    flex-direction: row;

    button {
      align-self: center;
    }
  }

  nav {
    display: flex;
    gap: var(--header-navigation-gap);
    flex-direction: row;
    justify-content: var(--header-navigation-justify-content);
    align-items: var(--header-navigation-align-items);
    width: var(--header-navigation-width);
    margin: var(--header-navigation-margin);
    box-sizing: border-box;
    background-color: var(--header-navigation-background-color);
    padding-top: var(--header-navigation-padding-top);
    padding-right: var(--header-navigation-padding-right);
    padding-bottom: var(--header-navigation-padding-bottom);
    padding-left: var(--header-navigation-padding-left);
    max-width: var(--header-navigation-max-width);
    border-width: var(--header-navigation-border-width);
    border-style: var(--header-navigation-border-style);
    border-color: var(--header-navigation-border-color);
    border-radius: var(--header-navigation-border-radius);
    min-height: var(--header-navigation-min-height);
    position: var(--header-navigation-position);
    white-space: var(--header-navigation-white-space);

    ul,
    ol {
      display: flex;
      gap: var(--header-navigation-list-gap);
      justify-content: var(--header-navigation-list-justify-content);
      align-items: var(--header-navigation-list-align-items);
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      color: var(--header-navigation-list-text-color);
      font-weight: var(--header-navigation-list-font-weight);
      width: var(--header-navigation-list-width);
      margin: 0;

      li {
        display: flex;
        justify-content: var(--header-navigation-list-item-justify-content);
        align-items: var(--header-navigation-list-item-align-items);
        color: var(--header-navigation-list-item-text-color);
        background-color: var(--header-navigation-list-item-background-color);
        list-style: none;
        padding: 0;
        box-sizing: border-box;

        &::before {
          display: none;
          /* Preventing default nav before to show up */
        }
      }
    }

    input {
      align-self: var(--header-navigation-input-algin-self);
    }
  }
}
