/*---------------------------------------------------------------*/
/*------ header-navigation-collapsible-menu-variables.scss ------*/
/*---------------------------------------------------------------*/
:root {
/* Collapsing element */
--navigation-collapsible-menu-flex-direction: column;
--navigation-collapsible-menu-justify-content: center;
--navigation-collapsible-menu-gap: var(--navigation-collapsible-menu-gap, 0);

--navigation-collapsible-menu-width: 100%;
--navigation-collapsible-menu-z-index: 20;
--navigation-collapsible-menu-max-width: 100%;

--navigation-collapsible-menu-padding-top: 0;
--navigation-collapsible-menu-padding-right: 0;
--navigation-collapsible-menu-padding-bottom: 0;
--navigation-collapsible-menu-padding-left: 0;

--navigation-collapsible-menu-border-width: 0;
--navigation-collapsible-menu-border-style: solid;
--navigation-collapsible-menu-border-color: transparent;

--navigation-collapsible-menu-background-color: var(--header-navigation-background-color);
--navigation-collapsible-menu-menu-order: 0;

--navigation-collapsible-menu-background-color: var(--header-navigation-background-color, #fff);
--navigation-collapsible-menu-text-color: var( --header-navigation-text-color, #000);

--navigation-collapsible-menu-box-shadow: 0px 8px 16px 0px rgba(17,20,22,0.15);

--navigation-collapsible-menu-top: var(--header-navigation-min-height);
--navigation-collapsible-menu-right: auto;
--navigation-collapsible-menu-left: 0;

  /* List */
    --navigation-collapsible-menu-list-gap: var(--navigation-collapsible-menu-gap);
    --navigation-collapsible-menu-list-background-color: var(--navigation-collapsible-menu-background-color);

    /* List item */
    --navigation-collapsible-menu-list-item-align-items: flex-start;

    --navigation-collapsible-menu-list-item-background-color: var(--navigation-collapsible-menu-list-background-color, transparent);
    --navigation-collapsible-menu-list-item-text-color: var(--navigation-collapsible-menu-text-color, #000);

    --navigation-collapsible-menu-list-item-border-width: 1px 0 0 0;
    --navigation-collapsible-menu-list-item-border-style: solid;
    --navigation-collapsible-menu-list-item-border-color: var(--grey-2, #000000);
      
    /* First collapsed list item */
    --navigation-collapsible-menu-list-item-first-item-border-width: var(--navigation-collapsible-menu-list-item-border-width);
    
    /* Last collapsed list item */
    --navigation-collapsible-menu-list-item-last-item-border-width: 1px 0;

    /* Link */
    --navigation-collapsible-menu-list-item-link-justify-content: flex-start;
    --navigation-collapsible-menu-list-item-link-text-color: var(--navigation-collapsible-menu-text-color, #000);
    --navigation-collapsible-menu-list-item-link-text-decoration: var(--navigation-collapsible-link-text-decoration);
    
    --navigation-collapsible-menu-list-item-link-padding-top: 0;
    --navigation-collapsible-menu-list-item-link-padding-right: 2rem;
    --navigation-collapsible-menu-list-item-link-padding-bottom: 0;
    --navigation-collapsible-menu-list-item-link-padding-left: 2rem;

    /* List item collapsed hover */
    --navigation-collapsible-menu-list-item-link-hover-background-color: var(--branding-color-1-background-color, #c0c0c0);
    --navigation-collapsible-menu-list-item-link-hover-text-color: var(--branding-color-1-text-color, #000000);
    
/* Button */
--navigation-collapsible-menu-button-background-color: var(--application-base-background-color);
--navigation-collapsible-menu-button-font-size: 0;
--navigation-collapsible-menu-button-height: 2.75rem;
--navigation-collapsible-menu-button-min-height: var(--button-base-min-height);
--navigation-collapsible-menu-button-width: 2.75rem;
--navigation-collapsible-menu-button-min-width: var(--button-base-min-width);

  /* Icon */
  --navigation-collapsible-menu-icon: "≡";
  --navigation-collapsible-menu-icon-font-size: var(--application-base-font-size);
  --navigation-collapsible-menu-icon-color: var(--application-base-text-color);

  /* Collapsed icon */
  --navigation-collapsible-menu-icon-collapsed: "x";
  --navigation-collapsible-menu-icon-collapsed-font-size: var(--navigation-collapsible-menu-icon-font-size);
  --navigation-collapsible-menu-icon-collapsed-color: var(--navigation-collapsible-menu-icon-color); 
}
