/*---------------------------------------------------------------*/
/*------------- header-navigation-link-variables.scss -----------*/
/*---------------------------------------------------------------*/
:root {
    --header-navigation-link-background-color: var(--link-background-color);
    --header-navigation-link-text-color: var(--link-text-color);
    --header-navigation-link-text-decoration: var(--link-text-decoration);
 
    /* Icon */
    --header-navigation-link-icon-font-family: var(--icon-font-family);
    --header-navigation-link-icon-font-size: var(--icon-font-size);
    --header-navigation-link-icon-padding-right: 0.5rem;
    --header-navigation-link-icon-padding-left: var(--icon-padding-left);

    /* Icon at the end */
    --header-navigation-link-icon-after-padding-right: 0;
    --header-navigation-link-icon-after-padding-left: 0.5rem;
}
