/*---------------------------------------------------------------*/
/*-------- header-navigation-link-visited-variables.scss --------*/
/*---------------------------------------------------------------*/

@use "mixins/link";

:root {
  /* Link visited */
  @include link.styling-variables('header-navigation-link-visited-', 'navigation-link-visited-');

  /* Icon */
  --header-navigation-link-visited-icon-background-color: var(--header-navigation-link-visited-background-color);
  --header-navigation-link-visited-icon-text-color: var(--header-navigation-link-visited-text-color);
  --header-navigation-link-visited-icon-text-decoration: var(--header-navigation-link-icon-text-decoration);
}
