/*---------------------------------------------------------------*/
/*----------------- header-content-wrapper.scss -----------------*/
/*---------------------------------------------------------------*/
@use "header-content-wrapper-variables";

body > header,
.page-header,
%header-content-wrapper-style {
  > div {
    display: flex;
    flex-direction: var(--header-content-wrapper-flex-direction);
    justify-content: var(--header-content-wrapper-justify-content);
    align-items: var(--header-content-wrapper-align-items);
    gap: var(--header-content-wrapper-gap);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: var(--header-content-wrapper-padding-top);
    padding-right: var(--header-content-wrapper-padding-right);
    padding-bottom: var(--header-content-wrapper-padding-bottom);
    padding-left: var(--header-content-wrapper-padding-left);
    max-width: var(--header-content-wrapper-max-width);
    position: var(--header-content-wrapper-position);
  }
}
