/*---------------------------------------------------------------*/
/*---------- header-navigation-link-hover-variables.scss --------*/
/*---------------------------------------------------------------*/
:root {
  /* Link hover */
  --header-navigation-link-hover-background-color: var(--navigation-link-hover-background-color);
  --header-navigation-link-hover-text-color: var(--navigation-link-hover-text-color);
  --header-navigation-link-hover-text-decoration: var(--navigation-link-hover-text-decoration);
  --header-navigation-link-hover-border-width: var(--navigation-link-hover-border-width);
  --header-navigation-link-hover-border-style: var(--navigation-link-hover-border-style);
  --header-navigation-link-hover-border-color: var(--navigation-link-hover-border-color);
  --header-navigation-link-hover-border-radius: var(--navigation-link-hover-border-radius);
  --header-navigation-link-hover-font-weight: var(--navigation-link-hover-font-weight);

   /* Icon */
   --header-navigation-link-hover-icon-background-color: var(--header-navigation-link-hover-background-color);
   --header-navigation-link-hover-icon-text-color: var(--header-navigation-link-hover-text-color);
   --header-navigation-link-hover-icon-text-decoration: var(--header-navigation-link-icon-text-decoration);
}
