/*---------------------------------------------------------------*/
/*------ header-navigation-content-wrapper-variables.scss -------*/
/*---------------------------------------------------------------*/
:root {
  --header-navigation-content-wrapper-flex-direction: var(--content-flex-direction);
  --header-navigation-content-wrapper-justify-content: center;
  --header-navigation-content-wrapper-align-items: var(--content-align-items);
  --header-navigation-content-wrapper-gap: var(--content-gap);
  --header-navigation-content-wrapper-padding-top: 0;
  --header-navigation-content-wrapper-padding-right: var(--content-padding-right);
  --header-navigation-content-wrapper-padding-bottom: 0;
  --header-navigation-content-wrapper-padding-left: var(--content-padding-left);
  --header-navigation-content-wrapper-max-width: 100%;
}
