/*---------------------------------------------------------------*/
/*----------------- header-navigation.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "header-navigation-variables";

body>header,
%header-navigation-style {
  width: 100%;
  box-sizing: border-box;

  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    justify-content: var(--header-navigation-button-justify-content);
    align-self: var(--header-navigation-button-align-self);
    min-width: var(--header-navigation-button-min-width);
    min-height: var(--header-navigation-button-min-height);

    background-color: var(--header-navigation-button-background-color);
    color: var(--header-navigation-button-text-color);

    font-size: var(--header-navigation-button-font-size);
    font-weight: var(--header-navigation-button-font-weight);
    line-height: var(--header-navigation-button-line-height);

    border-width: var(--header-navigation-button-border-width);
    border-style: var(--header-navigation-button-border-style);
    border-color: var(--header-navigation-button-border-color);
    border-radius: var(--header-navigation-button-border-radius);

    padding-top: var(--header-navigation-button-padding-top);
    padding-right: var(--header-navigation-button-padding-right);
    padding-bottom: var(--header-navigation-button-padding-bottom);
    padding-left: var(--header-navigation-button-padding-left);
  }

  /* Grouped content */
  div {
    display: flex;
    flex-direction: row;

    button {
      align-self: center;
    }
  }

  nav {
    display: flex;
    gap: var(--header-navigation-gap);
    flex-direction: row;
    justify-content: var(--header-navigation-justify-content);
    align-items: var(--header-navigation-align-items);
    width: var(--header-navigation-width);
    margin: var(--header-navigation-margin);
    box-sizing: border-box;
    background-color: var(--header-navigation-background-color);
    padding-top: var(--header-navigation-padding-top);
    padding-right: var(--header-navigation-padding-right);
    padding-bottom: var(--header-navigation-padding-bottom);
    padding-left: var(--header-navigation-padding-left);
    max-width: var(--header-navigation-max-width);
    border-width: var(--header-navigation-border-width);
    border-style: var(--header-navigation-border-style);
    border-color: var(--header-navigation-border-color);
    border-radius: var(--header-navigation-border-radius);
    width: 100%;
    min-height: var(--header-navigation-min-height);
    position: var(--header-navigation-position);
    white-space: var(--header-navigation-white-space);

    ul,
    ol {
      display: flex;
      gap: var(--header-navigation-list-gap);
      justify-content: var(--header-navigation-list-justify-content);
      align-items: var(--header-navigation-list-align-items);
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      color: var(--header-navigation-list-text-color);
      width: var(--header-navigation-list-width);
      margin: 0;

      li {
        display: flex;
        justify-content: var(--header-navigation-list-item-justify-content);
        align-items: var(--header-navigation-list-item-align-items);
        color: var(--header-navigation-list-item-text-color);
        background-color: var(--header-navigation-list-item-background-color);
        list-style: none;
        padding: 0;
        box-sizing: border-box;

        &:before {
          display: none;
          /* Preventing default nav before to show up */
        }

        a {
          display: flex;
          justify-content: var(--header-navigation-link-justify-content);
          align-items: var(--header-navigation-link-align-items);
          padding-top: var(--header-navigation-link-padding-top);
          padding-right: var(--header-navigation-link-padding-right);
          padding-bottom: var(--header-navigation-link-padding-bottom);
          padding-left: var(--header-navigation-link-padding-left);
          min-height: var(--header-navigation-link-min-height);
        }
      }
    }
  }
}