/*---------------------------------------------------------------*/
/*------------------- text/headings-variables.scss --------------*/
/*---------------------------------------------------------------*/
:root {
  /* h1 */
  --headings-h1-font-size: var(--heading-xxl-font-size);
  --headings-h1-text-color: var(--heading-xxl-text-color);
  --headings-h1-font-weight: var(--heading-xxl-font-weight);
  --headings-h1-line-height: var(--heading-xxl-line-height);
  --headings-h1-margin: var(--heading-xxl-margin);

  /* h2 */
  --headings-h2-font-size: var(--heading-xl-font-size);
  --headings-h2-text-color: var(--heading-xl-text-color);
  --headings-h2-font-weight: var(--heading-xl-font-weight);
  --headings-h2-line-height: var(--heading-xl-line-height);
  --headings-h2-margin: var(--heading-xl-margin);

  /* h3 */
  --headings-h3-font-size: var(--heading-large-font-size);
  --headings-h3-text-color: var(--heading-large-text-color);
  --headings-h3-font-weight: var(--heading-large-font-weight);
  --headings-h3-line-height: var(--heading-large-line-height);
  --headings-h3-margin: var(--heading-large-margin);

  /* h4 */
  --headings-h4-font-size: var(--heading-normal-font-size);
  --headings-h4-text-color: var(--heading-normal-text-color);
  --headings-h4-font-weight: var(--heading-normal-font-weight);
  --headings-h4-line-height: var(--heading-normal-line-height);
  --headings-h4-margin: var(--heading-normal-margin);

  /* h5 */
  --headings-h5-font-size: var(--heading-small-font-size);
  --headings-h5-text-color: var(--heading-small-text-color);
  --headings-h5-font-weight: var(--heading-small-font-weight);
  --headings-h5-line-height: var(--heading-small-line-height);
  --headings-h5-margin: var(--heading-small-margin);

  /* h6 */
  --headings-h6-font-size: var(--heading-xs-font-size);
  --headings-h6-text-color: var(--heading-xs-text-color);
  --headings-h6-font-weight: var(--heading-xs-font-weight);
  --headings-h6-line-height: var(--heading-xs-line-height);
  --headings-h6-margin: var(--heading-xs-margin);
}
