/*---------------------------------------------------------------*/
/*-------------- header-navigation-variables.scss ---------------*/
/*---------------------------------------------------------------*/

:root {
  /* header-Navigation layout */
  --header-navigation-gap: var(--content-gap, 2rem);
  --header-navigation-justify-content: var(--content-justify-content, flex-start);
  --header-navigation-align-items: center;

  --header-navigation-min-height: 3rem;
  --header-navigation-width: 100%;
  --header-navigation-max-width: var(--content-max-width, 100%);

  --header-navigation-margin: 0;
  --header-navigation-padding-top: 0;
  --header-navigation-padding-right: var(--page-whitespace-right);
  --header-navigation-padding-bottom: 0;
  --header-navigation-padding-left: var(--page-whitespace-left);

  --header-navigation-border-width: 0;
  --header-navigation-border-style: solid;
  --header-navigation-border-color: transparent;
  --header-navigation-border-radius: 0;

  --header-navigation-position: relative;

  --header-navigation-background-color: var(--application-base-accent-color, #fff);
  --header-navigation-text-color: var(--application-base-accent-color-text-color);

  /* List */
  --header-navigation-list-gap: 1rem;
  --header-navigation-list-justify-content: var(--header-navigation-justify-content);
  --header-navigation-list-align-items: var(--header-navigation-align-items);
  --header-navigation-list-text-color: var(--header-navigation-text-color, var(--application-base-accent-color-text-color));
  --header-navigation-list-width: 100%;

  /* List item */
  --header-navigation-list-item-background-color: transparent;
  --header-navigation-list-item-text-color: var(--header-navigation-list-text-color, var(--application-base-accent-color-text-color));
  --header-navigation-list-item-justify-content: var(--header-navigation-justify-content);
  --header-navigation-list-item-align-items: var(--header-navigation-align-items);
  --header-navigation-list-item-padding: 0;

  /* Link */
  --header-navigation-link-justify-content: center;
  --header-navigation-link-align-items: center;
  --header-navigation-link-padding-top: 0;
  --header-navigation-link-padding-right: 0;
  --header-navigation-link-padding-bottom: 0;
  --header-navigation-link-padding-left: 0;
  --header-navigation-link-min-height: 0;

  /* Button */
  --header-navigation-button-justify-content: var(--button-base-justify-content, center);
  --header-navigation-button-align-self: center;
  --header-navigation-button-min-width: var(--button-base-min-width, 0);
  --header-navigation-button-min-height: var(--button-base-min-height, 2.75rem);
  --header-navigation-button-background-color: var(--button-base-background-color, transparent);
  --header-navigation-button-text-color: var(--button-base-text-color, black);
  --header-navigation-button-border-width: var(--button-base-border-width, 0);
  --header-navigation-button-border-style: var(--button-base-border-style, solid);
  --header-navigation-button-border-color: var(--button-base-border-color, black);
  --header-navigation-button-border-radius: var(--button-base-border-radius, 0);
  --header-navigation-button-padding-top: var(--button-base-padding-top);
  --header-navigation-button-padding-right: var(--button-base-padding-right);
  --header-navigation-button-padding-bottom: var(--button-base-padding-bottom);
  --header-navigation-button-padding-left: var(--button-base-padding-left);
  --header-navigation-button-font-size: var(--button-base-font-size, var(--application-base-font-size));
  --header-navigation-button-line-height: var(--button-base-line-height, var(--application-base-line-height));
  --header-navigation-button-font-weight: var(--button-base-font-weight, var(--application-base-font-weight));

  /* Button hover */
  --header-navigation-button-hover-background-color: var(--header-navigation-button-background-color);
  --header-navigation-button-hover-text-color: var(--header-navigation-button-text-color);
  --header-navigation-button-hover-border-width: var(--header-navigation-button-border-width);
  --header-navigation-button-hover-border-style: var(--header-navigation-button-border-style);
  --header-navigation-button-hover-border-color: var(--header-navigation-button-border-color);
  --header-navigation-button-hover-border-radius: var(--header-navigation-button-border-radius);
}
