/*---------------------------------------------------------------*/
/*---------------- header-navigation-link.scss ------------------*/
/*---------------------------------------------------------------*/
@use "header-navigation-link-variables";
@use "mixins/icon";
@use "mixins/link";

body>header,
%header-navigation-style {
  nav {
    a {
      @include link.link('header-navigation-link-');

      --header-navigation-link-align-items: center;
      --header-navigation-link-justify-content: center;
      --header-navigation-link-padding-top: 0;
      --header-navigation-link-padding-right: 0;
      --header-navigation-link-padding-bottom: 0;
      --header-navigation-link-padding-left: 0;
    }
  }
}