/*---------------------------------------------------------------*/
/*---------- header-navigation-link-hover-variables.scss --------*/
/*---------------------------------------------------------------*/
:root {
  --header-navigation-link-hover-background-color: var(--link-hover-background-color);
  --header-navigation-link-hover-text-color: var(--link-hover-text-color);
  --header-navigation-link-hover-text-decoration: var(--link-hover-text-decotation);
}
