/*---------------------------------------------------------------*/
/*-------- header-navigation-link-visited-variables.scss --------*/
/*---------------------------------------------------------------*/
:root {
  /* Link visited */
  --header-navigation-link-visited-background-color: var(--navigation-link-visited-background-color);
  --header-navigation-link-visited-text-color: var(--navigation-link-visited-text-color);
  --header-navigation-link-visited-text-decoration: var(--navigation-link-visited-text-decoration);
  --header-navigation-link-visited-border-width: var(--navigation-link-visited-border-width);
  --header-navigation-link-visited-border-style: var(--navigation-link-visited-border-style);
  --header-navigation-link-visited-border-color: var(--navigation-link-visited-border-color);
  --header-navigation-link-visited-border-radius: var(--navigation-link-visited-border-radius);
  --header-navigation-link-visited-font-weight: var(--navigation-link-visited-font-weight);

  /* Icon */
  --header-navigation-link-visited-icon-background-color: var(--header-navigation-link-visited-background-color);
  --header-navigation-link-visited-icon-text-color: var(--header-navigation-link-visited-text-color);
  --header-navigation-link-visited-icon-text-decoration: var(--header-navigation-link-icon-text-decoration);

  /* visited on hover */
  --header-navigation-link-visited-hover-background-color: var(--navigation-link-visited-hover-background-color);
  --header-navigation-link-visited-hover-text-color: var(--navigation-link-visited-hover-text-color);
  --header-navigation-link-visited-hover-text-decoration: var(--navigation-link-visited-hover-text-decoration);
  --header-navigation-link-visited-hover-border-width: var(--navigation-link-visited-hover-border-width);
  --header-navigation-link-visited-hover-border-style: var(--navigation-link-visited-hover-border-style);
  --header-navigation-link-visited-hover-border-color: var(--navigation-link-visited-hover-border-color);
  --header-navigation-link-visited-hover-border-radius: var(--navigation-link-visited-hover-border-radius);
  --header-navigation-link-visited-hover-font-weight: var(--navigation-link-visited-hover-font-weight);

  /* visited on hover icon */
  --header-navigation-link-visited-hover-icon-background-color: var(--header-navigation-link-visited-hover-background-color);
  --header-navigation-link-visited-hover-icon-text-color: var(--header-navigation-link-visited-hover-text-color);
  --header-navigation-link-visited-hover-icon-text-decoration: var(--header-navigation-link-visited-icon-text-decoration);
}
