/*----------------------------------------------------------------------------------*/
/*---------------------------------- hero.scss -------------------------------------*/
/*----------------------------------------------------------------------------------*/
@use "hero-variables";

.hero {
  display: flex;
  width: 100%;
  min-height: var(--hero-min-height);
  height: var(--hero-height);
  max-height: var(--hero-max-height);
  position: relative;
  padding: 0;
  background-color: var(--hero-background-color);

  img {
    object-fit: cover;
    object-position: var(--hero-image-object-position);
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .content-container {
    display: flex;
    flex-direction: var(--hero-content-container-flex-direction);
    justify-content: var(--hero-content-container-justify-content);
    align-items: var(--hero-content-container-align-items);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: var(--hero-content-container-padding-top);
    padding-right: var(--hero-content-container-padding-right);
    padding-bottom: var(--hero-content-container-padding-bottom);
    padding-left: var(--hero-content-container-padding-left);
    z-index: 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: var(--hero-title-font-size);
    color: var(--hero-title-text-color);
  }
}
