/*----------------------------------------------------------------------------------*/
/*-------------------------------- hero-variables.scss -----------------------------*/
/*----------------------------------------------------------------------------------*/
@use "mixins/tile";
@use "mixins/list";

:root {
  --hero-min-height: 30rem;
  --hero-height: auto;
  --hero-margin-top: 0;

  /* Title */
  --hero-title-font-size: 2rem;
  --hero-title-text-color: var(--application-base-text-color);

  /* Image */
  --hero-image-object-position: center;

  @include tile.tile-variables("hero-tile-", "tile-");
  @include list.list-variables("hero-tile-list-", "hero-list-");
  @include list.list-variables("hero-list-", "list-base-");
}
