/*--------------------------------------------------------------*/
/*-------------------- icon-variables.scss ---------------------*/
/*--------------------------------------------------------------*/
:root {
  --icon-font-family: "Manon icons";
  --icon-font-size: var(--application-base-font-size);
  --icon-width: 2.75rem;
  --icon-height: 2.75rem;
  --icon-padding-right: 0;
  --icon-padding-left: 0;
  --icon-text-color: var(--application-base-text-color);

  /* Image as icon */
  --icon-image-width: var(--icon-width);
  --icon-image-height: var(--icon-height);
  --icon-image-min-height: var(--icon-image-width);
  --icon-image-max-height: var(--icon-image-height);
}
