/*---------------------------------------------------------------------*/
/*----------------------------- icon.scss -----------------------------*/
/*---------------------------------------------------------------------*/
@use "icon-variables";
@use "mixins/icon";

.icon,
.icon-only {
  font-style: normal;
  font-size: 0;

  &:before,
  &:after {
    font-family: var(--icon-font-family);
    font-size: var(--icon-font-size);
  }
}

img.icon {
  object-position: center;
  width: var(--icon-image-width);
  min-width: var(--icon-image-width);
  max-width: var(--icon-image-max-width);
  height: var(--icon-image-height);
  min-height: var(--icon-image-height);
  max-height: var(--icon-image-max-height);
  padding: 0;
  box-sizing: border-box;
}
