/*---------------------------------------------------------------*/
/*------------------ image-square-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  --image-square-object-position: center;
  --image-square-max-width: 20rem;
  --image-square-border-radius: --application-base-border-radius;
}
