/*---------------------------------------------------------------*/
/*------------- language-selector-list-variables.scss -----------*/
/*---------------------------------------------------------------*/
:root {
  /* Label */
  --language-selector-list-label-font-size: var(--de-emphasized-font-size);
  --language-selector-list-label-text-color: var(--de-emphasized-text-color, inherit);

  /* List */
  --language-selector-list-font-size: var(--de-emphasized-font-size);
  --language-selector-list-font-weight: var(--application-base-font-weight);

  --language-selector-list-width: 100%;
  --language-selector-list-max-width: 100%;

  --language-selector-list-border-width: 1px;
  --language-selector-list-border-style: solid;
  --language-selector-list-border-color: var(--grey-2);
  --language-selector-list-border-radius: 0px;

  /* List item */
  --language-selector-list-item-background-color: var(--application-base-background-color);
  --language-selector-list-item-text-color: var(--application-base-text-color);

  /* List item link */
  --language-selector-list-item-link-border-width: 1px;
  --language-selector-list-item-link-border-style: solid;
  --language-selector-list-item-link-border-color: var(--grey-2);

  /* List item hover */
  --language-selector-list-item-hover-background-color: var(--branding-color-1-background-color);
  --language-selector-list-item-hover-text-color: var(--branding-color-1-text-color);
  --language-selector-list-item-hover-font-size: var(--language-selector-list-font-size);
  --language-selector-list-item-hover-font-weight: var(--language-selector-list-font-weight);

  /* List item active */
  --language-selector-list-item-active-background-color: var(--branding-color-2-background-color);
  --language-selector-list-item-active-text-color: var(--branding-color-2-text-color);
  --language-selector-list-item-active-font-size: var(--language-selector-list-font-size);
  --language-selector-list-item-active-font-weight: var(--language-selector-list-font-weight);

  /* Dropdown button */
  --language-selector-list-button-background-color: transparent;
  --language-selector-list-button-text-color: var(--de-emphasized-text-color);
  --language-selector-list-button-font-size: var(--de-emphasized-font-size);

  --language-selector-list-button-border-width: 1px;
  --language-selector-list-button-border-style: solid;
  --language-selector-list-button-border-color: var(--grey-2);

  --language-selector-list-button-padding-top: 0.125rem;
  --language-selector-list-button-padding-right: 0.5rem;
  --language-selector-list-button-padding-bottom: 0.125rem;
  --language-selector-list-button-padding-left: 0.5rem;

  --language-selector-list-button-line-height: 1.5rem;
}
