/*--------------------------------------------------------------------------*/
/*-------------------------- layout-set.scss -------------------------------*/
/*--------------------------------------------------------------------------*/

/* Set to share layout values over multiple components. 
	Such as main, section, articles and divs. 								*/

:root {
	/* Page */
	--page-whitespace-top: 4rem;
	--page-whitespace-right: 2%;
	--page-whitespace-bottom: 4rem;
	--page-whitespace-left: 2%;

	/* Content */
	--content-flex-direction: column;
	--content-justify-content: flex-start;
	--content-align-items: flex-start;
	--content-gap: 2rem;
	--content-padding-top: 2rem;
	--content-padding-right: 0;
	--content-padding-bottom: 2rem;
	--content-padding-left: 0;
	--content-max-width: 80rem;
}