/*---------------------------------------------------------------*/
/*---------- components/layout-authentication.scss --------------*/
/*---------------------------------------------------------------*/
@use "layout-authentication-variables";

$breakpoint-1: 24rem !default;
$breakpoint-2: 42rem !default;

section,
article,
header nav,
footer,
div,
form {
  &.layout-authentication {
    max-width: var(--layout-authentication-max-width);
    margin: 0 auto;
    background-color: var(--layout-authentication-background-color);
    color: var(--layout-authentication-text-color);
  }
}
