/*---------------------------------------------------------------*/
/*--------------------- layout-main.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "layout-main-variables";

body > main {
  display: flex;
  flex-direction: column;
  justify-content: var(--main-justify-content);
  align-items: var(--main-align-items);
  gap: var(--main-gap);
  padding-top: var(--main-padding-top);
  padding-right: var(--main-padding-right);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  max-width: var(--main-max-width);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  /* Visual styling */
  background-color: var(--main-background-color);
}
