/*------------------------------------------------------------------------*/
/*---------- components/layout-authentication-variables.scss -------------*/
/*------------------------------------------------------------------------*/
:root {
  --layout-authentication-max-width: 40rem;
  --layout-authentication-background-color: var(--application-base-background-color);
  --layout-authentiaction-text-color: var(--application-base-text-color);
}