/*---------------------------------------------------------------*/
/*------------- components/layout-column-2.scss -----------------*/
/*---------------------------------------------------------------*/
@use "layout-column-2-variables";

$breakpoint: 42rem !default;

.column-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--layout-column-2-gap);
  width: 100%;
  box-sizing: border-box;

  > * {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (min-width: $breakpoint) {
  .column-2 {
    grid-template-columns: 1fr 1fr;
  }
}
