/*---------------------------------------------------------------*/
/*----------------------- link-focus.scss -----------------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/outline";
@use "mixins/heading";

a {
  &:focus,
  &.focus {
    @include link.styles(--link-focus, --link);
    @include outline.styles(--link-focus, --link);
  }
}

@include heading.all {
  a:focus,
  a.focus {
    font-family: revert;
    font-size: revert;
    font-weight: revert;
    line-height: revert;
  }
}
