/*---------------------------------------------------------------*/
/*------------------ link-visited.scss -------------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/outline";
@use "mixins/heading";

a {
  &:visited,
  &.visited {
    @include link.styles(--link-visited, --link);
    @include outline.styles(--link-visited, --link);

    &:hover,
    &.hover {
      @include link.styles(
        --link-visited-hover,
        --link-visited,
        --link-hover,
        --link
      );
      @include outline.styles(
        --link-visited-hover,
        --link-visited,
        --link-hover,
        --link
      );
    }

    &:focus,
    &.focus {
      @include link.styles(
        --link-visited-focus,
        --link-visited,
        --link-focus,
        --link
      );
      @include outline.styles(
        --link-visited-focus,
        --link-visited,
        --link-focus,
        --link
      );
    }

    &:active,
    &.active {
      @include link.styles(
        --link-visited-active,
        --link-visited,
        --link-active,
        --link
      );
      @include outline.styles(
        --link-visited-active,
        --link-visited,
        --link-active,
        --link
      );
    }
  }
}

@include heading.all {
  a:visited,
  a.visited {
    &,
    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      font-family: revert;
      font-size: revert;
      font-weight: revert;
      line-height: revert;
    }
  }
}
