/*---------------------------------------------------------------*/
/*------------------------ link-active.scss ---------------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/outline";
@use "mixins/heading";

a {
  &:active,
  &.active {
    @include link.styles(--link-active, --link);
    @include outline.styles(--link-active, --link);
  }
}

@include heading.all {
  a:active,
  a.active {
    font-family: revert;
    font-size: revert;
    font-weight: revert;
    line-height: revert;
  }
}
