/*---------------------------------------------------------------*/
/*------------------------- link-hover.scss ---------------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/outline";
@use "mixins/heading";

a {
  &:hover,
  &.hover {
    @include link.styles(--link-hover, --link);
    @include outline.styles(--link-hover, --link);
  }
}

@include heading.all {
  a:hover,
  a.hover {
    font-family: revert;
    font-size: revert;
    font-weight: revert;
    line-height: revert;
  }
}
