/*---------------------------------------------------------------*/
/*----------------------- link-current.scss -----------------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/outline";
@use "mixins/heading";

a[aria-current="page"],
a.current {
  @include link.styles(--link-current, --link);
  @include outline.styles(--link-current, --link);

  &:hover,
  &.hover {
    @include link.styles(
      --link-current-hover,
      --link-current,
      --link-hover,
      --link
    );
    @include outline.styles(
      --link-current-hover,
      --link-current,
      --link-hover,
      --link
    );
  }

  &:focus,
  &.focus {
    @include link.styles(
      --link-current-focus,
      --link-current,
      --link-focus,
      --link
    );
    @include outline.styles(
      --link-current-focus,
      --link-current,
      --link-focus,
      --link
    );
  }

  &:active,
  &.active {
    @include link.styles(
      --link-current-active,
      --link-current,
      --link-active,
      --link
    );
    @include outline.styles(
      --link-current-active,
      --link-current,
      --link-active,
      --link
    );
  }
}

@include heading.all {
  a[aria-current="page"],
  a.current {
    &,
    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      font-family: revert;
      font-size: revert;
      font-weight: revert;
      line-height: revert;
    }
  }
}
