/*---------------------------------------------------------------*/
/*--------------------------- link.scss -------------------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/heading";

a {
  cursor: pointer;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;

  @include link.full-styles(--link);
}

@include heading.all {
  a {
    font-family: revert;
    font-size: revert;
    font-weight: revert;
    line-height: revert;
  }
}
