/*---------------------------------------------------------------*/
/*-------------------- link-hover-variables.scss ----------------*/
/*---------------------------------------------------------------*/
@use "mixins/link";
@use "mixins/outline";

:root {
  /* Hover */
  @include link.styling-variables('link-hover-', 'link-');
  @include outline.outline-variables('link-hover-', 'link-');

  /* Icon */
  --link-hover-icon-background-color: var(--link-hover-background-color);
  --link-hover-icon-text-color: var(--link-hover-text-color);
  --link-hover-icon-text-decoration: var(--link-icon-text-decoration);
}
