/*----------------------------------------------------------------------------------*/
/*----------------------- link--external-variables.scss ----------------------------*/
/*----------------------------------------------------------------------------------*/
:root {
  /* External Link Icon */
  --link-external-icon-font-family: var(--link-icon-font-family);
  --link-external-icon-font-size: var(--link-icon-font-size);
  --link-external-icon-padding-right: var(--link-icon-padding-right);
  --link-external-icon-padding-left: var(--link-icon-padding-left);
  //--link-external-icon: "";
}
