/*----------------------------------------------------------------------------------*/
/*------------------------------- link-variables.scss ------------------------------*/
/*----------------------------------------------------------------------------------*/
:root {
  /* Default */
  --link-background-color: transparent;
  --link-text-color: #2f2f9a;
  --link-text-decoration: initial;
  --link-text-font-weight: --text-set-font-weight;

  /* Icon */
  --link-icon-font-family: var(--icon-font-family);
  --link-icon-font-size: var(--icon-font-size);
  --link-icon-background-color: var(--link-background-color);
  --link-icon-text-color: var(--link-text-color);
  --link-icon-padding-left: 0;
  --link-icon-padding-right: 0.5rem;
  --link-icon-text-decoration: none;

  /* Icon at the end */
  --link-icon-last-padding-right: 0;
  --link-icon-last-padding-left: 0.5rem;
}
