/*---------------------------------------------------------------*/
/*--------------------- logo-variables.scss ---------------------*/
/*---------------------------------------------------------------*/
:root {
  /* Logo */
  --logo-width: 4rem;
  --logo-height: 4rem;
  --logo-background-color: transparent;
  --logo-padding: 0.5rem;
  --logo-border-radius: 0;

  /* Logo image */
  --logo-img-object-position: center;
  --logo-img-object-fit: contain;
}
