/*---------------------------------------------------------------*/
/*--------------------- logo-variables.scss ---------------------*/
/*---------------------------------------------------------------*/
:root {
  /* Logo */
  --logo-width: 3rem;
  --logo-height: 3rem;
  --logo-background-color: transparent;
  --logo-padding: 0.5rem;
  --logo-border-radius: 0;
  --logo-margin: 0.5rem 0;

  /* Logo image */
  --logo-img-object-position: center;
  --logo-img-object-fit: contain;
}
