/*---------------------------------------------------------------*/
/*--------------------------- logo.scss -------------------------*/
/*---------------------------------------------------------------*/
@use "logo-variables";

.logo,
a.logo,
a:visited.logo {
  font-size: 0;
  width: var(--logo-width);
  min-width: var(--logo-width);
  max-width: var(--logo-width);
  height: var(--logo-height);
  min-height: var(--logo-height);
  max-height: var(--logo-height);
  background-color: var(--logo-background-color);
  border-radius: var(--logo-border-radius);

  img {
    height: var(--logo-height);
    width:var(--logo-width);
    padding: var(--logo-padding);
    box-sizing: border-box;
    object-position: var(--logo-img-object-position);
    object-fit: var(--logo-img-object-fit);
  }
}
