/*------------------------------------------------------------------------*/
/*-------------------------- main-variables.scss -------------------------*/
/*------------------------------------------------------------------------*/
:root {
  --main-flex-direction: column;
  --main-justify-content: flex-start;
  --main-align-items: flex-start;
  --main-gap: 3rem;
  --main-padding-top: 4rem;
  --main-padding-right: 0;
  --main-padding-bottom: 4rem;
  --main-padding-left: 0;
  --main-max-width: 100%;
}
