/*------------------------------------------------------------------------*/
/*-------------------------- main-variables.scss -------------------------*/
/*------------------------------------------------------------------------*/
:root {
  --main-flex-direction: var(--content-flex-direction);
  --main-justify-content: var(--content-justify-content);
  --main-gap: 0;
  --main-padding-top: 0;
  --main-padding-right: 0;
  --main-padding-bottom: 0;
  --main-padding-left: 0;
  --main-max-width: 100%;
}
