/*------------------------------------------------------------------------*/
/*----------------- main-content-wrapper-variables.scss ------------------*/
/*------------------------------------------------------------------------*/

:root {
    /* Layout */
    --main-content-wrapper-flex-direction: column;
    --main-content-wrapper-gap: 2rem;
    --main-content-wrapper-align-items: flex-start;
    --main-content-wrapper-padding-top: 0;
    --main-content-wrapper-padding-right: 0;
    --main-content-wrapper-padding-bottom: 0;
    --main-content-wrapper-padding-left: 0;
    --main-content-wrapper-max-width: 80rem;
}
