/*---------------------------------------------------------------*/
/*------------------------- main.scss ---------------------------*/
/*---------------------------------------------------------------*/
@use "main-variables";

body > main,
%main-style {
  display: flex;
  flex-direction: var(--main-flex-direction);
  gap: var(--main-gap);
  justify-content: var(--main-justify-content);
  align-items: var(--main-align-items);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--main-padding-top);
  padding-right: var(--main-padding-right);
  padding-bottom: var(--main-padding-bottom);
  padding-left: var(--main-padding-left);
  max-width: var(--main-max-width);
}
