/*----------------------------------------------------------------------------------*/
/*-------------------------- text/max-line-length-variables.scss -------------------*/
/*----------------------------------------------------------------------------------*/
:root {
  --max-line-length-max-width: 40rem;
  --max-line-length-hyphens: auto;
  --max-line-length-word-break: normal;

  /* After breakpoint */
  --max-line-length-breakpoint-hyphens: var(--max-line-length-hyphens);
  --max-line-length-breakpoint-word-break: var(--max-line-length-word-break);
}
