/*---------------------------------------------------------------*/
/*----------------- text/max-line-length.scss -------------------*/
/*---------------------------------------------------------------*/
@use "max-line-length-variables";

$breakpoint: 24rem !default;

p,
a,
span,
li {
  max-width: var(--max-line-length-max-width);
  hyphens: var(--max-line-length-hyphens);
  word-break: var(--max-line-length-word-break);

  @media (min-width: $breakpoint) {
    hyphens: var(--max-line-length-breakpoint-hyphens);
    word-break: var(--max-line-length-breakpoint-word-break);
  }
}
