/*---------------------------------------------------------------*/
/*-------------------- navigation-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  /* Navigation layout */
  --navigation-gap: 0, 5rem;
  --navigation-justify-content: flex-end;
  --navigation-align-items: center;
  --navigation-min-height: 4rem;
  --navigation-width: 100%;
  --navigation-padding-top: 0;
  --navigation-padding-right: 0;
  --navigation-padding-bottom: 0;
  --navigation-padding-left: 0;
  --navigation-margin: 0;
  --navigation-background-color: var(--application-base-accent-color);
  --navigation-text-color: var(--application-base-accent-color-text-color);
  --navigation-max-width: 100%;
  
  /* Content wrapper - Usualy a div to match main content alignment */
  --navigation-content-wrapper-padding-top: 0;
  --navigation-content-wrapper-padding-right: 0;
  --navigation-content-wrapper-padding-bottom: 0;
  --navigation-content-wrapper-padding-left: 0;
  --navigation-content-wrapper-max-width: var(
    --content-max-width
  );

  /* List */
  --navigation-list-gap: 1rem;
  --navigation-list-justify-content: var(--navigation-justify-content);
  --navigation-list-align-items: var(--navigation-align-items);
  --navigation-list-text-color: var(--navigation-text-color, var(--application-base-accent-color-text-color));

  /* List item */
  --navigation-list-item-text-color: var(--navigation-list-text-color, var(--application-base-accent-color-text-color));

  /* Link */
  --navigation-link-text-decoration: none;

  /* Link hover */
  --navigation-link-hover-text-decoration: underline;
}
