/*---------------------------------------------------------------*/
/*- components/navigation/navigation-breadcrumbs-variables.scss -*/
/*---------------------------------------------------------------*/
:root {
  /* Navigation */
  --navigation-breadcrumbs-flex-direction: column;
  --navigation-breadcrumbs-justify-content: flex-start;
  --navigation-breadcrumbs-align-items: center;
  --navigation-breadcrumbs-gap: 0;
  --navigation-breadcrumbs-padding-top: var(--content-padding-top);
  --navigation-breadcrumbs-padding-right: var(--content-padding-right);
  --navigation-breadcrumbs-padding-bottom: var(--content-padding-bottom);
  --navigation-breadcrumbs-padding-left: var(--content-padding-left);
  --navigation-breadcrumbs-max-width: var(--content-max-width);
  --navigation-breadcrumbs-background-color: pink;
  --navigation-breadcrumbs-text-color: var(--application-base-text-color);

  /* List */
  --navigation-breadcrumbs-list-padding: 0.5rem;
  --navigation-breadcrumbs-list-gap: 0.5rem;
  --navigation-breadcrumbs-list-vertical-align: center;

  /* List item */
  /* --navigation-breadcrumbs-list-item-background-color: ; */
  /* --navigation-breadcrumbs-list-item-text-color: ; */
  /* --navigation-breadcrumbs-list-item-min-height: ; */
  --navigation-breadcrumbs-list-item-background-color-hover: var(
    --application-base-accent-color-tint-1
  );
  /* --navigation-breadcrumbs-list-item-padding: ; */

  /* Breadcrumb icon */
  /* --navigation-breadcrumb-icon: "";*/ /* Note that the content needs to be placed within double quotes" */
  /* --navigation-breadcrumbs-icon-margin-left: ; */
  /* --navigation-breadcrumbs-icon-margin-right: ; */
}
