/*---------------------------------------------------------------*/
/*---------------------- navigation.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "navigation-variables";
@use "icon";

/*%link-styles {
  background-color: var(--navigation-link-background-color);
  color: var(--navigation-link-text-color);

  &:before {
      background-color: var(--navigation-link-before-background-color);
      color: var(--navigation-link-before-text-color);
  }
}

%link-focus {
  background-color: var(--navigation-link-focus-background-color);
  color: var(--navigation-link-focus-text-color);

  &:hover {
      background-color: var(--navigation-link-focus-hover-background-color);
      color: var(--navigation-link-focus-hover-text-color);
  }
}*/

/*%link-visited {
  background-color: var(--navigation-link-visited-background-color);
  color: var(--navigation-link-visited-text-color);

  &:before {
    background-color: var(--navigation-link-visited-before-background-color);
    color: var(--navigation-link-visited-before-text-color);

    &:hover {
      background-color: var(--navigation-link-visited-before-hover-background-color);
      color: var(--navigation-link-visited-before-hover-text-color);
    }
  }

  &:active {
    background-color: var(--navigation-link-visited-active-background-color);
    color: var(--navigation-link-visited-active-text-color);
  }
}*/

nav {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--navigation-title-font-family);
    font-size: var(--navigation-title-font-size);
    font-weight: var(--navigation-title-font-weight);
    line-height: var(--navigation-title-line-height);
    color: var(--navigation-title-text-color);
  }

  ul {
    margin: var(--navigation-list-margin);
    padding: var(--navigation-list-padding);
    gap: var(--navigation-list-gap);
    line-height: var(--navigation-list-line-height);
    font-size: var(--navigation-list-font-size);
    font-weight: var(--navigation-list-font-weight);
    color: var(--navigation-list-text-color);
    background-color: var(--navigation-list-background-color); 

    li {
      padding: var(--navigation-list-item-padding);
      background-color: var(--navigation-list-item-background-color);
      color:  var(--navigation-list-item-text-color);
      border-width: var(--navigation-list-item-border-width);
      border-style: var(--navigation-list-item-border-style);
      border-color: var(--navigation-list-item-border-color);
      list-style: var(--navigation-list-item-list-style);

      &.icon,
      .icon {
        &:before {
          @include icon.icon;
          font-family: var(--navigation-link-icon-font-family);
          font-size: var(--navigation-link-icon-font-size);
        }
      }

      &.icon{
      &:before {
            padding-right: var(--navigation-link-icon-padding-right);
            padding-left: var(--navigation-link-icon-padding-left);
        }
      }

      > span:last-of-type {
        font-size: 0;
        padding-right: var(--navigation-link-icon-after-padding-right);
        padding-left: var(--navigation-link-icon-after-padding-left);
      }
    }
  }
}
