/*---------------------------------------------------------------*/
/*----------------- components/navigation.scss ------------------*/
/*---------------------------------------------------------------*/
@use "navigation-variables";

body > header,
%main-header-nav-style {
  width: 100%;
  box-sizing: border-box;

  nav {
    display: flex;
    gap: var(--navigation-gap);
    flex-direction: row;
    align-items: var(--navigation-align-items);
    justify-content: var(--navigation-justify-content);
    width: var(--navigation-width);
    margin: var(--navigation-margin);
    min-height: var(--navigation-min-height);
    box-sizing: border-box;
    background-color: var(--navigation-background-color);
    padding-top: var(--navigation-padding-top);
    padding-right: var(--navigation-padding-right);
    padding-bottom: var(--navigation-padding-bottom);
    padding-left: var(--navigation-padding-left);
    max-width: var(--navigation-max-width);

    > div {
      gap: var(--navigation-gap);
      justify-content: var(--navigation-justify-content);
      align-items: var(--navigation-align-items);
      max-width: var(--navigation-content-block-max-width);
      padding-top: var(--navigation-content-block-padding-top);
      padding-right: var(--navigation-content-block-padding-right);
      padding-bottom: var(--navigation-content-block-padding-bottom);
      padding-left: var(--navigation-content-block-padding-left);
    }

    ul,
    ol {
      display: flex;
      gap: var(--navigation-list-gap);
      justify-content: var(--navigation-list-justify-content);
      align-items: var(--navigation-list-align-items);
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      color: var(--navigation-list-text-color);
      width: 100%;
      margin: 0;

      li {
        display: flex;
        color: var(--navigation-list-item-text-color);
        list-style: none;
        justify-content: var(--navigation-list-item-justify-content);

        a,
        a:visited {
          color: inherit;
          text-decoration: var(--navigation-link-text-decoration);

          &:hover {
            text-decoration: var(--navigation-link-hover-text-decoration);
            color: inherit;
          }
        }
      }
    }
  }
}
