/*---------------------------------------------------------------*/
/*---------------- navigation-collapsible-menu.scss -------------*/
/*---------------------------------------------------------------*/
@use "navigation-collapsible-menu-variables";

body > header nav.collapsible-menu,
.collapsible-menu {
  display: flex;
  max-width: var(--navigation-collapsible-menu-max-width);
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  gap: var(--navigation-collapsible-menu-gap);
  min-height: var(--navigation-collapsible-menu-min-height);
  justify-content: var(--navigation-collapsible-menu-justify-content);

  > div {
    display: flex;
    flex-direction: row;
    gap: var(--navigation-collapsible-menu-gap);
    box-sizing: border-box;
    max-height: 100%;
    padding: 0;
  }

  /* Menu below breakpoint */
  ul,
  ol {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    gap: var(--navigation-collapsible-menu-list-collapsed-gap);
    background-color: var(--navigation-collapsible-menu-list-collapsed-background-color);

    li {
      display: flex;
      align-items: center;
      width: 100%;
      color: var(--navigation-collapsible-menu-list-collapsed-text-color);
      border-width: var(--navigation-collapsible-menu-list-item-collapsed-border-width);
      border-style: var(--navigation-collapsible-menu-list-item-collapsed-border-style);
      border-color: var(--navigation-collapsible-menu-list-item-collapsed-border-color);
      color: var(--navigation-collapsible-menu-list-collapsed-text-color);
      background-color: var(--navigation-collapsible-menu-list-item-collapsed-background-color);

      &:before {
        display: none; /* Preventing default nav before to show up */
      }

      &:last-child {
        border-width: var(--navigation-collapsible-menu-list-item-collapsed-last-item-border-width);
      }

      &:first-child {
        border-width: var(--navigation-collapsible-menu-list-item-collapsed-first-item-border-width);
      }

      a {
        width: 100%;
        max-width: 100%;
        padding: var(--navigation-collapsible-menu-list-item-collapsed-padding);
        box-sizing: border-box;
        text-decoration: var(--navigation-collapsible-link-text-decoration);
        justify-content: var(--navigation-collapsible-link-justify-content);
        border: 0;
        background-color: var(--navigation-collapsible-menu-list-item-collapsed-background-color);
        color: var(--navigation-collapsible-menu-list-collapsed-text-color);
        white-space: nowrap;
        color: var(--navigation-collapsible-link-text-color);
      }

      &:hover {
        background-color: var(--navigation-collapsible-menu-list-item-collapsed-hover-background-color);
        color: var(--navigation-collapsible-menu-list-item-hover-text-color);

        a {
          background-color: var(--navigation-collapsible-menu-list-item-collapsed-hover-background-color);
          color: var(--navigation-collapsible-menu-list-item-collapsed-hover-text-color);
          
          &:visited {
            background-color: var(--navigation-collapsible-menu-list-item-collapsed-hover-background-color);
          }
        }
      }

      [aria-current] {
        background-color: var(--navigation-collapsible-menu-list-item-hover-background-color);
        color: var(--navigation-collapsible-menu-list-item-hover-text-color);
      }
    }
  }

  button.menu-toggle {
    display: flex;
    max-height: 100%;
    padding: 0;

    & + div {
      z-index: var(--navigation-collapsible-content-z-index);
      width: var(--navigation-collapsible-content-width);
      position: var(--navigation-collapsible-content-position);
      display: flex;
      flex-direction: column;
      top: var(--navigation-collapsible-content-top);
      right: var(--navigation-collapsible-content-right);
      bottom: var(--navigation-collapsible-content-bottom);
      left: var(--navigation-collapsible-content-left);
      justify-content: flex-start;
    }

    &[aria-expanded="false"] {
      & ~ * {
        display: none;
      }
    }
  }
}

/* collapsible menu button.
/* This button is only visisble when javascript is loaded. */
/* Do not add the button to the html manually, JS will do this. */
/* When JS isn't available the menu will be opened by default for accessibility. */
button.menu-toggle {
  display: flex;
  order: 1;
  margin-left: auto;
  border: 0;
  background-color: var(--navigation-collapsible-menu-button-background-color);
  color: var(--navigation-collapsible-menu-icon-color);
  font-size: var(--navigation-collapsible-menu-button-font-size, 0);
  height: 100%;
  min-width: var(--navigation-collapsible-menu-button-min-width);

  &:after {
    content: var(--navigation-collapsible-menu-icon);
    font-size: var(--navigation-collapsible-menu-icon-font-size);
  }

  &[aria-expanded="true"]:after {
    content: var(--navigation-collapsible-menu-icon-collapsed);
    color: var(--navigation-collapsible-menu-icon-collapsed-text-color);
  }

  /* JS menu collapsed behaviour */
  &[aria-expanded="false"] {
    & ~ * {
      display: none;
    }
  }
}

/* Above breakpoint */
body > header nav {
  > div {
    display: flex;
  }

  button.menu-toggle {
    display: none;

    &[aria-expanded="false"] {
      & ~ * {
        display: flex;
        flex-direction: var(--navigation-collapsible-menu-uncollapsed-flex-directionw);
        justify-content: var(--navigation-collapsible-menu-uncollapsed-justify-content);
        align-items: var(--navigatino-collapsible-menu-uncollapsed-align-items);
        width: var(--navigation-collapsible-menu-uncollapsed-width);

        > * {
          width: auto;
        }
      }
    }
  }
}
