/*---------------------------------------------------------------*/
/*-------------------- navigation-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  /* Title */
  --navigation-title-font-family: var(--headings-font-family);
  --navigation-title-font-size: var(--headings-font-size);
  --navigation-title-font-weight: var(--headings-font-weight);
  --navigation-title-line-height: var(--headings-line-height);
  --navigation-title-text-color: var(--headings-text-color);

  /* List */
  --navigation-list-margin: var(--list-base-margin, 0);
  --navigation-list-padding: var(--list-base-padding, 1.5rem);
  --navigation-list-gap: var(--list-base-gap, 0.5rem);
  --navigation-list-line-height: var(--list-base-line-height, 1.5);
  --navigation-list-font-size: var(--list-base-font-size, 1rem);
  --navigation-list-font-weight: var(--list-base-font-weight, normal);
  --navigation-list-text-color: var(--list-base-text-color, var(--application-base-text-colo));
  --navigation-list-background-color: var(--list-base-background-color, var(--application-base-background-color));

  /* List item */
  --navigation-list-item-padding: var(--list-base-item-padding, initial);
  --navigation-list-item-background-color: var(--list-base-item-background-color, var(--application-base-text-colo));
  --navigation-list-item-text-color: var(--list-base-item-text-color,var(--application-base-text-color));
  --navigation-list-item-border-width: var(--list-base-item-border-width, 0);
  --navigation-list-item-border-style: var(--list-base-item-border-style, solid);
  --navigation-list-item-border-color: var(--list-base-item-border-color, transparent);
  --navigation-list-item-list-style: var(--list-base-item-list-style, initial);

  /* List item icon */
  --navigation-list-icon-font-family: var(--icon-font-family);
  --navigation-list-icon-font-size: var(--icon-font-size);
  --navigation-list-icon-padding-right: 0.5rem;
  --navigation-list-icon-padding-left: var(--icon-padding-left);
  --navigation-list-icon-padding-right: 0.5rem;
  --navigation-list-icon-padding-left: 0;

  /* Icon at the end */
  --navigation-list-icon-after-padding-right: 0;
  --navigation-list-icon-after-padding-left: 0.5rem;
 
  /* Links */
  /* Default */
  --navigation-link-background-color: var(--link-background-color);
  --navigation-link-text-color: var(--link-text-color);
  --navigation-link-text-decoration: none;
}
