/*---------------------------------------------------------------*/
/*----- components/navigation/navigation-breadcrumbs.scss -------*/
/*---------------------------------------------------------------*/
@use "navigation-breadcrumbs-variables";

nav.breadcrumbs {
  display: flex;
  flex-grow: 1;
  flex-direction: var(--navigation-breadcrumbs-flex-direction);
  justify-content: var(--navigation-breadcrumbs-justify-content);
  align-items: var(--navigation-breadcrumbs-align-items);
  gap: var(--navigation-breadcrumbs-gap);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--navigation-breadcrumbs-padding-top);
  padding-right: var(--navigation-breadcrumbs-padding-right);
  padding-bottom: var(--navigation-breadcrumbs-padding-bottom);
  padding-left: var(--navigation-breadcrumbs-padding-left);
  max-width: var(--navigation-breadcrumbs-max-width);
  flex-wrap: wrap;
  background-color: var(--navigation-breadcrumbs-background-color);
  color: var(--navigation-breadcrumbs-text-color);

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: var(--navigation-breadcrumbs-list-padding);
    gap: var(--navigation-breadcrumbs-list-gap, 0.5rem);
    align-items: var(--navigation-breadcrumbs-list-vertical-align);

    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      list-style: none;
      gap: var(--navigation-breadcrumbs-list-item-gap, 0.5rem);

      &:after {
        content: var(--navigation-breadcrumb-icon, ">");
        @extend %icon-text-styling;
        margin-left: var(--navigation-breadcrumb-icon-margin-left, 1rem);
        margin-right: var(--navigation-breadcrumb-icon-margin-right, 1rem);
      }

      &:last-child {
        font-weight: bold;

        &:after {
          content: none;
        }
      }

      a {
        word-break: break-word; /* Break words that won't fit the available space */
        color: inherit;

        &:hover {
          text-decoration: underline;
        }

        &:before {
          content: none;
        }
      }
    }
  }

  > div {
    padding: 0;
    display: flex;
  }

  & + button,
  & + a.button,
  & + input[type="button"],
  & + input[type="submit"],
  & + input[type="reset"] {
    display: none;
  }
}
