/*---------------------------------------------------------------*/
/*------------- navigation-link-active-variables.scss -----------*/
/*---------------------------------------------------------------*/
:root {
  --navigation-link-active-background-color: blue;
  --navigation-link-active-text-color: red;
  --navigation-link-active-text-decoration: yellow;
}
