/*---------------------------------------------------------------*/
/*---------------- navigation-link-variables.scss ---------------*/
/*---------------------------------------------------------------*/

@use "mixins/link";
@use "mixins/outline";

:root {
  /* Link */
  @include link.styling-variables("navigation-link-", "link-");
  @include outline.outline-variables("navigation-link-", "link-");

  /* Icon */
  --navigation-link-icon-font-family: var(--link-icon-font-family);
  --navigation-link-icon-font-size: var(--link-icon-font-size);
  --navigation-link-icon-line-height: var(--link-icon-line-height);
  --navigation-link-icon-padding-right: 0.5rem;
  --navigation-link-icon-padding-left: var(--link-icon-padding-left);
  --navigation-link-icon-text-decoration: var(--link-icon-text-decoration);

  --navigation-link-icon-background-color: var(
    --navigation-link-background-color
  );
  --navigation-link-icon-text-color: var(--navigation-link-text-color);

  /* Icon at the end */
  --navigation-link-icon-last-padding-right: 0;
  --navigation-link-icon-last-padding-left: 0.5rem;
}
