/*---------------------------------------------------------------*/
/*------------- navigation-link-hover-variables.scss ------------*/
/*---------------------------------------------------------------*/
:root {
  --navigation-link-hover-background-color: var(--link-hover-background-color);
  --navigation-link-hover-text-color: var(--link-hover-text-color);
  --navigation-link-hover-text-decoration: var(--link-hover-text-decotation);
}
