/*---------------------------------------------------------------*/
/*---------------- navigation-collapsible-menu.scss -------------*/
/*---------------------------------------------------------------*/
@use "navigation-collapsible-menu-variables";

body > header nav.collapsible-menu {
  /* Menu below breakpoint */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: var(--navigation-collapsible-menu-justify-content);
  gap: var(--navigation-collapsible-menu-gap);
  width: auto;
  max-width: var(--navigation-collapsible-menu-max-width);
  min-height: var(--navigation-collapsible-menu-min-height);
  padding: 0;
  padding-top: var(--navigation-collapsible-menu-padding-top);
  padding-right: var(--navigation-collapsible-menu-padding-right);
  padding-bottom: var(--navigation-collapsible-menu-padding-bottom);
  padding-left: var(--navigation-collapsible-menu-padding-left);
  border-width: var(--navigation-collapsible-menu-border-width);
  border-style: var(--navigation-collapsible-menu-border-style);
  border-color: var(--navigation-collapsible-menu-border-color);
  background-color: var(--navigation-collapsible-menu-background-color);
  order: var(--navigation-collapsible-menu-menu-order);
  border: 1px dashed red;

  .collapsing-item {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--navigation-collapsible-menu-collapsing-menu-gap);
    box-sizing: border-box;
    max-height: 100%;
    width: var(--navigation-collapsible-menu-collapsing-menu-width);
    padding: 0;
    z-index: var(--navigation-collapsible-menu-collapsing-menu-z-index);
    position: var(--navigation-collapsible-menu-collapsing-menu-position);
    top: var(--navigation-collapsible-menu-collapsing-menu-top);
    right: var(--navigation-collapsible-menu-collapsing-menu-right);
    bottom: var(--navigation-collapsible-menu-collapsing-menu-bottom);
    left: var(--navigation-collapsible-menu-collapsing-menu-left);
    border: 1px dashed green;
  
    ul,
    ol {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      margin: 0;
      padding: 0;
      gap: var(--navigation-collapsible-menu-collapsing-menu-list-gap);
      background-color: var(--navigation-collapsible-menu-collapsing-menu-list-background-color);
  
      li {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: var(--navigation-collapsible-menu-collapsing-menu-list-item-background-color);
        color: var(--navigation-collapsible-menu-collapsing-menu-list-item-text-color);
        border-width: var(--navigation-collapsible-menu-collapsing-menu-list-item-border-width);
        border-style: var(--navigation-collapsible-menu-collapsing-menu-list-item-border-style);
        border-color: var(--navigation-collapsible-menu-collapsing-menu-list-item-border-color);
        padding-top: var(--navigation-collapsible-menu-collapsing-menu-list-item-padding-top);
        padding-right: var(--navigation-collapsible-menu-collapsing-menu-list-item-padding-right);
        padding-bottom: var(--navigation-collapsible-menu-collapsing-menu-list-item-padding-bottom);
        padding-left: var(--navigation-collapsible-menu-collapsing-menu-list-item-padding-left);
  
        &:before {
          display: none; /* Preventing default nav before to show up */
        }
  
        &:last-child {
          border-width: var(--navigation-collapsible-menu-collapsing-menu-list-item-last-item-border-width);
        }
  
        &:first-child {
          border-width: var(--navigation-collapsible-menu-collapsing-menu-list-item-first-item-border-width);
        }
  
        a {
          width: 100%;
          max-width: 100%;
          padding: 0;
          box-sizing: border-box;
          text-decoration: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-text-decoration);
          justify-content: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-justify-content);
          border: 0;
          background-color: transparent;
          color: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-text-color);
          white-space: nowrap;
        }
  
        &:hover {
          background-color: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-hover-background-color);
          color: var(--navigation-collapsible-menu-list-item-hover-text-color);
  
          a {
            background-color: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-hover-background-color);
            color: var(---navigation-collapsible-menu-collapsing-menu-list-item-link-hover-text-color);
            
            &:visited {
              background-color: var(---navigation-collapsible-menu-collapsing-menu-list-item-link-hover-background-color);
            }
          }
        }
  
        [aria-current] {
          background-color: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-hover-background-color);
          color: var(--navigation-collapsible-menu-collapsing-menu-list-item-link-hover-text-color);
        }
      }
    }
  }

  /* Manu button (Hamburger) */
  button.menu-toggle {
    display: flex;
    max-height: 100%;
    padding: 0;

    &[aria-expanded="false"] {
      & + .collapsing-menu {
        display: none;
      }
    }
  }
}

/* collapsible menu button.
/* This button is only visisble when javascript is loaded. */
/* Do not add the button to the html manually, JS will do this. */
/* When JS isn't available the menu will be opened by default for accessibility. */
button.menu-toggle {
  display: flex;
  order: 1;
  margin-left: auto;
  border: 0;
  background-color: var(--navigation-collapsible-menu-button-background-color);
  font-size: var(--navigation-collapsible-menu-button-font-size);
  height: var(--navigation-collapsible-menu-button-height);
  min-height: var(--navigation-collapsible-menu-button-min-height);
  min-width: var(--navigation-collapsible-menu-button-min-width);
  width: var(--navigation-collapsible-menu-button-width);
  gap: 0;

  &:after {
    content: var(--navigation-collapsible-menu-icon);
    font-size: var(--navigation-collapsible-menu-icon-font-size);
    line-height: initial;
    color: var(--navigation-collapsible-menu-icon-color);
  }

  &[aria-expanded="true"]:after {
    content: var(--navigation-collapsible-menu-icon-collapsed);
    font-size: var(--navigation-collapsible-menu-icon-collapsed-font-size);
    color: var(--navigation-collapsible-menu-icon-color);
  }

  /* JS menu collapsed behaviour */
  &[aria-expanded="false"] {
    & ~ * {
      display: none;
    }
  }
}

/* Above breakpoint */
body > header nav {
  > div {
    display: flex;
  }

  button.menu-toggle {
    display: none;

    &[aria-expanded="false"] {
      & ~ * {
        display: flex;

        > * {
          width: auto;
        }
      }
    }
  }
}