/*---------------------------------------------------------------*/
/*------------ components/navigation-base.scss ------------------*/
/*---------------------------------------------------------------*/
@use "navigation-base-variables";

body > header,
%main-header-nav-style {
  width: 100%;
  box-sizing: border-box;

  nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: var(--navigation-base-align-content);
    width: 100%;
    max-width: var(--navigation-base-max-width);
    margin: 0 auto;
    min-height: var(--navigation-base-min-height);
    gap: var(--navigation-base-gap);
    box-sizing: border-box;
    background-color: var(--navigation-base-background-color);
    padding-top: var(--navigation-base-padding-top);
    padding-right: var(--navigation-base-padding-right);
    padding-bottom: var(--navigation-base-padding-bottom);
    padding-left: var(--navigation-base-padding-left);

    @media (min-width: 42rem) {
      box-sizing: border-box;
    }

    > div {
      align-items: var(--navigation-base-align-content);
      max-width: var(--navigation-base-content-block-max-width);
      padding-top: var(--navigation-base-content-block-padding-top);
      padding-right: var(--navigation-base-content-block-padding-right);
      padding-bottom: var(--navigation-base-content-block-padding-bottom);
      padding-left: var(--navigation-base-content-block-padding-left);
    }

    ul,
    ol {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      gap: var(--navigation-base-list-gap, 0.5rem);
      color: var(--navigation-base-text-color);
      justify-content: var(--navigation-base-list-justify-content);

      li {
        display: flex;
        color: inherit;
        list-style: none;
        justify-content: var(--navigation-base-list-item-justify-content);

        a,
        a:visited {
          color: inherit;
          text-decoration: var(--navigation-base-link-text-decoration);

          &:hover {
            text-decoration: var(--navigation-base-link-hover-text-decoration);
            color: inherit;
          }
        }
      }
    }
  }
}
