/*---------------------------------------------------------------*/
/*--------------------- text/nota-bene.scss ---------------------*/
/*---------------------------------------------------------------*/
@use "nota-bene-variables";

.nota-bene {
  margin: 0;
  line-height: var(--nota-bene-line-height);
  font-size: var(--nota-bene-font-size);
  font-weight: var(--nota-bene-font-weight);
  color: var(--nota-bene-text-color);
  background-color: var(--nota-bene-background-color);
}
