/*----------------------------------------------------------------------------------*/
/*----------------------- text/nota-bene-p-variables.scss --------------------------*/
/*----------------------------------------------------------------------------------*/
:root {
  --nota-bene-line-height: var(--application-base-line-height);
  --nota-bene-font-size: 0.8rem;
  /* --nota-bene-font-weight: ; */
  --nota-bene-text-color: #5d5d5d;
}
