/*---------------------------------------------------------------*/
/*-------------- notification-warning-variables.scss ------------*/
/*---------------------------------------------------------------*/
@use "colors/notification-colors";

:root {
  --notification-warning-background-color: var(--warning-background-color);
  --notification-warning-border-width: var(--notification-base-border-width);
  --notification-warning-border-style: var(--notification-base-border-style);
  --notification-warning-border-color: var(--warning-border-color);

  /* Icon as before or after */
  /* --notification-warning-icon-before-content: ; */
  /* --notification-warning-icon-before-content: ; */
}
