/*---------------------------------------------------------------*/
/*---------------- notification-table-head.scss -----------------*/
/*---------------------------------------------------------------*/
@use "notification-base-variables";
@use "notification-table-variables";

table {
  td,
  th,
  tr {
    &.error {
      background-color: var(--notification-table-error-background-color);
    }
    &.warning {
      background-color: var(--notification-table-warning-background-color);
    }
    &.confirmation {
      background-color: var(--notification-table-confirmation-background-color);
    }
    &.explanation {
      background-color: var(--notification-table-explanation-background-color);
    }
    &.system {
      background-color: var(--notification-table-system-background-color);
    }
  }
}
