/*---------------------------------------------------------------*/
/*-------------------- notification-variables.scss --------------*/
/*---------------------------------------------------------------*/
@use "colors/notification-colors";

:root {
  --notification-text-color: var(--base-text-color);
  --notification-width: 100%;
  --notification-padding-top: 1.5rem;
  --notification-padding-right: 1rem;
  --notification-padding-bottom: 1.5rem;
  --notification-padding-left: 1rem;
  --notification-background-color: var(--base-background-color);
  --notification-border-width: 1px;
  --notification-border-style: solid;
  --notification-border-color: var(--base-border-color);

  /* Link */
  --notification-link-text-color: var(--link-base-text-color);
  --notification-link-hover-text-color: var(--link-base-hover-text-color);
  --notification-link-visited-text-color: var(--link-base-visited-text-color);
  --notification-link-visited-hover-text-color: var(--link-base-visited-hover-text-color);

  /* Span */
  --notification-span-font-weight: bold;

  /* Icon */
  --notification-icon-font-family: var(--icon-font-family);
  --notification-icon-font-size: var(--icon-font-size);
  --notification-icon-text-color: var(--icon-text-color);
  --notification-icon-padding-right: 0;
  --notification-icon-padding-left: 0;
  --notification-icon-margin-right: 0.5rem;
}
