/*---------------------------------------------------------------*/
/*----------- notification-table-head-variables.scss ------------*/
/*---------------------------------------------------------------*/
@use "colors/notification-colors";

:root {
  --notification-table-confirmation-background-color: var(--confirmation-background-color);
  --notification-table-confirmation-text-color: var(--confirmation-text-color);
  --notification-table-confirmation-border-color: var(--confirmation-border-color);

  --notification-table-explanation-background-color: var(--explanation-background-color);
  --notification-table-explanation-text-color: var(--explanation-text-color);
  --notification-table-explanation-border-color: var(--explanation-border-color);

  --notification-table-warning-background-color: var(--warning-background-color);
  --notification-table-warning-text-color: var(--warning-text-color);
  --notification-table-warning-border-color: var(--warning-border-color);

  --notification-table-error-background-color: var(--error-background-color);
  --notification-table-error-text-color: var(--error-text-color);
  --notification-table-error-border-color: var(--error-border-color);

  --notification-table-system-background-color: var(--system-background-color);
  --notification-table-system-text-color: var(--system-text-color);
  --notification-table-system-border-color: var(--system-border-color);
}
