/*---------------------------------------------------------------*/
/*------------------- notification-form.scss --------------------*/
/*---------------------------------------------------------------*/
@use "notification-form-variables";

form {

    /* Fields with notifications */
    textarea,
    select,
    input {

        &.error,
        &.explanation,
        &.warning,
        &.confirmation,
        &.system {
            border-width: var(--notification-form-fields-border-width);
            border-style: var(--notification-form-fields-border-style);
        }

        &.error {
            border-color: var(--notification-form-fields-error-border-color);
        }

        &.explanation {
            border-color: var(--notification-form-fields-explanation-border-color);
        }

        &.warning {
            border-color: var(--notification-form-fields-warning-border-color);
        }

        &.confirmation {
            border-color: var(--notification-form-fields-confirmation-border-color);
        }

        &.system {
            border-color: var(--notification-form-fields-system-border-color);
        }
    }

    /* Icons */
    .error,
    .explanation,
    .warning,
    .confirmation,
    .system {
        &:before {
            font-family: var(--notification-form-fields-icon-font-family);
            font-size: var(--notification-form-fields-icon-font-size);
            padding-right: var(--notification-form-fields-icon-padding-right);
            padding-left: var(--notification-form-fields-icon-padding-left);
            color: var(--notification-form-fields-icon-text-color);
            margin-right: var(--notification-form-fields-icon-margin-right);
        }

        &.error:before {
            content: var(--notification-form-fields-error-icon);
        }

        &.warning:before {
            content: var(--notification-form-fields-warning-icon);
        }

        &.explanation:before {
            content: var(--notification-form-fields-explanation-icon);
        }

        &.confirmation:before {
            content: var(--notification-form-fields-confirmation-icon);
        }
    }

    /*  The option to connect the input fields and notifications */
    /* Message above input */
    .error,
    .warning,
    .confirmation,
    .explanation,
    .system {

        +input,
        +select,
        +textarea {
            margin-top: var(--notification-form-fields-gap);
            border-width: var(--notification-field-after-notification-border-width);
        }

    }

    /* Message below input */
    input,
    select,
    textarea {

        +.error,
        +.warning,
        +.confirmation,
        +.explanation,
        +.system {
            margin-top: var(--notification-form-fields-gap);
            border-width: var(--notification-after-field-border-width);
        }
    }

    /* Block notification */
    div.error,
    div.warning,
    div.confirmation,
    div.explanation,
    div.system {
        gap: var(--notification-form-block-gap);
        padding-top: var(--notification-form-block-padding-top);
        padding-right: var(--notification-form-block-padding-right);
        padding-bottom: var(--notification-form-block-padding-bottom);
        padding-left: var(--notification-form-block-padding-left);
        flex-direction: column;
        align-items: flex-start;


        >span:first-of-type {
            font-weight: var(--notification-form-span-font-weight);
        }

        &:before {
            content: var(--notification-form-block-icon-before-content);
        }

        &:after {
            content: var(--notification-form-block-icon-after-content);
        }

        p {
            margin: 0;
        }
    }

    >div {

        .error,
        .warning,
        .confirmation,
        .explanation,
        .system {

            +input,
            +textarea {
                margin-top: var(--notification-form-group-gap);
            }

        }

        input,
        textarea {

            +.error,
            +.warning,
            +.confirmation,
            +.explanation,
            +.system {
                margin-top: var(--notification-form-group-gap);
            }
        }
    }
}