/*---------------------------------------------------------------*/
/*----------- notification-table-head-variables.scss ------------*/
/*---------------------------------------------------------------*/
:root {
  --notification-table-confirmation-background-color: #deffdb;
  --notification-table-explanation-background-color: #d9edff;
  --notification-table-warning-background-color: #fff2d1;
  --notification-table-error-background-color: #ffd9d9;
  --notification-table-system-background-color: #eee;
}
