/*---------------------------------------------------------------*/
/*---------------notification-form-variables.scss ---------------*/
/*---------------------------------------------------------------*/
@use "notification-block-element-variables";
@use "form-base-variables";

:root {
    /* Block notification */
    --notification-form-block-gap: 0.5rem;
    --notification-form-block-padding-top: var(--notification-block-element-padding-top, 0.5rem);
    --notification-form-block-padding-right: var(--notification-block-element-padding-right, 0.5rem);
    --notification-form-block-padding-bottom: var(--notification-block-element-padding-bottom, 0.5rem);
    --notification-form-block-padding-left: var(--notification-block-element-padding-left, 0.5rem);
    --notification-form-span-font-weight: var(--notification-span-font-weight);

    /* Block icon */
    --notification-form-block-icon-before-content: none;
    --notification-form-block-icon-after-content: none;

    /* Fields */
    --notification-form-fields-border-width: 1px;
    --notification-form-fields-border-style: solid;

    --notification-form-fields-error-border-color: var(--error-border-color);
    --notification-form-fields-explanation-border-color: var(--explanation-border-color);
    --notification-form-fields-warning-border-color: var(--warning-border-color);
    --notification-form-fields-confirmation-border-color: var(--confirmation-border-color);
    --notification-form-fields-system-border-color: var(--system-border-color);

    /* Space between fields and notifications */
    /* Please note that the default spacing is --form-base-gap */
    --notification-form-fields-gap: calc(var(--form-base-gap) * -1);

    /* Fields notification icon */
    --notification-form-fields-icon-font-family: var(--icon-font-family);
    --notification-form-fields-icon-font-size: var(--icon-font-size);
    --notification-form-fields-icon-text-color: var(--icon-text-color);
    --notification-form-fields-icon-padding-right: 0;
    --notification-form-fields-icon-padding-left: 0;
    --notification-form-fields-icon-margin-right: 0.5rem;

    /* Fields notification error icon */
    --notification-form-fields-error-icon: var(--notification-error-icon-content);
    
    /* Fields notification warning icon */
    --notification-form-fields-warning-icon: var(--notification-warning-icon-content);
    
    /* Fields notification explanation icon */
    --notification-form-fields-explanation-icon: var(--notification-explanation-icon-content);
    
    /* Fields notification confirmation icon */
    --notification-form-fields-confirmation-icon: var(--notification-confirmation-icon-content);

    /* Fields notification system icon */
    --notification-form-fields-system-icon: var(--notification-system-icon-content);
}
