/*---------------------------------------------------------------*/
/*---------- notification-block-element-variables.scss ----------*/
/*---------------------------------------------------------------*/
:root {
  --notification-block-element-flex-direction: var(--content-flex-direction);
  --notification-block-element-align-items: var(--content-align-items);
  --notification-block-element-justify-content: var(--content-justify-content);
  --notification-block-element-position: relative;
  --notification-block-element-width: var(--notification-width, 100%);
  --notification-block-element-padding-top: 0;
  --notification-block-element-padding-right: var(--page-whitespace-right);
  --notification-block-element-padding-bottom: 0;
  --notification-block-element-padding-left: var(--page-whitespace-left);
  --notification-block-element-gap: var(--content-gap);
  --notification-block-element-text-color: #000;

  /* Link */
  --notification-block-element-link-text-color: var(
    --link-block-element-text-color
  );
  --notification-block-element-link-hover-text-color: var(
    --link-block-element-hover-text-color
  );
  --notification-block-element-link-visited-text-color: var(
    --link-block-element-visited-text-color
  );
  --notification-block-element-link-visited-hover-text-color: var(
    --link-block-element-visited-hover-text-color
  );

  /* Span */
  --notification-block-element-span-font-weight: bold;
}
