/*---------------------------------------------------------------*/
/*------------------- notification-error.scss -------------------*/
/*---------------------------------------------------------------*/
@use "notification-error-variables";
@import "notification";

p.error,
span.error,
section.error,
div.error {
  @include notification;
  background-color: var(--notification-error-background-color);
  border-width: var(--notification-error-border-width);
  border-style: var(--notification-error-border-style);
  border-color: var(--notification-error-border-color);
  
  &:before {
    font-family: var(--notification-error-icon-font-family);
    font-size: var(--notification-error-icon-font-size);
    padding-right: var(--notification-error-icon-padding-right);
    padding-left: var(--notification-error-icon-padding-left);
    color: var(--notification-error-icon-text-color);
    margin-right: var(--notification-error-icon-margin-right);
    content: var(--notification-error-icon-content);
  }
}
