/*---------------------------------------------------------------*/
/*---------------------- pagination.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "pagination-variables";
@use "mixins/icon";

%pagination-active-item-styling {
  background-color: var(--pagination-link-active-background-color);
  color: var(--pagination-link-active-text-color);
}

%pagination-link-styling {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--pagination-link-background-color);
  color: var(--pagination-link-text-color);
  border-width: var(--pagination-link-border-width);
  border-style: var(--pagination-link-border-style);
  border-color: var(--pagination-link-border-color);
  border-radius: var(--pagination-link-border-radius);
  text-decoration: var(--pagination-link-text-decoration);
  white-space: nowrap;

  &:hover {
    background-color: var(--pagination-link-hover-background-color);
    color: var(--pagination-link-hover-text-color);
    border-width: var(--pagination-link-hover-border-width);
    border-style: var(--pagination-link-hover-border-style);
    border-color: var(--pagination-link-hover-border-color);
  }

  &[aria-current] {
    @extend %pagination-active-item-styling;
  }

  &:before {
    content: none;
  }
}

/* Previous and next links */
%pagination-adjacent-styling {
  background-color: var(--pagination-adjacent-background-color);
  color: var(--pagination-adjacent-text-color);
  border-width: var(--pagination-adjacent-border-width);
  border-style: var(--pagination-adjacent-border-style);
  border-color: var(--pagination-adjacent-border-color);
  border-radius: var(--pagination-adjacent-border-radius);
  padding: var(--pagination-adjacent-padding);
  white-space: var(--pagination-adjacent-white-space);

  &:hover {
    background-color: var(--pagination-adjacent-hover-background-color);
    color: var(--pagination-adjacent-hover-text-color);
    border-width: var(--pagination-adjacent-hover-border-width);
    border-style: var(--pagination-adjacent-hover-border-style);
    border-color: var(--pagination-adjacent-hover-border-color);
  }

  &.previous {
    padding: var(--pagination-adjacent-previous-padding);

    &:before {
      @include icon.icon-format("pagination-previous-");
      @include icon.icon-content("pagination-previous-");

      margin-left: var(--pagination-previous-icon-margin-left);
      margin-right: var(--pagination-previous-icon-margin-right);
    }
  }

  &.next {
    padding: var(--pagination-adjacent-next-padding);

    &:after {
      @include icon.icon-format("pagination-next-");
      @include icon.icon-content("pagination-next-");

      margin-left: var(--pagination-next-icon-margin-left);
      margin-right: var(--pagination-next-icon-margin-right);
    }
  }
}

%pagination-list-styling {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: var(--pagination-list-gap);

  li {
    margin-top: -0.1rem; /* fix for render issue; white space between this li and the parent ul border */
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    height: var(--pagination-item-height);
    min-width: var(--pagination-item-width);

    box-sizing: border-box;

    &:before {
      content: none;
    }

    &[aria-current] {
      @extend %pagination-active-item-styling;
    }

    span {
      @extend %pagination-link-styling;

      &[aria-current] {
        @extend %pagination-active-item-styling;
      }
    }

    a {
      @extend %pagination-link-styling;

      &.adjacent {
        @extend %pagination-adjacent-styling;
      }
    }
  }
}

nav.pagination,
.pagination {
  display: flex;
  justify-content: var(--pagination-justify-content);
  align-items: var(--pagination-align-items);
  width: 100%;
  border-width: var(--pagination-border-width);
  border-style: var(--pagination-border-style);
  border-color: var(--pagination-border-color);
  padding-top: var(--pagination-padding-top);
  gap: var(--pagination-gap);

  ul {
    @extend %pagination-list-styling;
  }

  .adjacent {
    @extend %pagination-adjacent-styling;
  }
}

ul.pagination {
  @extend %pagination-list-styling;
}
