/*------------------------------------------------------------------------*/
/*-------------------------- section-variables.scss ----------------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Layout */
  --section-flex-direction: column;
  --section-gap: 0;
  --section-justify-content: flex-start;
  --section-align-items: flex-start;
  --section-padding-top: 0;
  --section-padding-right: 0;
  --section-padding-bottom: 0;
  --section-padding-left: 0;
  --section-max-width: unset;
}
