/*------------------------------------------------------------------------*/
/*-------------------------- section-variables.scss ----------------------*/
/*------------------------------------------------------------------------*/

:root {
  --section-align-items: var(--layout-base-content-block-align-items);
  --section-gap: var(--layout-base-within-content-block-gap);
  /* --section-background-color: ; */
  /* --section-text-color: ; */

  /* Section title */
  --section-title-margin-top: var(--layout-base-content-block-title-margin-top);
  --section-title-margin-bottom: var(
    --layout-base-content-block-title-margin-bottom
  );

  /* Section subtitle */
  --section-subtitle-margin-top: var(
    --layout-base-content-block-subtitle-margin-top
  );
  --section-subtitle-margin-bottom: var(
    --layout-base-content-block-subtitle-margin-bottom
  );

  /* Content block within sections */
  --section-content-block-gap: var(--section-gap);
}
