/*---------------------------------------------------------------*/
/*------------------------- section.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "section-variables";

main section {
  display: flex;
  flex-direction: var(--section-flex-direction);
  gap: var(--section-gap);
  justify-content: var(--section-justify-content);
  align-items: var(--section-align-items);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--section-padding-top);
  padding-right: var(--section-padding-right);
  padding-bottom: var(--section-padding-bottom);
  padding-left: var(--section-padding-left);
  max-width: var(--section-max-width);
}
