/*---------------------------------------------------------------*/
/*-------------- components/sidemenu-variables.scss -------------*/
/*---------------------------------------------------------------*/
:root {
  /* Side menu (Main) */
  --sidemenu-base-main-padding-top: 0;
  --sidemenu-base-main-padding-bottom: 0;
  --sidemenu-base-main-gap: 3rem; /* Reserve space for the button */
  --sidemenu-base-main-max-height: 90vh;

  /* Content container (top level div, section or article) */
  --sidemenu-base-content-container-background-color: transparent;
  --sidemenu-base-content-container-padding-top: var(--main-base-padding-top);
  --sidemenu-base-content-container-padding-right: var(--layout-base-padding-right);
  --sidemenu-base-content-container-padding-bottom: var(--main-base-padding-bottom);
  --sidemenu-base-content-container-padding-left: var(--layout-base-padding-left);

  /* Nav inside side menu */
  --sidemenu-base-nav-width: 18rem;
  --sidemenu-base-nav-background-color: transparent;
  --sidemenu-base-nav-border-width: 0 1px 0 0;
  --sidemenu-base-nav-border-style: solid;
  --sidemenu-base-nav-border-color: #ccc;
  --sidemenu-base-nav-padding-top: 1rem;
  --sidemenu-base-nav-padding-right: 1rem;
  --sidemenu-base-nav-padding-bottom: 1rem;
  --sidemenu-base-nav-padding-left: 1rem;
  --sidemenu-base-nav-background-image: unset;
  --sidemenu-base-nav-background-repeat: no-repeat;
  --sidemenu-base-nav-background-size: initial;
  --sidemenu-base-nav-background-position: initial;

  /* List inside side menu */
  --sidemenu-base-ul-padding: var(--list-base-padding, 0);

  /* List item */
  --sidemenu-base-list-item-background-color: var(--list-base-item-background-color, transparent);
  --sidemenu-base-list-item-border-width: var(--list-base-item-border-width, 0);
  --sidemenu-base-list-item-border-style: var(--list-base-item-border-style, solid);
  --sidemenu-base-list-item-border-color: var(--list-base-item-border-color, transparent);
  --sidemenu-base-list-item-padding: var(--list-base-item-padding, 0.25rem 0);
  --sidemenu-base-list-item-list-style: var(--list-base-item-list-style, initial);
  --sidemenu-base-list-item-line-height: var(--list-base-item-line-height, initial);
  --sidemenu-base-list-item-font-size: var(--list-base-font-size, initial);
  --sidemenu-base-list-item-font-weight: var(--list-base-font-weight, initial);
  --sidemenu-base-list-item-text-color: var(--list-base-text-color, #000);

  /* Side menu button */
  --sidemenu-base-toggle-button-min-width: 2.75rem;
  --sidemenu-base-toggle-button-min-height: 2.75rem;
  --sidemenu-base-toggle-button-font-size: 0;
  --sidemenu-base-toggle-button-white-space: nowrap;
  --sidemenu-base-toggle-button-font-weight: normal;
  --sidemenu-button-margin-top: 1rem;

  /* Side menu button icon */
  --sidemenu-base-button-icon-font-family: var(--icon-font-family);
  --sidemenu-base-button-icon-font-size: var(--icon-font-size);
  --sidemenu-base-button-icon-font-weight: initial;
  --sidemenu-base-button-icon-white-space: initial;

  /* add content within "", this could be text or a unicode for an icon*/

  /* content on the button when the menu is collapsed */
  --sidemenu-base-collapsed-button-icon: var(--icon-descending);

  /* content on the button when the menu is expanded */
  --sidemenu-base-expanded-button-icon: var(--icon-ascending);
}
