/*---------------------------------------------------------------*/
/*------------------- sidemenu-base.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "sidemenu-base-variables";
@use "mixins/icon";

$sidemenu-breakpoint: 55rem !default;

main.sidemenu {
  /* Places sidemenu next to the main content of the page */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: var(--sidemenu-base-main-padding-top);
  padding-bottom: var(--sidemenu-base-main-padding-bottom);
  gap: var(--sidemenu-base-main-gap);

  @media (min-width: $sidemenu-breakpoint) {
    flex-wrap: nowrap;
  }

  /* main content of the page */
  > div,
  > article,
  > section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--sidemenu-base-content-container-background-color);
    padding-top: var(--sidemenu-base-content-container-padding-top);
    padding-right: var(--sidemenu-base-content-container-padding-right);
    padding-bottom: var(--sidemenu-base-content-container-padding-bottom);
    padding-left: var(--sidemenu-base-content-container-padding-left);
    box-sizing: border-box;

    @media (min-width: $sidemenu-breakpoint) {
      max-width: calc(
        100% - var(--sidemenu-base-nav-width) - var(--sidemenu-base-main-gap)
      );
    }
  }

  > nav {
    display: none;

    @media (min-width: $sidemenu-breakpoint) {
      /* nav */
      margin: 0;
      display: block;
      width: var(--sidemenu-base-nav-width);
      padding-top: var(--sidemenu-base-nav-padding-top);
      padding-right: var(--sidemenu-base-nav-padding-right);
      padding-bottom: var(--sidemenu-base-nav-padding-bottom);
      padding-left: var(--sidemenu-base-nav-padding-left);
      box-sizing: border-box;
      position: relative;
      background-color: var(--sidemenu-base-nav-background-color);
      border-width: var(--sidemenu-base-nav-border-width);
      border-style: var(--sidemenu-base-nav-border-style);
      border-color: var(--sidemenu-base-nav-border-color);
      background-image: var(--sidemenu-base-nav-background-image);
      background-repeat: var(--sidemenu-base-nav-background-repeat);
      background-size: var(--sidemenu-base-nav-background-size);
      background-position: var(--sidemenu-base-nav-background-position);

      /* List */
      > ul {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: var(--sidemenu-base-ul-padding);
        max-height: var(--sidemenu-base-max-height, 90vh);
        overflow: auto;
        /* Solves a bug in older safari versions where position sticky blocks overflow auto */
        display: block;
      }

      
      button + ul {
        /* Compensating for the reserved space for the icon.
				Position sticky still reserves the space within the flow. */
        margin-top: 0;
      }

      > ul li, 
      button + ul li {
        background-color: var(--sidemenu-base-list-item-background-color);
        border-color: var(--sidemenu-base-list-item-border-color);
        border-style: var(--sidemenu-base-list-item-border-style);
        border-width: var(--sidemenu-base-list-item-border-width);
        padding: var(--sidemenu-base-list-item-padding);
        line-height: var(--sidemenu-base-list-item-line-height, inherit);
        font-size: var(--sidemenu-base-list-item-font-size, inherit);
        font-weight: var(--sidemenu-base-list-item-font-weight, inherit);
        color: var(--sidemenu-base-list-item-text-color, inherit);
      }

      /* Button */
      .sidemenu-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        position: -webkit-sticky;
        position: sticky;
        gap: 0;
        min-width: var(--sidemenu-base-toggle-button-min-width);
        min-height: var(--sidemenu-base-toggle-button-min-height);
        font-size: var(--sidemenu-base-toggle-button-font-size);
        margin-left: calc(var(--sidemenu-base-nav-width) - var(--sidemenu-base-nav-padding-left));

        /* Needed to keep the button to stick to the top */
        top: var(--sidemenu-button-margin-top);
        z-index: 2;

        &:before {
          content: var(--sidemenu-base-expanded-button-icon, none);
          @include icon.icon;
          font-family: var(--sidemenu-base-button-icon-font-family);
          font-size: var(--sidemenu-base-button-icon-font-size);
          
          /* Styling options for text input instead of icons */
          font-weight: var(--sidemenu-base-button-icon-font-weight);
          white-space: var(--sidemenu-base-button-icon-white-space);
        }

        &[aria-expanded="false"] {
          &:before {
            content: var(--sidemenu-base-collapsed-button-icon, none);
          }
        }
      }
    }
  }

  &.sidemenu-closed {
    @media (min-width: $sidemenu-breakpoint) {
      > nav {
        border: 0;
        width: 0;
        padding-left: 0;
        padding-right: 0;

        > ul {
          display: none;
        }

        .sidemenu-toggle {
          margin-left: 0;
        }
      }

      > div {
        max-width: 100%;
      }
    }
  }
}
