/*---------------------------------------------------------------*/
/*--------------- components/skip-to-content.scss ---------------*/
/*---------------------------------------------------------------*/
@use "skip-to-content-variables";

.skip-to-content,
a.button.skip-to-content {
  /* Visually removing the objects height. Without removing the object
	from the flow. */
  display: block;
  min-height: 0;
  font-size: 0;
  padding: 0;
  border: 0;
  background-color: var(--skip-to-content-background-color);
  color: var(--skip-to-content-text-color);
  max-width: 100%;

  &:focus {
    position: static;
    display: flex;
    height: auto;
    width: var(--skip-to-content-width);
    padding: var(--skip-to-content-padding);
    text-align: var(--skip-to-content-text-align);
    font-size: var(--application-font-size);
    min-height: var(--skip-to-content-min-height);
    border-width: var(--skip-to-content-border-width);
    border-style: var(--skip-to-content-border-style);
    border-color: var(--skip-to-content-border-color);
  }

  &:hover {
    background-color: var(--skip-to-content-hover-background-color);
    color: var(--skip-to-content-hover-text-color);
    border-width: var(--skip-to-content-hover-border-width);
    border-style: var(--skip-to-content-hover-border-style);
    border-color: var(--skip-to-content-hover-border-color);
  }
}
