/*-----------------------------------------------------------*/
/*---------- components/spot-large-variables.scss -----------*/
/*-----------------------------------------------------------*/
:root {
  /* Branding color 1 */
  --branding-color-1-background-color: WhiteSmoke;
  --branding-color-1-text-color: black;

  /* Branding color 2 */
  --branding-color-2-background-color: SeaShell;
  --branding-color-2-text-color: black;

  /* Accent color 1 */
  --branding-color-accent-1-background-color: LightSeaGreen;
  --branding-color-accent-1-text-color: white;

  /* Accent color 2 */
  --branding-color-accent-2-background-color: MediumVioletRed;
  --branding-color-accent-2-text-color: white;

  /* Accent color 3 */
  --branding-color-accent-3-background-color: SlateBlue;
  --branding-color-accent-3-text-color: white;

  /* Accent color 4 */
  --branding-color-accent-4-background-color: Purple;
  --branding-color-accent-4-text-color: white;

  /* Accent color 5 */
  --branding-color-accent-5-background-color: OliveDrab;
  --branding-color-accent-5-text-color: white;
}
