/*-----------------------------------------------------------*/
/*------------ components/spot-small-variables.scss ---------*/
/*-----------------------------------------------------------*/
:root {
  /* Branding color 1 */
  --branding-color-1-background-color: LightSalmon;
  --branding-color-1-text-color: black;

  /* Branding color 2 */
  --branding-color-2-background-color: SeaShell;
  --branding-color-2-text-color: black;

  /* Accent color 1 */
  --branding-color-accent-1-background-color: LightSeaGreen;
  --branding-color-accent-1-text-color: white;

  /* Accent color 2 */
  --branding-color-accent-2-background-color: MediumVioletRed;
  --branding-color-accent-2-text-color: white;
}
