/*---------------------------------------------------------------*/
/*----------------- components/spot-large.scss ------------------*/
/*---------------------------------------------------------------*/
@use "spot-large-variables";

%branding-color-1,
.branding-color-1 {
	background-color: var(--branding-color-1-background-color);
	color: var(--branding-color-1-text-color);
}

%branding-color-2,
.branding-color-2 {
	background-color: var(--branding-color-2-background-color);
	color: var(--branding-color-2-text-color);
}

%branding-color-accent-1,
.branding-color-accent-1 {
	background-color: var(--branding-color-accent-1-background-color);
	color: var(--branding-color-accent-1-text-color);
}

%branding-color-accent-2,
.branding-color-accent-2 {
	background-color: var(--branding-color-accent-2-background-color);
	color: var(--branding-color-accent-2-text-color);
}

%branding-color-accent-3,
.branding-color-accent-3 {
	background-color: var(--branding-color-accent-3-background-color);
	color: var(--branding-color-accent-3-text-color);
}

%branding-color-accent-4,
.branding-color-accent-4 {
	background-color: var(--branding-color-accent-4-background-color);
	color: var(--branding-color-accent-4-text-color);
}

%branding-color-accent-5,
.branding-color-accent-5 {
	background-color: var(--branding-color-accent-5-background-color);
	color: var(--branding-color-accent-5-text-color);
}
