/*---------------------------------------------------------------*/
/*------------------------ table-form.scss ----------------------*/
/*---------------------------------------------------------------*/
@use "table-form-variables";

table {
  form {
    background-color: transparent;
    padding: 0;
    justify-content: flex-start;
  }
}
