/*---------------------------------------------------------------*/
/*---------------------- table-checkbox.scss --------------------*/
/*---------------------------------------------------------------*/
@use "table-checkbox-variables";

%table-checkbox {
  input[type="checkbox"] {
    margin: var(--table-checkbox-margin-right, 0);
    padding: 0;
    cursor: var(--table-checkbox-cursor);
    width: var(--table-checkbox-width);
    height: var(--table-checkbox-height);

    & + label {
      width: auto;
      cursor: pointer;
      margin-top: 0;
    }
  }

  th,
  td {
    input[type="checkbox"]:only-child {
      margin: 0 auto;
    }
  }
}

table {
  @extend %table-checkbox;
}

/* Form within table */
table {
  form {
    @extend %table-checkbox;
  }
}

/* Table within form */
form {
  table {
    @extend %table-checkbox;
  }
}
