/*---------------------------------------------------------------*/
/*-------------------------- table.scss -------------------------*/
/*---------------------------------------------------------------*/
@use "table-variables";

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  margin: 0;
  font-size: var(--table-font-size);
  line-height: var(--table-line-height);
  font-weight: var(--table-font-weight);
  color: var(--table-text-color);
  background-color: var(--table-background-color);
  border-width: var(--table-border-width);
  border-style: var(--table-border-style);
  border-color: var(--table-border-color);
  text-align: var(--table-text-align);

  thead {
    background-color: var(--table-head-background-color);
    color: var(--table-head-text-color);
    border-width: var(--table-head-border-width);
    border-style: var(--table-head-border-style);
    border-color: var(--table-head-border-color);

    th {
      padding: var(--table-head-cell-padding);
      border-width: var(--table-head-cell-border-width);
      border-style: var(--table-head-cell-border-style);
      border-color: var(--table-head-cell-border-color);
      font-weight: var(--table-head-cell-font-weight);
      font-size: var(--table-head-cell-font-size);
      text-align: var(--table-head-text-align);
    }

    a,
    a:visited,
    a:hover {
      color: inherit;

      &:before {
        color: inherit;
      }
    }
  }

  tbody {
    th {
      padding: var(--table-body-head-cell-padding);
      border-width: var(--table-body-head-cell-border-width);
      border-style: var(--table-body-head-cell-border-style);
      border-color: var(--table-body-head-cell-border-color);
      background-color: var(--table-body-head-cell-background-color);
      color: var(--table-body-head-cell-text-color);
      font-weight: var(--table-body-head-cell-font-weight);
      font-size: var(--table-body-head-cell-font-size);
    }
  }

  td {
    padding: var(--table-cell-padding);
    gap: var(--table-cell-gap);
    background-color: var(--table-cell-background-color);
    color: var(--table-cell-text-color);
    border-width: var(--table-cell-border-width);
    border-style: var(--table-cell-border-style);
    border-color: var(--table-cell-border-color);
  }

  tr {
    /* Zebra striping with opacity to keep background color. e.g for warnings or errors */
    &:nth-child(even):not(.odd),
    &:nth-child(odd).even {
      background-color: var(--table-row-background-color-striping, inherit);
    }

    &:first-of-type td {
      border-width: var(--table-first-row-cell-border-width);
      border-style: var(--table-first-row-cell-border-style);
      border-color: var(--table-first-row-cell-border-color);
    }

    &:last-of-type td {
      border-width: var(--table-last-row-cell-border-width);
      border-style: var(--table-last-row-cell-border-style);
      border-color: var(--table-last-row-cell-border-color);
    }
  }

  tfoot {
    background-color: var(--table-foot-background-color);
    color: var(--table-foot-text-color);
    font-size: var(--table-foot-font-size);
    font-weight: var(--table-foot-font-weight);
    padding: var(--table-foot-padding);
    border-width: var(--table-foot-border-width);
    border-style: var(--table-foot-border-style);
    border-color: var(--table-foot-border-color);

    th {
      background-color: var(--table-foot-header-background-color);
      color: var(--table-foot-header-text-color);
      border-width: var(--table-foot-header-border-width);
      border-style: var(--table-foot-header-border-style);
      border-color: var(--table-foot-header-border-color);
      padding: var(--table-foot-header-padding);
      font-weight: var(--table-foot-header-font-weight);
      font-size: var(--table-foot-header-font-size);
    }

    td {
      background-color: var(--table-foot-cell-background-color);
      color: var(--table-foot-cell-text-color);
      border-width: var(--table-foot-cell-border-width);
      border-style: var(--table-foot-cell-border-style);
      border-color: var(--table-foot-cell-border-color);
      padding: var(--table-foot-cell-padding);
      font-weight: var(--table-foot-cell-font-weight);
      font-size: var(--table-foot-cell-font-size);
    }
  }
}

/* Resetting inherited layout padding */
main {
  section,
  section div,
  article,
  article div,
  div,
  div div {
    table {
      div {
        gap: var(--table-gap);
        padding: 0;
      }
    }
  }
}
