/*---------------------------------------------------------------*/
/*---------------- table-summary-variables.scss -----------------*/
/*---------------------------------------------------------------*/
:root {
  /* Table */
  --table-summary-width: auto;
  /* --table-summary-min-width: ; */

  /* Table body */
  /* --table-summary-body-border-width: ; */
  /* --table-summary-body-border-style: ; */
  /* --table-summary-body-border-color: ; */

  /* Last table row cells */
  /* --table-summary-last-row-cell-border-width: ;
	--table-summary-last-row-cell-border-style: ;
	--table-summary-last-row-cell-border-color: ;

	/* Table cell */
  /* --table-summary-cell-border-width: ; */
  /* --table-summary-cell-border-style: ; */
  /* --table-summary-cell-border-color: ; */
  /* --table-summary-cell-border-left: ; */

  /* Table footer */
  --table-summary-footer-border-width: 1px 0 0 0;
  --table-summary-footer-border-style: solid;
  --table-summary-footer-border-color: black;
  --table-summary-footer-background-color: var(
    --table-foot-cell-background-color
  );
}
