/*---------------------------------------------------------------*/
/*------------------------- tag-variables.scss ------------------*/
/*---------------------------------------------------------------*/
:root {
  --tag-background-color: var(--branding-color-1-background-color);
  --tag-text-color: var(--branding-color-1-text-color);
  --tag-padding: 0.25rem 0.5rem;
  --tag-border-radius: 0.25rem;
  --tag-line-height: var(--application-base-line-height);
}
