/*---------------------------------------------------------------*/
/*-------------------------- tags-6.scss ------------------------*/
/*---------------------------------------------------------------*/
@use "tags-6-variables";

%tags-color-1,
.tags-color-1 {
  background-color: var(--tags-color-1-background-color);
  color: var(--tags-color-1-text-color);
  border-color: var(--tags-color-1-border-color);
}

%tags-color-2,
.tags-color-2 {
  background-color: var(--tags-color-2-background-color);
  color: var(--tags-color-2-text-color);
  border-color: var(--tags-color-2-border-color);
}

%tags-color-3,
.tags-color-3 {
  background-color: var(--tags-color-3-background-color);
  color: var(--tags-color-3-text-color);
  border-color: var(--tags-color-3-border-color);
}

%tags-color-4,
.tags-color-4 {
  background-color: var(--tags-color-4-background-color);
  color: var(--tags-color-4-text-color);
  border-color: var(--tags-color-4-border-color);
}

%tags-color-5,
.tags-color-5 {
  background-color: var(--tags-color-5-background-color);
  color: var(--tags-color-5-text-color);
  border-color: var(--tags-color-5-border-color);
}

%tags-color-6,
.tags-color-6 {
  background-color: var(--tags-color-6-background-color);
  color: var(--tags-color-6-text-color);
  border-color: var(--tags-color-6-border-color);
}
