/*---------------------------------------------------------------*/
/*--------------- visual-example-variables.scss -----------------*/
/*---------------------------------------------------------------*/
:root {
	--visual-example-border: 1px solid #ccc;
	--visual-example-background-color: var(--application-base-background-color);
	--visual-example-text-color: var(--application-base-text-color);
	--visual-example-padding: var(--application-base-padding);
}