{% load static %}

{% block header %}
<header>
  <div class="content-wrapper">
    <a href="#main-content" class="button focus-only skip-to-content"
      >Ga direct naar inhoud</a
    >
    <nav
      data-open-label="Menu"
      data-close-label="Sluit menu"
      data-media="(min-width: 30rem)"
      aria-label="Hoofdnavigatie"
      class="collapsible"
    >
      <a href="/" class="logo">
        <img src="{% static 'img/logo.svg' %}" alt="Logo" />
        Django Manon
      </a>
      <div class="collapsing-element">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'polls:index' %}">Polls</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
{% endblock header %}
