{% extends "base.html" %}

{% block title %}Django Manon Example Project{% endblock title %}

{% block main %}
<main>
  <section id="introduction" class="branding-color-accent-5">
    <div>
      <h1>Django Manon Example Project</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur tempus ex, quis aliquam nisi vestibulum id. Etiam pulvinar id diam ut egestas. Etiam tincidunt arcu sodales, cursus felis vel, vehicula nibh.</p>
    </div>
  </section>
  <section>
    <div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <div class="column-3">
        <div>
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur tempus ex, quis aliquam nisi vestibulum id. Etiam pulvinar id diam ut egestas. Etiam tincidunt arcu sodales, cursus felis vel, vehicula nibh.</p>
        </div>
        <div>
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur tempus ex, quis aliquam nisi vestibulum id. Etiam pulvinar id diam ut egestas. Etiam tincidunt arcu sodales, cursus felis vel, vehicula nibh.</p>
        </div>
        <div>
          <h3>Lorem ipsum</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur tempus ex, quis aliquam nisi vestibulum id. Etiam pulvinar id diam ut egestas. Etiam tincidunt arcu sodales, cursus felis vel, vehicula nibh.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="background-color-offset">
    <div>
      <h2>Lorem ipsum dolor sit amet</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur tempus ex, quis aliquam nisi vestibulum id. Etiam pulvinar id diam ut egestas. Etiam tincidunt arcu sodales, cursus felis vel, vehicula nibh.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur tempus ex, quis aliquam nisi vestibulum id. Etiam pulvinar id diam ut egestas. Etiam tincidunt arcu sodales, cursus felis vel, vehicula nibh.</p>
    </div>
  </section>
</main>
{% endblock main %}
