/* Header navigation link visited */

@use "../color-scheme";

:root {
  --header-navigation-link-visited-text-color: #{color-scheme.$oc-white};
  --header-navigation-link-visited-text-decoration: none;
  --header-navigation-link-visited-font-weight: var(
    --header-navigation-link-font-weight
  );
}
