/* Layout authentication */

:root {
  --layout-authentication-background-color: #fff;
  --layout-authentication-padding-top: var(--spacing-150);
  --layout-authentication-padding-right: var(--spacing-150);
  --layout-authentication-padding-bottom: var(--spacing-150);
  --layout-authentication-padding-left: var(--spacing-150);
}
