/* Section content wrapper */

:root {
  --section-content-wrapper-padding-top: 0;
  --section-content-wrapper-padding-right: 0;
  --section-content-wrapper-padding-bottom: 0;
  --section-content-wrapper-padding-left: 0;
}
