/* Avatar */

@use "../color-scheme";

.avatar {
  display: flex;
  align-self: center;
  background-color: #{color-scheme.$oc-blue-8};
  border-radius: 50%;
  color: #{color-scheme.$oc-white};
  height: 3rem;
  width: 3rem;
  padding: 0;
  text-decoration: none;
}
