/*----------------------------------------------------------------------------------*/
/*------------------------ text/de-emphasized-variables.scss -----------------------*/
/*----------------------------------------------------------------------------------*/
:root {
  --de-emphasized-font-size: var(--body-text-small-font-size);
  --de-emphasized-font-weight: var(--body-text-small-font-weight);
  --de-emphasized-line-height: var(--body-text-small-line-height);
  --de-emphasized-text-color: var(--body-text-small-color);
}
