/*------------------------------------------------------------------------------*/
/*-------- components/divider-lines-subcontentblocks-variables.scss ------------*/
/*------------------------------------------------------------------------------*/
:root {
  /* Divider */
  --divider-lines-subcontentblocks-border-width: var(
    --divider-lines-base-border-width
  );
  --divider-lines-subcontentblocks-border-style: var(
    --divider-lines-base-border-style
  );
  --divider-lines-subcontentblocks-border-color: var(
    --divider-lines-base-border-color
  );

  /* First of type */
  --divider-lines-subcontentblocks-first-of-type-border-width: var(
    --divider-lines-base-first-of-type-border-width
  );
  --divider-lines-subcontentblocks-first-of-type-border-style: var(
    --divider-lines-base-first-of-type-border-style
  );
  --divider-lines-subcontentblocks-first-of-type-border-color: var(
    --divider-lines-base-first-of-type-border-color
  );
}
