/*-------------------------------------------------------------------*/
/*-------- components/divider-striping-top-variables.scss -----------*/
/*-------------------------------------------------------------------*/
:root {
  /* Divider directly within main */
  --divider-striping-top-border-width: var(
    --divider-striping-base-border-width
  );
  --divider-striping-top-border-style: var(
    --divider-striping-base-border-style
  );
  --divider-striping-top-border-color: var(
    --divider-striping-base-border-color
  );
  --divider-striping-top-background-color: var(
    --divider-striping-base-background-color
  );
}
