/*----------------------------------------------------------------------------------*/
/*--------------------- components/divider-lines-main.scss -------------------------*/
/*----------------------------------------------------------------------------------*/
@use "divider-lines-main-variables";

main {
  > article,
  > section,
  > div {
    border-width: var(--divider-lines-main-border-width);
    border-style: var(--divider-lines-main-border-style);
    border-color: var(--divider-lines-main-border-color);
    padding-top: var(--divider-lines-main-padding-top);

    &:first-of-type {
      border-width: var(--divider-lines-main-first-of-type-border-width);
      border-style: var(--divider-lines-main-first-of-type-border-style);
      border-color: var(--divider-lines-main-first-of-type-border-color);
      padding-top: var(--divider-lines-main-first-of-type-padding-top);
    }
  }
}
