/*---------------------------------------------------------------*/
/*-------- components/divider-lines-main-variables.scss ---------*/
/*---------------------------------------------------------------*/
:root {
  /* Divider */
  --divider-lines-content-block-border-width: var(
    --divider-lines-base-border-width
  );
  --divider-lines-content-block-border-style: var(
    --divider-lines-base-border-style
  );
  --divider-lines-content-block-border-color: var(
    --divider-lines-base-border-color
  );

  /* First of type */
  --divider-lines-content-block-first-of-type-border-width: var(
    --divider-lines-base-first-of-type-border-width
  );
  --divider-lines-content-block-first-of-type-border-style: var(
    --divider-lines-base-first-of-type-border-style
  );
  --divider-lines-content-block-first-of-type-border-color: var(
    --divider-lines-base-first-of-type-border-color
  );
}
