/*-------------------------------------------------------------------*/
/*--- components/divider-striping-top-level-blocks-variables.scss ---*/
/*-------------------------------------------------------------------*/
:root {
  /* Divider within a section, article or a div in the main */
  --divider-striping-content-block-border-width: var(
    --divider-striping-base-border-width
  );
  --divider-striping-content-block-border-style: var(
    --divider-striping-base-border-style
  );
  --divider-striping-content-block-border-color: var(
    --divider-striping-base-border-color
  );
  --divider-striping-content-block-background-color: var(
    --divider-striping-base-background-color
  );
}
