/*---------------------------------------------------------------*/
/*-------- components/divider-lines-main-variables.scss ---------*/
/*---------------------------------------------------------------*/
:root {
  /* Divider */
  --divider-lines-main-border-width: var(--divider-lines-base-border-width);
  --divider-lines-main-border-style: var(--divider-lines-base-border-style);
  --divider-lines-main-border-color: var(--divider-lines-base-border-color);
  --divider-lines-main-padding-top: var(--divider-lines-base-padding-top);

  /* First of type */
  --divider-lines-main-first-of-type-border-width: var(
    --divider-lines-base-first-of-type-border-width
  );
  --divider-lines-main-first-of-type-border-style: var(
    --divider-lines-base-first-of-type-border-style
  );
  --divider-lines-main-first-of-type-border-color: var(
    --divider-lines-base-first-of-type-border-color
  );
  --divider-lines-main-first-of-type-padding-top: var(
    --divider-lines-base-first-of-type-padding-top
  );
}
