/*------------------------------------------------------------------------*/
/*---------------------- form-input-color-variables.scss -----------------*/
/*------------------------------------------------------------------------*/
:root {
  --form-input-color-width: auto;
  --form-input-color-min-width: 2.75rem;
  --form-input-color-min-height: 2.75rem;
  --form-input-color-max-width: 2.75rem;
  --form-input-color-max-height: 2.75rem;
  --form-input-color-padding: 0.25rem;
}
