/*---------------------------------------------------------------*/
/*----------------- form-fieldset-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  /* Fields within the fieldset */
  --form-fieldset-fields-margin-top: var(--application-base-gap, 1rem);

  /* Legend */
  --form-fieldset-legend-font-weight: var(--headings-font-weight, bold);
  --form-fieldset-legend-margin-bottom: var(--application-base-gap, 1rem);
}
