/*------------------------------------------------------------------------*/
/*------------------------- form-input-variables.scss ---------------------*/
/*------------------------------------------------------------------------*/
:root {
  --form-input-padding-top: 0.5rem;
  --form-input-padding-right: 1rem;
  --form-input-padding-bottom: 0.5rem;
  --form-input-padding-left: 1rem;
  --form-input-background-color: #ffffff;
  --form-input-text-color: var(--application-base-text-color);
  --form-input-font-family: var(--application-base-font-family);
  --form-input-font-size: var(--application-base-font-size);
  --form-input-line-height: var(--application-base-line-height);
  --form-input-font-weight: var(--application-base-font-weight);
  --form-input-min-height: 2.75rem;
  --form-input-border-width: initial;
  --form-input-border-style: initial;
  --form-input-border-color: transparent;
  --form-input-border-radius: var(--application-base-border-radius);
}
