/*------------------------------------------------------------------------*/
/*---------------------- form-textarea-variables.scss --------------------*/
/*------------------------------------------------------------------------*/
:root {
  --form-textarea-width: 100%;
  --form-textarea-resize: vertical;
  --form-textarea-min-height: 2.75rem;
  --form-textarea-padding: 0.75rem;
  /* --form-textarea-font-size: ; */
  /* --form-textarea-font-family: ; */
  --form-textarea-text-color: var(--form-input-text-color, #000);
  --form-textarea-background-color: var(--form-input-background-color, #fff);
  --form-textarea-border-radius: initial;
  --form-textarea-border-width: var(--form-input-border-width, 1px);
  --form-textarea-border-style: var(--form-input-border-style, solid);
  --form-textarea-border-color: var(--form-input-border-color, #000);
}
