/*------------------------------------------------------------------------*/
/*----------------------- form-inline-variables.scss ---------------------*/
/*------------------------------------------------------------------------*/
:root {
  --form-inline-gap: var(--application-base-gap);
  --form-inline-text-color: var(--application-base-text-color);
  --form-inline-flex-direction: row;
  --form-inline-width: auto;
}
