/*--------------------------------------------------------------*/
/*--------- components/navigation-tabs-variables.scss ----------*/
/*--------------------------------------------------------------*/
:root {
  /* --header-base-padding: ; */
  /* --header-base-background-color: ; */
  /* --header-base-text-color: ; */
  /* --header-base-min-height: ; */

  /* Header content block (header > div) */
  --header-base-content-block-padding: var(--layout-base-content-block-padding);
  /* --header-base-content-block-padding-top: ; */
  /* --header-base-content-block-padding-bottom: ; */
  /* --header-base-content-block-flex-grow: 1; */
  /* --header-base-content-block-align-items: ; */
  /* --header-base-content-block-justify-content: ; */

  /* Header title */
  --header-base-title-font-size: var(--headings-base-h1-font-size);
  /* --header-base-title-text-color: ; */
  /* --header-base-title-font-weight: ; */

  /* Header subtitle */
  --header-base-subtitle-font-size: var(--headings-base-h2-font-size);
  /* --header-base-subtitle-text-color: ; */
  /* --header-base-subtitle-font-weight: ; */
}
