/*---------------------------------------------------------------*/
/*------------------ image-square-variables.scss ----------------*/
/*---------------------------------------------------------------*/
:root {
  --image-square-object-position: center;
  --image-square-max-width: 20rem;
  --image-square-border-radius: var(--application-base-border-radius);
}
