/*---------------------------------------------------------------*/
/*--------------- components/img-base-variables.scss ------------*/
/*---------------------------------------------------------------*/
:root {
  --img-base-max-width: 100%;
  --img-base-object-position: center;
  --img-base-object-fit: contain;
}
