/*---------------------------------------------------------------*/
/*----------------- components/label-base.scss ------------------*/
/*---------------------------------------------------------------*/
@use "label-base-variables";

.label {
  display: inline-block;
  padding: var(--label-base-padding);
  min-width: var(--label-base-min-width);
  font-size: var(--label-base-font-size);
  text-align: center;
}
