/*---------------------------------------------------------------*/
/*------------------ layout-footer-variables.scss ---------------*/
/*---------------------------------------------------------------*/
:root {
  --layout-footer-padding-top: var(--layout-base-padding-top);
  --layout-footer-padding-right: var(--layout-base-padding-right);
  --layout-footer-padding-bottom: var(--layout-base-padding-bottom);
  --layout-footer-padding-left: var(--layout-base-padding-left);
  --layout-footer-max-width: var(--layout-base-max-width);
  /* --layout-footer-block-min-height: ; */

  /* Top level blocks */
  --layout-footer-gap: var(--layout-base-gap);

  /* Content blocks directly within top level blocks */
  --layout-footer-content-block-gap: var(
    --layout-base-within-content-block-gap
  );

  /* Spacing beteen all other blocks */
  --layout-footer-within-content-block-gap: var(
    --layout-base-within-content-block-gap
  );
}
