/*---------------------------------------------------------------*/
/*---------- components/layout-authentication.scss --------------*/
/*---------------------------------------------------------------*/
@use "layout-authentication-variables";

$breakpoint-1: 24rem !default;
$breakpoint-2: 42rem !default;

section,
article,
header nav,
footer,
div,
form {
  &.layout-authentication {
    width: 100%;
    box-sizing: border-box;
    max-width: var(--layout-authentication-max-width);
    margin: 0 auto;
    background-color: var(--layout-authentication-background-color);
    color: var(--layout-authentication-text-color);
    padding-top: var(--layout-authentication-padding-top, inherit);
    padding-right: var(--layout-authentication-padding-right, inherit);
    padding-bottom: var(--layout-authentication-padding-bottom, inherit);
    padding-left: var(--layout-authentication-padding-left, inherit);
  }
}
