/*---------------------------------------------------------------*/
/*------------ notification-paragraph-variables.scss ------------*/
/*---------------------------------------------------------------*/
@use "notification-variables";

:root {
  --notification-paragraph-width: var(--notification-width);
  --notification-paragraph-padding-top: var(--notification-padding-top);
  --notification-paragraph-padding-right: var(--notification-padding-right);
  --notification-paragraph-padding-bottom: var(--notification-padding-bottom);
  --notification-paragraph-padding-left: var(--notification-padding-left);

  /* span */
  --notification-paragraph-span-font-weight: var(
    --notification-span-font-weight
  );
}
