/*------------------------------------------------------------------------*/
/*-------------------------- radio-variables.scss ------------------------*/
/*------------------------------------------------------------------------*/
:root {
  /* Radio button */
  --radio-gap: 0.75rem;
  --radio-align-items: center;

  /* Input */
  --radio-input-width: 1.25rem;
  --radio-input-height: 1.25rem;
  --radio-input-accent-color: var(--branding-color-1, initial);

  /* Label */
  --radio-label-width: auto;

  /* Required */
  --radio-required-gap: var(--application-base-gap-small);
}
