/*------------------------------------------------------------------------*/
/*---------------------- table-checkbox-variables.scss -------------------*/
/*------------------------------------------------------------------------*/
:root {
  /* --table-checkbox-margin-right: ; */
  --table-checkbox-vertical-align: top;
  --table-checkbox-width: 100%;
  --table-checkbox-height: 1.25rem;
  --table-checkbox-cursor: pointer;
}
