:root {
  /* Blue */
  --tags-soft-blue-light-background-color: #eef8fe;
  --tags-soft-blue-light-text-color: #006fb3;
  --tags-soft-blue-light-border-color: #006fb3;

  --tags-soft-blue-medium-background-color: #abdbf8;
  --tags-soft-blue-medium-text-color: #005c94;
  --tags-soft-blue-medium-border-color: #005c94;

  --tags-soft-blue-dark-background-color: #40adef;
  --tags-soft-blue-dark-text-color: #003e64;
  --tags-soft-blue-dark-border-color: #003e64;

  /* Green */
  --tags-soft-green-light-background-color: #ebfaef;
  --tags-soft-green-light-text-color: #157b31;
  --tags-soft-green-light-border-color: #157b31;

  --tags-soft-green-medium-background-color: #94e6ab;
  --tags-soft-green-medium-text-color: #116629;
  --tags-soft-green-medium-border-color: #1b9d3f;

  --tags-soft-green-dark-background-color: #20bd4c;
  --tags-soft-green-dark-text-color: #134421;
  --tags-soft-green-dark-border-color: #116629;

  /* Yellow */
  --tags-soft-yellow-light-background-color: #fff7cf;
  --tags-soft-yellow-light-text-color: #7d6900;
  --tags-soft-yellow-light-border-color: #7d6900;

  --tags-soft-yellow-medium-background-color: #fecf48;
  --tags-soft-yellow-medium-text-color: #685700;
  --tags-soft-yellow-medium-border-color: #a08700;

  --tags-soft-yellow-dark-background-color: #ddb900;
  --tags-soft-yellow-dark-text-color: #584a00;
  --tags-soft-yellow-dark-border-color: #685700;

  /* Orange */
  --tags-soft-orange-light-background-color: #fff5ed;
  --tags-soft-orange-light-text-color: #a75312;
  --tags-soft-orange-light-border-color: #a75312;

  --tags-soft-orange-medium-background-color: #ffcaa1;
  --tags-soft-orange-medium-text-color: #8b450f;
  --tags-soft-orange-medium-border-color: #d66a17;

  --tags-soft-orange-dark-background-color: #ffa865;
  --tags-soft-orange-dark-text-color: #5e2f0a;
  --tags-soft-orange-dark-border-color: #a75312;

  /* Red */
  --tags-soft-red-light-background-color: #fff4f3;
  --tags-soft-red-light-text-color: #c3372c;
  --tags-soft-red-light-border-color: #ffa49d;

  --tags-soft-red-medium-background-color: #ffc7c3;
  --tags-soft-red-medium-text-color: #a22e25;
  --tags-soft-red-medium-border-color: #f84638;

  --tags-soft-red-dark-background-color: #ff7d73;
  --tags-soft-red-dark-text-color: #6e1f19;
  --tags-soft-red-dark-border-color: #a22e25;

  /* Violet */
  --tags-soft-violet-light-background-color: #f7f6fc;
  --tags-soft-violet-light-text-color: #6e5fae;
  --tags-soft-violet-light-border-color: #bfb6e6;

  --tags-soft-violet-medium-background-color: #d6d1ef;
  --tags-soft-violet-medium-text-color: #5b4f90;
  --tags-soft-violet-medium-border-color: #8c7cd2;

  --tags-soft-violet-dark-background-color: #a89cdd;
  --tags-soft-violet-dark-text-color: #3d3560;
  --tags-soft-violet-dark-border-color: #5b4f90;
}
