/*---------------------------------------------------------------*/
/*------------------ components/test-cases.scss -----------------*/
/*---------------------------------------------------------------*/
.test-cases article {
  /* Header */
  > header {
    @extend %header-navigation-style;
    @extend %header-navigation-content-wrapper-style;
    @extend %main-app-color-focus-style;

    /* Test case specific styling */
    & + header {
      margin-top: 1rem;

      &:last-of-type {
        margin-bottom: 1rem;
      }
    }
  }

  /* Footer */
  > footer {
    @extend %main-footer-style;
    @extend %main-app-color-focus-style;
    margin-top: 1rem;
  }

  &:last-child > footer {
    margin-bottom: 1rem;
  }

  > section .column-2 p {
    margin: 2%;
  }
}

/* Test classes for testing color contrast */
.color-overview {
  padding-left: 0;

  li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    div {
      padding: 0.5rem 1rem;
      width: 100%;

      @media (width >= 37.5rem) {
        width: unset;
        flex-grow: 1;
      }
    }
  }

  &.color-block {
    li {
      display: flex;

      @media (width >= 50rem) {
        flex-wrap: nowrap;
        justify-content: space-between;
      }

      > div {
        width: 100%;
        display: flex;

        @media (width >= 50rem) {
          width: unset;
          flex-wrap: nowrap;
        }

        > div {
          width: 1.5rem;
          min-width: 1.5rem;
          height: 1.5rem;
          font-size: 0;
          padding: 0;
          flex-grow: 0;
        }

        p {
          margin: 0 0 0 0.5rem;
        }
      }
    }
  }
}
