/*------------------------------------------------------------------------*/
/*-------------------------- header-example.css --------------------------*/
/*------------------------------------------------------------------------*/

:root {
   /* Content wrapper */
   --header-content-wrapper-position: relative; 

   /* Header navigation */
   --header-navigation-position: static;
   
   /* Collapsible menu */
   --header-navigation-collapsible-menu-top: 4rem;
}
