/* Article content wrapper */

:root {
  --article-content-wrapper-padding-top: 0;
  --article-content-wrapper-padding-right: 0;
  --article-content-wrapper-padding-bottom: 0;
  --article-content-wrapper-padding-left: 0;
}
