/* Breadcrumb bar */

:root {
  --breadcrumb-bar-padding-top: 1rem;
  --breadcrumb-bar-padding-bottom: 1rem;
  --breadcrumb-bar-content-wrapper-max-width: 100%;
  --breadcrumb-bar-padding-top: 1rem;
  --breadcrumb-bar-padding-bottom: 1rem;
  --breadcrumb-bar-background-color: var(--white);
  --breadcrumb-bar-text-color: var(--application-base-text-color);

  /* Links */
  --breadcrumb-bar-link-text-color: var(--application-base-text-color);
  --breadcrumb-bar-link-hover-text-color: var(--application-base-text-color);
  --breadcrumb-bar-link-visited-text-color: var(--application-base-text-color);

  /* Icon */
  --breadcrumb-bar-icon-text-color: var(--breadcrumb-bar-text-color);
  --breadcrumb-bar-icon-font-family: var(--icon-font-family);
  --breadcrumb-bar-icon: "\ea61";
}
