/* Button cta */

@use "../color-scheme";

:root {
  --button-destructive-background-color: #{color-scheme.$oc-red-8};
  --button-destructive-text-color: #{color-scheme.$oc-white};
  --button-destructive-border-color: #{color-scheme.$oc-red-8};

  /* Hover */
  --button-destructive-hover-background-color: #{color-scheme.$oc-red-9};
  --button-destructive-hover-text-color: var(--button-destructive-text-color);
  --button-destructive-hover-border-color: #{color-scheme.$oc-red-9};

  /* Focus */
  --button-destructive-focus-background-color: var(
    --button-destructive-background-color
  );
  --button-destructive-focus-text-color: var(--button-destructive-text-color);
  --button-destructive-focus-border-color: var(
    --button-destructive-focus-background-color
  );
  --button-destructive-focus-outline-color: #{color-scheme.$oc-white};

  /* Active */
  --button-destructive-active-background-color: var(
    --button-destructive-background-color
  );
  --button-destructive-active-text-color: var(--button-destructive-text-color);
  --button-destructive-active-border-color: #{color-scheme.$oc-red-9};
  --button-destructive-active-border-width: 2px;
}
