/* Button base styling */

:root {
  --button-base-border-radius: var(--border-radius-m);
  --button-base-background-color: #fff;
  --button-base-border-width: 1px;
  --button-base-border-color: #d4d4d4;
  --button-base-text-color: #006fb3;
  --button-base-font-size: 1rem;

  /* Hover */
  --button-base-hover-background-color: #fff;
  --button-base-hover-border-color: #005c94;
  --button-base-hover-text-color: #005c94;
}
