/* Button base styling */

@use "../color-scheme";

:root {
  --button-base-border-radius: var(--border-radius-m);
  --button-base-background-color: #{color-scheme.$oc-white};
  --button-base-border-width: 1px;
  --button-base-border-color: #{color-scheme.$oc-gray-3};
  --button-base-text-color: #{color-scheme.$oc-blue-8};
  --button-base-font-size: 1rem;

  /* Hover */
  --button-base-hover-background-color: var(--button-base-background-color);
  --button-base-hover-border-color: #{color-scheme.$oc-blue-9};
  --button-base-hover-text-color: #{color-scheme.$oc-blue-9};
  --button-base-hover-border-radius: var(--button-base-border-radius);

  /* Active */
  --button-base-active-background-color: var(
    --button-base-hover-background-color
  );

  --button-base-active-border-color: var(--button-base-hover-border-color);
  --button-base-active-text-color: var(--button-base-hover-text-color);

  /* Focus */
  --button-base-focus-background-color: var(
    --button-base-hover-background-color
  );

  --button-base-focus-border-color: #{color-scheme.$oc-blue-6};
  --button-base-focus-text-color: #{color-scheme.$oc-blue-8};
  --button-base-focus-outline-style: solid;
  --button-base-focus-outline-color: #{color-scheme.$oc-gray-3};
  --button-base-focus-outline-width: 1px;
  --button-base-focus-outline-offset: -0.25rem;

  /* Selected */
  --button-base-selected-background-color: var(
    --button-base-hover-background-color
  );

  --button-base-selected-border-color: var(--button-base-hover-border-color);
  --button-base-selected-text-color: var(--button-base-hover-text-color);

  /* Visisted */
  --button-base-visited-background-color: var(
    --button-base-hover-background-color
  );

  --button-base-visited-border-color: var(--button-base-hover-border-color);
  --button-base-visited-text-color: var(--button-base-hover-text-color);
}
