/* Code */

@use "../color-scheme";

:root {
  --code-base-base-background-color: #{color-scheme.$oc-gray-1};
  --code-base-base-text-color: var(--application-base-text-color);
  --code-base-padding: 0 0.5rem;

  --code-block-code-background-color: #fff;
  --code-block-code-padding: 1rem;
}
