/* Form input */

:root {
  --form-base-text-color: #3b3b3b;
  --form-base-font-size: 1rem;
  --form-base-font-weight: bold;
  --form-base-gap: var(--spacing-025);
  --form-base-background-color: #fff;
}
