/* Form fieldset */

:root {
  --form-fieldset-legend-margin-bottom: var(--spacing-0);
  --form-fieldset-legend-margin-bottom: var(--form-group-gap);
  --form-fieldset-label-margin-bottom: var(--form-group-gap);
}
