/* Header navigation link focus */

@use "../color-scheme";

:root {
  --header-navigation-link-focus-background-color: transparent;
  --header-navigation-link-focus-text-decoration: none;
  --header-navigation-link-focus-font-weight: var(
    --header-navigation-link-active-font-weight
  );
  --header-navigation-link-focus-text-color: #{color-scheme.$oc-white};

  --header-navigation-link-focus-box-shadow: 0 0 0 2px #{color-scheme.$oc-blue-6};
  --header-navigation-link-focus-border-radius: 0.25rem;
  --header-navigation-link-focus-z-index: 2;

  /* Current link (active link */
  --header-navigation-current-link-focus-font-weight: var(
    --header-navigation-link-active-font-weight
  );

  --header-navigation-current-link-focus-background-color: #{color-scheme.$oc-gray-7};
}
