/* Main */

:root {
  --main-padding-top: var(--spacing-250);
  --main-padding-right: var(--spacing-300);
  --main-padding-bottom: var(--spacing-400);
  --main-padding-left: var(--spacing-300);
  --main-gap: var(--spacing-250);
}
