/* Notification error */

@use "../color-scheme";

:root {
  --notification-block-element-padding-top: 1rem;
  --notification-block-element-padding-right: 1rem;
  --notification-block-element-padding-bottom: 1rem;
  --notification-block-element-padding-left: 1rem;
}
