/* Theme shadow */

:root {
  --shadow-s: box-shadow: 0px 2px 4px 0px rgba(17, 20, 22, 0.75);
  --shadow-m: box-shadow: 0px 8px 16px 0px rgba(17, 20, 22, 0.15);
  --shadow-l: box-shadow: 0px 16px 48px 0px rgba(17, 20, 22, 0.17);
}

.shadow-s {
  shadow: var(--shadow-s);
}

.shadow-m {
  shadow: var(--shadow-m);
}

.shadow-l {
  shadow: var(--shadow-l);
}
