@use "./tabler";

$ascending: tabler.$caret-up-filled;
$check: tabler.$check;
$chevron-down: tabler.$chevron-down;
$chevron-left: tabler.$chevron-left;
$chevron-light-down: tabler.$chevron-compact-down;
$chevron-light-left: tabler.$chevron-compact-left;
$chevron-light-right: tabler.$chevron-compact-right;
$chevron-light-up: tabler.$chevron-compact-up;
$chevron-right: tabler.$chevron-right;
$chevron-up: tabler.$chevron-up;
$close: tabler.$x;
$descending: tabler.$caret-down-filled;
$download: tabler.$download;
$hamburger: tabler.$menu-2;
$heart: tabler.$heart;
$home: tabler.$home;
$lock-closed: tabler.$lock;
$on-off: tabler.$power;
$outgoing: tabler.$arrow-up-right;
$questionmark: tabler.$question-mark;
$reset: tabler.$refresh;
$search: tabler.$search;
$smartphone: tabler.$device-mobile;
$sort: tabler.$caret-up-down-filled;
$to-top: tabler.$arrow-bar-to-up;
$trash: tabler.$trash;
$user: tabler.$user;
