@use "../config";

$ro-icons-path: "#{config.$icons-path}/ro";

$icon-map: (
  ascending: (
    url: url("#{$ro-icons-path}/ascending.svg"),
  ),
  caret-down-filled: (
    url: url("#{$ro-icons-path}/caret-down-filled.svg"),
  ),
  caret-up-down-filled: (
    url: url("#{$ro-icons-path}/caret-up-down-filled.svg"),
  ),
  caret-up-filled: (
    url: url("#{$ro-icons-path}/caret-up-filled.svg"),
  ),
  check: (
    url: url("#{$ro-icons-path}/check.svg"),
  ),
  chevron-down: (
    url: url("#{$ro-icons-path}/chevron-down.svg"),
  ),
  chevron-left: (
    url: url("#{$ro-icons-path}/chevron-left.svg"),
  ),
  chevron-light-down: (
    url: url("#{$ro-icons-path}/chevron-light-down.svg"),
  ),
  chevron-light-left: (
    url: url("#{$ro-icons-path}/chevron-light-left.svg"),
  ),
  chevron-light-right: (
    url: url("#{$ro-icons-path}/chevron-light-right.svg"),
  ),
  chevron-light-up: (
    url: url("#{$ro-icons-path}/chevron-light-up.svg"),
  ),
  chevron-right: (
    url: url("#{$ro-icons-path}/chevron-right.svg"),
  ),
  chevron-up: (
    url: url("#{$ro-icons-path}/chevron-up.svg"),
  ),
  close: (
    url: url("#{$ro-icons-path}/close.svg"),
  ),
  confirmation: (
    url: url("#{$ro-icons-path}/confirmation.svg"),
    type: background,
  ),
  descending: (
    url: url("#{$ro-icons-path}/descending.svg"),
  ),
  device-mobile: (
    url: url("#{$ro-icons-path}/device-mobile.svg"),
  ),
  download: (
    url: url("#{$ro-icons-path}/download.svg"),
  ),
  error: (
    url: url("#{$ro-icons-path}/error.svg"),
    type: background,
  ),
  hamburger: (
    url: url("#{$ro-icons-path}/hamburger.svg"),
  ),
  heart: (
    url: url("#{$ro-icons-path}/heart.svg"),
  ),
  home: (
    url: url("#{$ro-icons-path}/home.svg"),
  ),
  informative: (
    url: url("#{$ro-icons-path}/informative.svg"),
    type: background,
  ),
  lock-closed: (
    url: url("#{$ro-icons-path}/lock-closed.svg"),
  ),
  on-off: (
    url: url("#{$ro-icons-path}/on-off.svg"),
  ),
  outgoing: (
    url: url("#{$ro-icons-path}/outgoing.svg"),
  ),
  power: (
    url: url("#{$ro-icons-path}/power.svg"),
  ),
  questionmark: (
    url: url("#{$ro-icons-path}/questionmark.svg"),
  ),
  refresh: (
    url: url("#{$ro-icons-path}/refresh.svg"),
  ),
  reset: (
    url: url("#{$ro-icons-path}/reset.svg"),
  ),
  search: (
    url: url("#{$ro-icons-path}/search.svg"),
  ),
  smartphone: (
    url: url("#{$ro-icons-path}/smartphone.svg"),
  ),
  sort: (
    url: url("#{$ro-icons-path}/sort.svg"),
  ),
  to-top: (
    url: url("#{$ro-icons-path}/to-top.svg"),
  ),
  trash: (
    url: url("#{$ro-icons-path}/trash.svg"),
  ),
  user: (
    url: url("#{$ro-icons-path}/user.svg"),
  ),
  warning: (
    url: url("#{$ro-icons-path}/warning.svg"),
    type: background,
  ),
);
