/*---------------------------------------------------------------*/
/*--------------------- notification-colors.scss ----------------------*/
/*---------------------------------------------------------------*/
:root {
  --base-background-color: #f0f0f0;
  --base-text-color: #000;
  --base-border-color: #a3a3a3;

  --error-background-color: #ffd9d9;
  --error-text-color: #000;
  --error-border-color: #d98383;

  --explanation-background-color: #d9edff;
  --explanation-text-color: #000;
  --explanation-border-color: #a6c1d8;
  
  --warning-background-color: #fff2d1;
  --warning-text-color: #000;
  --warning-border-color: #f6cb5f;
  
  --confirmation-background-color: #deffdb;
  --confirmation-text-color: #000;
  --confirmation-border-color: #9ac596;

  --system-background-color: #eee;
  --system-text-color: #000;
  --system-border-color: #c7c7c7;
}
