// Notification colors

@use "open-color" as color-scheme;

/* Explanation */
$color-notification-explanation-default: #{color-scheme.$oc-blue-0} !default;
$color-notification-explanation-subtle: #{color-scheme.$oc-blue-0} !default;
$color-notification-explanation-intense: #{color-scheme.$oc-blue-7} !default;

/* Confirmation */
$color-notification-confirmation-default: #{color-scheme.$oc-green-0} !default;
$color-notification-confirmation-subtle: #{color-scheme.$oc-green-0} !default;
$color-notification-confirmation-intense: #{color-scheme.$oc-green-7} !default;

/* Warning */
$color-notification-warning-default: #{color-scheme.$oc-yellow-0} !default;
$color-notification-warning-subtle: #{color-scheme.$oc-yellow-0} !default;
$color-notification-warning-intense: #{color-scheme.$oc-yellow-8} !default;

/* Error */
$color-notification-error-default: #{color-scheme.$oc-red-0} !default;
$color-notification-error-subtle: #{color-scheme.$oc-red-1} !default;
$color-notification-error-intense: #{color-scheme.$oc-red-7} !default;

/* System */
$color-notification-system-default: #{color-scheme.$oc-gray-0} !default;
$color-notification-system-subtle: #{color-scheme.$oc-gray-2} !default;
$color-notification-system-intense: #{color-scheme.$oc-gray-9} !default;
