@use "../../config";

$font-path: "#{config.$font-path}/open-sans";

$fonts: (
  (normal, italic, OpenSans-Italic),
  (bold, normal, OpenSans-Bold),
  (bold, italic, OpenSans-BoldItalic)
);

@each $weight, $style, $file in $fonts {
  @font-face {
    font-family: "Open Sans";
    font-weight: $weight;
    font-style: $style;
    src: url("#{$font-path}/#{$file}.ttf") format("truetype");
  }
}
