@use "../mixins/theming";
@use "../variables" as theme;

%accordion {
  display: flex;
  flex-direction: column;
  gap: theme.$accordion-gap;
}

%accordion-button {
  width: 100%;
  text-decoration: none;
  display: theme.$accordion-button-display;
  padding: theme.$accordion-button-padding;
  font-size: theme.$accordion-button-font-size;
  font-weight: theme.$accordion-button-font-weight;
  justify-content: theme.$accordion-button-justify-content;
  line-height: theme.$accordion-button-line-height;
  color: theme.$accordion-button-text-color;
  background-color: theme.$accordion-button-background-color;
  border-width: theme.$accordion-button-border-width;
  border-style: theme.$accordion-button-border-style;
  border-color: theme.$accordion-button-border-color;
  border-radius: theme.$accordion-button-border-radius;

  &:hover {
    color: theme.$accordion-button-hover-text-color;
    background-color: theme.$accordion-button-hover-background-color;
    border-width: theme.$accordion-button-hover-border-width;
    border-color: theme.$accordion-button-hover-border-color;
  }
}

%accordion-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: theme.$accordion-content-gap;
  padding: theme.$accordion-content-padding;
  font-size: theme.$accordion-content-font-size;
  font-weight: theme.$accordion-content-font-weight;
  line-height: theme.$accordion-content-line-height;
  border-width: theme.$accordion-content-border-width;
  border-style: theme.$accordion-content-border-style;
  border-color: theme.$accordion-content-border-color;
  background-color: theme.$accordion-content-background-color;
  color: theme.$accordion-content-text-color;
  border-radius: theme.$accordion-content-border-radius;

  > *:first-child {
    margin-top: 0;
  }
}

ul.accordion {
  padding: 0;
  width: 100%;

  @extend %accordion;

  > li {
    list-style: none;
    width: 100%;
    max-width: 100%;
    padding: 0;

    > button {
      @extend %accordion-button;
    }

    > div {
      @extend %accordion-content;
    }
  }
}

.accordion {
  @extend %accordion;

  div,
  section,
  li {
    &:first-child {
      button {
        border-width: theme.$accordion-button-first-border-width;
      }
    }
  }

  /* Accordion item */
  > div {
    width: 100%;

    > button {
      @extend %accordion-button;
    }

    > div {
      @extend %accordion-content;
    }
  }
}

section.accordion {
  > div {
    gap: 0;
  }
}

/* The expanded state */

/* Collapsed state (only when JavaScript is loaded) */
.js-accordion-loaded {
  /* The collapsed state */
  .accordion {
    width: 100%;

    button[aria-expanded="false"] {
      /* Open icon */
      @if theme.$accordion-button-icon-before-mask {
        &::before {
          mask-size: contain;
          content: "";
          margin-right: theme.$accordion-button-icon-before-margin-right;
          margin-left: theme.$accordion-button-icon-before-margin-left;
          padding-right: theme.$accordion-button-icon-before-padding-right;
          padding-left: theme.$accordion-button-icon-before-padding-left;
          background-color: theme.$accordion-button-icon-before-color;
          mask-image: theme.$accordion-button-icon-before-mask;
          width: theme.$accordion-button-icon-before-width;
          height: theme.$accordion-button-icon-before-height;
        }
      }

      @if theme.$accordion-button-icon-after-mask {
        &::after {
          mask-size: contain;
          content: "";
          margin-right: theme.$accordion-button-icon-after-margin-right;
          margin-left: theme.$accordion-button-icon-after-margin-left;
          padding-right: theme.$accordion-button-icon-after-padding-right;
          padding-left: theme.$accordion-button-icon-after-padding-left;
          background-color: theme.$accordion-button-icon-after-color;
          mask-image: theme.$accordion-button-icon-after-mask;
          width: theme.$accordion-button-icon-after-width;
          height: theme.$accordion-button-icon-after-height;
        }
      }

      & + div {
        display: none;
      }
    }

    /* The expanded state */
    button[aria-expanded="true"] {
      @include theming.apply-from-theme(
        (
          color: theme.$accordion-button-expanded-text-color,
          background-color: theme.$accordion-button-expanded-background-color,
          border-width: theme.$accordion-button-expanded-border-width,
          border-color: theme.$accordion-button-expanded-border-color,
        )
      );

      // /* Close icon */
      @if theme.$accordion-button-icon-before-closed-mask {
        &::before {
          mask-size: contain;
          content: "";
          margin-right: theme.$accordion-button-icon-before-closed-margin-right;
          margin-left: theme.$accordion-button-icon-before-closed-margin-left;
          padding-right: theme.$accordion-button-icon-before-closed-padding-right;
          padding-left: theme.$accordion-button-icon-before-closed-padding-left;
          background-color: theme.$accordion-button-icon-before-closed-color;
          mask-image: theme.$accordion-button-icon-before-closed-mask;
          width: theme.$accordion-button-icon-before-closed-width;
          height: theme.$accordion-button-icon-before-closed-height;
        }
      }

      @if theme.$accordion-button-icon-after-closed-mask {
        &::after {
          mask-size: contain;
          content: "";
          margin-right: theme.$accordion-button-icon-after-closed-margin-right;
          margin-left: theme.$accordion-button-icon-after-closed-margin-left;
          padding-right: theme.$accordion-button-icon-after-closed-padding-right;
          padding-left: theme.$accordion-button-icon-after-closed-padding-left;
          background-color: theme.$accordion-button-icon-after-closed-color;
          mask-image: theme.$accordion-button-icon-after-closed-mask;
          width: theme.$accordion-button-icon-after-closed-width;
          height: theme.$accordion-button-icon-after-closed-height;
        }
      }
    }
  }
}
