@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

main article {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @if validators.any-args-not-null(
    theme.$article-flex-direction,
    theme.$article-gap,
    theme.$article-justify-content,
    theme.$article-align-items
  )
  {
    display: flex;
  }

  @include theming.apply-from-theme(
    (
      flex-direction: theme.$article-flex-direction,
      justify-content: theme.$article-justify-content,
      align-items: theme.$article-align-items,
      gap: theme.$article-gap,
      padding-top: theme.$article-padding-top,
      padding-right: theme.$article-padding-right,
      padding-bottom: theme.$article-padding-bottom,
      padding-left: theme.$article-padding-left,
      max-width: theme.$article-max-width,
    )
  );
}
