@use "../mixins/apply-from-theme";
@use "../variables" as theme;

main > article > div > section {
  @include apply-from-theme.apply-from-theme(
    (
      border-width: theme.$article-section-divider-line-border-width,
      border-style: theme.$article-section-divider-line-border-style,
      border-color: theme.$article-section-divider-line-border-color,
      padding: theme.$article-section-divider-line-padding,
    )
  );
}
