@use "../variables" as theme;

article {
  width: 100%;
  flex-direction: theme.$article-flex-direction;
  min-width: 0;
  align-items: theme.$article-align-items;
  background-color: theme.$article-background-color;
  justify-content: theme.$article-justify-content;
  gap: theme.$article-gap;
  padding-top: theme.$article-padding-top;
  padding-right: theme.$article-padding-right;
  padding-bottom: theme.$article-padding-bottom;
  padding-left: theme.$article-padding-left;
  max-width: theme.$article-max-width;
  border-radius: theme.$article-border-radius;

  @if theme.$article-max-width {
    margin: 0 auto;
  }

  @if theme.$article-padding-top or
    theme.$article-padding-right or
    theme.$article-padding-bottom or
    theme.$article-padding-left
  {
    box-sizing: border-box;
  }

  @if theme.$article-flex-direction or
    theme.$article-gap or
    theme.$article-justify-content
  {
    display: flex;
  }

  .content-wrapper {
    flex-direction: theme.$article-content-wrapper-flex-direction;
    align-items: theme.$article-content-wrapper-align-items;
    background-color: theme.$article-content-wrapper-background-color;
    justify-content: theme.$article-content-wrapper-justify-content;
    gap: theme.$article-content-wrapper-gap;
    padding-top: theme.$article-content-wrapper-padding-top;
    padding-right: theme.$article-content-wrapper-padding-right;
    padding-bottom: theme.$article-content-wrapper-padding-bottom;
    padding-left: theme.$article-content-wrapper-padding-left;
    max-width: theme.$article-content-wrapper-max-width;
    border-radius: theme.$article-content-wrapper-border-radius;

    @if theme.$article-content-wrapper-gap or
      theme.$article-content-wrapper-justify-content
    {
      display: flex;
      width: 100%;
    }

    @if theme.$article-content-wrapper-max-width {
      margin: 0 auto;
    }

    @if theme.$article-content-wrapper-padding-top or
      theme.$article-content-wrapper-padding-right or
      theme.$article-content-wrapper-padding-bottom or
      theme.$article-content-wrapper-padding-left
    {
      box-sizing: border-box;
    }
  }
}
