@use "../variables" as theme;

.avatar {
  width: theme.$avatar-width;
  height: theme.$avatar-height;
  min-width: theme.$avatar-min-width;
  min-height: theme.$avatar-min-height;
  max-width: theme.$avatar-max-width;
  max-height: theme.$avatar-max-height;
  padding: theme.$avatar-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: theme.$avatar-text-text-decoration;
  font-size: theme.$avatar-text-font-size;
  font-weight: theme.$avatar-font-weight;
  border-radius: theme.$avatar-border-radius;
  background-color: theme.$avatar-background-color;
  color: theme.$avatar-text-color;

  &:hover {
    background-color: theme.$avatar-hover-background-color;
    color: theme.$avatar-hover-text-color;
  }

  &:focus-visible {
    background-color: theme.$avatar-focus-background-color;
    outline: theme.$avatar-focus-outline;
    outline-offset: theme.$avatar-focus-outline-offset;
  }
}
