@use "../mixins/theming";
@use "../variables" as theme;

.page-header .breadcrumb-bar,
.breadcrumb-bar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;

  @include theming.apply-from-theme(
    (
      flex-direction: theme.$breadcrumb-bar-flex-direction,
      justify-content: theme.$breadcrumb-bar-justify-content,
      align-items: theme.$breadcrumb-bar-align-items,
      gap: theme.$breadcrumb-bar-gap,
      min-height: theme.$breadcrumb-bar-min-height,
      padding-top: theme.$breadcrumb-bar-padding-top,
      padding-right: theme.$breadcrumb-bar-padding-right,
      padding-bottom: theme.$breadcrumb-bar-padding-bottom,
      padding-left: theme.$breadcrumb-bar-padding-left,
      max-width: theme.$breadcrumb-bar-max-width,
      background-color: theme.$breadcrumb-bar-background-color,
      color: theme.$breadcrumb-bar-text-color,
      border-width: theme.$breadcrumb-bar-border-width,
      border-style: theme.$breadcrumb-bar-border-style,
      border-color: theme.$breadcrumb-bar-border-color,
      border-radius: theme.$breadcrumb-bar-border-radius,
      font-size: theme.$breadcrumb-bar-font-size,
      font-weight: theme.$breadcrumb-bar-font-weight,
    )
  );

  // content block
  > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    align-self: center;

    @include theming.apply-from-theme(
      (
        padding-top: theme.$breadcrumb-bar-content-block-padding-top,
        padding-right: theme.$breadcrumb-bar-content-block-padding-right,
        padding-bottom: theme.$breadcrumb-bar-content-block-padding-bottom,
        padding-left: theme.$breadcrumb-bar-content-block-padding-left,
        gap: theme.$breadcrumb-bar-content-block-gap,
        max-width: theme.$breadcrumb-bar-content-block-max-width,
      )
    );
  }

  ul,
  ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: inherit;
    background-color: transparent;

    @include theming.apply-from-theme(
      (
        flex-direction: theme.$breadcrumb-bar-flex-direction,
        justify-content: theme.$breadcrumb-bar-justify-content,
        align-items: theme.$breadcrumb-bar-align-items,
        gap: theme.$breadcrumb-bar-gap,
        min-height: theme.$breadcrumb-bar-min-height,
        padding-top: theme.$breadcrumb-bar-padding-top,
        padding-right: theme.$breadcrumb-bar-padding-right,
        padding-bottom: theme.$breadcrumb-bar-padding-bottom,
        padding-left: theme.$breadcrumb-bar-padding-left,
        max-width: theme.$breadcrumb-bar-max-width,
        background-color: theme.$breadcrumb-bar-background-color,
        color: theme.$breadcrumb-bar-text-color,
        border-width: theme.$breadcrumb-bar-border-width,
        border-style: theme.$breadcrumb-bar-border-style,
        border-color: theme.$breadcrumb-bar-border-color,
        border-radius: theme.$breadcrumb-bar-border-radius,
      )
    );

    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      list-style: none;

      @include theming.apply-from-theme(
        (
          gap: theme.$breadcrumb-bar-list-item-gap,
        )
      );

      &::before {
        display: none;
        /* Preventing default nav before to show up */
      }

      &::after {
        & {
          @include theming.apply-from-theme(
            (
              margin-left: theme.$breadcrumb-bar-icon-margin-left,
              margin-right: theme.$breadcrumb-bar-icon-margin-right,
            )
          );
        }
      }

      &:hover {
        @include theming.apply-from-theme(
          (
            color: theme.$breadcrumb-bar-hover-text-color,
          )
        );

        &::after {
          @include theming.apply-from-theme(
            (
              color: theme.$breadcrumb-bar-text-color,
            )
          );
        }
      }

      &:last-child {
        @include theming.apply-from-theme(
          (
            font-weight: theme.$breadcrumb-bar-list-item-last-child-font-weight,
          )
        );

        &::after {
          content: none;
        }
      }

      a {
        /* Break words that won't fit the available space */
        overflow-wrap: anywhere;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;

        @include theming.apply-from-theme(
          (
            white-space: theme.$breadcrumb-bar-link-white-space,
            padding-right: theme.$breadcrumb-bar-link-padding-right,
            padding-left: theme.$breadcrumb-bar-link-padding-left,
            text-decoration: theme.$breadcrumb-bar-link-text-decoration,
          )
        );

        &:hover {
          border: 0;

          @include theming.apply-from-theme(
            (
              text-decoration: theme.$breadcrumb-bar-link-hover-text-decoration,
            )
          );
        }
      }

      //Icon
      &::before {
        position: static;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        font-style: normal;

        @include theming.apply-from-theme(
          (
            font-family: theme.$breadcrumb-bar-icon-font-family,
            font-size: theme.$breadcrumb-bar-icon-font-size,
            line-height: theme.$breadcrumb-bar-icon-line-height,
            text-decoration: theme.$breadcrumb-bar-icon-text-decoration,
            padding-right: theme.$breadcrumb-bar-icon-padding-right,
            padding-left: theme.$breadcrumb-bar-icon-padding-left,
            background-color: theme.$breadcrumb-bar-icon-background-color,
            color: theme.$breadcrumb-bar-icon-text-color,
            content: theme.$breadcrumb-bar-icon-content,
          )
        );
      }

      &.icon,
      .icon {
        &::before {
          position: static;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 0;
          font-style: normal;

          @include theming.apply-from-theme(
            (
              font-family: theme.$breadcrumb-bar-icon-font-family,
              font-size: theme.$breadcrumb-bar-icon-font-size,
              line-height: theme.$breadcrumb-bar-icon-line-height,
              text-decoration: theme.$breadcrumb-bar-icon-text-decoration,
              padding-right: theme.$breadcrumb-bar-icon-padding-right,
              padding-left: theme.$breadcrumb-bar-icon-padding-left,
              background-color: theme.$breadcrumb-bar-icon-background-color,
              color: theme.$breadcrumb-bar-icon-text-color,
            )
          );
        }
      }

      > span.icon:last-of-type:not(:only-of-type) {
        @include theming.apply-from-theme(
          (
            padding-right: theme.$breadcrumb-bar-icon-last-padding-right,
            padding-left: theme.$breadcrumb-bar-icon-last-padding-left,
          )
        );
      }
    }
  }
}
