@use "../variables" as theme;

.breadcrumb-bar,
.page-header .breadcrumb-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  flex-direction: theme.$breadcrumb-bar-flex-direction;
  justify-content: theme.$breadcrumb-bar-justify-content;
  align-items: theme.$breadcrumb-bar-align-items;
  gap: theme.$breadcrumb-bar-gap;
  min-height: theme.$breadcrumb-bar-min-height;
  padding-top: theme.$breadcrumb-bar-padding-top;
  padding-right: theme.$breadcrumb-bar-padding-right;
  padding-bottom: theme.$breadcrumb-bar-padding-bottom;
  padding-left: theme.$breadcrumb-bar-padding-left;
  max-width: theme.$breadcrumb-bar-max-width;
  background-color: theme.$breadcrumb-bar-background-color;
  color: theme.$breadcrumb-bar-text-color;
  border-width: theme.$breadcrumb-bar-border-width;
  border-style: theme.$breadcrumb-bar-border-style;
  border-color: theme.$breadcrumb-bar-border-color;
  border-radius: theme.$breadcrumb-bar-border-radius;
  font-size: theme.$breadcrumb-bar-font-size;
  font-weight: theme.$breadcrumb-bar-font-weight;

  // content wrapper
  > div.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    height: theme.$breadcrumb-bar-content-wrapper-height;
    padding-top: theme.$breadcrumb-bar-content-wrapper-padding-top;
    padding-right: theme.$breadcrumb-bar-content-wrapper-padding-right;
    padding-bottom: theme.$breadcrumb-bar-content-wrapper-padding-bottom;
    padding-left: theme.$breadcrumb-bar-content-wrapper-padding-left;
    gap: theme.$breadcrumb-bar-content-wrapper-gap;
    max-width: theme.$breadcrumb-bar-content-wrapper-max-width;
  }

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: theme.$breadcrumb-bar-flex-direction;
    justify-content: theme.$breadcrumb-bar-justify-content;
    align-items: theme.$breadcrumb-bar-align-items;
    gap: theme.$breadcrumb-bar-gap;
    min-height: theme.$breadcrumb-bar-min-height;
    padding-top: theme.$breadcrumb-bar-padding-top;
    padding-right: theme.$breadcrumb-bar-padding-right;
    padding-bottom: theme.$breadcrumb-bar-padding-bottom;
    padding-left: theme.$breadcrumb-bar-padding-left;
    max-width: theme.$breadcrumb-bar-max-width;
    background-color: theme.$breadcrumb-bar-background-color;
    color: theme.$breadcrumb-bar-text-color;
    border-width: theme.$breadcrumb-bar-border-width;
    border-style: theme.$breadcrumb-bar-border-style;
    border-color: theme.$breadcrumb-bar-border-color;
    border-radius: theme.$breadcrumb-bar-border-radius;

    li {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      list-style: none;
      gap: theme.$breadcrumb-bar-list-item-gap;

      &::after {
        margin-left: theme.$breadcrumb-bar-icon-margin-left;
        margin-right: theme.$breadcrumb-bar-icon-margin-right;
      }

      &:last-child {
        font-weight: theme.$breadcrumb-bar-list-item-last-child-font-weight;

        &::after {
          content: none;
        }
      }

      &:hover {
        color: theme.$breadcrumb-bar-hover-text-color;

        &::after {
          color: theme.$breadcrumb-bar-text-color;
        }
      }

      a {
        /* Break words that won't fit the available space */
        overflow-wrap: anywhere;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        white-space: theme.$breadcrumb-bar-link-white-space;
        padding-right: theme.$breadcrumb-bar-link-padding-right;
        padding-left: theme.$breadcrumb-bar-link-padding-left;
        text-decoration: theme.$breadcrumb-bar-link-text-decoration;

        &:hover {
          border: 0;
          text-decoration: theme.$breadcrumb-bar-link-hover-text-decoration;
        }
      }

      // Icon
      @if theme.$breadcrumb-bar-icon-mask {
        &::after {
          mask-size: contain;
          content: "";
          margin-right: theme.$breadcrumb-bar-icon-margin-right;
          margin-left: theme.$breadcrumb-bar-icon-margin-left;
          padding-right: theme.$breadcrumb-bar-icon-padding-right;
          padding-left: theme.$breadcrumb-bar-icon-padding-left;
          background-color: theme.$breadcrumb-bar-icon-color;
          mask-image: theme.$breadcrumb-bar-icon-mask;
          width: theme.$breadcrumb-bar-icon-width;
          height: theme.$breadcrumb-bar-icon-height;
        }
      }
    }
  }
}
