@use "../variables" as theme;

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.destructive {
    background-color: theme.$button-destructive-background-color;
    color: theme.$button-destructive-text-color;
    border-color: theme.$button-destructive-border-color;

    &:hover {
      background-color: theme.$button-destructive-hover-background-color;
      color: theme.$button-destructive-hover-text-color;
      border-color: theme.$button-destructive-hover-border-color;
    }
  }
}
