@use "../variables" as theme;
@use "../functions/validators";

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.secondary {
    margin: 0;
    box-sizing: border-box;
    width: auto;
    justify-content: theme.$button-secondary-justify-content;
    align-items: center;
    align-self: flex-start;
    gap: theme.$button-secondary-gap;
    background-color: theme.$button-secondary-background-color;
    color: theme.$button-secondary-text-color;
    font-family: theme.$button-secondary-font-family;
    font-size: theme.$button-secondary-font-size;
    font-weight: theme.$button-secondary-font-weight;
    line-height: theme.$button-secondary-line-height;
    text-decoration: theme.$button-secondary-text-decoration;
    text-align: theme.$button-secondary-text-align;
    padding-top: theme.$button-secondary-padding-top;
    padding-right: theme.$button-secondary-padding-right;
    padding-bottom: theme.$button-secondary-padding-bottom;
    padding-left: theme.$button-secondary-padding-left;
    min-width: theme.$button-secondary-min-width;
    height: theme.$button-secondary-height;
    min-height: theme.$button-secondary-min-height;
    border-width: theme.$button-secondary-border-width;
    border-style: theme.$button-secondary-border-style;
    border-color: theme.$button-secondary-border-color;
    border-radius: theme.$button-secondary-border-radius;
    cursor: theme.$button-secondary-cursor;
    overflow-wrap: theme.$button-secondary-overflow-wrap;
    max-width: theme.$button-secondary-image-max-width;

    &:hover,
    &.hover {
      background-color: theme.$button-secondary-hover-background-color;
      color: theme.$button-secondary-hover-text-color;
      border-color: theme.$button-secondary-hover-border-color;
      border-width: theme.$button-secondary-hover-border-width;
      border-style: theme.$button-secondary-hover-border-style;
      border-radius: theme.$button-secondary-hover-border-radius;
    }

    &:active,
    &.active {
      background-color: theme.$button-secondary-active-background-color;
      color: theme.$button-secondary-active-text-color;
      border-style: theme.$button-secondary-active-border-style;
      border-color: theme.$button-secondary-active-border-color;
      border-width: theme.$button-secondary-active-border-width;
      border-radius: theme.$button-secondary-active-border-radius;
      outline: theme.$button-secondary-active-outline;
      outline-offset: theme.$button-secondary-active-outline-offset;
    }

    &:focus,
    &.focus {
      border-style: theme.$button-secondary-focus-border-style;
      border-color: theme.$button-secondary-focus-border-color;
      border-width: theme.$button-secondary-focus-border-width;
      border-radius: theme.$button-secondary-focus-border-radius;
      background-color: theme.$button-secondary-focus-background-color;
      color: theme.$button-secondary-focus-text-color;
      outline: theme.$button-secondary-focus-outline;
      outline-width: theme.$button-secondary-focus-outline-width;
      outline-offset: theme.$button-secondary-focus-outline-offset;
      outline-color: theme.$button-secondary-focus-outline-color;
      z-index: theme.$button-secondary-focus-z-index;
      box-shadow: theme.$button-secondary-focus-box-shadow;
    }

    > img {
      max-width: theme.$button-secondary-image-max-width;
    }

    > * {
      pointer-events: none;
    }

    @media (width >= #{theme.$button-secondary-breakpoint}) {
      min-width: theme.$button-secondary-breakpoint-min-width;
      display: theme.$button-secondary-breakpoint-display;
    }
  }
}

a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: flex;
}

a.button,
a:visited.button {
  &.secondary {
    color: theme.$link-button-secondary-text-color;
  }
}

a.button.secondary {
  &:visited,
  &.visited {
    outline: theme.$button-secondary-visited-outline;
    outline-offset: theme.$button-secondary-visited-outline-offset;
    outline-color: theme.$button-secondary-visited-outline-color;
    z-index: theme.$button-secondary-visited-z-index;
    box-shadow: theme.$button-secondary-visited-box-shadow;
  }
}
