@use "../variables" as theme;

button,
a.button,
a.button:visited,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  overflow-wrap: break-word;
  width: auto;
  align-items: center;
  box-sizing: border-box;
  font-weight: theme.$button-font-weight;
  justify-content: theme.$button-justify-content;
  gap: theme.$button-gap;
  background-color: theme.$button-background-color;
  color: theme.$button-text-color;
  font-family: theme.$button-font-family;
  font-size: theme.$button-font-size;
  line-height: theme.$button-line-height;
  text-decoration: theme.$button-text-decoration;
  text-align: theme.$button-text-align;
  padding-top: theme.$button-padding-top;
  padding-right: theme.$button-padding-right;
  padding-bottom: theme.$button-padding-bottom;
  padding-left: theme.$button-padding-left;
  min-width: theme.$button-min-width;
  height: theme.$button-height;
  min-height: theme.$button-min-height;
  border-width: theme.$button-border-width;
  border-style: theme.$button-border-style;
  border-color: theme.$button-border-color;
  border-radius: theme.$button-border-radius;
  margin: theme.$button-margin;

  &:hover,
  &.hover {
    background-color: theme.$button-hover-background-color;
    color: theme.$button-hover-text-color;
    border-color: theme.$button-hover-border-color;
    border-width: theme.$button-hover-border-width;
    border-style: theme.$button-hover-border-style;
    border-radius: theme.$button-hover-border-radius;
  }

  &:active,
  &.active {
    background-color: theme.$button-active-background-color;
    color: theme.$button-active-text-color;
    border-style: theme.$button-active-border-style;
    border-color: theme.$button-active-border-color;
    border-width: theme.$button-active-border-width;
    border-radius: theme.$button-active-border-radius;
    outline: theme.$button-active-outline;
    outline-offset: theme.$button-active-outline-offset;
  }

  &:focus,
  &.focus {
    border-style: theme.$button-focus-border-style;
    border-color: theme.$button-focus-border-color;
    border-width: theme.$button-focus-border-width;
    border-radius: theme.$button-focus-border-radius;
    background-color: theme.$button-focus-background-color;
    color: theme.$button-focus-text-color;
    outline: theme.$button-focus-outline;
    outline-offset: theme.$button-focus-outline-offset;
    outline-color: theme.$button-focus-outline-color;
    z-index: theme.$button-focus-z-index;
    box-shadow: theme.$button-focus-box-shadow;
  }

  > img {
    max-width: theme.$button-image-max-width;
  }

  > * {
    pointer-events: none;
  }

  @media (width >= 24rem) {
    display: flex;
  }
}

a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-flex;
  cursor: pointer;
}

a.button {
  text-decoration: none;

  color: theme.$button-text-color;

  &:visited,
  &.visited {
    outline: theme.$button-visited-outline;
    outline-offset: theme.$button-visited-outline-offset;
    outline-color: theme.$button-visited-outline-color;
    z-index: theme.$button-visited-z-index;
    box-shadow: theme.$button-visited-box-shadow;
    border-radius: theme.$button-visited-outline-border-radius;
    color: theme.$button-visited-text-color;
  }
}
