@use "../variables" as theme;

.to-top,
button.to-top,
a.button.to-top {
  padding: 0;
  position: theme.$button-to-top-position;
  bottom: theme.$button-to-top-bottom;
  right: theme.$button-to-top-right;
  left: theme.$button-to-top-left;
  font-size: theme.$button-to-top-font-size;
  width: theme.$button-to-top-width;
  height: theme.$button-to-top-height;
  min-width: theme.$button-to-top-min-width;
  min-height: theme.$button-to-top-min-height;
  border-radius: theme.$button-to-top-border-radius;
  border-width: theme.$button-to-top-border-width;
  border-style: theme.$button-to-top-border-style;
  border-color: theme.$button-to-top-border-color;
  background-color: theme.$button-to-top-background-color;
  color: theme.$button-to-top-text-color;
  gap: theme.$button-to-top-gap;
  justify-content: theme.$button-to-top-justify-content;
  align-items: theme.$button-to-top-align-items;

  @if theme.$button-to-top-icon-mask {
    &::after {
      mask-size: contain;
      content: "";
      margin-right: theme.$button-to-top-icon-margin-right;
      margin-left: theme.$button-to-top-icon-margin-left;
      padding-right: theme.$button-to-top-icon-padding-right;
      padding-left: theme.$button-to-top-icon-padding-left;
      background-color: theme.$button-to-top-icon-color;
      mask-image: theme.$button-to-top-icon-mask;
      width: theme.$button-to-top-icon-width;
      height: theme.$button-to-top-icon-height;
    }
  }

  &:hover {
    background-color: theme.$button-to-top-hover-background-color;
    color: theme.$button-to-top-hover-text-color;
  }

  &:hover,
  &:focus,
  &:active {
    border-radius: theme.$button-to-top-border-radius;
    border-color: theme.$button-to-top-border-color;
  }
}
