@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include theming.apply-from-theme(
    (
      justify-content: theme.$button-base-justify-content,
      align-items: center,
      align-self: flex-start,
      gap: theme.$button-base-gap,
      background-color: theme.$button-base-background-color,
      color: theme.$button-base-text-color,
      font-family: theme.$button-base-font-family,
      font-size: theme.$button-base-font-size,
      font-weight: theme.$button-base-font-weight,
      line-height: theme.$button-base-line-height,
      text-decoration: theme.$button-base-text-decoration,
      text-align: theme.$button-base-text-align,
      padding-top: theme.$button-base-padding-top,
      padding-right: theme.$button-base-padding-right,
      padding-bottom: theme.$button-base-padding-bottom,
      padding-left: theme.$button-base-padding-left,
      min-width: theme.$button-base-min-width,
      height: theme.$button-base-height,
      min-height: theme.$button-base-min-height,
      border-width: theme.$button-base-border-width,
      border-style: theme.$button-base-border-style,
      border-color: theme.$button-base-border-color,
      border-radius: theme.$button-base-border-radius,
      webkit-border-radius: theme.$button-base-webkit-border-radius,
      webkit-appearance: theme.$button-base-webkit-appearance,
      cursor: theme.$button-base-cursor,
      overflow-wrap: theme.$button-base-overflow-wrap,
    )
  );
  margin: 0;
  box-sizing: border-box;
  width: auto;

  &:hover,
  &.hover {
    @include theming.apply-from-theme(
      (
        background-color: theme.$button-base-hover-background-color,
        color: theme.$button-base-hover-text-color,
        border-color: theme.$button-base-hover-border-color,
        border-width: theme.$button-base-hover-border-width,
        border-style: theme.$button-base-hover-border-style,
        border-radius: theme.$button-base-hover-border-radius,
      )
    );
  }

  &:active,
  &.active {
    @include theming.apply-from-theme(
      (
        background-color: theme.$button-base-active-background-color,
        color: theme.$button-base-active-text-color,
        border-style: theme.$button-base-active-border-style,
        border-color: theme.$button-base-active-border-color,
        border-width: theme.$button-base-active-border-width,
        border-radius: theme.$button-base-active-border-radius,
      )
    );
  }

  &:focus,
  &.focus {
    @include theming.apply-from-theme(
      (
        border-style: theme.$button-base-focus-border-style,
        border-color: theme.$button-base-focus-border-color,
        border-width: theme.$button-base-focus-border-width,
        border-radius: theme.$button-base-focus-border-radius,
        background-color: theme.$button-base-focus-background-color,
        color: theme.$button-base-focus-text-color,
        outline: theme.$button-base-outline,
        outline-offset: theme.$button-base-outline-offset,
        outline-color: theme.$button-base-outline-color,
        z-index: theme.$button-base-z-index,
        box-shadow: theme.$button-base-box-shadow,
        border-radius: theme.$button-base-outline-border-radius,
      )
    );

    &:visited,
    &.visited {
      @include theming.apply-from-theme(
        (
          outline: theme.$button-base-outline,
          outline-offset: theme.$button-base-outline-offset,
          outline-color: theme.$button-base-outline-color,
          z-index: theme.$button-base-z-index,
          box-shadow: theme.$button-base-box-shadow,
          border-radius: theme.$button-base-outline-border-radius,
        )
      );
    }
  }

  > img {
    max-width: theme.$button-base-image-max-width;
  }

  > * {
    pointer-events: none;
  }

  @media (width >= 24rem) {
    min-width: theme.$button-base-breakpoint-min-width;
    display: flex;
  }
}

a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: flex;
}

a.button,
a:visited.button {
  @include theming.apply-from-theme(
    (
      color: theme.$link-button-base-text-color,
    )
  );
}
