@use "../mixins/theming";
@use "../variables" as theme;

$breakpoint: 24rem !default;

.button-container {
  display: flex;
  margin: 0;

  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    width: 100%;
    max-width: 100%;
  }

  @media (width >= $breakpoint) {
    button,
    a.button,
    input[type="button"],
    input[type="submit"],
    input[type="reset"] {
      width: auto;
      max-width: 100%;
      flex-grow: 0;
    }
  }

  @include theming.apply-from-theme(
    (
      flex-direction: theme.$button-container-flex-direction,
      align-items: theme.$button-container-align-items,
      flex-wrap: theme.$button-container-flex-wrap,
      gap: theme.$button-container-gap,
      padding-top: theme.$button-container-padding-top,
      padding-right: theme.$button-container-padding-right,
      padding-bottom: theme.$button-container-padding-bottom,
      padding-left: theme.$button-container-padding-left,
    )
  );
}
