@use "../mixins/theming";
@use "../variables" as theme;

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.round {
    margin: auto 0;
    min-width: initial;
    border-radius: 50%;
    width: 2.75rem;
    height: 2.75rem;
  }
}
