@use "../mixins/theming";
@use "../variables" as theme;

$breakpoint-1: 24rem !default;
$breakpoint-2: 42rem !default;

section,
article,
div,
p,
span,
main > section > div,
main.sidemenu div > section > div {
  &.card {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;

    @include theming.apply-from-theme(
      (
        gap: theme.$card-gap,
        padding-top: theme.$card-padding-top,
        padding-right: theme.$card-padding-right,
        padding-bottom: theme.$card-padding-bottom,
        padding-left: theme.$card-padding-left,
        background-color: theme.$card-background-color,
        color: theme.$card-text-color,
        border-radius: theme.$card-border-radius,
        width: theme.$card-width,
        max-width: theme.$card-max-width,
        -webkit-box-shadow: theme.$card-box-shadow,
        box-shadow: theme.$card-box-shadow,
        border-width: theme.$card-border-width,
        border-style: theme.$card-border-style,
        border-color: theme.$card-border-color,
      )
    );

    @media (width >= $breakpoint-1) {
      @include theming.apply-from-theme(
        (
          gap: theme.$card-breakpoint-1-gap,
          padding-top: theme.$card-breakpoint-1-padding-top,
          padding-right: theme.$card-breakpoint-1-padding-right,
          padding-bottom: theme.$card-breakpoint-1-padding-bottom,
          padding-left: theme.$card-breakpoint-1-padding-left,
          max-width: theme.$card-breakpoint-1-max-width,
          border-radius: theme.$card-breakpoint-1-border-radius,
        )
      );
    }

    @media (width >= $breakpoint-2) {
      @include theming.apply-from-theme(
        (
          gap: theme.$card-breakpoint-2-gap,
          padding-top: theme.$card-breakpoint-2-padding-top,
          padding-right: theme.$card-breakpoint-2-padding-right,
          padding-bottom: theme.$card-breakpoint-2-padding-bottom,
          padding-left: theme.$card-breakpoint-2-padding-left,
          max-width: theme.$card-breakpoint-2-max-width,
          border-radius: theme.$card-breakpoint-2-border-radius,
        )
      );
    }
  }
}
