@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

@mixin checkbox-input {
  input[type="checkbox"] {
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 3px;
    width: theme.$checkbox-width;
    height: theme.$checkbox-height;
    accent-color: theme.$checkbox-accent-color;

    & + label {
      font-weight: normal;
      cursor: pointer;
      width: theme.$checkbox-label-width;

      &:focus {
        outline: 2px solid #339af0;
      }
    }

    &:disabled {
      cursor: not-allowed;

      & + label {
        cursor: not-allowed;
      }
    }
  }
}
@mixin checkbox {
  .checkbox {
    padding: 0;
    margin: 0 0 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: theme.$checkbox-gap;
    align-items: theme.$checkbox-align-items;

    @include checkbox-input;

    &.required {
      flex-direction: column;
      align-items: flex-start;
      gap: theme.$checkbox-required-gap;
      justify-content: theme.$radio-align-items;

      > div {
        padding: 0;
        display: flex;
        flex-direction: row;
        gap: theme.$checkbox-gap;
      }
    }

    + .nota-bene {
      padding: 0;
      margin: 0;
    }
  }
}
