@use "../mixins/theming";
@use "../variables" as theme;

pre,
div.code-block {
  display: flex;
  overflow: auto;
  overflow-x: auto;
  width: 100%;
  box-sizing: border-box;
  margin: 0;

  @include apply-from-theme.apply-from-theme(
    (
      max-width: theme.$code-block-max-width,
      padding: theme.$code-block-padding,
      background-color: theme.$code-block-background-color,
      color: theme.$code-block-text-color,
      border-width: theme.$code-block-border-width,
      border-style: theme.$code-block-border-style,
      border-color: theme.$code-block-border-color,
    )
  );

  > code {
    white-space: unset;
    @include theming.apply-from-theme(
      (
        background-color: theme.$code-block-code-background-color,
        padding: theme.$code-block-code-padding,
      )
    );
  }
}

div.code-block {
  font-family: monospace;
  white-space: pre;
}
