@use "../variables" as theme;

$breakpoint: 24rem !default;

%code {
  width: 100%;
  box-sizing: border-box;
  background-color: theme.$code-background-color;
  color: theme.$code-text-color;
  word-break: theme.$code-word-break;
  overflow-wrap: theme.$code-overflow-wrap;
  padding: theme.$code-padding;
  border-width: theme.$code-border-width;
  border-style: theme.$code-border-style;
  border-color: theme.$code-border-color;
  border-radius: theme.$code-border-radius;

  @media (width >= $breakpoint) {
    word-break: theme.$code-breakpoint-word-break;
    overflow-wrap: theme.$code-breakpoint-overflow-wrap;
  }
}

/* Code */
code {
  @extend %code;

  font-size: theme.$code-font-size;
}

/* Code within text elements */
span,
li,
p {
  > code {
    @extend %code;
  }
}

/* Code within headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  > code {
    @extend %code;
  }
}

/* Code within links */
a {
  &:hover,
  &:visited,
  &:focus,
  &:active {
    > code {
      @extend %code;
    }
  }
}
