@use "../mixins/theming";
@use "../variables" as theme;

form {
  input[type="color"] {
    &.filled {
      padding: 0;
      -webkit-appearance: none;
      border: none;

      @include theming.apply-from-theme(
        (
          border-radius: theme.$color-picker-border-radius,
        )
      );

      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }

      &::-webkit-color-swatch {
        border: none;
      }
    }
  }
}
