@use "../mixins/theming";
@use "../variables" as theme;

/* color input */
form {
  input[type="color"] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    cursor: pointer;
    box-sizing: border-box;
    width: theme.$color-picker-width;
    height: theme.$color-picker-height;
    padding: theme.$color-picker-padding;

    &.filled {
      padding: 0;
      -webkit-appearance: none;
      border: none;

      @include theming.apply-from-theme(
        (
          border-radius: theme.$color-picker-border-radius,
        )
      );

      &::-webkit-color-swatch-wrapper {
        padding: 0;
      }

      &::-webkit-color-swatch {
        border: none;
      }
    }
  }
}
