@use "../variables" as theme;

/* color input */

input[type="color"] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  cursor: pointer;
  box-sizing: border-box;
  width: theme.$color-picker-width;
  height: theme.$color-picker-height;
  padding: theme.$color-picker-padding;

  -webkit-appearance: theme.$color-picker-appearance;
  appearance: theme.$color-picker-appearance;
  border: theme.$color-picker-border;
  border-radius: theme.$color-picker-border-radius;

  &::-webkit-color-swatch-wrapper {
    padding: theme.$color-picker-color-swatch-wrapper-padding;
  }

  &::-webkit-color-swatch {
    border: theme.$color-picker-color-swatch-border;
    border-radius: theme.$color-picker-color-swatch-border-radius;
  }
}
