@use "../variables" as theme;

table {
  .critical,
  .high,
  .medium,
  .low,
  .informational {
    display: inline-block;
    padding: theme.$critical-informational-labels-padding;
    min-width: theme.$critical-informational-labels-min-width;
    text-align: theme.$critical-informational-labels-text-align;
  }
}
