@use "../mixins/theming";
@use "../variables" as theme;

.de-emphasized {
  @include theming.apply-from-theme(
    (
      font-size: theme.$de-emphasized-font-size,
      font-weight: theme.$de-emphasized-font-weight,
      line-height: theme.$de-emphasized-line-height,
      color: theme.$de-emphasized-text-color,
    )
  );
}
