@use "../mixins/theming";
@use "../variables" as theme;

$breakpoint: 24rem !default;

%dl-styling {
  margin: 0;
  @include apply-from-theme.apply-from-theme(
    (
      width: theme.$description-list-width,
      max-width: theme.$description-list-max-width,
    )
  );

  > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include apply-from-theme.apply-from-theme(
      (
        flex-direction: theme.$description-list-item-flex-direction,
        gap: theme.$description-list-item-gap,
        padding: theme.$description-list-item-padding,
        border-width: theme.$description-list-border-width,
        border-style: theme.$description-list-border-style,
        border-color: theme.$description-list-border-color,
      )
    );

    &:nth-child(odd) {
      @include apply-from-theme.apply-from-theme(
        (
          background-color: theme.$description-list-item-odd-background-color,
        )
      );
    }
  }

  dt,
  dd {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    margin: 0;
    @include apply-from-theme.apply-from-theme(
      (
        white-space: theme.$description-list-item-white-space,
      )
    );
  }

  dt {
    @include apply-from-theme.apply-from-theme(
      (
        font-weight: theme.$description-list-item-title-font-weight,
        background-color: theme.$description-list-item-title-background-color,
        color: theme.$description-list-item-title-text-color,
        padding: theme.$description-list-item-title-padding,
        width: theme.$description-list-item-title-width,
      )
    );
  }

  dd {
    @include apply-from-theme.apply-from-theme(
      (
        background-color: theme.$description-list-item-data-background-color,
        color: theme.$description-list-item-data-text-color,
        padding: theme.$description-list-item-data-padding,
        font-weight: theme.$description-list-item-data-font-weight,
        width: theme.$description-list-item-data-width,
      )
    );
  }

  @media (width >= $breakpoint) {
    div {
      @include theming.apply-from-theme(
        (
          flex-direction:
            theme.$description-list-item-flex-direction-after-breakpoint,
        )
      );
    }
  }
}

main div,
main section,
main section > div,
main article,
main article > div {
  form fieldset dl,
  form dl,
  dl {
    @extend %dl-styling;
  }
}

dl {
  @extend %dl-styling;
}
