@use "../variables" as theme;

dl {
  $breakpoint-1: 24rem !default;
  $breakpoint-2: 50rem !default;

  margin: theme.$description-list-margin;
  width: theme.$description-list-width;
  max-width: theme.$description-list-max-width;

  > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: theme.$description-list-item-flex-direction;
    gap: theme.$description-list-item-gap;
    padding: theme.$description-list-item-padding;
    border-width: theme.$description-list-border-width;
    border-style: theme.$description-list-border-style;
    border-color: theme.$description-list-border-color;

    &:nth-child(odd) {
      background-color: theme.$description-list-item-odd-background-color;
    }
  }

  dt,
  dd {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    margin: 0;
    white-space: theme.$description-list-item-white-space;
  }

  dt {
    font-weight: theme.$description-list-item-title-font-weight;
    background-color: theme.$description-list-item-title-background-color;
    color: theme.$description-list-item-title-text-color;
    padding: theme.$description-list-item-title-padding;
    width: theme.$description-list-item-title-width;
    max-width: theme.$description-list-tite-max-width;
  }

  dd {
    background-color: theme.$description-list-item-data-background-color;
    color: theme.$description-list-item-data-text-color;
    padding: theme.$description-list-item-data-padding;
    font-weight: theme.$description-list-item-data-font-weight;
    width: theme.$description-list-item-data-width;
  }

  @media (width >= $breakpoint-1) {
    div {
      flex-direction: theme.$description-list-item-breakpoint-1-flex-direction;

      dt {
        width: theme.$description-list-item-title-breakpoint-1-width;
      }

      dd {
        width: theme.$description-list-item-data-breakpoint-1-width;
      }
    }
  }

  @media (width >= $breakpoint-2) {
    div {
      flex-direction: theme.$description-list-item-breakpoint-2-flex-direction;

      dt {
        width: theme.$description-list-item-title-breakpoint-2-width;
      }

      dd {
        width: theme.$description-list-item-data-breakpoint-2-width;
      }
    }
  }
}

fieldset {
  dt,
  dd {
    float: left;
  }
}
