@use "../variables" as theme;

$breakpoint: 24rem !default;

dl {
  margin: 0;
  width: theme.$description-list-width;
  max-width: theme.$description-list-max-width;

  > div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: theme.$description-list-item-flex-direction;
    gap: theme.$description-list-item-gap;
    padding: theme.$description-list-item-padding;
    border-width: theme.$description-list-border-width;
    border-style: theme.$description-list-border-style;
    border-color: theme.$description-list-border-color;

    &:nth-child(odd) {
      background-color: theme.$description-list-item-odd-background-color;
    }
  }

  dt,
  dd {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    margin: 0;
    white-space: theme.$description-list-item-white-space;
  }

  dt {
    font-weight: theme.$description-list-item-title-font-weight;
    background-color: theme.$description-list-item-title-background-color;
    color: theme.$description-list-item-title-text-color;
    padding: theme.$description-list-item-title-padding;
    width: theme.$description-list-item-title-width;
    max-width: theme.$description-list-tite-max-width;
  }

  dd {
    background-color: theme.$description-list-item-data-background-color;
    color: theme.$description-list-item-data-text-color;
    padding: theme.$description-list-item-data-padding;
    font-weight: theme.$description-list-item-data-font-weight;
    width: theme.$description-list-item-data-width;
  }

  @media (width >= $breakpoint) {
    div {
      flex-direction: theme.$description-list-item-flex-direction-after-breakpoint;
    }
  }
}
