@use "../variables" as theme;

*:disabled,
*.disabled {
  cursor: theme.$disabled-cursor;
  opacity: theme.$disabled-opacity;

  & + label,
  & + label::before {
    cursor: theme.$disabled-cursor;
    opacity: theme.$disabled-opacity;
  }
}
