@use "../mixins/theming";
@use "../variables" as theme;

div {
  width: 100%;
  flex-direction: theme.$div-flex-direction;

  @if theme.$div-max-width {
    margin: 0 auto;
  }

  @if (
    theme.$div-padding-top or
      theme.$div-padding-right or
      theme.$div-padding-bottom or
      theme.$div-padding-left
  ) {
    box-sizing: border-box;
  }

  @if (
    theme.$div-flex-direction or
      theme.$div-gap or
      theme.$div-justify-content or
      theme.$div-align-items
  ) {
    display: flex;
  }

  @include theming.apply-from-theme(
    (
      background-color: theme.$div-background-color,
      justify-content: theme.$div-justify-content,
      align-items: theme.$div-align-items,
      gap: theme.$div-gap,
      padding-top: theme.$div-padding-top,
      padding-right: theme.$div-padding-right,
      padding-bottom: theme.$div-padding-bottom,
      padding-left: theme.$div-padding-left,
      max-width: theme.$div-max-width,
      border-radius: theme.$div-border-radius,
    )
  );

  .content-wrapper {
    flex-direction: theme.$div-content-wrapper-flex-direction;

    @if (
      theme.$div-content-wrapper-gap or
        theme.$div-content-wrapper-align-items or
        theme.$div-content-wrapper-justify-content
    ) {
      display: flex;
      width: 100%;
    }

    @if theme.$div-content-wrapper-max-width {
      margin: 0 auto;
    }

    @if (
      theme.$div-content-wrapper-padding-top or
        theme.$div-content-wrapper-padding-right or
        theme.$div-content-wrapper-padding-bottom or
        theme.$div-content-wrapper-padding-left
    ) {
      box-sizing: border-box;
    }

    @include theming.apply-from-theme(
      (
        background-color: theme.$div-content-wrapper-background-color,
        justify-content: theme.$div-content-wrapper-justify-content,
        align-items: theme.$div-content-wrapper-align-items,
        gap: theme.$div-content-wrapper-gap,
        padding-top: theme.$div-content-wrapper-padding-top,
        padding-right: theme.$div-content-wrapper-padding-right,
        padding-bottom: theme.$div-content-wrapper-padding-bottom,
        padding-left: theme.$div-content-wrapper-padding-left,
        max-width: theme.$div-content-wrapper-max-width,
        border-radius: theme.$div-content-wrapper-border-radius,
      )
    );
  }
}
