@use "../mixins/theming";
@use "../variables" as theme;

main div {
  display: flex;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @include theming.apply-from-theme(
    (
      flex-direction: theme.$div-flex-direction,
      justify-content: theme.$div-justify-content,
      align-items: theme.$div-align-items,
      gap: theme.$div-gap,
      padding-top: theme.$div-padding-top,
      padding-right: theme.$div-padding-right,
      padding-bottom: theme.$div-padding-bottom,
      padding-left: theme.$div-padding-left,
      max-width: theme.$div-max-width,
    )
  );
}
