@use "../variables" as theme;

main {
  > *:nth-child(even) {
    border-width: theme.$divider-striping-top-border-width;
    border-style: theme.$divider-striping-top-border-style;
    border-color: theme.$divider-striping-top-border-color;
    background-color: theme.$divider-striping-top-background-color;
  }
}
