@use "../variables" as theme;

main {
  > section,
  > article,
  > div {
    > *:nth-child(even) {
      border-width: theme.$divider-striping-content-block-border-width;
      border-style: theme.$divider-striping-content-block-border-style;
      border-color: theme.$divider-striping-content-block-border-color;
      background-color: theme.$divider-striping-content-block-background-color;
    }

    > div {
      > *:nth-child(even) {
        border-width: theme.$divider-striping-content-block-border-width;
        border-style: theme.$divider-striping-content-block-border-style;
        border-color: theme.$divider-striping-content-block-border-color;
        background-color: theme.$divider-striping-content-block-background-color;
      }
    }
  }
}
