@use "../variables" as theme;

main {
  > article,
  > section,
  > div {
    > div {
      > article,
      > section,
      > div {
        border-width: theme.$divider-lines-subcontentblocks-border-width;
        border-style: theme.$divider-lines-subcontentblocks-border-style;
        border-color: theme.$divider-lines-subcontentblocks-border-color;
        padding-top: theme.$divider-lines-subcontentblocks-padding-top;

        &:first-of-type {
          border-width: theme.$divider-lines-subcontentblocks-first-of-type-border-width;
          border-style: theme.$divider-lines-subcontentblocks-first-of-type-border-style;
          border-color: theme.$divider-lines-subcontentblocks-first-of-type-border-color;
          padding-top: theme.$divider-lines-subcontentblocks-first-of-type-padding-top;
        }
      }
    }
  }
}
