@use "../variables" as theme;

.emphasized {
  font-size: theme.$emphasized-font-size;
  font-weight: theme.$emphasized-font-weight;
  line-height: theme.$emphasized-line-height;
  color: theme.$emphasized-text-color;
}
