@use "../variables" as theme;

*:focus-visible,
*.focus {
  // position: relative;

  outline: theme.$focus-outline;
  outline-offset: theme.$focus-outline-offset;
  outline-color: theme.$focus-outline-color;
  z-index: theme.$focus-z-index;
  border-radius: theme.$focus-border-radius;

  + label::before {
    position: relative;
    outline: theme.$focus-outline;
    z-index: theme.$focus-z-index;
  }
}
