@use "../mixins/theming";
@use "../variables" as theme;

body > footer,
.page-footer,
%footer-style {
  a {
    &:hover,
    /* Testing purposes */
    &.hover {
      @include theming.apply-from-theme(
        (
          font-size: theme.$footer-link-hover-font-size,
          font-weight: theme.$footer-link-hover-font-weight,
          line-height: theme.$footer-link-hover-line-height,
          background-color: theme.$footer-link-hover-background-color,
          color: theme.$footer-link-hover-text-color,
          text-decoration: theme.$footer-link-hover-text-decoration,
          border-width: theme.$footer-link-hover-border-width,
          border-style: theme.$footer-link-hover-border-style,
          border-color: theme.$footer-link-hover-border-color,
          border-radius: theme.$footer-link-hover-border-radius,
        )
      );

      &::before,
      .icon::before {
        @include theming.apply-from-theme(
          (
            font-size: theme.$footer-link-hover-icon-font-size,
            font-weight: theme.$footer-link-hover-icon-font-weight,
            line-height: theme.$footer-link-hover-icon-line-height,
            background-color: theme.$footer-link-hover-icon-background-color,
            color: theme.$footer-link-hover-icon-text-color,
            text-decoration: theme.$footer-link-hover-icon-text-decoration,
            border-width: theme.$footer-link-hover-icon-border-width,
            border-style: theme.$footer-link-hover-icon-border-style,
            border-color: theme.$footer-link-hover-icon-border-color,
            border-radius: theme.$footer-link-hover-icon-border-radius,
          )
        );
      }
    }
  }
}
