@use "../variables" as theme;

body > footer,
.page-footer,
%footer-style {
  @if theme.$footer-flex-direction or
    theme.$footer-gap or
    theme.$footer-justify-content or
    theme.$footer-align-items or
    theme.$footer-flex-wrap
  {
    display: flex;
    width: 100%;
  }

  @if theme.$footer-max-width {
    margin: 0 auto;
  }

  box-sizing: border-box;
  flex-direction: theme.$footer-flex-direction;
  gap: theme.$footer-gap;
  justify-content: theme.$footer-justify-content;
  align-items: theme.$footer-align-items;
  flex-wrap: theme.$footer-flex-wrap;
  min-height: theme.$footer-min-height;
  background-color: theme.$footer-background-color;
  color: theme.$footer-text-color;
  text-align: theme.$footer-text-align;
  padding-top: theme.$footer-padding-top;
  padding-right: theme.$footer-padding-right;
  padding-bottom: theme.$footer-padding-bottom;
  padding-left: theme.$footer-padding-left;
  max-width: theme.$footer-max-width;
  border-width: theme.$footer-border-width;
  border-style: theme.$footer-border-style;
  border-color: theme.$footer-border-color;

  .content-wrapper {
    flex-direction: theme.$footer-content-wrapper-flex-direction;
    align-items: theme.$footer-content-wrapper-align-items;
    background-color: theme.$footer-content-wrapper-background-color;
    justify-content: theme.$footer-content-wrapper-justify-content;
    gap: theme.$footer-content-wrapper-gap;
    padding-top: theme.$footer-content-wrapper-padding-top;
    padding-right: theme.$footer-content-wrapper-padding-right;
    padding-bottom: theme.$footer-content-wrapper-padding-bottom;
    padding-left: theme.$footer-content-wrapper-padding-left;
    max-width: theme.$footer-content-wrapper-max-width;
    border-radius: theme.$footer-content-wrapper-border-radius;

    @if theme.$footer-content-wrapper-gap or
      theme.$footer-content-wrapper-justify-content
    {
      display: flex;
      width: 100%;
    }

    @if theme.$footer-content-wrapper-max-width {
      margin: 0 auto;
    }

    @if theme.$footer-content-wrapper-padding-top or
      theme.$footer-content-wrapper-padding-right or
      theme.$footer-content-wrapper-padding-bottom or
      theme.$footer-content-wrapper-padding-left
    {
      box-sizing: border-box;
    }
  }

  a {
    text-decoration: theme.$footer-link-text-decoration;
    color: theme.$footer-link-text-color;

    &:hover {
      color: theme.$footer-link-hover-text-color;
    }

    &:visited {
      color: theme.$footer-link-visited-text-color;

      &:hover {
        color: theme.$footer-link-visited-hover-text-color;
      }
    }

    &:focus-visible {
      outline-color: theme.$footer-link-focus-outline-color;
    }

    &[aria-current="page"],
    &[aria-current="page"]:hover,
    &:hover,
    &:visited:hover,
    &[aria-current="page"]:visited:hover {
      color: theme.$footer-link-current-text-color;
      background-color: theme.$footer-link-current-background-color;
      text-decoration: theme.$footer-link-current-text-decoration;
      border-width: theme.$footer-link-current-border-width;
      border-style: theme.$footer-link-current-border-style;
      border-color: theme.$footer-link-current-border-color;
    }
  }

  ul,
  ol {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: theme.$footer-list-gap;
    justify-content: theme.$footer-list-justify-content;
    align-items: theme.$footer-list-align-items;
    color: theme.$footer-list-text-color;
    font-weight: theme.$footer-list-font-weight;
    width: theme.$footer-list-width;
    flex-direction: theme.$footer-list-flex-direction;
    padding: theme.$footer-list-padding;

    li {
      display: flex;
      list-style: none;
      box-sizing: border-box;
      justify-content: theme.$footer-list-item-justify-content;
      align-items: theme.$footer-list-item-align-items;
      color: theme.$footer-list-item-text-color;
      background-color: theme.$footer-list-item-background-color;

      &::before {
        /* Preventing default nav before to show up */
        display: none;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span,
  li {
    color: inherit;
    text-align: inherit;
  }

  nav {
    @if theme.$footer-navigation-gap or
      theme.$footer-navigation-justify-content or
      theme.$footer-navigation-align-items or
      theme.$footer-navigation-flex-wrap
    {
      display: flex;
      width: 100%;
    }

    gap: theme.$footer-navigation-gap;
    flex-direction: theme.$footer-navigation-flex-direction;
    justify-content: theme.$footer-navigation-justify-content;
    align-items: theme.$footer-navigation-align-items;
    flex-wrap: theme.$footer-navigation-flex-wrap;
    padding-top: theme.$footer-navigation-padding-top;
    padding-right: theme.$footer-navigation-padding-right;
    padding-bottom: theme.$footer-navigation-padding-bottom;
    padding-left: theme.$footer-navigation-padding-left;
    width: theme.$footer-navigation-width;

    ul,
    ol {
      background-color: transparent;

      li {
        list-style: theme.$footer-list-style;

        &::before {
          /* Preventing default nav before to show up */
          display: none;
        }
      }
    }
  }
}
