@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";
@use "../mixins/form_fields" as forms;

$breakpoint-1: 24rem !default;
$checkbox-input-width: null !default;

@if validators.args-not-null(theme.$checkbox-input-width, theme.$checkbox-gap) {
  $checkbox-input-width: theme.$checkbox-input-width + theme.$checkbox-gap;
}

form {
  @include forms.checkbox;

  p.error,
  p.warning,
  p.confirmation,
  p.explanation,
  p.primary {
    margin: 0;
  }

  @media (width >= $breakpoint-1) {
    .option-group {
      .checkbox {
        + p.error,
        + p.warning,
        + p.confirmation,
        + p.explanation,
        + p.primary {
          @if validators.args-not-null(
            theme.$form-checkbox-label-column,
            theme.$form-checkbox-input-column,
            $checkbox-input-width
          )
          {
            @include theming.apply-from-theme(
              (
                max-width: calc(
                    #{theme.$form-checkbox-input-column} -
                      #{$checkbox-input-width}
                  ),
                margin-left: calc(
                    #{theme.$form-checkbox-label-column} +
                      #{$checkbox-input-width}
                  ),
              )
            );
          }
        }
      }
    }
  }
}
