@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

$breakpoint: 24rem !default;

form.horizontal {
  flex-direction: column;
  flex-wrap: wrap;

  @include theming.apply-from-theme(
    (
      gap: theme.$form-horizontal-gap,
    )
  );

  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    margin-left: 0;
  }

  > div,
  > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;

    @include theming.apply-from-theme(
      (
        justify-content: theme.$form-horizontal-justify-content,
      )
    );

    @if validators.args-not-null(
      theme.$form-horizontal-group-gap,
      theme.$form-horizontal-group-vertical-gap
    )
    {
      gap: theme.$form-horizontal-group-gap
        theme.$form-horizontal-group-vertical-gap;
    }

    &.checkbox {
      margin: 0;
      flex-wrap: nowrap;

      @include theming.apply-from-theme(
        (
          gap: theme.$checkbox-gap,
        )
      );

      @media (width >= $breakpoint) {
        @include theming.apply-from-theme(
          (
            max-width: theme.$input-column,
            margin-left: theme.$label-column,
          )
        );
      }

      %horizontal-checkbox,
      input[type="checkbox"] {
        /* Align checkbox with input fields */
        margin-left: 0;
        flex-grow: 0;
        margin-right: 0;

        & + label {
          @if theme.$checkbox-width {
            max-width: calc(100% - theme.$checkbox-width);
          }
        }
      }

      > div {
        @extend %horizontal-checkbox;

        input[type="checkbox"] {
          margin-left: 0;
        }
      }
    }

    &.radio {
      flex-wrap: nowrap;

      @include theming.apply-from-theme(
        (
          gap: theme.$form-radio-margin-right,
        )
      );

      %horizontal-radio,
      input[type="radio"] {
        flex-grow: 0;
        margin-right: 0;

        & + label {
          @if theme.$radio-input-width {
            max-width: calc(100% - theme.$radio-input-width);
          }
        }

        @media (width >= $breakpoint) {
          /* Align radio with input fields */
          @include theming.apply-from-theme(
            (
              margin-left: theme.$label-column,
            )
          );
        }
      }

      > div {
        @extend %horizontal-radio;

        input[type="radio"] {
          margin-left: 0;
        }
      }
    }

    &.checkbox,
    &.radio {
      justify-content: flex-start;

      > .nota-bene {
        @include theming.apply-from-theme(
          (
            margin-left: theme.$label-column,
          )
        );
      }
    }

    /* Notifications */
    &.error,
    &.warning,
    &.explanation,
    &.confirmation,
    &.system {
      margin: 0;

      @include theming.apply-from-theme(
        (
          flex-direction:
            theme.$form-horizontal-notification-block-element-flex-direction,
          justify-content:
            theme.$form-horizontal-notification-block-element-justify-content,
          align-items:
            theme.$form-horizontal-notification-block-element-align-items,
          gap: theme.$form-horizontal-notification-block-element-gap,
        )
      );

      > * {
        max-width: 100%;
      }
    }

    input[type="color"] {
      @include theming.apply-from-theme(
        (
          max-width: theme.$form-input-color-max-width,
        )
      );
    }

    > * {
      flex-grow: 1;
      box-sizing: border-box;
    }

    > button,
    > a.button,
    > input[type="button"],
    > input[type="submit"],
    > input[type="reset"] {
      flex-grow: 0;
    }

    @media (width >= $breakpoint) {
      flex-wrap: nowrap;

      > * {
        @include theming.apply-from-theme(
          (
            max-width: theme.$input-column,
          )
        );
      }

      label {
        width: 100%;

        @include theming.apply-from-theme(
          (
            max-width: theme.$form-horizontal-label-max-width,
          )
        );
      }
    }
  }

  .option-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (width >= $breakpoint) {
      > * {
        @include theming.apply-from-theme(
          (
            margin-left: theme.$label-column,
          )
        );
      }
    }
  }

  @media (width >= $breakpoint) {
    %align-to-input {
      width: auto;
      max-width: 100%;
      flex-grow: 0;

      @include theming.apply-from-theme(
        (
          margin-left: theme.$label-column,
        )
      );
    }

    > button,
    > a.button,
    > input[type="button"],
    > input[type="submit"],
    > input[type="reset"],
    > a {
      @extend %align-to-input;
    }

    > div {
      > button,
      > a.button,
      > input[type="button"],
      > input[type="submit"],
      > input[type="reset"],
      > a {
        @extend %align-to-input;
      }
    }

    > div.horizontal,
    > div.button-container {
      @include theming.apply-from-theme(
        (
          max-width: theme.$input-column,
          margin-left: theme.$label-column,
        )
      );
      flex-wrap: wrap;

      button,
      a.button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"] {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}
