@use "../variables" as theme;
@use "../functions/validators";

form.help {
  position: relative;
  padding-right: theme.$form-help-button-space;

  .form-group {
    width: 100%;
    position: relative;
  }

  .help-container {
    position: relative;
    box-sizing: border-box;

    &:has(.column-2),
    &:has(.column-3),
    &:has(.column-4) {
      .help-button {
        top: theme.$form-help-columns-button-top;
      }
    }

    .form-group.required {
      border: 1px dashed red !important;

      // &.required,
      // .required {
      //   top: theme.$form-help-columns-required-button-top;
      // }
    }
  }

  > div,
  > fieldset {
    .help-button {
      display: flex;
      position: absolute;
      gap: 0;
      margin: 0;
      min-width: 0;
      min-height: 0;
      font-size: 0;
      box-sizing: border-box;
      top: theme.$form-help-button-top;
      width: theme.$form-help-button-width;
      height: theme.$form-help-button-height;
      right: theme.$form-help-button-right;
      padding: theme.$form-help-button-padding;
      border-width: theme.$form-help-button-border-width;
      border-style: theme.$form-help-button-border-style;
      border-color: theme.$form-help-button-border-color;
      border-radius: theme.$form-help-button-border-radius;
      background-color: theme.$form-help-button-background-color;
      color: theme.$form-help-button-text-color;
      margin-right: calc(theme.$form-help-button-space * -1);
      justify-content: theme.$form-help-button-justify-content;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: theme.$form-help-button-hover-background-color;
        color: theme.$form-help-button-hover-text-color;
      }

      // Icon
      @if theme.$form-help-icon-mask {
        &::before {
          mask-size: contain;
          content: "";
          margin-right: theme.$form-help-icon-margin-right;
          margin-left: theme.$form-help-icon-margin-left;
          padding: theme.$form-help-icon-padding;
          background-color: theme.$form-help-icon-color;
          mask-image: theme.$form-help-icon-mask;
          width: theme.$form-help-icon-width;
          height: theme.$form-help-icon-height;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }

      &[aria-expanded="true"] {
        // Icon
        @if theme.$form-help-expanded-icon-mask {
          &::before {
            mask-size: contain;
            content: "";
            margin-right: theme.$form-help-expanded-icon-margin-right;
            margin-left: theme.$form-help-expanded-icon-margin-left;
            padding: theme.$form-help-expanded-icon-padding;
            background-color: theme.$form-help-expanded-icon-color;
            mask-image: theme.$form-help-expanded-icon-mask;
            width: theme.$form-help-expanded-icon-width;
            height: theme.$form-help-expanded-icon-height;
          }
        }
      }

      + .explanation {
        margin-bottom: 0;
        margin-top: theme.$form-help-button-explanation-gap;
      }
    }

    p.explanation.collapsed,
    div.explanation.collapsed {
      display: none;
    }

    * {
      &:has(.help-button) {
        position: relative;
      }
    }
  }

  fieldset {
    max-width: 100%;
    min-width: 0;
    gap: 0;

    .help-button {
      display: inline-block;

      + .explanation {
        margin-top: 0;
      }

      &::before {
        display: inline-block;
      }
    }
  }
}
