@use "../variables" as theme;

form {
  fieldset {
    .radio {
      padding: 0;
      display: initial;
      margin: theme.$form-fieldset-radio-margin;

      input[type="radio"] {
        padding: 0;
        cursor: pointer;
        margin: 0;
        width: theme.$form-fieldset-radio-input-width;
        min-width: theme.$form-fieldset-radio-input-width;
        height: theme.$form-fieldset-radio-input-height;
        accent-color: theme.$form-fieldset-radio-input-accent-color;
        margin-top: theme.$form-fieldset-radio-input-margin-top;

        & + label {
          cursor: pointer;
          margin: 0;
          padding-left: theme.$radio-gap;

          @if theme.$form-fieldset-radio-input-width {
            width: calc(100% - #{theme.$form-fieldset-radio-input-width});
          }
        }

        &:disabled {
          cursor: not-allowed;

          & + label {
            cursor: not-allowed;
          }
        }
      }

      &.required {
        flex-direction: column;

        span {
          margin-bottom: theme.$form-fieldset-radio-required-margin-bottom;
        }

        > div {
          padding: 0;
          display: initial;
        }
      }
    }

    fieldset {
      .radio {
        margin: theme.$form-fieldset-radio-margin;
      }
    }
  }
}
