@use "../mixins/apply-from-theme";
@use "../variables" as theme;

form {
  fieldset {
    .radio {
      padding: 0;
      display: initial;

      @include apply-from-theme.apply-from-theme(
        (
          margin: theme.$form-fieldset-radio-margin,
        )
      );

      input[type="radio"] {
        padding: 0;
        cursor: pointer;
        margin-left: 0;
        margin-right: 0;

        @include apply-from-theme.apply-from-theme(
          (
            width: theme.$form-fieldset-radio-input-width,
            min-width: theme.$form-fieldset-radio-input-width,
            height: theme.$form-fieldset-radio-input-height,
            accent-color: theme.$form-fieldset-radio-input-accent-color,
            margin-top: theme.$form-fieldset-radio-input-margin-top,
          )
        );

        & + label {
          cursor: pointer;
          margin: 0;

          @if theme.$form-fieldset-radio-input-width {
            @include apply-from-theme.apply-from-theme(
              (
                width: calc(100% - theme.$form-fieldset-radio-input-width),
              )
            );
          }

          @include apply-from-theme.apply-from-theme(
            (
              padding-left: theme.$radio-gap,
            )
          );
        }

        &:disabled {
          cursor: not-allowed;

          & + label {
            cursor: not-allowed;
          }
        }
      }

      &.required {
        flex-direction: column;

        span {
          @include apply-from-theme.apply-from-theme(
            (
              margin-bottom: theme.$form-fieldset-radio-required-margin-bottom,
            )
          );
        }

        > div {
          padding: 0;
          display: initial;
        }
      }
    }

    fieldset {
      .radio {
        @include apply-from-theme.apply-from-theme(
          (
            margin: theme.$form-fieldset-radio-margin,
          )
        );
      }
    }
  }
}
