@use "../variables" as theme;

form {
  .required {
    align-items: theme.$form-required-align-items;
    justify-content: theme.$form-required-justify-content;
    padding-top: theme.$form-required-padding-top;
    padding-right: theme.$form-required-padding-right;
    padding-bottom: theme.$form-required-padding-bottom;
    padding-left: theme.$form-required-padding-left;
    gap: theme.$form-required-gap;

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
