@use "../mixins/theming";
@use "../variables" as theme;

main section form,
main article form,
main div form,
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  @include theming.apply-from-theme(
    (
      align-items: theme.$form-align-items,
      justify-content: theme.$form-justify-content,
      padding-top: theme.$form-padding-top,
      padding-right: theme.$form-padding-right,
      padding-bottom: theme.$form-padding-bottom,
      padding-left: theme.$form-padding-left,
      background-color: theme.$form-background-color,
      color: theme.$form-text-color,
      font-size: theme.$form-font-size,
      line-height: theme.$form-line-height,
      font-weight: theme.$form-font-weight,
      gap: theme.$form-gap,
      border-width: theme.$form-border-width,
      border-style: theme.$form-border-style,
      border-color: theme.$form-border-color,
      max-width: theme.$form-max-width,
    )
  );

  div,
  fieldset {
    width: 100%;
    box-sizing: border-box;
    padding: 0;

    &.horizontal {
      flex-wrap: nowrap;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include theming.apply-from-theme(
      (
        gap: theme.$form-group-gap,
      )
    );
  }

  .centered {
    display: table-cell;
    width: auto;
    text-align: center;
  }
}

/* Resetting inherited layout padding */
main {
  section,
  section div,
  article,
  article div,
  div,
  div div {
    form {
      div {
        padding: 0;
      }
    }
  }
}
