@use "../variables" as theme;

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  align-items: theme.$form-align-items;
  justify-content: theme.$form-justify-content;
  padding-top: theme.$form-padding-top;
  padding-right: theme.$form-padding-right;
  padding-bottom: theme.$form-padding-bottom;
  padding-left: theme.$form-padding-left;
  background-color: theme.$form-background-color;
  color: theme.$form-text-color;
  font-size: theme.$form-font-size;
  line-height: theme.$form-line-height;
  font-weight: theme.$form-font-weight;
  gap: theme.$form-gap;
  border-width: theme.$form-border-width;
  border-style: theme.$form-border-style;
  border-color: theme.$form-border-color;
  max-width: theme.$form-max-width;

  div,
  div.form-group {
    display: flex;
    width: 100%;
    gap: theme.$form-group-gap;
    flex-direction: theme.$form-group-flex-direction;
    align-items: theme.$form-group-align-items;
    justify-content: theme.$form-group-justify-content;

    label {
      order: theme.$form-group-label-order;
    }
  }

  .form-group:has(.help-container) {
    padding: 0;
  }

  div,
  fieldset {
    box-sizing: border-box;

    &.horizontal {
      flex-wrap: nowrap;
    }
  }

  .centered {
    display: table-cell;
    width: auto;
    text-align: center;
  }
}
