@use "../mixins/theming";
@use "../variables" as theme;

.combined-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: theme.$form-combined-field-gap;
  flex-wrap: nowrap;

  input {
    border-radius: theme.$form-combined-field-input-border-radius;
  }

  button {
    min-height: theme.$form-combined-field-button-min-height;
    border-radius: theme.$form-combined-field-button-border-radius;
    border-width: theme.$form-combined-field-input-border-width;
    border-color: theme.$form-combined-field-input-border-color;
    padding: theme.$form-combined-field-padding;
    min-width: fit-content;
    justify-content: center;
  }
}
