@use "../variables" as theme;
@use "../functions/validators";

$breakpoint: 24rem !default;

%fieldset-button-container-styling {
  /* Removing gap as it is not supported within fieldsets */
  gap: 0;
  width: auto;
  float: theme.$form-button-container-fieldset-float;

  @if validators.args-not-null(theme.$button-container-gap) {
    margin-right: calc(theme.$button-container-gap * -1 / 2);
  }

  @if validators.args-not-null(theme.$button-container-gap) {
    margin-bottom: calc(theme.$button-container-gap * -1 / 2);
  }

  @if validators.args-not-null(theme.$button-container-gap) {
    margin-left: calc(theme.$button-container-gap * -1 / 2);
  }

  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    float: left;

    width: theme.$button-container-button-width;

    @if validators.args-not-null(theme.$button-container-gap) {
      margin-right: calc(theme.$button-container-gap * -1 / 2);
      margin-bottom: calc(theme.$button-container-gap * -1 / 2);
      margin-left: calc(theme.$button-container-gap * -1 / 2);
    }

    @media (width >= $breakpoint) {
      width: theme.$button-container-button-after-breakpoint-width;
    }
  }
}

form {
  .button-container {
    width: auto;
    align-self: theme.$form-button-container-align-self;
  }

  fieldset {
    .button-container {
      @extend %fieldset-button-container-styling;
    }

    > div {
      &.button-container {
        @extend %fieldset-button-container-styling;
      }
    }
  }

  &.horizontal {
    fieldset {
      .button-container {
        @extend %fieldset-button-container-styling;

        @media (width >= $breakpoint) {
          @if validators.args-not-null(
            theme.$form-button-container-label-colum,
            theme.$button-container-gap
          )
          {
            margin-left: calc(
              (
                  #{theme.$form-button-container-label-column} -
                    #{theme.$button-container-gap}
                ) /
                2
            );
          }
        }
      }

      > div.button-container {
        gap: theme.$button-container-gap;
      }
    }
  }
}
