@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

$breakpoint: 24rem !default;

%fieldset-button-container-styling {
  /* Removing gap as it is not supported within fieldsets */
  gap: 0;
  width: auto;

  @include theming.apply-from-theme(
    (
      float: theme.$form-button-container-fieldset-float,
    )
  );

  @if validators.args-not-null(theme.$button-container-gap) {
    @include theming.apply-from-theme(
      (
        margin-right: calc(theme.$button-container-gap * -1 / 2),
      )
    );
  }

  @if validators.args-not-null(theme.$button-container-gap) {
    @include theming.apply-from-theme(
      (
        margin-bottom: calc(theme.$button-container-gap * -1 / 2),
      )
    );
  }

  @if validators.args-not-null(theme.$button-container-gap) {
    @include theming.apply-from-theme(
      (
        margin-left: calc(theme.$button-container-gap * -1 / 2),
      )
    );
  }
  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    float: left;
    @include theming.apply-from-theme(
      (
        width: theme.$button-container-button-width,
      )
    );

    @if validators.args-not-null(theme.$button-container-gap) {
      @include theming.apply-from-theme(
        (
          margin-right: calc(theme.$button-container-gap * -1 / 2),
        )
      );
    }

    @if validators.args-not-null(theme.$button-container-gap) {
      @include theming.apply-from-theme(
        (
          margin-bottom: calc(theme.$button-container-gap * -1 / 2),
        )
      );
    }

    @if validators.args-not-null(theme.$button-container-gap) {
      @include theming.apply-from-theme(
        (
          margin-left: calc(theme.$button-container-gap * -1 / 2),
        )
      );
    }

    @media (width >= $breakpoint) {
      @include theming.apply-from-theme(
        (
          width: theme.$button-container-button-after-breakpoint-width,
        )
      );
    }
  }
}

form {
  .button-container {
    width: auto;

    @include theming.apply-from-theme(
      (
        align-self: theme.$form-button-container-align-self,
      )
    );
  }

  fieldset {
    .button-container {
      @extend %fieldset-button-container-styling;
    }

    > div {
      &.button-container {
        @extend %fieldset-button-container-styling;
      }
    }
  }

  &.horizontal {
    fieldset {
      .button-container {
        @extend %fieldset-button-container-styling;

        @media (width >= $breakpoint) {
          @if validators.args-not-null(
            theme.$form-button-container-label-colum,
            theme.$button-container-gap
          )
          {
            @include theming.apply-from-theme(
              (
                margin-left: calc(
                    (
                        #{theme.$form-button-container-label-column} -
                          #{theme.$button-container-gap}
                      ) /
                      2
                  ),
              )
            );
          }
        }
      }

      > div.button-container {
        @include theming.apply-from-theme(
          (
            gap: theme.$button-container-gap,
          )
        );
      }
    }
  }
}
