@use "../variables" as theme;

$breakpoint-1: 24rem !default;

form.horizontal {
  > fieldset > fieldset {
    legend {
      font-weight: inherit;
      margin: 0;
      box-sizing: border-box;
      float: left;
      width: theme.$form-fieldset-label-column;
      padding-right: theme.$form-horizontal-gap;
      margin-top: theme.$form-horizontal-fieldset-label-margin-top;
    }

    > * {
      @media (width >= $breakpoint-1) {
        float: right;
        width: theme.$form-input-column;
      }
    }
  }
}
