@use "../mixins/apply-from-theme";
@use "../variables" as theme;

form.inline {
  padding: 0;
  background-color: transparent;
  @include apply-from-theme.apply-from-theme(
    (
      gap: theme.$form-inline-gap,
      color: theme.$form-inline-text-color,
      flex-direction: theme.$form-inline-flex-direction,
      width: theme.$form-inline-width,
    )
  );
}
