@use "../mixins/theming";
@use "../variables" as theme;

body > header,
.page-header,
%header-style {
  a {
    &:active,
    /* Testing purposes */
    &.active {
      @include theming.apply-from-theme(
        (
          font-size: theme.$header-link-active-font-size,
          font-weight: theme.$header-link-active-font-weight,
          line-height: theme.$header-link-active-line-height,
          background-color: theme.$header-link-active-background-color,
          text-color: theme.$header-link-active-text-color,
          text-decoration: theme.$header-link-active-text-decoration,
          border-width: theme.$header-link-active-border-width,
          border-style: theme.$header-link-active-border-style,
          border-color: theme.$header-link-active-border-color,
          border-radius: theme.$header-link-active-border-radius,
        )
      );
      &::before,
      .icon::before {
        @include theming.apply-from-theme(
          (
            font-size: theme.$header-link-active-icon-font-size,
            font-weight: theme.$header-link-active-icon-font-weight,
            line-height: theme.$header-link-active-icon-line-height,
            background-color: theme.$header-link-active-icon-background-color,
            text-color: theme.$header-link-active-icon-text-color,
            text-decoration: theme.$header-link-active-icon-text-decoration,
            border-width: theme.$header-link-active-icon-border-width,
            border-style: theme.$header-link-active-icon-border-style,
            border-color: theme.$header-link-active-icon-border-color,
            border-radius: theme.$header-link-active-icon-border-radius,
          )
        );
      }
    }
  }
}
