@use "../variables" as theme;

.hero {
  position: relative;
  min-height: theme.$hero-min-height;
  height: theme.$hero-height;
  max-height: theme.$hero-max-height;
  width: theme.$hero-width;
  max-width: theme.$hero-max-width;
  background-color: theme.$hero-background-color;
  margin: theme.$hero-margin;
  border-radius: theme.$hero-border-radius;
  padding: theme.$hero-breakpoint-1-padding;
  justify-content: theme.$hero-justify-content;
  align-items: theme.$hero-align-items;
  flex-direction: theme.$hero-flex-direction;
  background-image: theme.$hero-background-image;
  background-repeat: theme.$hero-background-repeat;
  color: theme.$hero-text-color;
  font-size: theme.$hero-font-size;
  box-sizing: border-box;

  @if theme.$hero-justify-content or
    theme.$hero-align-items or
    theme.$hero-flex-direction
  {
    display: flex;
  }

  @if theme.$hero-background-image {
    position: relative;
  }

  .content-wrapper {
    z-index: 1;
    padding: theme.$hero-content-wrapper-padding;
    max-width: theme.$hero-content-wrapper-max-width;
    text-align: theme.$hero-content-wrapper-text-align;
    margin: theme.$hero-content-wrapper-margin;
    justify-content: theme.$hero-content-wrapper-justify-content;
    align-items: theme.$hero-content-wrapper-align-items;
    flex-direction: theme.$hero-content-wrapper-flex-direction;
    background-color: theme.$hero-content-wrapper-background-color;
    gap: theme.$hero-content-wrapper-gap;

    @if theme.$hero-content-wrapper-justify-content or
      theme.$hero-content-wrapper-align-items or
      theme.$hero-content-wrapper-flex-direction or
      theme.$hero-content-wrapper-gap
    {
      display: flex;
    }
  }

  .cover {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    padding: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    object-position: theme.$hero-image-object-position;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: theme.$hero-title-font-size;
    color: theme.$hero-title-text-color;
    padding: theme.$hero-title-padding;
  }

  @media (width >= 50rem) {
    padding: theme.$hero-padding;
  }
}
