@use "../mixins/apply-from-theme";
@use "../variables" as theme;

$breakpoint: 50rem !default;

.horizontal {
  display: flex;
  /* Preventing specificity issues */
  flex-direction: row !important;
  align-items: center;
  flex-wrap: wrap;

  @include apply-from-theme.apply-from-theme(
    (
      justify-content: theme.$horizontal-justify-content,
      gap: theme.$horizontal-gap,
    )
  );

  @media (width >= $breakpoint) {
    flex-wrap: nowrap;
  }
}
