@use "../variables" as theme;

.icon {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  content: "";
  background-color: theme.$icon-color;
  height: theme.$icon-height;
  width: theme.$icon-width;
  min-width: theme.$icon-width;
  display: inline-block;
}

svg,
img,
a {
  &.icon {
    background-color: transparent;
  }
}
