@use "../variables" as theme;

.icon {
  mask-size: contain;
  content: "";
  background-color: theme.$icon-color;
  height: theme.$icon-height;
  width: theme.$icon-width;
  display: inline-block;
}

svg.icon {
  background-color: transparent;
}

.icon-ascending {
  mask-image: theme.$icon-mask-ascending;
}

.icon-check {
  mask-image: theme.$icon-mask-check;
}

.icon-chevron-down {
  mask-image: theme.$icon-mask-chevron-down;
}

.icon-chevron-left {
  mask-image: theme.$icon-mask-chevron-left;
}

.icon-chevron-light-down {
  mask-image: theme.$icon-mask-chevron-light-down;
}

.icon-chevron-light-left {
  mask-image: theme.$icon-mask-chevron-light-left;
}

.icon-chevron-light-right {
  mask-image: theme.$icon-mask-chevron-light-right;
}

.icon-chevron-light-up {
  mask-image: theme.$icon-mask-chevron-light-up;
}

.icon-chevron-right {
  mask-image: theme.$icon-mask-chevron-right;
}

.icon-chevron-up {
  mask-image: theme.$icon-mask-chevron-up;
}

.icon-close {
  mask-image: theme.$icon-mask-close;
}

.icon-descending {
  mask-image: theme.$icon-mask-descending;
}

.icon-download {
  mask-image: theme.$icon-mask-download;
}

.icon-hamburger {
  mask-image: theme.$icon-mask-hamburger;
}

.icon-heart {
  mask-image: theme.$icon-mask-heart;
}

.icon-home {
  mask-image: theme.$icon-mask-home;
}

.icon-lock-closed {
  mask-image: theme.$icon-mask-lock-closed;
}

.icon-on-off {
  mask-image: theme.$icon-mask-on-off;
}

.icon-outgoing {
  mask-image: theme.$icon-mask-outgoing;
}

.icon-questionmark {
  mask-image: theme.$icon-mask-questionmark;
}

.icon-reset {
  mask-image: theme.$icon-mask-reset;
}

.icon-search {
  mask-image: theme.$icon-mask-search;
}

.icon-smartphone {
  mask-image: theme.$icon-mask-smartphone;
}

.icon-sort {
  mask-image: theme.$icon-mask-sort;
}

.icon-to-top {
  mask-image: theme.$icon-mask-to-top;
}

.icon-trash {
  mask-image: theme.$icon-mask-trash;
}

.icon-user {
  mask-image: theme.$icon-mask-user;
}
