@use "../variables" as theme;
@use "../functions/validators";

%image-cover {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  padding: 0; /* Resetting padding */
  height: 100%;
  object-position: theme.$image-cover-object-position;
  max-height: theme.$image-cover-max-height;
}

.image-cover {
  img {
    @extend %image-cover;
  }
}

.image-covers {
  > div,
  li {
    img {
      @extend %image-cover;
    }
  }
}

img.image-cover {
  @extend %image-cover;
}
