@use "../variables" as theme;

.introduction {
  font-size: theme.$introduction-font-size;
  font-weight: theme.$introduction-font-weight;
  line-height: theme.$introduction-line-height;
  color: theme.$introduction-text-color;
}
