@use "../mixins/theming";
@use "../variables" as theme;

.label {
  display: inline-block;
  text-align: center;

  @include theming.apply-from-theme(
    (
      padding: theme.$label-padding,
      min-width: theme.$label-min-width,
      font-size: theme.$label-font-size,
    )
  );
}
