@use "../mixins/theming";
@use "../variables" as theme;

.language-selector,
body > header nav .language-selector,
.page-header nav .language-selector {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  width: auto;
  position: relative;
  margin: unset;

  @include theming.apply-from-theme(
    (
      font-size: theme.$language-selector-list-label-font-size,
      gap: theme.$language-selector-list-label-gap,
      color: theme.$language-selector-list-label-text-color,
      max-width: theme.$language-selector-list-label-max-width,
    )
  );

  > p {
    white-space: nowrap;

    @include theming.apply-from-theme(
      (
        font-size: theme.$language-selector-list-label-font-size,
      )
    );
  }

  ul {
    position: static;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-width: theme.$language-selector-list-border-width;
    border-style: theme.$language-selector-list-border-style;
    border-color: theme.$language-selector-list-border-color;
    border-radius: theme.$language-selector-list-border-radius;
    background-color: theme.$language-selector-list-background-color;
    margin-top: theme.$language-selector-list-margin-top;
    box-shadow: theme.$language-selector-list-box-shadow;
    right: theme.$language-selector-list-right;
    left: theme.$language-selector-list-left;
    min-width: theme.$language-selector-list-min-width;
    max-width: theme.$language-selector-list-max-width;

    li {
      list-style: none;
      padding: 0;
      display: flex;
      overflow: auto;
      order: 1;
      margin: 0;
      min-height: theme.$language-selector-list-item-min-height;
      border-width: theme.$language-selector-list-item-border-width;
      border-style: theme.$language-selector-list-item-border-style;
      border-color: theme.$language-selector-list-item-border-color;

      @include theming.apply-from-theme(
        (
          background-color: theme.$language-selector-list-item-background-color,
          color: theme.$language-selector-list-item-text-color,
          font-size: theme.$language-selector-list-font-size,
        )
      );

      a {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        margin-left: 0;
        font-size: inherit;
        color: inherit;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;

        @include theming.apply-from-theme(
          (
            padding: theme.$language-selector-list-item-link-padding,
            border-top-width:
              theme.$language-selector-list-item-link-border-width,
            border-top-style:
              theme.$language-selector-list-item-link-border-style,
            border-top-color:
              theme.$language-selector-list-item-link-border-color,
            line-height: theme.$language-selector-list-item-link-line-height,
            white-space: theme.$language-selector-list-item-link-white-space,
            min-height: theme.$language-selector-list-item-link-min-height,
            height: theme.$language-selector-list-item-link-height,
          )
        );

        &:hover {
          @include theming.apply-from-theme(
            (
              background-color:
                theme.$language-selector-list-item-hover-background-color,
              color: theme.$language-selector-list-item-hover-text-color,
              font-size: theme.$language-selector-list-item-hover-font-size,
              font-weight: theme.$language-selector-list-item-hover-font-weight,
            )
          );
        }

        > button {
          background-color: transparent;
          border: 0;
          margin: 0;
          padding: 0;
          text-align: left;
          align-items: center;
          justify-content: flex-start;

          @include theming.apply-from-theme(
            (
              font-weight: theme.$language-selector-list-button-font-weight,
            )
          );
        }
      }

      &:first-child a {
        border-top-width: 0;
      }

      &:hover {
        @include theming.apply-from-theme(
          (
            background-color:
              theme.$language-selector-list-item-hover-background-color,
            color: theme.$language-selector-list-item-hover-text-color,
            font-size: theme.$language-selector-list-item-hover-font-size,
            font-weight: theme.$language-selector-list-item-hover-font-weight,
          )
        );
      }

      /* Selected language */
      &[aria-current="true"] {
        order: 0;
        cursor: pointer;
        font-family: inherit;

        @include theming.apply-from-theme(
          (
            background-color:
              theme.$language-selector-list-item-active-background-color,
            color: theme.$language-selector-list-item-active-text-color,
            font-size: theme.$language-selector-list-item-active-font-size,
            font-weight: theme.$language-selector-list-item-active-font-weight,
          )
        );
      }
    }
  }

  /* Hide option list */
  div[aria-expanded="false"] {
    ul,
    ul li {
      display: none;
    }
  }

  /* Expand option list */
  div[aria-expanded="true"] {
    ul {
      display: block;
      position: absolute;

      li {
        display: block;

        /* Selected language */
        &[aria-current="true"] {
          a {
            cursor: default;
          }
        }
      }
    }
  }

  /* Language selector options */
  > div {
    width: auto;
    padding: 0;
    display: initial;
    margin: unset;

    > button {
      display: flex;
      justify-content: flex-start;
      margin-left: 0;
      box-sizing: border-box;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      @include theming.apply-from-theme(
        (
          background-color:
            theme.$language-selector-list-button-background-color,
          color: theme.$language-selector-list-button-text-color,
          font-size: theme.$language-selector-list-button-font-size,
          font-weight: theme.$language-selector-list-button-font-weight,
          line-height: theme.$language-selector-list-button-line-height,
          padding-top: theme.$language-selector-list-button-padding-top,
          padding-right: theme.$language-selector-list-button-padding-right,
          padding-bottom: theme.$language-selector-list-button-padding-bottom,
          padding-left: theme.$language-selector-list-button-padding-left,
          border-width: theme.$language-selector-list-button-border-width,
          border-style: theme.$language-selector-list-button-border-style,
          border-color: theme.$language-selector-list-button-border-color,
          min-height: theme.$language-selector-list-button-min-height,
          width: theme.$language-selector-list-button-width,
          min-width: theme.$language-selector-list-button-min-width,
          max-width: theme.$language-selector-list-button-max-width,
        )
      );

      &::after {
        @include theming.apply-from-theme(
          (
            content: theme.$language-selector-list-button-icon,
            font-family: theme.$language-selector-list-button-icon-font-family,
            margin-left: theme.$language-selector-list-button-icon-margin-left,
            font-size: theme.$language-selector-list-button-icon-font-size,
            color: theme.$language-selector-list-button-icon-text-color,
          )
        );
      }
    }

    &[aria-expanded="true"] > button {
      &::after {
        @include theming.apply-from-theme(
          (
            content: theme.$language-selector-list-closed-button-icon,
          )
        );
      }
    }

    &[aria-expanded="false"] > button {
      &::after {
        @include theming.apply-from-theme(
          (
            content: theme.$language-selector-list-open-button-icon,
          )
        );
      }
    }
  }
}
