@use "../mixins/theming";
@use "../variables" as theme;

body > header,
.page-header {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  align-self: center;

  @include theming.apply-from-theme(
    (
      gap: theme.$layout-header-gap,
      padding-top: theme.$layout-header-padding-top,
      padding-right: theme.$layout-header-padding-right,
      padding-bottom: theme.$layout-header-padding-bottom,
      padding-left: theme.$layout-header-padding-left,
      max-width: theme.$layout-header-max-width,
    )
  );

  > div,
  > article,
  > section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    @include theming.apply-from-theme(
      (
        gap: theme.$layout-header-content-block-gap,
      )
    );

    div,
    article,
    section {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      @include theming.apply-from-theme(
        (
          gap: theme.$layout-header-within-content-block-gap,
        )
      );
    }
  }
}
