@use "../mixins/theming";
@use "../variables" as theme;

body > footer,
.page-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  box-sizing: border-box;

  @include theming.apply-from-theme(
    (
      gap: theme.$layout-footer-gap,
      padding-top: theme.$layout-footer-padding-top,
      padding-right: theme.$layout-footer-padding-right,
      padding-bottom: theme.$layout-footer-padding-bottom,
      padding-left: theme.$layout-footer-padding-left,
      max-width: theme.$layout-footer-max-width,
      min-height: theme.$footer-min-height,
    )
  );

  > div,
  > article,
  > section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    @include theming.apply-from-theme(
      (
        gap: theme.$layout-footer-content-block-gap,
      )
    );

    div,
    article,
    section {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      @include theming.apply-from-theme(
        (
          gap: theme.$layout-footer-within-content-block-gap,
        )
      );
    }
  }
}
