@use "../mixins/theming";
@use "../variables" as theme;

a {
  display: theme.$link-display;
  align-items: theme.$link-align-items;
  color: theme.$link-text-color;
  text-decoration: theme.$link-text-decoration;

  // Icon
  span.icon {
    width: theme.$link-icon-width;
    height: theme.$link-icon-height;
    margin: theme.$link-icon-margin;
    padding: theme.$link-icon-padding;
    color: theme.$link-icon-color;
  }

  &:hover {
    color: theme.$link-hover-text-color;
  }

  &:visited {
    color: theme.$link-visited-text-color;

    &:hover {
      color: theme.$link-visited-hover-text-color;
    }
  }
}
