@use "../mixins/theming";
@use "../variables" as theme;

main {
  > div {
    display: flex;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    @include theming.apply-from-theme(
      (
        flex-direction: theme.$main-content-wrapper-flex-direction,
        justify-content: theme.$main-content-wrapper-justify-content,
        align-items: theme.$main-content-wrapper-align-items,
        gap: theme.$main-content-wrapper-gap,
        padding-top: theme.$main-content-wrapper-padding-top,
        padding-right: theme.$main-content-wrapper-padding-right,
        padding-bottom: theme.$main-content-wrapper-padding-bottom,
        padding-left: theme.$main-content-wrapper-padding-left,
        max-width: theme.$main-content-wrapper-max-width,
      )
    );
  }
}
