@use "../variables" as theme;

main {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background-color: theme.$main-background-color;
  flex-direction: theme.$main-flex-direction;
  justify-content: theme.$main-justify-content;
  align-items: theme.$main-align-items;
  gap: theme.$main-gap;
  padding-top: theme.$main-padding-top;
  padding-right: theme.$main-padding-right;
  padding-bottom: theme.$main-padding-bottom;
  padding-left: theme.$main-padding-left;
  max-width: theme.$main-max-width;
  margin: theme.$main-margin;
  border-radius: theme.$main-border-radius;

  > .content-wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    flex-direction: theme.$main-content-wrapper-flex-direction;
    justify-content: theme.$main-content-wrapper-justify-content;
    align-items: theme.$main-content-wrapper-align-items;
    gap: theme.$main-content-wrapper-gap;
    padding-top: theme.$main-content-wrapper-padding-top;
    padding-right: theme.$main-content-wrapper-padding-right;
    padding-bottom: theme.$main-content-wrapper-padding-bottom;
    padding-left: theme.$main-content-wrapper-padding-left;
    max-width: theme.$main-content-wrapper-max-width;
  }
}
