@use "../mixins/theming";
@use "../variables" as theme;

nav {
  a {
    &:hover,
    &.hover /* Testing purposes */ {
      @include theming.apply-from-theme(
        (
          font-size: theme.$navigation-link-hover-font-size,
          font-weight: theme.$navigation-link-hover-font-weight,
          line-height: theme.$navigation-link-hover-line-height,
          background-color: theme.$navigation-link-hover-background-color,
          color: theme.$navigation-link-hover-text-color,
          text-decoration: theme.$navigation-link-hover-text-decoration,
          border-width: theme.$navigation-link-hover-border-width,
          border-style: theme.$navigation-link-hover-border-style,
          border-color: theme.$navigation-link-hover-border-color,
          border-radius: theme.$navigation-link-hover-border-radius,
          outline: theme.$navigation-link-hover-outline,
          outline-offset: theme.$navigation-link-hover-outline-offset,
          outline-color: theme.$navigation-link-hover-outline-color,
          z-index: theme.$navigation-link-hover-z-index,
          box-shadow: theme.$navigation-link-hover-box-shadow,
          border-radius: theme.$navigation-link-hover-outline-border-radius,
        )
      );
    }
  }
}
