@use "../mixins/theming";
@use "../variables" as theme;

nav {
  a {
    &:focus,
    &.focus /* Testing purposes */ {
      @include theming.apply-from-theme(
        (
          font-size: theme.$navigation-link-focus-font-size,
          font-weight: theme.$navigation-link-focus-font-weight,
          line-height: theme.$navigation-link-focus-line-height,
          background-color: theme.$navigation-link-focus-background-color,
          color: theme.$navigation-link-focus-text-color,
          text-decoration: theme.$navigation-link-focus-text-decoration,
          border-width: theme.$navigation-link-focus-border-width,
          border-style: theme.$navigation-link-focus-border-style,
          border-color: theme.$navigation-link-focus-border-color,
          border-radius: theme.$navigation-link-focus-border-radius,
          outline: theme.$navigation-link-focus-outline,
          outline-offset: theme.$navigation-link-focus-outline-offset,
          outline-color: theme.$navigation-link-focus-outline-color,
          z-index: theme.$navigation-link-focus-z-index,
          box-shadow: theme.$navigation-link-focus-box-shadow,
          border-radius: theme.$navigation-link-focus-outline-border-radius,
        )
      );
    }
  }
}
