@use "../mixins/theming";
@use "../variables" as theme;

nav.tabs {
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;

    li {
      &::before {
        display: none; /* Preventing default nav before to show up */
      }

      a,
      a:visited {
        display: flex;
        align-items: center;
        color: inherit;
        height: 100%;
        box-sizing: border-box;

        @include theming.apply-from-theme(
          (
            padding: theme.$navigation-tabs-list-item-padding,
          )
        );

        &:hover {
          @include theming.apply-from-theme(
            (
              background-color:
                theme.$navigation-tabs-list-item-hover-background-color,
              color: theme.$navigation-tabs-list-item-hover-text-color,
              text-decoration: theme.$navigation-tabs-link-text-decoration,
            )
          );
        }
      }
    }
  }
}
