@use "../mixins/theming";
@use "../variables" as theme;

p,
span {
  &.notification,
  &.error,
  &.warning,
  &.confirmation,
  &.explanation,
  &.system {
    display: inline-block;
    box-sizing: border-box;

    @include theming.apply-from-theme(
      (
        width: theme.$notification-paragraph-width,
        padding-top: theme.$notification-paragraph-padding-top,
        padding-right: theme.$notification-paragraph-padding-right,
        padding-bottom: theme.$notification-paragraph-padding-bottom,
        padding-left: theme.$notification-paragraph-padding-left,
      )
    );

    > span:first-of-type {
      @include theming.apply-from-theme(
        (
          font-weight: theme.$notification-paragraph-span-font-weight,
        )
      );
    }
  }
}
