@use "../mixins/notification";
@use "../variables" as theme;

p.confirmation,
span.confirmation,
section.confirmation,
div.confirmation {
  @include notification.notification;

  background-color: theme.$notification-confirmation-background-color;
  color: theme.$notification-confirmation-text-color;
  border-width: theme.$notification-confirmation-border-width;
  border-style: theme.$notification-confirmation-border-style;
  border-color: theme.$notification-confirmation-border-color;

  &::before {
    font-family: theme.$notification-confirmation-icon-font-family;
    font-size: theme.$notification-confirmation-icon-font-size;
    padding-right: theme.$notification-confirmation-icon-padding-right;
    padding-left: theme.$notification-confirmation-icon-padding-left;
    color: theme.$notification-confirmation-icon-color;
    background-color: theme.$notification-confirmation-icon-color;
    margin-right: theme.$notification-confirmation-icon-margin-right;
    content: theme.$notification-confirmation-icon;
  }

  .icon {
    background-color: theme.$notification-confirmation-icon-color;
    color: theme.$notification-confirmation-icon-color;
  }
}
