@use "../variables" as theme;

p,
span {
  &.notification,
  &.error,
  &.warning,
  &.confirmation,
  &.explanation,
  &.system {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: theme.$notification-paragraph-width;
    padding-top: theme.$notification-paragraph-padding-top;
    padding-right: theme.$notification-paragraph-padding-right;
    padding-bottom: theme.$notification-paragraph-padding-bottom;
    padding-left: theme.$notification-paragraph-padding-left;
    gap: theme.$notification-paragraph-gap;

    > .notification-type {
      font-weight: theme.$notification-paragraph-span-font-weight;
    }
  }
}
