@use "../variables" as theme;

%notifictions-error-page-styling {
  max-width: 100%;
  width: 100%;
  background-color: theme.$notification-error-page-background-color;
  color: theme.$notification-error-page-text-color;

  .notification-type {
    font-weight: theme.$notification-error-page-span-font-weight;
  }

  p,
  span,
  section,
  div {
    &.error {
      &::before {
        font-family: theme.$notification-error-page-icon-font-family;
        font-size: theme.$notification-error-page-icon-font-size;
        padding-right: theme.$notification-error-page-icon-padding-right;
        padding-left: theme.$notification-error-page-icon-padding-left;
        color: theme.$notification-error-page-icon-text-color;
        margin-right: theme.$notification-error-page-icon-margin-right;
      }
    }
  }
}

main {
  &.error {
    @extend %notifictions-error-page-styling;
  }

  > section,
  > article,
  > div {
    &.error {
      @extend %notifictions-error-page-styling;
    }
  }
}
