@use "../mixins/theming";
@use "../mixins/notification";
@use "../variables" as theme;

p.explanation,
span.explanation,
section.explanation,
div.explanation {
  @include notification.notification;
  @include theming.apply-from-theme(
    (
      background-color: theme.$notification-explanation-background-color,
      color: theme.$notification-explanation-text-color,
      border-width: theme.$notification-explanation-border-width,
      border-style: theme.$notification-explanation-border-style,
      border-color: theme.$notification-explanation-border-color,
    )
  );

  &::before {
    @include theming.apply-from-theme(
      (
        font-family: theme.$notification-explanation-icon-font-family,
        font-size: theme.$notification-explanation-icon-font-size,
        padding-right: theme.$notification-explanation-icon-padding-right,
        padding-left: theme.$notification-explanation-icon-padding-left,
        color: theme.$notification-explanation-icon-text-color,
        margin-right: theme.$notification-explanation-icon-margin-right,
        content: theme.$notification-explanation-icon,
      )
    );
  }

  .icon {
    color: inherit;

    @include theming.apply-from-theme(
      (
        background-color: theme.$notification-explanation-icon-color,
        color: theme.$notification-explanation-icon-color,
      )
    );
  }
}
