@use "../variables" as theme;

p.system,
span.system,
section.system,
div.system {
  max-width: 100%;
  width: 100%;
  background-color: theme.$notification-system-message-background-color;
  color: theme.$notification-system-message-text-color;

  .notification-type {
    font-weight: theme.$notification-system-message-span-font-weight;
  }

  &::before {
    font-family: theme.$notification-system-message-icon-font-family;
    font-size: theme.$notification-system-message-icon-font-size;
    padding-right: theme.$notification-system-message-icon-padding-right;
    padding-left: theme.$notification-system-message-icon-padding-left;
    color: theme.$notification-system-message-icon-text-color;
    margin-right: theme.$notification-system-message-icon-margin-right;
  }
}
