@use "../variables" as theme;
@use "../functions/validators";

table {
  td,
  th,
  tr {
    align-items: center;

    &.error,
    &.warning,
    &.explanation,
    &.confirmation,
    &.system {
      & > div {
        gap: theme.$notification-table-gap;
        align-items: theme.$notification-table-align-items;
      }

      .notification-type {
        font-size: theme.$notification-type-table-font-size;
      }
    }

    &.error {
      background-color: theme.$notification-table-error-background-color;
      color: theme.$notification-table-error-text-color;
      box-shadow: theme.$notification-table-error-box-shadow;

      .icon {
        background-color: theme.$notification-error-icon-color;
      }
    }

    &.warning {
      background-color: theme.$notification-table-warning-background-color;
      color: theme.$notification-table-warning-text-color;
      box-shadow: theme.$notification-table-warning-box-shadow;

      .icon {
        background-color: theme.$notification-warning-icon-color;
      }
    }

    &.confirmation {
      background-color: theme.$notification-table-confirmation-background-color;
      color: theme.$notification-table-confirmation-text-color;
      box-shadow: theme.$notification-table-confirmation-box-shadow;

      .icon {
        background-color: theme.$notification-confirmation-icon-color;
      }
    }

    &.explanation {
      background-color: theme.$notification-table-explanation-background-color;
      color: theme.$notification-table-explanation-text-color;
      box-shadow: theme.$notification-table-explanation-box-shadow;

      .icon {
        background-color: theme.$notification-explanation-icon-color;
      }
    }

    &.system {
      background-color: theme.$notification-table-system-background-color;
      color: theme.$notification-table-system-text-color;
      box-shadow: theme.$notification-table-system-box-shadow;

      .icon {
        background-color: theme.$notification-system-icon-color;
      }
    }
  }

  // Darken even rows for zebra effect
  tr {
    &:nth-child(even):not(.odd),
    &:nth-child(odd).even {
      background-color: theme.$notification-table-row-background-color-striping;
    }
    filter: brightness(90%);
  }
}
