@use "../variables" as theme;

p {
  color: inherit;
  line-height: theme.$p-line-height;
  font-size: theme.$p-font-size;
  font-weight: theme.$p-font-weight;
  background-color: theme.$p-background-color;
  max-width: theme.$p-max-width;
  margin: theme.$p-margin;
}
