@use "../variables" as theme;

.page-title {
  line-height: theme.$page-title-line-height;
  font-size: theme.$page-title-font-size;
  font-weight: theme.$page-title-font-weight;
  width: theme.$page-title-width;
  max-width: theme.$page-title-max-width;
  margin: theme.$page-title-margin;
  box-sizing: border-box;
  padding: theme.$page-title-padding;
}
