@use "../variables" as theme;

.page-title {
  $breakpoint-1: 24rem !default;
  $breakpoint-2: 50rem !default;

  line-height: theme.$page-title-line-height;
  font-size: theme.$page-title-font-size;
  font-weight: theme.$page-title-font-weight;
  width: theme.$page-title-width;
  max-width: theme.$page-title-max-width;
  margin: theme.$page-title-margin;
  box-sizing: border-box;
  padding: theme.$page-title-padding;

  @media (width >= $breakpoint-1) {
    padding: theme.$page-title-padding-breakpoint-1;
  }

  @media (width >= $breakpoint-2) {
    padding: theme.$page-title-padding-breakpoint-2;
  }
}
