@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

section {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;

  @if validators.any-args-not-null(
    theme.$section-flex-direction,
    theme.$section-gap,
    theme.$section-justify-content,
    theme.$section-align-items
  )
  {
    display: flex;
  }

  @include theming.apply-from-theme(
    (
      background-color: theme.$section-background-color,
      flex-direction: theme.$section-flex-direction,
      justify-content: theme.$section-justify-content,
      align-items: theme.$section-align-items,
      gap: theme.$section-gap,
      padding-top: theme.$section-padding-top,
      padding-right: theme.$section-padding-right,
      padding-bottom: theme.$section-padding-bottom,
      padding-left: theme.$section-padding-left,
      max-width: theme.$section-max-width,
      border-radius: theme.$section-border-radius,
    )
  );
}
