@use "../variables" as theme;

@mixin in-focus {
  position: static;
  display: flex;
  height: auto;
  width: theme.$skip-to-content-width;
  padding: theme.$skip-to-content-padding;
  margin: theme.$skip-to-content-margin;
  min-height: theme.$skip-to-content-min-height;
  border-width: theme.$skip-to-content-border-width;
  border-style: theme.$skip-to-content-border-style;
  border-color: theme.$skip-to-content-border-color;
  background-color: theme.$skip-to-content-background-color;
  color: theme.$skip-to-content-text-color;
  align-self: theme.$skip-to-content-align-self;
  order: theme.$skip-to-content-order;
  font-size: theme.$skip-to-content-font-size;
  text-align: theme.$skip-to-content-text-align;
  justify-content: theme.$skip-to-content-justify-content;
}

.skip-to-content,
a.button.skip-to-content {
  /* Visually removing the objects height. Without removing the object
	from the flow. */
  display: block;
  min-height: 0;
  padding: 0;
  border: 0;
  max-width: 100%;
  font-size: 0;

  &:focus {
    @include in-focus;
  }

  &:hover {
    background-color: theme.$skip-to-content-hover-background-color;
    color: theme.$skip-to-content-hover-text-color;
    border-width: theme.$skip-to-content-hover-border-width;
    border-style: theme.$skip-to-content-hover-border-style;
    border-color: theme.$skip-to-content-hover-border-color;
  }
}
