@use "../mixins/apply-from-theme";
@use "../variables" as theme;

.skip-to-content,
a.button.skip-to-content {
  /* Visually removing the objects height. Without removing the object
	from the flow. */
  display: block;
  min-height: 0;
  font-size: 0;
  padding: 0;
  border: 0;
  max-width: 100%;

  &:focus {
    position: static;
    display: flex;
    height: auto;

    @include apply-from-theme.apply-from-theme(
      (
        width: theme.$skip-to-content-width,
        padding: theme.$skip-to-content-padding,
        text-align: theme.$skip-to-content-text-align,
        font-size: theme.$skip-to-content-font-size,
        min-height: theme.$skip-to-content-min-height,
        border-width: theme.$skip-to-content-border-width,
        border-style: theme.$skip-to-content-border-style,
        border-color: theme.$skip-to-content-border-color,
        background-color: theme.$skip-to-content-background-color,
        color: theme.$skip-to-content-text-color,
      )
    );
  }

  &:hover {
    @include apply-from-theme.apply-from-theme(
      (
        background-color: theme.$skip-to-content-hover-background-color,
        color: theme.$skip-to-content-hover-text-color,
        border-width: theme.$skip-to-content-hover-border-width,
        border-style: theme.$skip-to-content-hover-border-style,
        border-color: theme.$skip-to-content-hover-border-color,
      )
    );
  }
}
