@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

table {
  caption {
    @include theming.apply-from-theme(
      (
        background-color: theme.$table-base-caption-background-color,
        color: theme.$table-base-caption-text-color,
        font-size: theme.$table-base-caption-font-size,
        text-align: theme.$table-base-caption-text-align,
        line-height: theme.$table-base-caption-line-height,
        padding: theme.$table-base-caption-padding,
      )
    );
  }
}