@use "../variables" as theme;

table {
  &.condensed {
    font-size: theme.$table-condensed-font-size;
    line-height: theme.$table-condensed-line-height;

    caption {
      font-size: theme.$table-condensed-caption-font-size;
    }

    thead {
      th {
        padding: theme.$table-condensed-head-cell-padding;
        font-weight: theme.$table-condensed-head-cell-font-weight;
        font-size: theme.$table-condensed-head-cell-font-size;
      }
    }

    td {
      padding: theme.$table-condensed-cell-padding;
      font-weight: theme.$table-condensed-cell-font-weight;
      font-size: theme.$table-condensed-cell-font-size;
    }

    tfoot {
      padding: theme.$table-condensed-foot-padding;
      font-size: theme.$table-condensed-foot-font-size;
      font-weight: theme.$table-condensed-foot-font-weight;

      th {
        padding: theme.$table-condensed-foot-header-padding;
        font-size: theme.$table-condensed-foot-header-font-size;
        font-weight: theme.$table-condensed-foot-header-font-weight;
      }

      td {
        padding: theme.$table-condensed-foot-cell-padding;
        font-size: theme.$table-condensed-foot-cell-font-size;
        font-weight: theme.$table-condensed-foot-cell-font-weight;
      }
    }
  }
}
