@use "../mixins/theming";
@use "../variables" as theme;

table {
  td[rowspan] {
    background-color: theme.$table-rowspan-caption-background-color;
    color: theme.$table-rowspan-caption-text-color;
    font-size: theme.$table-rowspan-caption-font-size;
    padding: theme.$table-rowspan-caption-padding;
    border: theme.$table-rowspan-border;
  }
}
