@use "../variables" as theme;

$breakpoint: 24rem !default;

table {
  button.expando-button {
    display: none;
  }

  tr.expando-row {
    display: table-layout;
    border-width: theme.$expando-rows-border-width;
    border-style: theme.$expando-rows-border-style;
    border-color: theme.$expando-rows-border-color;
    filter: unset;

    td {
      position: relative;
      background-color: theme.$expando-rows-table-cell-background-color;
      padding: theme.$expando-rows-table-cell-padding;

      @media (width >= $breakpoint) {
        padding: theme.$expando-rows-table-cell-after-breakpoint-padding;
      }
    }

    .expando-row-content {
      display: flex;
      flex-direction: column;
      gap: theme.$expando-rows-content-gap;
      background-color: theme.$expando-rows-content-background-color;
      padding: theme.$expando-rows-content-padding;
    }
  }
}

.js-expando-rows-loaded {
  table {
    button.expando-button {
      display: inline-flex;
    }
  }
}

.expanded-row {
  background-color: theme.$expando-rows-row-background-color;
  font-weight: theme.$expando-rows-row-font-weight;
  filter: unset;

  &:nth-child(even):not(.odd),
  &:nth-child(odd).even {
    background-color: theme.$expando-rows-row-striping-background-color;
  }
}
