@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

table.summary {
  @include theming.apply-from-theme(
    (
      width: theme.$table-summary-width,
      min-width: theme.$table-summary-min-width,
    )
  );

  tbody {
    @include theming.apply-from-theme(
      (
        border-width: theme.$table-summary-body-border-width,
        border-style: theme.$table-summary-body-border-style,
        border-color: theme.$table-summary-body-border-color,
      )
    );

    tr {
      td {
        @include theming.apply-from-theme(
          (
            border-width: theme.$table-summary-cell-border-width,
            border-style: theme.$table-summary-cell-border-style,
            border-color: theme.$table-summary-cell-border-color,
          )
        );
      }

      &:last-child td {
        @include theming.apply-from-theme(
          (
            border-width: theme.$table-summary-last-row-cell-border-width,
            border-style: theme.$table-summary-last-row-cell-border-style,
            border-color: theme.$table-summary-last-row-cell-border-color,
          )
        );
      }
    }
  }

  tfoot {
    @include theming.apply-from-theme(
      (
        border-width: theme.$table-summary-footer-border-width,
        border-style: theme.$table-summary-footer-border-style,
        border-color: theme.$table-summary-footer-border-color,
        background-color: theme.$table-summary-footer-background-color,
      )
    );
  }
}

.horizontal-scroll.summary {
  width: auto;
  margin: 0;
}
