@use "../variables" as theme;

%tag,
.tag {
  max-width: max-content;
  font-size: theme.$tag-font-size;
  font-weight: theme.$tag-font-weight;
  line-height: theme.$tag-line-height;
  padding: theme.$tag-padding;
  border-radius: theme.$tag-border-radius;
  border-width: theme.$tag-border-width;

  &.plain,
  &.solid,
  &.dashed,
  &.dotted {
    border-width: theme.$tag-border-width;
  }

  &.plain {
    border-style: solid;
    border-color: transparent;
  }

  &.solid {
    border-style: solid;
  }

  &.dashed {
    border-style: dashed;
  }

  &.dotted {
    border-style: dotted;
  }
}
