@use "../variables" as theme;
@use "tag";

.tags {
  /* render each div directly within a tags group as a tag */
  > p,
  > span {
    @extend %tag;
  }
}

table.tags,
table .tags {
  td {
    p,
    span {
      @extend %tag;
    }
  }
}

ul.tags {
  padding: 0;

  > li {
    @extend %tag;

    list-style: theme.$tags-list-style;
  }
}

.tags.horizontal {
  flex-direction: theme.$tags-flex-direction;
  align-items: theme.$tags-align-items;
  justify-content: theme.$tags-justify-content;
  flex-wrap: theme.$tags-flex-wrap;
  gap: theme.$tags-gap;
  padding-top: theme.$tags-padding-top;
  padding-right: theme.$tags-padding-right;
  padding-bottom: theme.$tags-padding-bottom;
  padding-left: theme.$tags-padding-left;
}

/* Color 1 */
.tags-color-1 {
  background-color: theme.$tags-color-1-background-color;
  color: theme.$tags-color-1-text-color;
  border-color: theme.$tags-color-1-border-color;
}

.tags-color-1-light {
  background-color: theme.$tags-color-1-light-background-color;
  color: theme.$tags-color-1-light-text-color;
  border-color: theme.$tags-color-1-light-border-color;
}

.tags-color-1-medium {
  background-color: theme.$tags-color-1-medium-background-color;
  color: theme.$tags-color-1-medium-text-color;
  border-color: theme.$tags-color-1-medium-border-color;
}

.tags-color-1-dark {
  background-color: theme.$tags-color-1-dark-background-color;
  color: theme.$tags-color-1-dark-text-color;
  border-color: theme.$tags-color-1-dark-border-color;
}

/* Color 2 */
.tags-color-2 {
  background-color: theme.$tags-color-2-background-color;
  color: theme.$tags-color-2-text-color;
  border-color: theme.$tags-color-2-border-color;
}

.tags-color-2-light {
  background-color: theme.$tags-color-2-light-background-color;
  color: theme.$tags-color-2-light-text-color;
  border-color: theme.$tags-color-2-light-border-color;
}

.tags-color-2-medium {
  background-color: theme.$tags-color-2-medium-background-color;
  color: theme.$tags-color-2-medium-text-color;
  border-color: theme.$tags-color-2-medium-border-color;
}

.tags-color-2-dark {
  background-color: theme.$tags-color-2-dark-background-color;
  color: theme.$tags-color-2-dark-text-color;
  border-color: theme.$tags-color-2-dark-border-color;
}

/* Color 3 */
.tags-color-3 {
  background-color: theme.$tags-color-3-background-color;
  color: theme.$tags-color-3-text-color;
  border-color: theme.$tags-color-3-border-color;
}

.tags-color-3-light {
  background-color: theme.$tags-color-3-light-background-color;
  color: theme.$tags-color-3-light-text-color;
  border-color: theme.$tags-color-3-light-border-color;
}

.tags-color-3-medium {
  background-color: theme.$tags-color-3-medium-background-color;
  color: theme.$tags-color-3-medium-text-color;
  border-color: theme.$tags-color-3-medium-border-color;
}

.tags-color-3-dark {
  background-color: theme.$tags-color-3-dark-background-color;
  color: theme.$tags-color-3-dark-text-color;
  border-color: theme.$tags-color-3-dark-border-color;
}

/* Color 4 */
.tags-color-4 {
  background-color: theme.$tags-color-4-background-color;
  color: theme.$tags-color-4-text-color;
  border-color: theme.$tags-color-4-border-color;
}

.tags-color-4-light {
  background-color: theme.$tags-color-4-light-background-color;
  color: theme.$tags-color-4-light-text-color;
  border-color: theme.$tags-color-4-light-border-color;
}

.tags-color-4-medium {
  background-color: theme.$tags-color-4-medium-background-color;
  color: theme.$tags-color-4-medium-text-color;
  border-color: theme.$tags-color-4-medium-border-color;
}

.tags-color-4-dark {
  background-color: theme.$tags-color-4-dark-background-color;
  color: theme.$tags-color-4-dark-text-color;
  border-color: theme.$tags-color-4-dark-border-color;
}

/* Color 5 */
.tags-color-5 {
  background-color: theme.$tags-color-5-background-color;
  color: theme.$tags-color-5-text-color;
  border-color: theme.$tags-color-5-border-color;
}

.tags-color-5-light {
  background-color: theme.$tags-color-5-light-background-color;
  color: theme.$tags-color-5-light-text-color;
  border-color: theme.$tags-color-5-light-border-color;
}

.tags-color-5-medium {
  background-color: theme.$tags-color-5-medium-background-color;
  color: theme.$tags-color-5-medium-text-color;
  border-color: theme.$tags-color-5-medium-border-color;
}

.tags-color-5-dark {
  background-color: theme.$tags-color-5-dark-background-color;
  color: theme.$tags-color-5-dark-text-color;
  border-color: theme.$tags-color-5-dark-border-color;
}

/* Color 6 */
.tags-color-6 {
  background-color: theme.$tags-color-6-background-color;
  color: theme.$tags-color-6-text-color;
  border-color: theme.$tags-color-6-border-color;
}

.tags-color-6-light {
  background-color: theme.$tags-color-6-light-background-color;
  color: theme.$tags-color-6-light-text-color;
  border-color: theme.$tags-color-6-light-border-color;
}

.tags-color-6-medium {
  background-color: theme.$tags-color-6-medium-background-color;
  color: theme.$tags-color-6-medium-text-color;
  border-color: theme.$tags-color-6-medium-border-color;
}

.tags-color-6-dark {
  background-color: theme.$tags-color-6-dark-background-color;
  color: theme.$tags-color-6-dark-text-color;
  border-color: theme.$tags-color-6-dark-border-color;
}
