@use "../variables" as theme;

.tile {
  display: flex;
  box-sizing: border-box;
  align-items: theme.$tile-align-items;
  flex-direction: theme.$tile-flex-direction;
  justify-content: theme.$tile-justify-content;
  gap: theme.$tile-gap;
  background-color: theme.$tile-background-color;
  color: theme.$tile-text-color;
  padding-top: theme.$tile-padding-top;
  padding-right: theme.$tile-padding-right;
  padding-bottom: theme.$tile-padding-bottom;
  padding-left: theme.$tile-padding-left;
  border-width: theme.$tile-border-width;
  border-style: theme.$tile-border-style;
  border-color: theme.$tile-border-color;
  border-radius: theme.$tile-border-radius;
  box-shadow: theme.$tile-box-shadow;
  cursor: theme.$tile-cursor;
  max-width: 100%;

  &.image-cover img,
  img.image-cover {
    order: -1;
  }

  .tile-group {
    display: flex;
    width: 100%;
    flex-direction: theme.$tile-group-flex-direction;
    gap: theme.$tile-group-gap;
    margin: theme.$tile-group-margin;
    padding: theme.$tile-group-padding;
    border-width: theme.$tile-group-border-width;
    border-style: theme.$tile-group-border-style;
    border-color: theme.$tile-group-border-color;
    align-items: theme.$tile-group-align-items;
    justify-content: theme.$tile-group-justify-content;
  }
}

.tiles {
  align-items: theme.$tiles-align-items;

  /* render each div, nav or section directly within a tiles group as a tile */
  > div,
  > nav,
  > section {
    box-sizing: border-box;
    align-items: theme.$tile-align-items;
    flex-direction: theme.$tile-flex-direction;
    justify-content: theme.$tile-justify-content;
    gap: theme.$tile-gap;
    background-color: theme.$tile-background-color;
    color: theme.$tile-text-color;
    padding-top: theme.$tile-padding-top;
    padding-right: theme.$tile-padding-right;
    padding-bottom: theme.$tile-padding-bottom;
    padding-left: theme.$tile-padding-left;
    border-width: theme.$tile-border-width;
    border-style: theme.$tile-border-style;
    border-color: theme.$tile-border-color;
    border-radius: theme.$tile-border-radius;
    box-shadow: theme.$tile-box-shadow;
    cursor: theme.$tile-cursor;
  }
}

ul.tiles {
  padding-left: 0;

  > li {
    flex-direction: theme.$tile-flex-direction;
    justify-content: theme.$tile-justify-content;
    align-items: theme.$tile-align-items;
    gap: theme.$tile-gap;
    background-color: theme.$tile-background-color;
    color: theme.$tile-text-color;
    padding-top: theme.$tile-padding-top;
    padding-right: theme.$tile-padding-right;
    padding-bottom: theme.$tile-padding-bottom;
    padding-left: theme.$tile-padding-left;
    border-width: theme.$tile-border-width;
    border-style: theme.$tile-border-style;
    border-color: theme.$tile-border-color;
    border-radius: theme.$tile-border-radius;
    box-shadow: theme.$tile-box-shadow;
    cursor: theme.$tile-cursor;

    > a {
      text-decoration: none;
      color: theme.$tile-link-text-color;
    }
  }
}
