@use "../variables" as theme;
@use "../functions/validators";

%tile-image-cover {
  object-fit: cover;
  max-width: unset;
  width: 100%;
  object-position: theme.$tile-image-cover-object-position;
  max-height: theme.$tile-image-cover-max-height;
  border-radius: theme.$tile-border-radius theme.$tile-border-radius 0 0;
  margin-bottom: theme.$tile-image-cover-margin-bottom;

  @if validators.args-not-null(
    theme.$tile-padding-right,
    theme.$tile-padding-left
  )
  {
    width: calc(100% + theme.$tile-padding-right + theme.$tile-padding-left);
  }

  @if theme.$tile-padding-top {
    margin-top: calc(-1 * theme.$tile-padding-top);
  }

  @if theme.$tile-padding-right {
    margin-right: calc(-1 * theme.$tile-padding-right);
  }

  @if theme.$tile-padding-left {
    margin-left: calc(-1 * theme.$tile-padding-left);
  }
}

.tile.image-cover {
  img {
    height: unset;

    @extend %tile-image-cover;
  }
}

.tiles.image-covers {
  > div,
  li {
    img {
      height: unset;

      @extend %tile-image-cover;
    }
  }
}
