@use "../mixins/theming";
@use "../variables" as theme;
@use "../functions/validators";

%tile-groups,
.tile {
  > div,
  > section {
    display: flex;

    @include theming.apply-from-theme(
      (
        flex-direction: theme.$tile-groups-flex-direction,
        gap: theme.$tile-groups-gap,
        border-width: theme.$tile-groups-border-width,
        border-style: theme.$tile-groups-border-style,
        border-color: theme.$tile-groups-border-color,
        padding-top: theme.$tile-groups-padding-top,
        padding-right: theme.$tile-groups-padding-right,
        padding-bottom: theme.$tile-groups-padding-bottom,
        padding-left: theme.$tile-groups-padding-left,
      )
    );
  }
}

.tiles {
  /* render each div directly within a tiles group as a tile */
  > div {
    @extend %tile-groups;
  }
}

ul.tiles {
  > li {
    @extend %tile-groups;
  }
}
