@font-face {
  font-family: "manon-docs-icons";
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: url("../icons/manon-docs-icons-0.1.eot");
  src:
    url("../icons/manon-docs-icons-0.1.woff") format("woff"),
    url("../icons/manon-docs-icons-0.1.ttf") format("truetype"),
    url("../icons/manon-docs-icons-0.1.svg#manon-docs-icons") format("svg");
}

.icon,
.icon-only {
  &.icon-cat::before {
    font-family: "manon-docs-icons";
    content: "\e900";
  }
}
