.resize {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin: 0;
  resize: none;
  overflow: hidden;

  iframe {
    flex-grow: 1;
    border: 0;
    min-height: 0;

    // Resets default iframe size to 0.
    // docs/src/markdown/components/Iframe.svelte will override it with
    // the actual height. Based on the content of the iframe.
    height: 0;
  }
}

// Visually hiding empty main's that are technically needed for examples.
// But only add clutter and confusion visually.
main:empty {
  min-height: 0;
  padding: 0;
  display: none;
}

main:has(.hero:only-child) {
  padding-bottom: 0;
}
