@use "../../../manon/variables/" as theme;

// Showing the logo corresponding to the theme
.logo.rijkshuisstijl-2008,
.logo.icore-open,
.logo.kat {
  display: none;
}

.logo,
a.logo,
a:visited.logo,
a:hover.logo,
a:active.logo,
a:focus.logo {
  &.rijkshuisstijl-2008 {
    @if theme.$theme-name == "rijkshuisstijl-2008" {
      display: theme.$logo-display;
    }
  }
}

.logo,
a.logo,
a:visited.logo,
a:hover.logo,
a:active.logo,
a:focus.logo {
  &.icore-open {
    @if theme.$theme-name == "icore-open" {
    display: theme.$logo-display;
    padding: 1rem;
    background-color: theme.$header-background-color;
  }
  }
}

.logo,
a.logo,
a:visited.logo,
a:hover.logo,
a:active.logo,
a:focus.logo {
  &.kat{
    @if theme.$theme-name == "kat" {
      display: theme.$logo-display;
    }
  }
}