@use "../config";

$tabler-icons-path: "#{config.$icons-path}/tabler";

$icon-map: (
  adjustments: "#{$tabler-icons-path}/adjustments.svg",
  affiliate: "#{$tabler-icons-path}/affiliate.svg",
  alert: "#{$tabler-icons-path}/alert.svg",
  alert-circle: "#{$tabler-icons-path}/alert-circle.svg",
  alert-triangle: "#{$tabler-icons-path}/alert-triangle.svg",
  archive: "#{$tabler-icons-path}/archive.svg",
  arrow-back-up: "#{$tabler-icons-path}/arrow-back-up.svg",
  arrow-down: "#{$tabler-icons-path}/arrow-down.svg",
  arrow-left: "#{$tabler-icons-path}/arrow-left.svg",
  arrow-right: "#{$tabler-icons-path}/arrow-right.svg",
  arrow-up: "#{$tabler-icons-path}/arrow-up.svg",
  ascending: "#{$tabler-icons-path}/ascending.svg",
  bell: "#{$tabler-icons-path}/bell.svg",
  bell-off: "#{$tabler-icons-path}/bell-off.svg",
  building: "#{$tabler-icons-path}/building.svg",
  bulb: "#{$tabler-icons-path}/bulb.svg",
  calendar: "#{$tabler-icons-path}/calendar.svg",
  check: "#{$tabler-icons-path}/check.svg",
  check-circle: "#{$tabler-icons-path}/check-circle.svg",
  chevron-down: "#{$tabler-icons-path}/chevron_down.svg",
  chevron-left: "#{$tabler-icons-path}/chevron_left.svg",
  chevron-right: "#{$tabler-icons-path}/chevron_right.svg",
  chevron-up: "#{$tabler-icons-path}/chevron_up.svg",
  circle-check: "#{$tabler-icons-path}/circle-check.svg",
  circle-cross: "#{$tabler-icons-path}/circle-cross.svg",
  circle-dash: "#{$tabler-icons-path}/circle-dash.svg",
  circle-x: "#{$tabler-icons-path}/circle-x.svg",
  clock: "#{$tabler-icons-path}/clock.svg",
  close: "#{$tabler-icons-path}/close.svg",
  confirmation: "#{$tabler-icons-path}/confirmation.svg",
  descending: "#{$tabler-icons-path}/descending.svg",
  dots: "#{$tabler-icons-path}/dots.svg",
  dots-circle-horizontal: "#{$tabler-icons-path}/dots-circle-horizontal.svg",
  dots-vertical: "#{$tabler-icons-path}/dots-vertical.svg",
  download: "#{$tabler-icons-path}/download.svg",
  edit: "#{$tabler-icons-path}/edit.svg",
  external-link: "#{$tabler-icons-path}/external-link.svg",
  eye: "#{$tabler-icons-path}/eye.svg",
  eye-off: "#{$tabler-icons-path}/eye-off.svg",
  eye-plus: "#{$tabler-icons-path}/eye-plus.svg",
  file: "#{$tabler-icons-path}/file.svg",
  file-alert: "#{$tabler-icons-path}/file-alert.svg",
  file-upload: "#{$tabler-icons-path}/file-upload.svg",
  folder: "#{$tabler-icons-path}/folder.svg",
  grid: "#{$tabler-icons-path}/grid.svg",
  hamburger: "#{$tabler-icons-path}/hamburger.svg",
  heart: "#{$tabler-icons-path}/heart.svg",
  history: "#{$tabler-icons-path}/history.svg",
  home: "#{$tabler-icons-path}/home.svg",
  info: "#{$tabler-icons-path}/info.svg",
  key: "#{$tabler-icons-path}/key.svg",
  language: "#{$tabler-icons-path}/language.svg",
  layers: "#{$tabler-icons-path}/layers.svg",
  link: "#{$tabler-icons-path}/link.svg",
  list: "#{$tabler-icons-path}/list.svg",
  lock: "#{$tabler-icons-path}/lock.svg",
  log-out: "#{$tabler-icons-path}/log-out.svg",
  menu: "#{$tabler-icons-path}/menu.svg",
  microphone: "#{$tabler-icons-path}/microphone.svg",
  minus: "#{$tabler-icons-path}/minus.svg",
  minus-circle: "#{$tabler-icons-path}/minus-circle.svg",
  more-horizontal: "#{$tabler-icons-path}/more-horizontal.svg",
  more-vertical: "#{$tabler-icons-path}/more-vertical.svg",
  notification: "#{$tabler-icons-path}/notification.svg",
  paperclip: "#{$tabler-icons-path}/paperclip.svg",
  pencil: "#{$tabler-icons-path}/pencil.svg",
  person: "#{$tabler-icons-path}/person.svg",
  phone: "#{$tabler-icons-path}/phone.svg",
  plus: "#{$tabler-icons-path}/plus.svg",
  plus-circle: "#{$tabler-icons-path}/plus-circle.svg",
  printer: "#{$tabler-icons-path}/printer.svg",
  refresh: "#{$tabler-icons-path}/refresh.svg",
  repeat: "#{$tabler-icons-path}/repeat.svg",
  search: "#{$tabler-icons-path}/search.svg",
  settings: "#{$tabler-icons-path}/settings.svg",
  share: "#{$tabler-icons-path}/share.svg",
  star: "#{$tabler-icons-path}/star.svg",
  stop: "#{$tabler-icons-path}/stop.svg",
  trash: "#{$tabler-icons-path}/trash.svg",
  unlock: "#{$tabler-icons-path}/unlock.svg",
  upload: "#{$tabler-icons-path}/upload.svg",
  user: "#{$tabler-icons-path}/user.svg",
  users: "#{$tabler-icons-path}/users.svg",
  video: "#{$tabler-icons-path}/video.svg",
  volume: "#{$tabler-icons-path}/volume.svg",
  x: "#{$tabler-icons-path}/x.svg",
  x-circle: "#{$tabler-icons-path}/x-circle.svg",
);
