@use "sass:map";
@use "../config";

$tabler-icons-path: "#{config.$icons-path}/tabler";
$kat-icons-path: "#{config.$icons-path}/kat";

$kat-icon-map: (
  paw: url("#{$kat-icons-path}/paw.svg"),
);

$tabler-icon-map: (
  adjustments: url("#{$tabler-icons-path}/adjustments.svg"),
  affiliate: url("#{$tabler-icons-path}/affiliate.svg"),
  alert: url("#{$tabler-icons-path}/alert.svg"),
  alert-circle: url("#{$tabler-icons-path}/alert-circle.svg"),
  alert-triangle: url("#{$tabler-icons-path}/alert-triangle.svg"),
  archive: url("#{$tabler-icons-path}/archive.svg"),
  arrow-back-up: url("#{$tabler-icons-path}/arrow-back-up.svg"),
  arrow-down: url("#{$tabler-icons-path}/arrow-down.svg"),
  arrow-left: url("#{$tabler-icons-path}/arrow-left.svg"),
  arrow-right: url("#{$tabler-icons-path}/arrow-right.svg"),
  arrow-up: url("#{$tabler-icons-path}/arrow-up.svg"),
  ascending: url("#{$tabler-icons-path}/ascending.svg"),
  bell: url("#{$tabler-icons-path}/bell.svg"),
  bell-off: url("#{$tabler-icons-path}/bell-off.svg"),
  building: url("#{$tabler-icons-path}/building.svg"),
  bulb: url("#{$tabler-icons-path}/bulb.svg"),
  calendar: url("#{$tabler-icons-path}/calendar.svg"),
  check: url("#{$tabler-icons-path}/check.svg"),
  check-circle: url("#{$tabler-icons-path}/check-circle.svg"),
  chevron-down: url("#{$tabler-icons-path}/chevron-down.svg"),
  chevron-left: url("#{$tabler-icons-path}/chevron-left.svg"),
  chevron-right: url("#{$tabler-icons-path}/chevron-right.svg"),
  chevron-up: url("#{$tabler-icons-path}/chevron-up.svg"),
  circle-check: url("#{$tabler-icons-path}/circle-check.svg"),
  circle-cross: url("#{$tabler-icons-path}/circle-cross.svg"),
  circle-dash: url("#{$tabler-icons-path}/circle-dash.svg"),
  circle-x: url("#{$tabler-icons-path}/circle-x.svg"),
  clock: url("#{$tabler-icons-path}/clock.svg"),
  close: url("#{$tabler-icons-path}/close.svg"),
  confirmation: url("#{$tabler-icons-path}/confirmation.svg"),
  descending: url("#{$tabler-icons-path}/descending.svg"),
  dots: url("#{$tabler-icons-path}/dots.svg"),
  dots-circle-horizontal:
    url("#{$tabler-icons-path}/dots-circle-horizontal.svg"),
  dots-vertical: url("#{$tabler-icons-path}/dots-vertical.svg"),
  download: url("#{$tabler-icons-path}/download.svg"),
  edit: url("#{$tabler-icons-path}/edit.svg"),
  external-link: url("#{$tabler-icons-path}/external-link.svg"),
  eye: url("#{$tabler-icons-path}/eye.svg"),
  eye-off: url("#{$tabler-icons-path}/eye-off.svg"),
  eye-plus: url("#{$tabler-icons-path}/eye-plus.svg"),
  file: url("#{$tabler-icons-path}/file.svg"),
  file-alert: url("#{$tabler-icons-path}/file-alert.svg"),
  file-upload: url("#{$tabler-icons-path}/file-upload.svg"),
  filter: url("#{$tabler-icons-path}/filter.svg"),
  folder: url("#{$tabler-icons-path}/folder.svg"),
  grid: url("#{$tabler-icons-path}/grid.svg"),
  hamburger: url("#{$tabler-icons-path}/hamburger.svg"),
  heart: url("#{$tabler-icons-path}/heart.svg"),
  history: url("#{$tabler-icons-path}/history.svg"),
  home: url("#{$tabler-icons-path}/home.svg"),
  info: url("#{$tabler-icons-path}/info.svg"),
  key: url("#{$tabler-icons-path}/key.svg"),
  language: url("#{$tabler-icons-path}/language.svg"),
  layers: url("#{$tabler-icons-path}/layers.svg"),
  link: url("#{$tabler-icons-path}/link.svg"),
  list: url("#{$tabler-icons-path}/list.svg"),
  lock: url("#{$tabler-icons-path}/lock.svg"),
  log-out: url("#{$tabler-icons-path}/log-out.svg"),
  menu: url("#{$tabler-icons-path}/menu.svg"),
  microphone: url("#{$tabler-icons-path}/microphone.svg"),
  minus: url("#{$tabler-icons-path}/minus.svg"),
  minus-circle: url("#{$tabler-icons-path}/minus-circle.svg"),
  more-horizontal: url("#{$tabler-icons-path}/more-horizontal.svg"),
  more-vertical: url("#{$tabler-icons-path}/more-vertical.svg"),
  notification: url("#{$tabler-icons-path}/notification.svg"),
  paperclip: url("#{$tabler-icons-path}/paperclip.svg"),
  pencil: url("#{$tabler-icons-path}/pencil.svg"),
  person: url("#{$tabler-icons-path}/person.svg"),
  phone: url("#{$tabler-icons-path}/phone.svg"),
  plus: url("#{$tabler-icons-path}/plus.svg"),
  plus-circle: url("#{$tabler-icons-path}/plus-circle.svg"),
  printer: url("#{$tabler-icons-path}/printer.svg"),
  refresh: url("#{$tabler-icons-path}/refresh.svg"),
  repeat: url("#{$tabler-icons-path}/repeat.svg"),
  search: url("#{$tabler-icons-path}/search.svg"),
  settings: url("#{$tabler-icons-path}/settings.svg"),
  share: url("#{$tabler-icons-path}/share.svg"),
  star: url("#{$tabler-icons-path}/star.svg"),
  stop: url("#{$tabler-icons-path}/stop.svg"),
  trash: url("#{$tabler-icons-path}/trash.svg"),
  unlock: url("#{$tabler-icons-path}/unlock.svg"),
  upload: url("#{$tabler-icons-path}/upload.svg"),
  user: url("#{$tabler-icons-path}/user.svg"),
  users: url("#{$tabler-icons-path}/users.svg"),
  video: url("#{$tabler-icons-path}/video.svg"),
  volume: url("#{$tabler-icons-path}/volume.svg"),
  x: url("#{$tabler-icons-path}/x.svg"),
  x-circle: url("#{$tabler-icons-path}/x-circle.svg"),
);

$icon-map: map.merge($kat-icon-map, $tabler-icon-map);
