$kat-icons-path: "kat-icons.svg";
$tabler-icons-path: "tabler-icons.svg";

$sprites: map-merge($kat-sprites, $tabler-sprites);

$kat-sprites: (
  paw: "#{$kat-icons-path}#paw",
);

$tabler-sprites: (
  adjustments: "#{$tabler-icons-path}#adjustments",
  affiliate: "#{$tabler-icons-path}#affiliate",
  alert: "#{$tabler-icons-path}#alert",
  alert-circle: "#{$tabler-icons-path}#alert-circle",
  alert-triangle: "#{$tabler-icons-path}#alert-triangle",
  archive: "#{$tabler-icons-path}#archive",
  arrow-back-up: "#{$tabler-icons-path}#arrow-back-up",
  arrow-down: "#{$tabler-icons-path}#arrow-down",
  arrow-left: "#{$tabler-icons-path}#arrow-left",
  arrow-right: "#{$tabler-icons-path}#arrow-right",
  arrow-up: "#{$tabler-icons-path}#arrow-up",
  ascending: "#{$tabler-icons-path}#ascending",
  bell: "#{$tabler-icons-path}#bell",
  bell-off: "#{$tabler-icons-path}#bell-off",
  building: "#{$tabler-icons-path}#building",
  bulb: "#{$tabler-icons-path}#bulb",
  calendar: "#{$tabler-icons-path}#calendar",
  check: "#{$tabler-icons-path}#check",
  check-circle: "#{$tabler-icons-path}#check-circle",
  chevron-down: "#{$tabler-icons-path}#chevron_down",
  chevron-left: "#{$tabler-icons-path}#chevron_left",
  chevron-right: "#{$tabler-icons-path}#chevron_right",
  chevron-up: "#{$tabler-icons-path}#chevron_up",
  circle-check: "#{$tabler-icons-path}#circle-check",
  circle-cross: "#{$tabler-icons-path}#circle-cross",
  circle-dash: "#{$tabler-icons-path}#circle-dash",
  circle-x: "#{$tabler-icons-path}#circle-x",
  clock: "#{$tabler-icons-path}#clock",
  close: "#{$tabler-icons-path}#close",
  confirmation: "#{$tabler-icons-path}#confirmation",
  descending: "#{$tabler-icons-path}#descending",
  dots: "#{$tabler-icons-path}#dots",
  dots-circle-horizontal: "#{$tabler-icons-path}#dots-circle-horizontal",
  dots-vertical: "#{$tabler-icons-path}#dots-vertical",
  download: "#{$tabler-icons-path}#download",
  edit: "#{$tabler-icons-path}#edit",
  external-link: "#{$tabler-icons-path}#external-link",
  eye: "#{$tabler-icons-path}#eye",
  eye-off: "#{$tabler-icons-path}#eye-off",
  eye-plus: "#{$tabler-icons-path}#eye-plus",
  file: "#{$tabler-icons-path}#file",
  file-alert: "#{$tabler-icons-path}#file-alert",
  file-upload: "#{$tabler-icons-path}#file-upload",
  folder: "#{$tabler-icons-path}#folder",
  grid: "#{$tabler-icons-path}#grid",
  hamburger: "#{$tabler-icons-path}#hamburger",
  heart: "#{$tabler-icons-path}#heart",
  history: "#{$tabler-icons-path}#history",
  home: "#{$tabler-icons-path}#home",
  info: "#{$tabler-icons-path}#info",
  key: "#{$tabler-icons-path}#key",
  language: "#{$tabler-icons-path}#language",
  layers: "#{$tabler-icons-path}#layers",
  link: "#{$tabler-icons-path}#link",
  list: "#{$tabler-icons-path}#list",
  lock: "#{$tabler-icons-path}#lock",
  log-out: "#{$tabler-icons-path}#log-out",
  menu: "#{$tabler-icons-path}#menu",
  microphone: "#{$tabler-icons-path}#microphone",
  minus: "#{$tabler-icons-path}#minus",
  minus-circle: "#{$tabler-icons-path}#minus-circle",
  more-horizontal: "#{$tabler-icons-path}#more-horizontal",
  more-vertical: "#{$tabler-icons-path}#more-vertical",
  notification: "#{$tabler-icons-path}#notification",
  paperclip: "#{$tabler-icons-path}#paperclip",
  pencil: "#{$tabler-icons-path}#pencil",
  person: "#{$tabler-icons-path}#person",
  phone: "#{$tabler-icons-path}#phone",
  plus: "#{$tabler-icons-path}#plus",
  plus-circle: "#{$tabler-icons-path}#plus-circle",
  printer: "#{$tabler-icons-path}#printer",
  refresh: "#{$tabler-icons-path}#refresh",
  repeat: "#{$tabler-icons-path}#repeat",
  search: "#{$tabler-icons-path}#search",
  settings: "#{$tabler-icons-path}#settings",
  share: "#{$tabler-icons-path}#share",
  star: "#{$tabler-icons-path}#star",
  stop: "#{$tabler-icons-path}#stop",
  trash: "#{$tabler-icons-path}#trash",
  unlock: "#{$tabler-icons-path}#unlock",
  upload: "#{$tabler-icons-path}#upload",
  user: "#{$tabler-icons-path}#user",
  users: "#{$tabler-icons-path}#users",
  video: "#{$tabler-icons-path}#video",
  volume: "#{$tabler-icons-path}#volume",
  x: "#{$tabler-icons-path}#x",
  x-circle: "#{$tabler-icons-path}#x-circle",
);
