/*---------------------------------------------------------------*/
/*------------------------- fonts.scss --------------------------*/
/*---------------------------------------------------------------*/
/* Manon icons */
@font-face {
	font-family: "Manon icons";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/manon-icons-0.2.eot");
	src: url("../fonts/manon-icons-0.2.woff") format("woff"),
		url("../fonts/manon-icons-0.2.ttf") format("truetype"),
		url("../fonts/manon-icons-0.2.svg") format("svg");
}
