/*---------------------------------------------------------------*/
/*------------------------- fonts.scss --------------------------*/
/*---------------------------------------------------------------*/

/* Neuton */
@font-face {
  font-family: "Neuton";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/neuton/Neuton-Bold.ttf") format("truetype");
}
