@use "../core/color-scheme/" as color-scheme;

// font
$font-size: 1rem;
$font-size: 1rem;
$font-family: "ro-sans-web", sans-serif;
$font-family-secondary: "ro-serif-web", serif;

$color-text-default: color-scheme.$black;
$color-text-subtle: color-scheme.$black;
$color-text-intense: color-scheme.$black;

$base-background-color: color-scheme.$white;
$base-darker: color-scheme.$grey-50;
$base-offset: color-scheme.$grey-50;

// Primary
$color-brand-primary-default: color-scheme.$ro-blue !default;
$color-brand-primary-text-default: color-scheme.$white !default;
$color-brand-primary-muted: color-scheme.$dark-blue-200 !default;
$color-brand-primary-text-muted: color-scheme.$black !default;
$color-brand-primary-subtle: color-scheme.$dark-blue-100 !default;
$color-brand-primary-text-subtle: color-scheme.$black !default;

// Secondary
$color-brand-secondary-default: color-scheme.$ro-blue !default;
$color-brand-secondary-text-default: color-scheme.$white !default;
$color-brand-secondary-muted: color-scheme.$dark-blue-200 !default;
$color-brand-secondary-text-muted: color-scheme.$black !default;
$color-brand-secondary-subtle: color-scheme.$dark-blue-100 !default;
$color-brand-secondary-text-subtle: color-scheme.$black !default;
