@forward "../config";

@use "../core/color-scheme" as color-scheme;

@use "../" as theme with (
  // Primary
  $color-brand-primary-default: color-scheme.$dark-green-700,
  $color-brand-primary-text-default: color-scheme.$white,
  $color-brand-primary-muted: color-scheme.$dark-green-200,
  $color-brand-primary-text-muted: color-scheme.$black,
  $color-brand-primary-subtle: color-scheme.$dark-green-100,
  $color-brand-primary-text-subtle: color-scheme.$black,

  // Secondary
  $color-brand-secondary-default: color-scheme.$ro-blue,
  $color-brand-secondary-text-default: color-scheme.$white
);

@use "@minvws/manon/components/bundles/all";
