@forward "../config";

@use "../core/color-scheme" as color-scheme;

@use "../" as theme with (
  // Primary
  $color-brand-primary-default: color-scheme.$orange-400,
  $color-brand-primary-text-default: color-scheme.$black,
  $color-brand-primary-muted: color-scheme.$orange-150,
  $color-brand-primary-text-muted: color-scheme.$black,
  $color-brand-primary-subtle: color-scheme.$orange-100,
  $color-brand-primary-text-subtle: color-scheme.$black,

  // Secondary
  $color-brand-secondary-default: color-scheme.$orange-100,
  $color-brand-secondary-text-default: color-scheme.$black,
  $color-brand-secondary-muted: color-scheme.$orange-200,
  $color-brand-secondary-text-muted: color-scheme.$black,
  $color-brand-secondary-subtle: color-scheme.$orange-100,
  $color-brand-secondary-text-subtle: color-scheme.$black
);

@use "@minvws/manon/components/bundles/all";
