@use "../../core/typography/font-size/body-text" as body-text;
@use "../../core/typography/line-height" as line-height;
@use "../../core/typography/font-weight.scss" as font-weight;
@use "../../core/typography/letter-spacing.scss" as letter-spacing;
@use "../../core/typography/font-style" as font-style;

/* s */
$body-s-font-size: #{body-text.$body-text-s};
$body-s-line-height: #{line-height.$line-height-s};
$body-s-font-weight: #{font-weight.$font-weight-regular};
$body-s-letter-spacing: #{letter-spacing.$letter-spacing};

/* s italic */
$body-s-italic-font-style: #{font-style.$font-style-italic};

/* s bold */
$body-s-italic-font-weight: #{font-weight.$font-weight-bold};

// .body-s {
//   font-size: $body-s-font-size;
//   line-height: $body-s-line-height;
//   font-weight: $body-s-font-weight;
//   letter-spacing: $body-s-letter-spacing;
// }

/* m */
$body-m-font-size: #{body-text.$body-text-m};
$body-m-line-height: #{line-height.$line-height-m};
$body-m-font-weight: #{font-weight.$font-weight-regular};
$body-m-letter-spacing: #{letter-spacing.$letter-spacing};

/* m italic */
$body-m-italic-font-style: #{font-style.$font-style-italic};

/* m bold */
$body-m-italic-font-weight: #{font-weight.$font-weight-bold};

/* l */
$body-l-font-size: #{body-text.$body-text-l};
$body-l-line-height: #{line-height.$line-height-l};
$body-l-font-weight: #{font-weight.$font-weight-medium};
$body-l-letter-spacing: #{letter-spacing.$letter-spacing};

/* l italic */
$body-l-italic-font-style: #{font-style.$font-style-italic};

/* l bold */
$body-l-italic-font-weight: #{font-weight.$font-weight-bold};
