/* Theme configuration */
@forward "config";

/* Fonts (@font-faces) */
@use "fonts";

/* Icons */
@use "icons";

/* Core variables */
/* These are core sets like color schemes, fonts
and spacing sets */
@use "core/border-radii" as border-radii;
@use "core/color-scheme" as color-scheme;
@use "core/shadow" as shadow;
@use "core/spacing" as spacing;
@use "core/typography/font-size/body-text" as body-text;
@use "core/typography/font-size/heading" as heading;
@use "core/typography/font-style" as font-style;
@use "core/typography/font-weight" as font-weight;
@use "core/typography/letter-spacing" as letter-spacing;
@use "core/typography/line-height" as line-height;
@use "core/typography/paragraph-spacing" as paragraph-spacing;

/* Semantic variables */
/* These are variables that have a semantic value. Like branding color */
@use "semantic" as semantic;

/* Component variables */
@use "@minvws/manon/variables" with (
  $theme-name: "kat",

  // icons
  $icon-map: icons.$icon-map,

  // article
  $article-content-wrapper-gap: spacing.$spacing-100,
  $article-gap: spacing.$spacing-200,

  // avatar
  $avatar-font-weight: bold,
  $avatar-border-radius: 50%,
  $avatar-background-color: semantic.$color-brand-primary,
  $avatar-hover-background-color: semantic.$color-brand-primary-muted,

  // base
  $base-background-color: semantic.$base-background-color,
  $base-font-size: 1rem,
  $base-font-weight: 300,
  $base-font-family: semantic.$font-family,

  // button
  $button-text-color: color-scheme.$grey-900,
  $button-background-color: semantic.$color-brand-primary,
  $button-border-width: 0,
  $button-border-color: semantic.$color-brand-primary,
  $button-padding-top: spacing.$spacing-075,
  $button-padding-right: spacing.$spacing-100,
  $button-padding-bottom: spacing.$spacing-075,
  $button-padding-left: spacing.$spacing-100,
  $button-border-radius: border-radii.$border-radius-l,
  $button-font-weight: font-weight.$font-weight-bold,
  $button-font-size: body-text.$body-text-m,

  // button hover
  $button-hover-background-color: color-scheme.$yellow-300,
  $button-hover-text-color: color-scheme.$grey-900,
  $button-hover-border-color: color-scheme.$yellow-300,

  // button active
  $button-active-border-color: color-scheme.$blue-600,
  $button-active-outline: 2px solid color-scheme.$violet-500,
  $button-active-outline-offset: 0.25rem,

  // button focus
  $button-focus-outline: 2px solid color-scheme.$violet-500,
  $button-focus-outline-offset: 0.25rem,

  // button destructive
  $button-destructive-background-color: semantic.$color-destructive-default,
  $button-destructive-text-color: color-scheme.$white,
  $button-destructive-border-color: semantic.$color-destructive-default,

  // button destructive hover
  $button-destructive-hover-background-color: color-scheme.$red-600,
  $button-destructive-hover-text-color: color-scheme.$white,
  $button-destructive-hover-border-color: color-scheme.$red-600,

  // button secondary
  $button-secondary-background-color: color-scheme.$white,
  $button-secondary-border-width: 1px,
  $button-secondary-border-style: solid,
  $button-secondary-border-color: color-scheme.$grey-200,
  $button-secondary-text-color: color-scheme.$blue-600,

  // button secondary hover
  $button-secondary-hover-text-color: color-scheme.$blue-600,
  $button-secondary-hover-border-color: color-scheme.$blue-600,
  $button-secondary-hover-background-color: color-scheme.$white,

  // button secondary active
  $button-secondary-active-border-color: color-scheme.$blue-600,
  $button-secondary-active-outline: 2px solid color-scheme.$violet-500,
  $button-secondary-active-outline-offset: 0.25rem,

  // button secondary focus
  $button-secondary-focus-outline: 2px solid color-scheme.$violet-500,
  $button-secondary-focus-outline-offset: 0.25rem,

  // breadcrumb bar
  $breadcrumb-bar-background-color: semantic.$color-brand-secondary-subtle,
  $breadcrumb-bar-padding-top: spacing.$spacing-050,
  $breadcrumb-bar-padding-right: spacing.$spacing-100,
  $breadcrumb-bar-padding-bottom: spacing.$spacing-050,
  $breadcrumb-bar-padding-left: spacing.$spacing-100,
  $breadcrumb-bar-text-color: semantic.$color-text-default,
  $breadcrumb-bar-gap: spacing.$spacing-050,
  $breadcrumb-bar-list-item-last-child-font-weight: bold,
  $breadcrumb-bar-list-item-gap: spacing.$spacing-050,
  $breadcrumb-bar-icon-color: semantic.$color-text-default,
  $breadcrumb-bar-icon-width: 1.5rem,
  $breadcrumb-bar-icon-height: 1.5rem,

  // breadcrumb bar link
  $breadcrumb-bar-link-text-decoration: none,

  // card
  $card-background-color: color-scheme.$white,
  $card-border-radius: border-radii.$border-radius-m,
  $card-padding-top: spacing.$spacing-150,
  $card-padding-right: spacing.$spacing-150,
  $card-padding-bottom: spacing.$spacing-150,
  $card-padding-left: spacing.$spacing-150,

  // background-color-offset
  $background-color-offset-padding: inherit spacing.$spacing-150,

  // code block
  $code-block-padding: spacing.$spacing-200,
  $code-block-background-color: semantic.$color-brand-secondary-subtle,
  $code-block-border-radius: border-radii.$border-radius-s,

  // columns
  $columns-gap: spacing.$spacing-300,

  // collapsing element
  $collapsing-element-justify-content: space-between,

  // expando rows
  $expando-rows-border-width: 0 0 2px 0,
  $expando-rows-border-style: solid,
  $expando-rows-border-color: color-scheme.$violet-200,

  // emphasized
  $emphasized-font-size: body-text.$body-text-l,
  $emphasized-font-weight: font-weight.$font-weight-medium,
  $emphasized-line-height: line-height.$line-height-l,

  // de-emphasized
  $de-emphasized-font-size: body-text.$body-text-s,
  $de-emphasized-font-weight: font-weight.$font-weight-regular,
  $de-emphasized-line-height: line-height.$line-height-s,
  $de-emphasized-text-color: color-scheme.$grey-700,

  // form combined field
  $form-combined-field-input-border-radius: #{border-radii.$border-radius-m} 0 0
    #{border-radii.$border-radius-m},
  $form-combined-field-button-border-radius: 0 #{border-radii.$border-radius-m}
    #{border-radii.$border-radius-m} 0,
  $form-combined-field-button-min-height: 3rem,

  // footer
  $footer-background-color: color-scheme.$white,
  $footer-text-color: semantic.$color-text-default,
  $footer-padding-top: spacing.$spacing-200,
  $footer-padding-right: spacing.$spacing-300,
  $footer-padding-bottom: spacing.$spacing-200,
  $footer-padding-left: spacing.$spacing-300,
  $footer-list-style: none,
  $footer-gap: spacing.$spacing-100,
  $footer-flex-wrap: wrap,
  $footer-justify-content: space-between,
  $footer-navigation-flex-direction: row,
  $footer-border-width: 1px 0 0 0,
  $footer-border-style: solid,
  $footer-border-color: color-scheme.$grey-200,
  $footer-min-height: 5.5rem,

  // footer content-wrapper
  $footer-content-wrapper-max-width: 100%,
  $footer-content-wrapper-align-items: center,
  $footer-content-wrapper-flex-direction: row,
  $footer-content-wrapper-justify-content: space-between,

  // footer nav
  $footer-navigation-gap: spacing.$spacing-200,
  $footer-navigation-justify-content: space-between,
  $footer-navigation-align-items: center,
  $footer-navigation-flex-wrap: wrap,

  // form
  $form-align-items: flex-start,
  $form-text-color: semantic.$color-text-default,
  $form-gap: spacing.$spacing-200,
  $form-max-width: 40rem,
  $form-accent-color: semantic.$color-brand-primary,

  // form group
  $form-group-gap: spacing.$spacing-050,

  // form input
  $form-input-padding-top: spacing.$spacing-025,
  $form-input-padding-right: spacing.$spacing-075,
  $form-input-padding-bottom: spacing.$spacing-025,
  $form-input-padding-left: spacing.$spacing-075,
  $form-input-border-width: 1px,
  $form-input-border-style: solid,
  $form-input-border-color: color-scheme.$grey-500,
  $form-input-border-radius: border-radii.$border-radius-s,
  $form-input-min-height: 3rem,

  // headings
  $h1-font-family: semantic.$font-family-secondary,
  $h1-font-size: heading.$heading-xxl,
  $h2-font-family: semantic.$font-family-secondary,
  $h2-font-size: heading.$heading-xl,
  $h3-font-family: semantic.$font-family-secondary,
  $h3-font-size: heading.$heading-l,
  $h4-font-family: semantic.$font-family-secondary,
  $h4-font-size: heading.$heading-m,
  $h5-font-size: heading.$heading-s,
  $h6-font-size: heading.$heading-xs,

  // header
  $header-background-color: color-scheme.$white,
  $header-font-weight: bold,
  $header-min-height: 3.5rem,
  $header-text-color: semantic.$color-text-default,
  $header-padding-right: spacing.$spacing-300,
  $header-padding-left: spacing.$spacing-300,
  $header-border-width: 0 0 1px 0,
  $header-border-style: solid,
  $header-border-color: color-scheme.$violet-200,

  // header nav
  $header-navigation-width: 100%,
  $header-navigation-gap: spacing.$spacing-200,
  $header-navigation-justify-content: space-between,

  // header list item
  $header-list-item-align-items: center,

  // header list item link
  $header-link-align-items: center,
  $header-link-padding: spacing.$spacing-100,
  $header-link-text-decoration: none,
  $header-link-border-width: 0 0 4px 0,
  $header-link-border-style: solid,
  $header-link-border-color: transparent,
  $header-link-min-height: 100%,

  // header current page
  $header-link-current-text-color: semantic.$color-brand-secondary,
  $header-link-current-border-width: 0 0 4px 0,
  $header-link-current-border-style: solid,
  $header-link-current-border-color: semantic.$color-brand-secondary,

  // header content wrapper
  $header-content-wrapper-flex-direction: row,
  $header-content-wrapper-width: 100%,

  // hero
  $hero-border-radius: 0,
  $hero-font-size: body-text.$body-text-l,
  $hero-background-color: color-scheme.$violet-200,
  $hero-justify-content: center,
  $hero-flex-direction: column,
  $hero-title-font-size: heading.$heading-xxl,
  $hero-text-color: semantic.$color-text-default,
  $hero-content-wrapper-padding: 0,
  $hero-content-wrapper-max-width: 40rem,
  $hero-content-wrapper-text-align: center,
  $hero-content-wrapper-margin: 0 auto,
  $hero-content-wrapper-background-color: transparent,
  $hero-content-wrapper-gap: spacing.$spacing-250,
  $hero-content-wrapper-justify-content: center,
  $hero-content-wrapper-align-items: center,

  // icon
  $icon-width: 1.5rem,
  $icon-height: 1.5rem,
  $icon-color: semantic.$color-text-default,

  // link
  $link-text-color: color-scheme.$blue-600,

  // list
  $list-padding: 0 0 0 spacing.$spacing-050,
  $list-gap: spacing.$spacing-050,
  $list-item-padding: spacing.$spacing-025,

  // link hover
  $link-hover-text-color: color-scheme.$blue-800,

  // link visited
  $link-visited-text-color: color-scheme.$violet-600,
  $link-visited-hover-text-color: color-scheme.$violet-800,

  // logo
  $logo-font-size: 0,
  $logo-img-background-color: semantic.$color-text-default,
  $logo-img-padding: 0.25rem 0.5rem,
  $logo-img-border-radius: border-radii.$border-radius-s,

  // nav
  $navigation-link-text-decoration: none,

  // notification
  $notification-padding-top: spacing.$spacing-100,
  $notification-padding-right: spacing.$spacing-100,
  $notification-padding-bottom: spacing.$spacing-100,
  $notification-padding-left: spacing.$spacing-100,
  $notification-border-style: solid,
  $notification-border-width: 1px,
  $notification-gap: spacing.$spacing-100,
  $notification-border-radius: border-radii.$border-radius-m,

  // notification block element
  $notification-block-element-padding-top: spacing.$spacing-100,
  $notification-block-element-padding-right: spacing.$spacing-100,
  $notification-block-element-padding-bottom: spacing.$spacing-100,
  $notification-block-element-padding-left: spacing.$spacing-100,
  $notification-block-element-gap: spacing.$spacing-050,

  // notification type
  $notification-type-font-weight: bold,

  // notification error
  $notification-error-background-color:
    semantic.$color-notification-error-subtle,
  $notification-error-text-color: semantic.$color-text-default,
  $notification-error-border-color: color-scheme.$black-05,

  // notification warning
  $notification-warning-background-color:
    semantic.$color-notification-warning-subtle,
  $notification-warning-text-color: semantic.$color-text-default,
  $notification-warning-border-color: color-scheme.$black-05,

  // notification explanation
  $notification-explanation-background-color:
    semantic.$color-notification-explanation-subtle,
  $notification-explanation-text-color: semantic.$color-text-default,
  $notification-explanation-border-color: color-scheme.$black-05,

  // notification confirmation
  $notification-confirmation-background-color:
    semantic.$color-notification-confirmation-subtle,
  $notification-confirmation-text-color: semantic.$color-text-default,
  $notification-confirmation-border-color: color-scheme.$black-05,

  // notification system
  $notification-system-background-color:
    semantic.$color-notification-system-subtle,
  $notification-system-text-color: semantic.$color-text-default,
  $notification-system-border-color: color-scheme.$black-05,

  // section
  $section-padding-top: spacing.$spacing-100,
  $section-padding-right: 0,
  $section-padding-bottom: spacing.$spacing-100,
  $section-padding-left: 0,
  $section-gap: spacing.$spacing-100,
  $section-flex-direction: column,

  // section content wrapper
  $section-content-wrapper-background-color: color-scheme.$white,
  $section-content-wrapper-padding-top: spacing.$spacing-200,
  $section-content-wrapper-padding-right: 0,
  $section-content-wrapper-padding-bottom: spacing.$spacing-300,
  $section-content-wrapper-padding-left: 0,
  $section-content-wrapper-gap: spacing.$spacing-250,
  $section-content-wrapper-flex-direction: column,
  $section-content-wrapper-border-radius: border-radii.$border-radius-m,
  $section-content-wrapper-max-width: 90rem,

  // sidemenu page
  $sidemenu-page-padding-top: spacing.$spacing-400,
  $sidemenu-page-padding-right: spacing.$spacing-400,
  $sidemenu-page-padding-bottom: spacing.$spacing-400,
  $sidemenu-page-padding-left: spacing.$spacing-400,

  // sidemenu nav
  $sidemenu-nav-width: 20rem,
  $sidemenu-nav-padding-top: spacing.$spacing-400,
  $sidemenu-nav-padding-right: spacing.$spacing-200,
  $sidemenu-nav-padding-bottom: spacing.$spacing-400,
  $sidemenu-nav-padding-left: spacing.$spacing-200,
  $sidemenu-nav-border-width: 0 1px 0 0,
  $sidemenu-nav-border-style: solid,
  $sidemenu-nav-border-color: color-scheme.$grey-200,

  // slogan
  $slogan-font-size: body-text.$body-text-l,

  // tabs
  $tabs-gap: spacing.$spacing-100,
  $tabs-item-border-color: color-scheme.$grey-200,
  $tabs-item-border-style: solid,
  $tabs-item-border-width: 0 0 1px 0,
  $tabs-item-padding: spacing.$spacing-050 0,
  $tabs-item-text-color: color-scheme.$grey-600,
  $tabs-item-text-decoration: none,
  $tabs-item-current-border-color: color-scheme.$violet-500,
  $tabs-item-current-border-width: 0 0 2px 0,
  $tabs-item-current-font-weight: bold,
  $tabs-item-current-text-color: semantic.$color-text-default,
  $tabs-item-hover-text-color: semantic.$color-text-default,

  // table
  $table-head-border-width: 0 0 2px 0,
  $table-head-border-style: solid,
  $table-head-border-color: semantic.$color-brand-secondary,
  $table-head-text-align: left,

  // table head
  $table-head-padding: spacing.$spacing-075 spacing.$spacing-075
    spacing.$spacing-075 0,

  // table cell
  $table-cell-border-width: 0 0 1px 0,
  $table-cell-border-style: solid,
  $table-cell-border-color: color-scheme.$grey-150,
  $table-cell-padding: spacing.$spacing-075 spacing.$spacing-075
    spacing.$spacing-075 0,

  // table foot
  $table-foot-header-padding: spacing.$spacing-075 spacing.$spacing-075
    spacing.$spacing-075 0,

  // table caption
  $table-caption-text-align: left,
  $table-caption-text-color: color-scheme.$grey-700,
  $table-caption-font-size: body-text.$body-text-s,

  // tiles
  $tiles-align-items: stretch,

  // tile
  $tile-border-width: 1px,
  $tile-border-style: solid,
  $tile-border-color: color-scheme.$grey-200,
  $tile-padding-top: spacing.$spacing-150,
  $tile-padding-right: spacing.$spacing-150,
  $tile-padding-bottom: spacing.$spacing-150,
  $tile-padding-left: spacing.$spacing-150,
  $tile-border-radius: border-radii.$border-radius-m,

  // helpers
  $horizontal-gap: spacing.$spacing-100,

  // Language Selector
  $language-selector-list-background-color: color-scheme.$white,
  $language-selector-list-item-border-color: color-scheme.$grey-200,
  $language-selector-list-item-hover-text-color: semantic.$color-text-default,
  $language-selector-list-item-hover-background-color: color-scheme.$violet-50
);

// Include the mixin to generate all .icon-name classes for the theme
@use "@minvws/manon/mixins/icon";
@include icon.generate-icons(icons.$icon-map);
