@use "sass:map";

/* Theme configuration */
@forward "config";

/* Fonts (@font-faces) */
@use "fonts";

/* Icons */
@use "icons";

/* Core variables */
/* These are core sets like color schemes, fonts
and spacing sets */
@use "core/border-radii" as border-radii;
@use "core/color-scheme" as color-scheme;
@use "core/shadow" as shadow;
@use "core/spacing" as spacing;
@use "core/typography/font-size/body-text" as body-text;
@use "core/typography/font-size/heading" as heading;
@use "core/typography/font-style" as font-style;
@use "core/typography/font-weight" as font-weight;
@use "core/typography/letter-spacing" as letter-spacing;
@use "core/typography/line-height" as line-height;
@use "core/typography/paragraph-spacing" as paragraph-spacing;

/* Semantic variables */
/* These are variables that have a semantic value. Like branding color */
@use "semantic" as semantic;

/* Component variables */
@use "@minvws/manon/variables" with (
  $theme-name: "kat",

  // accordion
  $accordion-gap: spacing.$spacing-100,
  $accordion-button-padding: spacing.$spacing-075 spacing.$spacing-100,
  $accordion-button-text-color: color-scheme.$blue-600,
  $accordion-button-background-color: color-scheme.$white,
  $accordion-button-border-width: 0 0 1px 0,
  $accordion-button-border-style: solid,
  $accordion-button-border-color: color-scheme.$grey-200,
  $accordion-button-font-weight: bold,
  $accordion-button-font-family: semantic.$font-family,
  $accordion-button-font-size: body-text.$body-text-m,
  $accordion-content-border-width: 0,
  $accordion-content-border-style: solid,
  $accordion-content-border-color: color-scheme.$grey-200,
  $accordion-content-padding: spacing.$spacing-100,
  $accordion-content-gap: spacing.$spacing-050,
  $accordion-content-font-size: body-text.$body-text-m,
  $accordion-button-border-radius: border-radii.$border-radius-s
    border-radii.$border-radius-s,
  $accordion-content-border-radius: 0 0 border-radii.$border-radius-s
    border-radii.$border-radius-s,
  $accordion-expanded-button-border-radius: border-radii.$border-radius-s
    border-radii.$border-radius-s 0 0,

  // accordion icon open
  $accordion-button-icon-before-color: color-scheme.$blue-600,
  $accordion-button-icon-before-mask: map.get(
      icons.$icon-map,
      "chevron-down",
      "url"
    ),
  $accordion-button-icon-before-width: 1.5rem,
  $accordion-button-icon-before-height: 1.5rem,

  // accordion icon closed
  $accordion-button-icon-before-closed-color: color-scheme.$blue-600,
  $accordion-button-icon-before-closed-mask: map.get(
      icons.$icon-map,
      "chevron-up",
      "url"
    ),
  $accordion-button-icon-before-closed-width: 1.5rem,
  $accordion-button-icon-before-closed-height: 1.5rem,

  // article
  $article-gap: spacing.$spacing-200,

  // article content wrapper
  $article-content-wrapper-max-width: 90rem,
  $article-content-wrapper-gap: spacing.$spacing-200,

  // avatar
  $avatar-width: 3rem,
  $avatar-height: 3rem,
  $avatar-min-width: 3rem,
  $avatar-min-height: 3rem,
  $avatar-max-width: 3rem,
  $avatar-max-height: 3rem,
  $avatar-text-font-family: semantic.$font-family-secondary,
  $avatar-text-color: color-scheme.$white,
  $avatar-hover-text-color: color-scheme.$white,
  $avatar-font-weight: normal,
  $avatar-border-radius: 50%,
  $avatar-background-color: color-scheme.$violet-500,
  $avatar-hover-background-color: color-scheme.$violet-600,

  // base
  $base-background-color: semantic.$base-background-color,
  $base-font-size: 1rem,
  $base-font-weight: 300,
  $base-font-family: semantic.$font-family,

  // button
  $button-font-family: semantic.$font-family,
  $button-text-color: color-scheme.$grey-900,
  $button-background-color: semantic.$color-brand-primary,
  $button-border-width: 0,
  $button-border-color: semantic.$color-brand-primary,
  $button-padding-top: spacing.$spacing-075,
  $button-padding-right: spacing.$spacing-100,
  $button-padding-bottom: spacing.$spacing-075,
  $button-padding-left: spacing.$spacing-100,
  $button-border-radius: border-radii.$border-radius-l,
  $button-font-weight: font-weight.$font-weight-bold,
  $button-font-size: body-text.$body-text-m,

  // button hover
  $button-hover-background-color: color-scheme.$yellow-300,
  $button-hover-text-color: color-scheme.$grey-900,
  $button-hover-border-color: color-scheme.$yellow-300,

  // button active
  $button-active-border-color: color-scheme.$blue-600,
  $button-active-outline: 2px solid color-scheme.$violet-500,
  $button-active-outline-offset: 0.25rem,

  // button focus
  $button-focus-outline: 2px solid color-scheme.$violet-500,
  $button-focus-outline-offset: 0.25rem,

  // button destructive
  $button-destructive-background-color: semantic.$color-destructive-default,
  $button-destructive-text-color: color-scheme.$white,
  $button-destructive-border-color: semantic.$color-destructive-default,

  // button destructive hover
  $button-destructive-hover-background-color: color-scheme.$red-600,
  $button-destructive-hover-text-color: color-scheme.$white,
  $button-destructive-hover-border-color: color-scheme.$red-600,

  // button secondary
  $button-secondary-background-color: color-scheme.$white,
  $button-secondary-border-width: 1px,
  $button-secondary-border-style: solid,
  $button-secondary-border-color: color-scheme.$grey-200,
  $button-secondary-text-color: color-scheme.$blue-600,

  // button secondary hover
  $button-secondary-hover-text-color: color-scheme.$blue-600,
  $button-secondary-hover-border-color: color-scheme.$blue-600,
  $button-secondary-hover-background-color: color-scheme.$white,

  // button secondary active
  $button-secondary-active-border-color: color-scheme.$blue-600,
  $button-secondary-active-outline: 2px solid color-scheme.$violet-500,
  $button-secondary-active-outline-offset: 0.25rem,

  // button secondary focus
  $button-secondary-focus-outline: 2px solid color-scheme.$violet-500,
  $button-secondary-focus-outline-offset: 0.25rem,

  // button container
  $button-container-gap: 1rem,

  // breadcrumb bar
  $breadcrumb-bar-background-color: semantic.$color-brand-secondary-subtle,
  $breadcrumb-bar-icon-mask: map.get(icons.$icon-map, "chevron-right", "url"),
  $breadcrumb-bar-padding-top: spacing.$spacing-050,
  $breadcrumb-bar-padding-right: spacing.$spacing-100,
  $breadcrumb-bar-padding-bottom: spacing.$spacing-050,
  $breadcrumb-bar-padding-left: spacing.$spacing-100,
  $breadcrumb-bar-text-color: semantic.$color-text-default,
  $breadcrumb-bar-gap: spacing.$spacing-050,
  $breadcrumb-bar-list-item-last-child-font-weight: bold,
  $breadcrumb-bar-list-item-gap: spacing.$spacing-050,
  $breadcrumb-bar-icon-color: semantic.$color-text-default,
  $breadcrumb-bar-icon-width: 1.5rem,
  $breadcrumb-bar-icon-height: 1.5rem,

  // breadcrumb bar link
  $breadcrumb-bar-link-text-decoration: none,

  // card
  $card-box-shadow: 0px shadow.$shadow-s shadow.$shadow-m 0px rgba(0, 0, 0, 0.2),
  $card-background-color: color-scheme.$white,
  $card-border-radius: border-radii.$border-radius-m,
  $card-padding-top: spacing.$spacing-150,
  $card-padding-right: spacing.$spacing-150,
  $card-padding-bottom: spacing.$spacing-150,
  $card-padding-left: spacing.$spacing-150,

  // background-color-offset
  $background-color-offset-padding: inherit spacing.$spacing-150,

  // checkbox
  $checkbox-width: 1.25rem,
  $checkbox-height: 1.25rem,
  $checkbox-accent-color: color-scheme.$blue-600,
  $checkbox-label-font-weight: normal,
  $checkbox-label-focus-outline: 2px solid color-scheme.$blue-600,
  $form-fieldset-checkbox-margin: 0 0 0.5rem,

  // code block
  $code-block-padding: spacing.$spacing-200,
  $code-block-background-color: semantic.$color-brand-secondary-subtle,
  $code-block-border-radius: border-radii.$border-radius-s,

  // code block copy button
  $code-block-copy-button-background-color: color-scheme.$white,
  $code-block-copy-button-hover-text-color: color-scheme.$blue-600,
  $code-block-copy-button-border: 1px solid color-scheme.$grey-200,
  $code-block-copy-button-hover-background-color: color-scheme.$white,
  $code-block-copy-button-hover-border: 1px solid color-scheme.$blue-600,

  // columns
  $columns-gap: spacing.$spacing-300,

  // collapsing element
  $collapsing-element-justify-content: space-between,
  $collapsing-element-list-item-link-hover-background-color:
    color-scheme.$grey-50,
  $collapsing-element-text-color: color-scheme.$grey-900,
  $collapsing-element-list-item-focus-outline: 2px solid
    color-scheme.$violet-500,
  $collapsing-element-list-item-link-visited-color: color-scheme.$grey-900,
  $collapsing-element-list-item-link-destructive-color: color-scheme.$red-600,
  $collapsing-element-list-link-selected-background-color: color-scheme.$grey-50,

  // expando rows
  $expando-rows-border-width: 0 0 2px 0,
  $expando-rows-border-style: solid,
  $expando-rows-border-color: color-scheme.$violet-200,

  // emphasized
  $emphasized-font-size: body-text.$body-text-l,
  $emphasized-font-weight: font-weight.$font-weight-medium,
  $emphasized-line-height: line-height.$line-height-l,

  // de-emphasized
  $de-emphasized-font-size: body-text.$body-text-s,
  $de-emphasized-font-weight: font-weight.$font-weight-regular,
  $de-emphasized-line-height: line-height.$line-height-s,
  $de-emphasized-text-color: color-scheme.$grey-700,

  // description list
  $description-list-width: 100%,
  $description-list-item-padding: 0.75rem 0,
  $description-list-item-gap: 1rem,
  $description-list-border-width: 0 0 1px,
  $description-list-border-style: solid,
  $description-list-border-color: color-scheme.$grey-200,
  $description-list-item-data-font-weight: bold,
  $description-list-item-title-width: 33.3%,

  // form combined field
  $form-combined-field-input-border-radius: #{border-radii.$border-radius-m} 0 0
    #{border-radii.$border-radius-m},
  $form-combined-field-button-border-radius: 0 #{border-radii.$border-radius-m}
    #{border-radii.$border-radius-m} 0,
  $form-combined-field-button-min-height: 3rem,

  // footer
  $footer-background-color: color-scheme.$white,
  $footer-text-color: semantic.$color-text-default,
  $footer-padding-top: spacing.$spacing-200,
  $footer-padding-right: spacing.$spacing-300,
  $footer-padding-bottom: spacing.$spacing-200,
  $footer-padding-left: spacing.$spacing-300,
  $footer-list-style: none,
  $footer-gap: spacing.$spacing-100,
  $footer-flex-wrap: wrap,
  $footer-justify-content: space-between,
  $footer-navigation-flex-direction: row,
  $footer-border-width: 1px 0 0 0,
  $footer-border-style: solid,
  $footer-border-color: color-scheme.$grey-200,
  $footer-min-height: 5.5rem,
  $footer-navigation-width: auto,

  // footer content-wrapper
  $footer-content-wrapper-max-width: 100%,
  $footer-content-wrapper-align-items: center,
  $footer-content-wrapper-flex-direction: row,
  $footer-content-wrapper-justify-content: space-between,

  // footer nav
  $footer-navigation-gap: spacing.$spacing-200,
  $footer-navigation-justify-content: space-between,
  $footer-navigation-align-items: center,
  $footer-navigation-flex-wrap: wrap,

  // form
  $form-align-items: flex-start,
  $form-text-color: semantic.$color-text-default,
  $form-gap: spacing.$spacing-200,
  $form-max-width: 40rem,
  $form-accent-color: color-scheme.$blue-600,

  // form group
  $form-group-gap: spacing.$spacing-050,

  // form input
  $form-input-padding-top: spacing.$spacing-025,
  $form-input-padding-right: spacing.$spacing-075,
  $form-input-padding-bottom: spacing.$spacing-025,
  $form-input-padding-left: spacing.$spacing-075,
  $form-input-border-width: 1px,
  $form-input-border-style: solid,
  $form-input-border-color: color-scheme.$grey-500,
  $form-input-border-radius: border-radii.$border-radius-s,
  $form-input-min-height: 3rem,

  // headings
  $h1-font-family: semantic.$font-family-secondary,
  $h1-font-size: heading.$heading-xxl,
  $h2-font-family: semantic.$font-family-secondary,
  $h2-font-size: heading.$heading-xl,
  $h3-font-family: semantic.$font-family-secondary,
  $h3-font-size: heading.$heading-l,
  $h4-font-family: semantic.$font-family-secondary,
  $h4-font-size: heading.$heading-m,
  $h5-font-size: heading.$heading-s,
  $h6-font-size: heading.$heading-xs,

  // header
  $header-background-color: color-scheme.$white,
  $header-font-weight: bold,
  $header-min-height: 3.5rem,
  $header-text-color: semantic.$color-text-default,
  $header-padding-right: spacing.$spacing-300,
  $header-padding-left: spacing.$spacing-300,
  $header-border-width: 0 0 1px 0,
  $header-border-style: solid,
  $header-border-color: color-scheme.$violet-200,

  // header nav
  $header-navigation-width: 100%,
  $header-navigation-gap: spacing.$spacing-200,
  $header-navigation-justify-content: space-between,

  // header list item
  $header-list-item-align-items: center,

  // header list item link
  $header-link-align-items: center,
  $header-link-padding: spacing.$spacing-100,
  $header-link-text-decoration: none,
  $header-link-border-width: 0 0 4px 0,
  $header-link-border-style: solid,
  $header-link-border-color: transparent,
  $header-link-min-height: 100%,

  // header current page
  $header-link-current-text-color: semantic.$color-brand-secondary,
  $header-link-current-border-width: 0 0 4px 0,
  $header-link-current-border-style: solid,
  $header-link-current-border-color: semantic.$color-brand-secondary,

  // header content wrapper
  $header-content-wrapper-flex-direction: row,
  $header-content-wrapper-width: 100%,

  // hero
  $hero-max-width: calc(100% + 8rem),
  $hero-width: calc(100% + 8rem),
  $hero-margin: -4rem 0 0 -4rem,
  $hero-height: 25rem,
  $hero-border-radius: 0,
  $hero-font-size: body-text.$body-text-l,
  $hero-background-color: color-scheme.$violet-200,
  $hero-justify-content: center,
  $hero-flex-direction: column,
  $hero-title-font-size: heading.$heading-xxl,
  $hero-text-color: semantic.$color-text-default,
  $hero-content-wrapper-padding: 0,
  $hero-content-wrapper-max-width: 40rem,
  $hero-content-wrapper-text-align: center,
  $hero-content-wrapper-margin: 0 auto,
  $hero-content-wrapper-background-color: transparent,
  $hero-content-wrapper-gap: spacing.$spacing-250,
  $hero-content-wrapper-justify-content: center,
  $hero-content-wrapper-align-items: center,

  // icon
  $icon-width: 1.5rem,
  $icon-height: 1.5rem,
  $icon-color: semantic.$color-text-default,

  // link
  $link-text-color: color-scheme.$blue-600,
  $link-font-size: body-text.$body-text,

  // list
  $list-padding: 0 0 0 spacing.$spacing-150,
  $list-gap: spacing.$spacing-050,
  $list-item-padding: spacing.$spacing-025,

  // link hover
  $link-hover-text-color: color-scheme.$blue-800,

  // link visited
  $link-visited-text-color: color-scheme.$violet-600,
  $link-visited-hover-text-color: color-scheme.$violet-800,

  // logo
  $logo-font-size: 0,
  $logo-img-background-color: semantic.$color-text-default,
  $logo-img-padding: 0.5rem 0.5rem,
  $logo-img-border-radius: border-radii.$border-radius-round,
  $logo-img-width: 3.5rem,
  $logo-img-height: 3.5rem,
  $logo-display: flex,

  // main
  $main-padding-top: spacing.$spacing-400,
  $main-padding-right: spacing.$spacing-400,
  $main-padding-bottom: spacing.$spacing-400,
  $main-padding-left: spacing.$spacing-400,
  $main-gap: spacing.$spacing-400,

  // nav
  $navigation-link-text-decoration: none,
  $navigation-list-padding: 0,

  // notification
  $notification-padding-top: spacing.$spacing-100,
  $notification-padding-right: spacing.$spacing-100,
  $notification-padding-bottom: spacing.$spacing-100,
  $notification-padding-left: spacing.$spacing-100,
  $notification-border-style: solid,
  $notification-border-width: 1px,
  $notification-gap: spacing.$spacing-100,
  $notification-border-radius: border-radii.$border-radius-m,

  $notification-table-align-items: center,
  $notification-table-gap: spacing.$spacing-050,

  // notification block element
  $notification-block-element-padding-top: spacing.$spacing-100,
  $notification-block-element-padding-right: spacing.$spacing-100,
  $notification-block-element-padding-bottom: spacing.$spacing-100,
  $notification-block-element-padding-left: spacing.$spacing-100,
  $notification-block-element-gap: spacing.$spacing-050,

  // notification type
  $notification-type-font-weight: bold,
  $notification-type-gap: spacing.$spacing-025,

  // notification error
  $notification-error-background-color:
    semantic.$color-notification-error-subtle,
  $notification-error-text-color: semantic.$color-text-default,
  $notification-error-border-color: color-scheme.$black-05,
  $notification-error-icon-color: semantic.$color-notification-error-intense,

  // notification warning
  $notification-warning-background-color:
    semantic.$color-notification-warning-subtle,
  $notification-warning-text-color: semantic.$color-text-default,
  $notification-warning-border-color: color-scheme.$black-05,
  $notification-warning-icon-color: semantic.$color-notification-warning-intense,

  // notification explanation
  $notification-explanation-background-color:
    semantic.$color-notification-explanation-subtle,
  $notification-explanation-text-color: semantic.$color-text-default,
  $notification-explanation-border-color: color-scheme.$black-05,
  $notification-explanation-icon-color:
    semantic.$color-notification-explanation-intense,

  // notification confirmation
  $notification-confirmation-background-color:
    semantic.$color-notification-confirmation-subtle,
  $notification-confirmation-text-color: semantic.$color-text-default,
  $notification-confirmation-border-color: color-scheme.$black-05,
  $notification-confirmation-icon-color:
    semantic.$color-notification-confirmation-intense,

  // notification system
  $notification-system-background-color:
    semantic.$color-notification-system-subtle,
  $notification-system-text-color: semantic.$color-text-default,
  $notification-system-border-color: color-scheme.$black-05,

  // pagination
  $pagination-list-gap: spacing.$spacing-025,
  $pagination-list-justify-content: center,

  // pagination item
  $pagination-item-width: 3rem,
  $pagination-item-height: 3rem,

  // pagination link
  $pagination-link-background-color: color-scheme.$white,
  $pagination-link-border-radius: border-radii.$border-radius-l,
  $pagination-link-text-decoration: none,
  $pagination-link-border-color: color-scheme.$white,
  $pagination-link-border-width: 1px,
  $pagination-link-border-style: solid,
  $pagination-link-text-color: color-scheme.$blue-600,
  $pagination-link-font-weight: bold,

  // pagination link hover
  $pagination-link-hover-text-color: color-scheme.$white,
  $pagination-link-hover-background-color: color-scheme.$blue-600,
  $pagination-link-hover-border-color: color-scheme.$blue-600,

  // pagination link active
  $pagination-link-active-background-color: color-scheme.$blue-600,
  $pagination-link-active-border-width: 1px,
  $pagination-link-active-border-style: solid,
  $pagination-link-active-border-color: color-scheme.$blue-600,
  $pagination-link-active-text-color: color-scheme.$white,
  $pagination-link-active-font-weight: bold,

  // Pagination adjecent
  $pagination-adjacent-font-size: 0,

  // Pagination previous icon
  $pagination-previous-icon-color: color-scheme.$blue-600,
  $pagination-previous-icon-mask: map.get(
      icons.$icon-map,
      "chevron-left",
      "url"
    ),
  $pagination-previous-icon-width: 1.5rem,
  $pagination-previous-icon-height: 1.5rem,

  // Pagination next icon
  $pagination-next-icon-color: color-scheme.$blue-600,
  $pagination-next-icon-mask: map.get(icons.$icon-map, "chevron-right", "url"),
  $pagination-next-icon-width: 1.5rem,
  $pagination-next-icon-height: 1.5rem,

  // Paragraph
  $p-font-size: body-text.$body-text,
  $p-line-height: line-height.$line-height-l,

  //radio
  $radio-width: 1.4rem,
  $radio-height: 1.4rem,
  $radio-accent-color: color-scheme.$blue-800,
  $radio-label-font-weight: normal,
  $radio-label-focus-outline: 2px solid color-scheme.$blue-800,
  $form-fieldset-radio-margin: 0 0 0.5rem,

  // section
  $section-gap: spacing.$spacing-100,
  $section-max-width: 100%,

  // section content wrapper
  $section-content-wrapper-background-color: color-scheme.$white,
  $section-content-wrapper-gap: spacing.$spacing-200,
  $section-content-wrapper-flex-direction: column,
  $section-content-wrapper-border-radius: border-radii.$border-radius-m,
  $section-content-wrapper-max-width: 90rem,

  // skip to content
  $skip-to-content-padding: spacing.$spacing-050,
  $skip-to-content-background-color: color-scheme.$white,
  $skip-to-content-text-color: color-scheme.$blue-600,
  $skip-to-content-border-width: 1px,
  $skip-to-content-border-style: solid,
  $skip-to-content-border-color: color-scheme.$grey-200,
  $skip-to-content-margin: spacing.$spacing-050 0,
  $skip-to-content-order: 1,

  // sidemenu page
  $sidemenu-page-padding-top: spacing.$spacing-400,
  $sidemenu-page-padding-right: spacing.$spacing-400,
  $sidemenu-page-padding-bottom: spacing.$spacing-400,
  $sidemenu-page-padding-left: spacing.$spacing-400,

  // sidemenu nav
  $sidemenu-nav-width: 20rem,
  $sidemenu-nav-padding-top: spacing.$spacing-400,
  $sidemenu-nav-padding-right: spacing.$spacing-200,
  $sidemenu-nav-padding-bottom: spacing.$spacing-400,
  $sidemenu-nav-padding-left: spacing.$spacing-200,
  $sidemenu-nav-border-width: 0 1px 0 0,
  $sidemenu-nav-border-style: solid,
  $sidemenu-nav-border-color: color-scheme.$grey-200,

  // slogan
  $slogan-font-size: body-text.$body-text-m,
  $slogan-white-space: nowrap,

  // tabs
  $tab-panel-gap: spacing.$spacing-100,
  $tab-panel-padding: spacing.$spacing-150 0,
  $tabs-gap: spacing.$spacing-100,
  $tabs-item-border-color: color-scheme.$grey-200,
  $tabs-item-border-style: solid,
  $tabs-item-border-width: 0 0 1px 0,
  $tabs-item-padding: spacing.$spacing-050 0,
  $tabs-item-text-color: color-scheme.$grey-600,
  $tabs-item-text-decoration: none,
  $tabs-item-current-border-color: color-scheme.$violet-500,
  $tabs-item-current-border-width: 0 0 2px 0,
  $tabs-item-current-font-weight: bold,
  $tabs-item-current-text-color: semantic.$color-text-default,
  $tabs-item-hover-text-color: semantic.$color-text-default,

  // table
  $table-head-border-width: 0 0 2px 0,
  $table-head-border-style: solid,
  $table-head-border-color: semantic.$color-brand-secondary,
  $table-head-text-align: left,

  // table head
  $table-head-padding: spacing.$spacing-075 spacing.$spacing-075
    spacing.$spacing-075 0,

  // table body head
  $table-body-head-cell-border-width: 0 0 1px 0,
  $table-body-head-cell-border-style: solid,
  $table-body-head-cell-border-color: color-scheme.$grey-150,

  // tbale head sticky
  $table-sticky-header-background-color: color-scheme.$white,

  //table action buttons
  $table-action-buttons-button-hover-background-color: currentColor,

  // table cell
  $table-cell-border-width: 0 0 1px 0,
  $table-cell-border-style: solid,
  $table-cell-border-color: color-scheme.$grey-150,
  $table-cell-padding: spacing.$spacing-075 spacing.$spacing-075
    spacing.$spacing-075 0,

  // table foot
  $table-foot-header-padding: spacing.$spacing-075 spacing.$spacing-075
    spacing.$spacing-075 0,

  $table-foot-cell-font-weight: bold,

  // table caption
  $table-caption-text-align: left,
  $table-caption-text-color: color-scheme.$grey-700,
  $table-caption-font-size: body-text.$body-text-s,

  // tiles
  $tiles-align-items: stretch,

  // tile
  $tile-group-gap: spacing.$spacing-100,
  $tile-gap: spacing.$spacing-100,
  $tile-border-width: 1px,
  $tile-border-style: solid,
  $tile-border-color: color-scheme.$grey-200,
  $tile-padding-top: spacing.$spacing-150,
  $tile-padding-right: spacing.$spacing-150,
  $tile-padding-bottom: spacing.$spacing-150,
  $tile-padding-left: spacing.$spacing-150,
  $tile-border-radius: border-radii.$border-radius-m,

  // Page title
  $page-title-font-size: heading.$heading-xxl,
  $page-title-padding: 0,
  $page-title-max-width: 90rem,
  $page-title-margin: 0 auto,
  $page-title-width: 100%,

  // helpers
  $horizontal-gap: spacing.$spacing-100,

  // Language Selector
  $language-selector-list-background-color: color-scheme.$white,
  $language-selector-list-item-border-color: color-scheme.$grey-200,
  $language-selector-list-item-hover-text-color: semantic.$color-text-default,
  $language-selector-list-item-hover-background-color: color-scheme.$violet-50,

  // filter
  $filter-icon-color: color-scheme.$blue-600,
  $filter-icon-mask: map.get(icons.$icon-map, "filter", "url"),
  $filter-icon-width: 1rem,
  $filter-icon-height: 1rem,
  $filter-intro-justify-content: space-between,
  $filter-button-font-size: 0,
  $filter-close-icon-mask: map.get(icons.$icon-map, "close", "url"),
  $filter-button-background-color: transparent,
  $filter-button-padding: 0,
  $filter-button-gap: 0,

  // form fieldset
  $form-fieldset-border-width: 0,
  $form-fieldset-padding: 0,
  $form-fieldset-margin: 0,
  $form-fieldset-legend-font-weight: bold,
  $form-fieldset-legend-margin-bottom: null,
  $form-fieldset-legend-margin: 0 0 1rem 0,
  $form-fieldset-legend-padding: 0,
  $form-fieldset-input-margin: 0.5rem 0 1rem 0,
  $form-fieldset-fields-padding: 0,
  $form-fieldset-fields-margin: 0,

  // Form help
  $form-help-button-padding: 0,
  $form-help-button-justify-content: center,
  $form-help-button-width: 1.5rem,
  $form-help-button-height: 1.5rem,
  $form-help-button-background-color: transparent,
  $form-help-icon-mask: map.get(icons.$icon-map, "informative", "url"),
  $form-help-icon-color: color-scheme.$blue-700,
  $form-help-icon-width: 1.5rem,
  $form-help-icon-height: 1.5rem,
  $form-help-button-top: 0.75rem,

  // Messages
  $message-counter-base-background-color: color-scheme.$violet-800,

  // Nota bene
  $nota-bene-font-size: body-text.$body-text-s,
  $nota-bene-text-color: color-scheme.$grey-700,
  $form-fieldset-nota-bene-padding-bottom: 0.5rem
);

// Include the mixin to generate all .icon-name classes for the theme
@use "@minvws/manon/mixins/icon-generator";
@include icon-generator.generate-icons(icons.$icon-map);
