// icore open theme styling

/* Core variables */
/* These are core sets like color schemes, fonts
and spacing sets */
@use "core/border-radii" as border-radii;
@use "core/color-scheme/" as color-scheme;
@use "core/shadow" as shadow;
@use "core/spacing" as spacing;
@use "core/typography/font-size/body-text" as body-text;
@use "core/typography/font-size/heading" as heading;
@use "core/typography/font-style" as font-style;
@use "core/typography/font-weight" as font-weight;
@use "core/typography/letter-spacing" as letter-spacing;
@use "core/typography/line-height" as line-height;
@use "core/typography/paragraph-spacing" as paragraph-spacing;

/* Semantic variables */
/* These are variables that have a semantic value. Like branding color */
@use "semantic" as semantic;

/* Component variables */
@use "@minvws/manon/variables" with (
  // base
  $base-background-color: #{semantic.$base-background-color},
  $base-font-size: 1rem,
  $base-font-weight: 300,

  // avatar
  $avatar-font-weight: bold,
  $avatar-border-radius: 50%,
  $avatar-background-color: #{semantic.$color-brand-primary},

  // Hover
  $avatar-hover-background-color: #{semantic.$color-brand-primary-muted},

  // button
  $button-text-color: #{semantic.$color-text-default},
  $button-background-color: #{semantic.$color-brand-primary},
  $button-border-width: 0,
  $button-border-color: #{semantic.$color-brand-primary},
  $button-padding-top: #{spacing.$spacing-075},
  $button-padding-right: #{spacing.$spacing-100},
  $button-padding-bottom: #{spacing.$spacing-075},
  $button-padding-left: #{spacing.$spacing-100},
  $button-border-radius: #{border-radii.$border-radius-l},

  // button hover
  $button-hover-background-color: #{color-scheme.$yellow-300},
  $button-hover-text-color: #{color-scheme.$grey-900},
  $button-hover-border-color: #{color-scheme.$yellow-300},

  // button destructive
  $button-destructive-background-color: #{semantic.$color-destructive-default},
  $button-destructive-text-color: #{color-scheme.$white},
  $button-destructive-border-color: #{semantic.$color-destructive-default},

  // button destructive hover
  $button-destructive-hover-background-color: #{color-scheme.$red-600},
  $button-destructive-hover-text-color: #{color-scheme.$white},
  $button-destructive-hover-border-color: #{color-scheme.$red-600},

  // code block
  $code-block-padding: #{spacing.$spacing-200},
  $code-block-background-color: #{semantic.$color-brand-secundary-subtle},
  $code-block-border-radius: #{border-radii.$border-radius-s},

  // footer
  $footer-background-color: #{color-scheme.$white},
  $footer-text-color: #{semantic.$color-text-default},
  $footer-padding-top: #{spacing.$spacing-200},
  $footer-padding-right: #{spacing.$spacing-300},
  $footer-padding-bottom: #{spacing.$spacing-200},
  $footer-padding-left: #{spacing.$spacing-300},
  $footer-list-style: none,
  $footer-gap: #{spacing.$spacing-100},
  $footer-flex-wrap: wrap,
  $footer-justify-content: space-between,

  // form
  $form-align-items: flex-start,
  $form-text-color: #{semantic.$color-text-default},
  $form-gap: #{spacing.$spacing-200},
  $form-max-width: 40rem,

  // form group
  $form-group-gap: #{spacing.$spacing-050},

  // form input
  $form-input-padding-top: #{spacing.$spacing-025},
  $form-input-padding-right: #{spacing.$spacing-075},
  $form-input-padding-bottom: #{spacing.$spacing-025},
  $form-input-padding-left: #{spacing.$spacing-075},
  $form-input-border-width: 1px,
  $form-input-border-style: solid,
  $form-input-border-color: #{color-scheme.$grey-500},
  $form-input-border-radius: #{border-radii.$border-radius-s},
  $form-input-min-height: 3rem,

  // header
  $header-background-color: #{color-scheme.$white},
  $header-font-weight: bold,
  $header-min-height: 3.5rem,
  $header-color: #{semantic.$color-text-default},
  $header-padding-right: #{spacing.$spacing-300},
  $header-padding-left: #{spacing.$spacing-300},

  // header nav
  $header-navigation-width: 100%,
  $header-navigation-gap: #{spacing.$spacing-200},
  $header-navigation-justify-content: space-between,

  // header list item
  $header-list-item-align-items: center,

  // header list item link
  $header-link-align-items: center,
  $header-link-padding: #{spacing.$spacing-100},
  $header-link-text-decoration: none,
  $header-link-border-width: 0 0 4px 0,
  $header-link-border-style: solid,
  $header-link-border-color: transparent,

  // header current page
  $header-link-current-text-color: #{semantic.$color-brand-secundary},
  $header-link-current-border-width: 0 0 4px 0,
  $header-link-current-border-style: solid,
  $header-link-current-border-color: #{semantic.$color-brand-secundary},

  // header content wrapper
  $header-content-wrapper-flex-direction: row,
  $header-content-wrapper-width: 100%,

  // list
  $list-padding: 0,

  // Nav
  $navigation-link-text-decoration: none,

  // section
  $section-padding-top: #{spacing.$spacing-100},
  $section-padding-right: #{spacing.$spacing-100},
  $section-padding-bottom: #{spacing.$spacing-100},
  $section-padding-left: #{spacing.$spacing-100},
  $section-max-width: 90rem,
  $section-gap: #{spacing.$spacing-300},
  $section-flex-direction: column,

  // sidemenu
  $sidemenu-main-gap: #{spacing.$spacing-400},
  $sidemenu-nav-width: 20rem,
  $sidemenu-nav-padding-top: #{spacing.$spacing-100},
  $sidemenu-nav-padding-right: #{spacing.$spacing-200},
  $sidemenu-nav-padding-bottom: #{spacing.$spacing-100},
  $sidemenu-nav-padding-left: #{spacing.$spacing-200},
  $sidemenu-nav-border-width: 0 1px 0 0,
  $sidemenu-nav-border-style: solid,
  $sidemenu-nav-border-color: #{color-scheme.$grey-200},

  // helpers
  $horizontal-gap: #{spacing.$spacing-100}
);
