/*------------------------------------------------------------------------*/
/*------ docs-styling/article/article-content-wrapper-variables.css ------*/
/*------------------------------------------------------------------------*/

:root {
  /* Resetting previously set styles. */
  /* This is only needed if these styles have been added */
  
  /* Main */
  --main-gap: 0;
  --main-padding-top: 0;
  --main-padding-right: 0;
  --main-padding-bottom: 0;
  --main-padding-left: 0;

  /* Section */
  --article-gap: 0;
  --article-padding-top: 0;
  --article-padding-right: 0;
  --article-padding-bottom: 0;
  --article-padding-left: 0;
 
  /* -- end of the style reset -- */

  /* Section content wrapper */
  --article-content-wrapper-gap: var(--content-gap);
  --article-content-wrapper-padding-top: var(--content-padding-top);
  --article-content-wrapper-padding-right: var(--content-padding-right);
  --article-content-wrapper-padding-bottom: var(--content-padding-bottom);
  --article-content-wrapper-padding-left: var(--content-padding-left);
}
