/* Form input */

@use "../color-scheme";

:root {
  --form-text-color: #{color-scheme.$oc-gray-9};
  --form-font-size: 1rem;
  --form-font-weight: bold;
  --form-gap: var(--spacing-100);
  --form-background-color: #{color-scheme.$oc-white};
  --form-padding-top: 0;
  --form-padding-right: 0;
  --form-padding-bottom: 0;
  --form-padding-left: 0;
}
