$border-radius-xs: 0.125rem;
$border-radius-s: 0.25rem;
$border-radius-m: 0.5rem;
$border-radius-l: 1rem;
$border-radius-xl: 1.5rem;
$border-radius-xxl: 2rem;
$border-radius-round: 50%;

.border-radius-xs {
  border-radius: $border-radius-xs;
}

.border-radius-s {
  border-radius: $border-radius-s;
}

.border-radius-m {
  border-radius: $border-radius-m;
}

.border-radius-l {
  border-radius: $border-radius-l;
}

.border-radius-xl {
  border-radius: $border-radius-xl;
}

.border-radius-xxl {
  border-radius: $border-radius-xxl;
}

.border-radius-round {
  border-radius: $border-radius-round;
}
