$spacing-0: 0;
$spacing-0125: 0.125rem;
$spacing-025: 0.25rem;
$spacing-0375: 0.375rem;
$spacing-050: 0.5rem;
$spacing-075: 0.75rem;
$spacing-100: 1rem;
$spacing-125: 1.25rem;
$spacing-150: 1.5rem;
$spacing-175: 1.75rem;
$spacing-200: 2rem;
$spacing-225: 2.25rem;
$spacing-250: 2.5rem;
$spacing-300: 3rem;
$spacing-400: 4rem;
$spacing-500: 5rem;
$spacing-800: 8rem;
$spacing-1200: 12rem;

.spacing-0 {
  gap: $spacing-0;
}

.spacing-0125 {
  gap: $spacing-0125;
}

.spacing-025 {
  gap: $spacing-025;
}

.spacing-0375 {
  gap: $spacing-0375;
}

.spacing-050 {
  gap: $spacing-050;
}

.spacing-075 {
  gap: $spacing-075;
}

.spacing-100 {
  gap: $spacing-100;
}

.spacing-125 {
  gap: $spacing-125;
}

.spacing-150 {
  gap: $spacing-150;
}

.spacing-175 {
  gap: $spacing-175;
}

.spacing-200 {
  gap: $spacing-200;
}

.spacing-225 {
  gap: $spacing-225;
}

.spacing-250 {
  gap: $spacing-250;
}

.spacing-300 {
  gap: $spacing-300;
}

.spacing-400 {
  gap: $spacing-400;
}

.spacing-500 {
  gap: $spacing-500;
}

.spacing-800 {
  gap: $spacing-800;
}

.spacing-1200 {
  gap: $spacing-1200;
}
