$white: #ffffff;

/* Black */
$black: #000000;
$black-05: rgb(0 0 0 / 5%);
$black-10: rgb(0 0 0 / 10%);
$black-15: rgb(0 0 0 / 15%);

/* Grey */
$grey-50: #f6f6f6;
$grey-100: #ededed;
$grey-150: #efefef;
$grey-200: #d4d4d4;
$grey-300: #bcbcbc;
$grey-400: #a4a4a4;
$grey-500: #888888;
$grey-600: #6a6a6a;
$grey-700: #585858;
$grey-800: #4b4b4b;
$grey-900: #3b3b3b;

/* Red */
$red-50: #fff4f3;
$red-100: #ffe9e7;
$red-150: #ffc7c3;
$red-200: #ffa49d;
$red-300: #ff7d73;
$red-400: #f95f53;
$red-500: #f84638;
$red-600: #c3372c;
$red-700: #a22e25;
$red-800: #8a271f;
$red-900: #6e1f19;
$red-1000: #531713;

/* Blue */
$blue-50: #eef8fe;
$blue-100: #ddf0fc;
$blue-150: #c7e7fa;
$blue-200: #abdbf8;
$blue-300: #78c5f4;
$blue-400: #40adef;
$blue-500: #008de4;
$blue-600: #006fb3;
$blue-700: #005c94;
$blue-800: #004e7e;
$blue-900: #003e64;
$blue-1000: #002033;

/* Yellow */
$yellow-50: #fff7cf;
$yellow-100: #ffef99;
$yellow-150: #ffe661;
$yellow-200: #f9d100;
$yellow-300: #ddb900;
$yellow-400: #c1a200;
$yellow-500: #a08700;
$yellow-600: #7d6900;
$yellow-700: #685700;
$yellow-800: #584a00;
$yellow-900: #463b00;

/* Green */
$green-50: #ebfaef;
$green-100: #d5f5de;
$green-150: #b0edc1;
$green-200: #94e6ab;
$green-300: #4ad571;
$green-400: #20bd4c;
$green-500: #1b9d3f;
$green-600: #157b31;
$green-700: #116629;
$green-800: #0f5723;
$green-900: #134421;
$green-1000: #09200f;

/* Orange */
$orange-50: #fff5ed;
$orange-100: #ffead9;
$orange-150: #ffdcc2;
$orange-200: #ffcaa1;
$orange-250: #ffb780;
$orange-300: #ffa865;
$orange-400: #ff8120;
$orange-500: #d66a17;
$orange-600: #a75312;
$orange-700: #8b450f;
$orange-800: #763b0d;
$orange-900: #5e2f0a;
$orange-1000: #2e1705;

/* Purple */
$violet-50: #f7f6fc;
$violet-100: #eeecf8;
$violet-200: #d6d1ef;
$violet-300: #bfb6e6;
$violet-400: #a89cdd;
$violet-500: #8c7cd2;
$violet-600: #6e5fae;
$violet-700: #5b4f90;
$violet-800: #4d437a;
$violet-900: #3d3560;
$violet-1000: #1f1b31;

/* Ochre */
$ochre-50: #fff7e0;
$ochre-100: #ffeaae;
$ochre-150: #fedc7b;
$ochre-200: #fecf48;
$ochre-300: #ecb927;
$ochre-400: #d4a00c;
$ochre-500: #a87f05;
$ochre-600: #916f08;
$ochre-700: #614a05;
$ochre-800: #584304;
$ochre-900: #493803;
