/* Header navigation */

:root {
    --header-min-height: 3rem;
    --header-navigation-background-color: transparent;
    --header-navigation-text-color: var(--text-set-text-color);
    --header-navigation-padding-right: 2rem;
    --header-navigation-padding-left: 2rem;

    /* top border */
    --header-navigation-border-width: 3px 0 0 0;
    --header-navigation-border-color: var(--branding-color-1);

    /* Menu items */
    --header-navigation-link-border-width: 4px 0 0 0;
    --header-navigation-link-border-color: transparent;
    --header-navigation-link-min-height: 3rem;
    --header-navigation-link-font-size: var(--body-text-medium-font-size);
    --header-navigation-link-font-size: var(--body-text-medium-font-size);

    /* Link styling */
    --header-navigation-link-text-color: var(--application-base-text-color);
    --header-navigation-link-visited-text-color: var(--header-navigation-link-text-color);

    /* Hover */
    --header-navigation-link-hover-border-color: #ede1c7;
    --header-navigation-link-hover-text-color: var(--header-navigation-link-text-color);
    --header-navigation-link-active-hover-border-color: #ede1c7;
    --header-navigation-link-active-hover-text-color: var(--header-navigation-link-text-color);

    /* Active link */
    --header-navigation-link-active-border-color: var(--branding-color-1);
    --header-navigation-link-active-text-color: var(--header-navigation-link-hover-text-color);
    --header-navigation-link-visited-active-text-color: var(--header-navigation-link-hover-text-color);

    /* Collapsed icon */
    --navigation-collapsible-menu-icon-font-size: 2rem;
}
