/* Header navigation */

:root {
    --header-navigation-background-color: transparent;
    --header-navigation-text-color: var(--text-set-text-color);
    --header-navigation-justify-content: flex-end;
}
