$accordion-gap: null !default;
$accordion-font-size: null !default;

// Button
$accordion-button-display: null !default;
$accordion-button-padding: null !default;
$accordion-button-justify-content: null !default;
$accordion-button-line-height: null !default;
$accordion-button-text-color: null !default;
$accordion-button-background-color: null !default;
$accordion-button-border-width: null !default;
$accordion-button-border-style: null !default;
$accordion-button-border-color: null !default;
$accordion-button-font-size: null !default;
$accordion-button-font-weight: null !default;
$accordion-button-border-radius: null !default;

// First button
$accordion-button-first-border-width: null !default;

// Hover
$accordion-button-hover-text-color: null !default;
$accordion-button-hover-background-color: null !default;
$accordion-button-hover-border-width: null !default;
$accordion-button-hover-border-color: null !default;

// Content
$accordion-content-gap: null !default;
$accordion-content-padding: null !default;
$accordion-content-font-size: null !default;
$accordion-content-font-weight: null !default;
$accordion-content-line-height: null !default;
$accordion-content-border-width: null !default;
$accordion-content-border-style: null !default;
$accordion-content-border-color: null !default;
$accordion-content-background-color: null !default;
$accordion-content-text-color: null !default;
$accordion-content-font-weight: null !default;
$accordion-content-border-radius: null !default;

// Before icon (open)
$accordion-button-icon-before-margin-left: null !default;
$accordion-button-icon-before-margin-right: null !default;
$accordion-button-icon-before-padding-right: null !default;
$accordion-button-icon-before-padding-left: null !default;
$accordion-button-icon-before-color: null !default;
$accordion-button-icon-before-mask: null !default;
$accordion-button-icon-before-width: null !default;
$accordion-button-icon-before-height: null !default;

// Before icon (closed)
$accordion-button-icon-before-closed-margin-left: null !default;
$accordion-button-icon-before-closed-margin-right: null !default;
$accordion-button-icon-before-closed-padding-right: null !default;
$accordion-button-icon-before-closed-padding-left: null !default;
$accordion-button-icon-before-closed-color: null !default;
$accordion-button-icon-before-closed-mask: null !default;
$accordion-button-icon-before-closed-width: null !default;
$accordion-button-icon-before-closed-height: null !default;

// After icon (open)
$accordion-button-icon-after-margin-left: auto !default;
$accordion-button-icon-after-margin-right: null !default;
$accordion-button-icon-after-padding-right: null !default;
$accordion-button-icon-after-padding-left: null !default;
$accordion-button-icon-after-color: null !default;
$accordion-button-icon-after-mask: null !default;
$accordion-button-icon-after-width: null !default;
$accordion-button-icon-after-height: null !default;

// After icon (closed)
$accordion-button-icon-after-closed-margin-left: auto !default;
$accordion-button-icon-after-closed-margin-right: null !default;
$accordion-button-icon-after-closed-padding-right: null !default;
$accordion-button-icon-after-closed-padding-left: null !default;
$accordion-button-icon-after-closed-color: null !default;
$accordion-button-icon-after-closed-mask: null !default;
$accordion-button-icon-after-closed-width: null !default;
$accordion-button-icon-after-closed-height: null !default;

// Expanded
$accordion-button-expanded-text-color: null !default;
$accordion-button-expanded-background-color: null !default;
$accordion-button-expanded-border-width: null !default;
$accordion-button-expanded-border-color: null !default;
