$accordion-gap: null !default;
$accordion-font-size: null !default;

// Button
$accordion-button-display: null !default;
$accordion-button-padding: null !default;
$accordion-button-justify-content: null !default;
$accordion-button-line-height: null !default;
$accordion-button-text-color: null !default;
$accordion-button-background-color: null !default;

// Content
$accordion-content-gap: null !default;
$accordion-content-padding: null !default;
$accordion-content-font-size: null !default;
$accordion-content-font-weight: null !default;
$accordion-content-line-height: null !default;
$accordion-content-border-width: null !default;
$accordion-content-border-style: null !default;
$accordion-content-border-color: null !default;
$accordion-content-background-color: null !default;
$accordion-content-text-color: null !default;

// Before (button icon)
$accordion-button-icon-before-open-content: null !default;
$accordion-button-icon-font-family: null !default;
$accordion-button-icon-before-font-size: null !default;

// After (button icon)
$accordion-button-icon-after-open-content: null !default;
$accordion-button-icon-font-family: null !default;
$accordion-button-icon-after-font-size: null !default;

// Expanded state (Aria expanded) before
$accordion-button-icon-before-close-content: null !default;
$accordion-button-icon-font-family: null !default;
$accordion-button-icon-before-font-size: null !default;
$accordion-button-icon-before-font-weight: null !default;
$accordion-button-icon-before-white-space: null !default;

// Expanded state (Aria expanded) after
$accordion-button-icon-after-close-content: null !default;
$accordion-button-icon-font-family: null !default;
$accordion-button-icon-after-font-size: null !default;
$accordion-button-icon-after-font-weight: null !default;
$accordion-button-icon-after-white-space: null !default;
$accordion-button-icon-after-margin-left: null !default;
