$article-section-flex-direction: null !default;
$article-section-gap: null !default;
$article-section-align-items: null !default;
$article-section-padding-top: null !default;
$article-section-padding-right: null !default;
$article-section-padding-bottom: null !default;
$article-section-padding-left: null !default;
$article-section-max-width: null !default;
