$article-section-divider-line-border-width: null !default;
$article-section-divider-line-border-style: null !default;
$article-section-divider-line-border-color: null !default;
$article-section-divider-line-padding: null !default;
