// Avatar
$avatar-width: 2rem !default;
$avatar-height: 2rem !default;
$avatar-min-width: null !default;
$avatar-min-height: 2rem !default;
$avatar-max-width: null !default;
$avatar-max-height: null !default;
$avatar-text-font-family: null !default;
$avatar-text-font-size: null !default;
$avatar-font-weight: null !default;
$avatar-border-radius: null !default;
$avatar-background-color: null !default;
$avatar-text-color: null !default;
$avatar-text-text-decoration: none !default;
$avatar-padding: null !default;
$avatar-align-self: null !default;

// Hover
$avatar-hover-background-color: null !default;
$avatar-hover-text-color: inherit !default;

// Focus
$avatar-focus-background-color: null !default;
$avatar-focus-outline: null !default;
$avatar-focus-outline-offset: null !default;
