$background-color-offset-background-color: #f0f0f0 !default;
$background-color-offset-text-color: null !default;
$background-color-offset-1-background-color: #f0f0f0 !default;
$background-color-offset-1-text-color: null !default;
