$base-background-color: null !default;
$base-text-color: null !default;
$application-base-font-family: null !default;
$application-base-font-size: null !default;
$application-base-line-height: null !default;
$application-base-font-weight: null !default;
$application-base-text-align: null !default;
