$breadcrumb-bar-link-font-size: null !default;
$breadcrumb-bar-link-font-weight: null !default;
$breadcrumb-bar-link-line-height: null !default;
$breadcrumb-bar-link-background-color: null !default;
$breadcrumb-bar-link-text-color: null !default;
$breadcrumb-bar-link-text-decoration: null !default;
$breadcrumb-bar-link-border-width: null !default;
$breadcrumb-bar-link-border-style: null !default;
$breadcrumb-bar-link-border-color: null !default;
$breadcrumb-bar-link-border-radius: null !default;
$breadcrumb-bar-link-icon-last-padding-right: null !default;
$breadcrumb-bar-link-icon-last-padding-left: null !default;
