$breadcrumb-bar-link-visited-font-size: null !default;
$breadcrumb-bar-link-visited-font-weight: null !default;
$breadcrumb-bar-link-visited-line-height: null !default;
$breadcrumb-bar-link-visited-background-color: null !default;
$breadcrumb-bar-link-visited-text-color: null !default;
$breadcrumb-bar-link-visited-text-decoration: null !default;
$breadcrumb-bar-link-visited-border-width: null !default;
$breadcrumb-bar-link-visited-border-style: null !default;
$breadcrumb-bar-link-visited-border-color: null !default;
$breadcrumb-bar-link-visited-border-radius: null !default;
$breadcrumb-bar-link-visited-icon-font-size: null !default;
$breadcrumb-bar-link-visited-icon-font-weight: null !default;
$breadcrumb-bar-link-visited-icon-line-height: null !default;
$breadcrumb-bar-link-visited-icon-background-color: null !default;
$breadcrumb-bar-link-visited-icon-text-color: null !default;
$breadcrumb-bar-link-visited-icon-text-decoration: null !default;
$breadcrumb-bar-link-visited-icon-border-width: null !default;
$breadcrumb-bar-link-visited-icon-border-style: null !default;
$breadcrumb-bar-link-visited-icon-border-color: null !default;
$breadcrumb-bar-link-visited-icon-border-radius: null !default;
$breadcrumb-bar-link-hover-font-size: null !default;
$breadcrumb-bar-link-hover-font-weight: null !default;
$breadcrumb-bar-link-hover-line-height: null !default;
$breadcrumb-bar-link-hover-background-color: null !default;
$breadcrumb-bar-link-hover-text-color: null !default;
$breadcrumb-bar-link-hover-text-decoration: null !default;
$breadcrumb-bar-link-hover-border-width: null !default;
$breadcrumb-bar-link-hover-border-style: null !default;
$breadcrumb-bar-link-hover-border-color: null !default;
$breadcrumb-bar-link-hover-border-radius: null !default;
$breadcrumb-bar-link-hover-icon-font-size: null !default;
$breadcrumb-bar-link-hover-icon-font-weight: null !default;
$breadcrumb-bar-link-hover-icon-line-height: null !default;
$breadcrumb-bar-link-hover-icon-background-color: null !default;
$breadcrumb-bar-link-hover-icon-text-color: null !default;
$breadcrumb-bar-link-hover-icon-text-decoration: null !default;
$breadcrumb-bar-link-hover-icon-border-width: null !default;
$breadcrumb-bar-link-hover-icon-border-style: null !default;
$breadcrumb-bar-link-hover-icon-border-color: null !default;
$breadcrumb-bar-link-hover-icon-border-radius: null !default;
$breadcrumb-bar-link-active-font-size: null !default;
$breadcrumb-bar-link-active-font-weight: null !default;
$breadcrumb-bar-link-active-line-height: null !default;
$breadcrumb-bar-link-active-background-color: null !default;
$breadcrumb-bar-link-active-text-color: null !default;
$breadcrumb-bar-link-active-text-decoration: null !default;
$breadcrumb-bar-link-active-border-width: null !default;
$breadcrumb-bar-link-active-border-style: null !default;
$breadcrumb-bar-link-active-border-color: null !default;
$breadcrumb-bar-link-active-border-radius: null !default;
$breadcrumb-bar-link-active-icon-font-size: null !default;
$breadcrumb-bar-link-active-icon-font-weight: null !default;
$breadcrumb-bar-link-active-icon-line-height: null !default;
$breadcrumb-bar-link-active-icon-background-color: null !default;
$breadcrumb-bar-link-active-icon-text-color: null !default;
$breadcrumb-bar-link-active-icon-text-decoration: null !default;
$breadcrumb-bar-link-active-icon-border-width: null !default;
$breadcrumb-bar-link-active-icon-border-style: null !default;
$breadcrumb-bar-link-active-icon-border-color: null !default;
$breadcrumb-bar-link-active-icon-border-radius: null !default;
$breadcrumb-bar-link-focus-font-size: null !default;
$breadcrumb-bar-link-focus-font-weight: null !default;
$breadcrumb-bar-link-focus-line-height: null !default;
$breadcrumb-bar-link-focus-background-color: null !default;
$breadcrumb-bar-link-focus-text-color: null !default;
$breadcrumb-bar-link-focus-text-decoration: null !default;
$breadcrumb-bar-link-focus-border-width: null !default;
$breadcrumb-bar-link-focus-border-style: null !default;
$breadcrumb-bar-link-focus-border-color: null !default;
$breadcrumb-bar-link-focus-border-radius: null !default;
$breadcrumb-bar-link-focus-icon-font-size: null !default;
$breadcrumb-bar-link-focus-icon-font-weight: null !default;
$breadcrumb-bar-link-focus-icon-line-height: null !default;
$breadcrumb-bar-link-focus-icon-background-color: null !default;
$breadcrumb-bar-link-focus-icon-text-color: null !default;
$breadcrumb-bar-link-focus-icon-text-decoration: null !default;
$breadcrumb-bar-link-focus-icon-border-width: null !default;
$breadcrumb-bar-link-focus-icon-border-style: null !default;
$breadcrumb-bar-link-focus-icon-border-color: null !default;
$breadcrumb-bar-link-focus-icon-border-radius: null !default;
