$breadcrumb-bar-content-block-padding-top: null !default;
$breadcrumb-bar-content-block-padding-right: null !default;
$breadcrumb-bar-content-block-padding-bottom: null !default;
$breadcrumb-bar-content-block-padding-left: null !default;
$breadcrumb-bar-content-block-gap: null !default;
$breadcrumb-bar-content-block-max-width: null !default;
$breadcrumb-bar-content-block-justify-content: null !default;
$breadcrumb-bar-content-block-list-vertical-align: null !default;
$breadcrumb-bar-content-block-list-padding: null !default;
$breadcrumb-bar-content-block-list-gap: null !default;
$breadcrumb-bar-content-block-list-item-gap: null !default;
$breadcrumb-bar-content-block-icon: null !default;
$breadcrumb-bar-icon-font-family: null !default;
$breadcrumb-bar-content-block-icon-margin-left: null !default;
$breadcrumb-bar-content-block-icon-margin-right: null !default;
$breadcrumb-bar-content-block-hover-text-color: null !default;
$breadcrumb-bar-content-block-text-color: null !default;
$breadcrumb-bar-content-block-list-item-last-child-font-weight: null !default;
$breadcrumb-bar-content-block-link-text-decoration: null !default;
$breadcrumb-bar-content-block-link-hover-text-decoration: null !default;
