$breadcrumb-bar-flex-direction: null !default;
$breadcrumb-bar-justify-content: null !default;
$breadcrumb-bar-align-items: null !default;
$breadcrumb-bar-gap: null !default;
$breadcrumb-bar-min-height: null !default;
$breadcrumb-bar-padding-top: null !default;
$breadcrumb-bar-padding-right: null !default;
$breadcrumb-bar-padding-bottom: null !default;
$breadcrumb-bar-padding-left: null !default;
$breadcrumb-bar-max-width: null !default;
$breadcrumb-bar-text-color: null !default;
$breadcrumb-bar-border-width: null !default;
$breadcrumb-bar-border-style: null !default;
$breadcrumb-bar-border-color: null !default;
$breadcrumb-bar-border-radius: null !default;
$breadcrumb-bar-background-color: null !default;

// List
$breadcrumb-bar-list-item-gap: null !default;
$breadcrumb-bar-list-item-last-child-font-weight: null !default;

// Icon
$breadcrumb-bar-icon-margin-left: null !default;
$breadcrumb-bar-icon-margin-right: null !default;

// Hover
$breadcrumb-bar-hover-text-color: null !default;
