// Base
$breadcrumb-bar-link-font-size: null !default;
$breadcrumb-bar-link-font-weight: null !default;
$breadcrumb-bar-link-line-height: null !default;
$breadcrumb-bar-link-background-color: null !default;
$breadcrumb-bar-link-text-color: null !default;
$breadcrumb-bar-link-text-decoration: null !default;
$breadcrumb-bar-link-border-width: null !default;
$breadcrumb-bar-link-border-style: null !default;
$breadcrumb-bar-link-border-color: null !default;
$breadcrumb-bar-link-border-radius: null !default;
$breadcrumb-bar-link-white-space: null !default;
$breadcrumb-bar-link-padding-right: null !default;
$breadcrumb-bar-link-padding-left: null !default;

// Icon
$breadcrumb-bar-link-icon-font-size: null !default;
$breadcrumb-bar-link-icon-font-weight: null !default;
$breadcrumb-bar-link-icon-line-height: null !default;
$breadcrumb-bar-link-icon-text-decoration: null !default;
$breadcrumb-bar-link-icon-padding-right: null !default;
$breadcrumb-bar-link-icon-padding-left: null !default;
$breadcrumb-bar-link-icon-background-color: null !default;
$breadcrumb-bar-link-icon-text-color: null !default;
$breadcrumb-bar-link-icon-content: null !default;

// Last Icon
$breadcrumb-bar-link-icon-last-padding-right: null !default;
$breadcrumb-bar-link-icon-last-padding-left: null !default;
