$button-font-size: null !default;
$button-font-weight: 400 !default;
$button-font-family: null !default;
$button-background-color: null !default;
$button-text-color: null !default;
$button-border-width: null !default;
$button-border-style: null !default;
$button-border-color: null !default;
$button-border-radius: null !default;
$button-padding-top: null !default;
$button-padding-right: null !default;
$button-padding-bottom: null !default;
$button-padding-left: null !default;
$button-justify-content: null !default;
$button-gap: null !default;
$button-line-height: null !default;
$button-text-decoration: null !default;
$button-text-align: null !default;
$button-min-width: null !default;
$button-height: null !default;
$button-min-height: null !default;
$button-appearance: null !default;
$button-z-index: null !default;
$button-box-shadow: null !default;
$button-margin: null !default;

/* hover */
$button-hover-background-color: null !default;
$button-hover-text-color: null !default;
$button-hover-border-color: null !default;
$button-hover-border-width: null !default;
$button-hover-border-style: null !default;
$button-hover-border-radius: null !default;

// active
$button-active-background-color: null !default;
$button-active-text-color: null !default;
$button-active-border-style: null !default;
$button-active-border-color: null !default;
$button-active-border-width: null !default;
$button-active-border-radius: null !default;

// focus
$button-focus-background-color: null !default;
$button-focus-text-color: null !default;
$button-focus-border-style: null !default;
$button-focus-border-color: null !default;
$button-focus-border-width: null !default;
$button-focus-border-radius: null !default;

// outline
$button-outline: null !default;
$button-outline-offset: null !default;
$button-outline-color: null !default;
$button-outline-border-radius: null !default;

// img
$button-image-max-width: null !default;
