$button-icon-justify-content: null !default;
$button-icon-gap: null !default;
$button-icon-background-color: null !default;
$button-icon-text-color: null !default;
$button-icon-font-family: null !default;
$button-icon-font-size: null !default;
$button-icon-font-weight: null !default;
$button-icon-line-height: null !default;
$button-icon-text-decoration: null !default;
$button-icon-text-align: null !default;
$button-icon-padding-top: null !default;
$button-icon-padding-right: null !default;
$button-icon-padding-bottom: null !default;
$button-icon-padding-left: null !default;
$button-icon-min-width: null !default;
$button-icon-height: null !default;
$button-icon-min-height: null !default;
$button-icon-border-width: null !default;
$button-icon-border-style: null !default;
$button-icon-border-color: null !default;
$button-icon-border-radius: null !default;
$button-icon-webkit-appearance: null !default;
$button-icon-image-max-width: null !default;
$button-icon-hover-background-color: null !default;
$button-icon-hover-text-color: null !default;
$button-icon-hover-border-color: null !default;
$button-icon-hover-border-width: null !default;
$button-icon-hover-border-style: null !default;
$button-icon-hover-border-radius: null !default;
$button-icon-active-background-color: null !default;
$button-icon-active-text-color: null !default;
$button-icon-active-border-style: null !default;
$button-icon-active-border-color: null !default;
$button-icon-active-border-width: null !default;
$button-icon-active-border-radius: null !default;
$button-icon-focus-border-style: null !default;
$button-icon-focus-border-color: null !default;
$button-icon-focus-border-width: null !default;
$button-icon-focus-border-radius: null !default;
$button-icon-focus-background-color: null !default;
$button-icon-focus-text-color: null !default;
$button-icon-focus-outline: null !default;
$button-icon-focus-outline-offset: null !default;
$button-icon-focus-outline-color: null !default;
$button-icon-focus-z-index: null !default;
$button-icon-focus-box-shadow: null !default;
$button-icon-icon-font-family: null !default;
$button-icon-icon-font-size: null !default;
$button-icon-icon-line-height: null !default;
$button-icon-icon-text-decoration: null !default;
$button-icon-icon-padding-right: null !default;
$button-icon-icon-padding-left: null !default;
$button-icon-icon-background-color: null !default;
$button-icon-icon-text-color: null !default;
$button-icon-icon: null !default;
