$button-destructive-background-color: null !default;
$button-destructive-text-color: null !default;
$button-destructive-border-color: null !default;

/* Hover */
$button-destructive-primary-hover-background-color: null !default;
$button-destructive-primary-hover-text-color: null !default;
$button-destructive-primary-hover-border-color: null !default;
