$button-cta-justify-content: null !default;
$button-cta-gap: null !default;
$button-cta-background-color: null !default;
$button-cta-text-color: null !default;
$button-cta-font-family: null !default;
$button-cta-font-size: null !default;
$button-cta-font-weight: null !default;
$button-cta-line-height: null !default;
$button-cta-text-decoration: null !default;
$button-cta-text-align: null !default;
$button-cta-padding-top: null !default;
$button-cta-padding-right: null !default;
$button-cta-padding-bottom: null !default;
$button-cta-padding-left: null !default;
$button-cta-min-width: null !default;
$button-cta-height: null !default;
$button-cta-min-height: null !default;
$button-cta-border-width: null !default;
$button-cta-border-style: null !default;
$button-cta-border-color: null !default;
$button-cta-border-radius: null !default;
$button-cta-webkit-appearance: null !default;
$button-cta-image-max-width: null !default;
$button-cta-hover-background-color: null !default;
$button-cta-hover-text-color: null !default;
$button-cta-hover-border-color: null !default;
$button-cta-hover-border-width: null !default;
$button-cta-hover-border-style: null !default;
$button-cta-hover-border-radius: null !default;
$button-cta-active-background-color: null !default;
$button-cta-active-text-color: null !default;
$button-cta-active-border-style: null !default;
$button-cta-active-border-color: null !default;
$button-cta-active-border-width: null !default;
$button-cta-active-border-radius: null !default;
$button-cta-focus-border-style: null !default;
$button-cta-focus-border-color: null !default;
$button-cta-focus-border-width: null !default;
$button-cta-focus-border-radius: null !default;
$button-cta-focus-background-color: null !default;
$button-cta-focus-text-color: null !default;
$button-cta-focus-outline: null !default;
$button-cta-focus-outline-offset: null !default;
$button-cta-focus-outline-color: null !default;
$button-cta-focus-z-index: null !default;
$button-cta-focus-box-shadow: null !default;
$link-button-cta-text-color: null !default;
