// Base
$button-icon-justify-content: null !default;
$button-icon-align-items: null !default;
$button-icon-align-self: null !default;
$button-icon-gap: null !default;
$button-icon-background-color: null !default;
$button-icon-text-color: null !default;
$button-icon-font-family: null !default;
$button-icon-font-size: null !default;
$button-icon-font-weight: null !default;
$button-icon-line-height: null !default;
$button-icon-text-decoration: null !default;
$button-icon-text-align: null !default;
$button-icon-padding-top: null !default;
$button-icon-padding-right: null !default;
$button-icon-padding-bottom: null !default;
$button-icon-padding-left: null !default;
$button-icon-margin: null !default;
$button-icon-box-sizing: null !default;
$button-icon-width: null !default;
$button-icon-min-width: null !default;
$button-icon-height: null !default;
$button-icon-min-height: null !default;
$button-icon-border-width: null !default;
$button-icon-border-style: null !default;
$button-icon-border-color: null !default;
$button-icon-border-radius: null !default;
$button-icon-webkit-border-radius: null !default;
$button-icon-webkit-appearance: null !default;
$button-icon-cursor: null !default;
$button-icon-overflow-wrap: null !default;
$button-icon-image-max-width: null !default;
$button-icon-child-pointer-events: null !default;
$button-icon-breakpoint: null !default;
$button-icon-breakpoint-min-width: null !default;
$button-icon-breakpoint-display: null !default;

// Hover
$button-icon-hover-background-color: null !default;
$button-icon-hover-text-color: null !default;
$button-icon-hover-border-color: null !default;
$button-icon-hover-border-width: null !default;
$button-icon-hover-border-style: null !default;
$button-icon-hover-border-radius: null !default;

// Active
$button-icon-active-background-color: null !default;
$button-icon-active-text-color: null !default;
$button-icon-active-border-style: null !default;
$button-icon-active-border-color: null !default;
$button-icon-active-border-width: null !default;
$button-icon-active-border-radius: null !default;

// Focus
$button-icon-focus-border-style: null !default;
$button-icon-focus-border-color: null !default;
$button-icon-focus-border-width: null !default;
$button-icon-focus-border-radius: null !default;
$button-icon-focus-background-color: null !default;
$button-icon-focus-text-color: null !default;

// Link
$link-button-icon-text-color: null !default;

// Outline
$button-icon-outline: null !default;
$button-icon-outline-offset: null !default;
$button-icon-outline-color: null !default;
$button-icon-z-index: null !default;
$button-icon-box-shadow: null !default;
$button-icon-outline-border-radius: null !default;

// Icon
$button-icon-icon-font-size: null !default;
$button-icon-icon-font-weight: null !default;
$button-icon-icon-line-height: null !default;
$button-icon-icon-text-decoration: null !default;
$button-icon-icon-padding-right: null !default;
$button-icon-icon-padding-left: null !default;
$button-icon-icon-background-color: null !default;
$button-icon-icon-text-color: null !default;