$button-destructive-background-color: null !default;
$button-destructive-text-color: null !default;
$button-destructive-border-color: null !default;

/* Hover */
$button-destructive-hover-background-color: null !default;
$button-destructive-hover-text-color: null !default;
$button-destructive-hover-border-color: null !default;
