// Base
$button-ghost-justify-content: null !default;
$button-ghost-align-items: null !default;
$button-ghost-align-self: null !default;
$button-ghost-gap: null !default;
$button-ghost-background-color: null !default;
$button-ghost-text-color: null !default;
$button-ghost-font-family: null !default;
$button-ghost-font-size: null !default;
$button-ghost-font-weight: null !default;
$button-ghost-line-height: null !default;
$button-ghost-text-decoration: null !default;
$button-ghost-text-align: null !default;
$button-ghost-padding-top: null !default;
$button-ghost-padding-right: null !default;
$button-ghost-padding-bottom: null !default;
$button-ghost-padding-left: null !default;
$button-ghost-margin: null !default;
$button-ghost-box-sizing: null !default;
$button-ghost-width: null !default;
$button-ghost-min-width: null !default;
$button-ghost-height: null !default;
$button-ghost-min-height: null !default;
$button-ghost-border-width: null !default;
$button-ghost-border-style: null !default;
$button-ghost-border-color: null !default;
$button-ghost-border-radius: null !default;
$button-ghost-webkit-border-radius: null !default;
$button-ghost-webkit-appearance: null !default;
$button-ghost-cursor: null !default;
$button-ghost-overflow-wrap: null !default;
$button-ghost-breakpoint: null !default;
$button-ghost-breakpoint-min-width: null !default;
$button-ghost-breakpoint-display: null !default;

// Hover
$button-ghost-hover-background-color: null !default;
$button-ghost-hover-text-color: null !default;
$button-ghost-hover-border-color: null !default;
$button-ghost-hover-border-width: null !default;
$button-ghost-hover-border-style: null !default;
$button-ghost-hover-border-radius: null !default;

// Active
$button-ghost-active-background-color: null !default;
$button-ghost-active-text-color: null !default;
$button-ghost-active-border-style: null !default;
$button-ghost-active-border-color: null !default;
$button-ghost-active-border-width: null !default;
$button-ghost-active-border-radius: null !default;

// Focus
$button-ghost-focus-border-style: null !default;
$button-ghost-focus-border-color: null !default;
$button-ghost-focus-border-width: null !default;
$button-ghost-focus-border-radius: null !default;
$button-ghost-focus-background-color: null !default;
$button-ghost-focus-text-color: null !default;

// Link
$link-button-ghost-text-color: null !default;

// Outline
$button-ghost-outline: null !default;
$button-ghost-outline-offset: null !default;
$button-ghost-outline-color: null !default;
$button-ghost-z-index: null !default;
$button-ghost-box-shadow: null !default;
$button-ghost-outline-border-radius: null !default;
