// Base
$button-secondary-justify-content: null !default;
$button-secondary-align-items: null !default;
$button-secondary-align-self: null !default;
$button-secondary-gap: null !default;
$button-secondary-background-color: null !default;
$button-secondary-text-color: null !default;
$button-secondary-font-family: null !default;
$button-secondary-font-size: null !default;
$button-secondary-font-weight: null !default;
$button-secondary-line-height: null !default;
$button-secondary-text-decoration: null !default;
$button-secondary-text-align: null !default;
$button-secondary-padding-top: null !default;
$button-secondary-padding-right: null !default;
$button-secondary-padding-bottom: null !default;
$button-secondary-padding-left: null !default;
$button-secondary-margin: null !default;
$button-secondary-box-sizing: null !default;
$button-secondary-width: null !default;
$button-secondary-min-width: null !default;
$button-secondary-height: null !default;
$button-secondary-min-height: null !default;
$button-secondary-border-width: null !default;
$button-secondary-border-style: null !default;
$button-secondary-border-color: null !default;
$button-secondary-border-radius: null !default;
$button-secondary-webkit-border-radius: null !default;
$button-secondary-webkit-appearance: null !default;
$button-secondary-cursor: null !default;
$button-secondary-overflow-wrap: null !default;
$button-secondary-image-max-width: null !default;
$button-secondary-breakpoint: null !default;
$button-secondary-breakpoint-min-width: null !default;
$button-secondary-breakpoint-display: null !default;

// Hover
$button-secondary-hover-background-color: null !default;
$button-secondary-hover-text-color: null !default;
$button-secondary-hover-border-color: null !default;
$button-secondary-hover-border-width: null !default;
$button-secondary-hover-border-style: null !default;
$button-secondary-hover-border-radius: null !default;

// Active
$button-secondary-active-background-color: null !default;
$button-secondary-active-text-color: null !default;
$button-secondary-active-border-style: null !default;
$button-secondary-active-border-color: null !default;
$button-secondary-active-border-width: null !default;
$button-secondary-active-border-radius: null !default;

// Focus
$button-secondary-focus-border-style: null !default;
$button-secondary-focus-border-color: null !default;
$button-secondary-focus-border-width: null !default;
$button-secondary-focus-border-radius: null !default;
$button-secondary-focus-background-color: null !default;
$button-secondary-focus-text-color: null !default;

// Link
$link-button-secondary-text-color: null !default;

// Outline
$button-secondary-outline: null !default;
$button-secondary-outline-offset: null !default;
$button-secondary-outline-color: null !default;
$button-secondary-z-index: null !default;
$button-secondary-box-shadow: null !default;
