// Base
$button-base-justify-content: null !default;
$button-base-gap: null !default;
$button-base-background-color: null !default;
$button-base-text-color: null !default;
$button-base-font-family: null !default;
$button-base-font-size: null !default;
$button-base-font-weight: null !default;
$button-base-line-height: null !default;
$button-base-text-decoration: null !default;
$button-base-text-align: null !default;
$button-base-padding-top: null !default;
$button-base-padding-right: null !default;
$button-base-padding-bottom: null !default;
$button-base-padding-left: null !default;
$button-base-height: null !default;
$button-base-min-height: null !default;
$button-base-width: null !default;
$button-base-min-width: null !default;
$button-base-border-width: null !default;
$button-base-border-style: null !default;
$button-base-border-color: null !default;
$button-base-border-radius: null !default;
$button-base-webkit-appearance: null !default;
$button-base-image-max-width: null !default;

// Hover
$button-base-hover-background-color: null !default;
$button-base-hover-text-color: null !default;
$button-base-hover-border-color: null !default;
$button-base-hover-border-width: null !default;
$button-base-hover-border-style: null !default;
$button-base-hover-border-radius: null !default;

// Active
$button-base-active-background-color: null !default;
$button-base-active-text-color: null !default;
$button-base-active-border-style: null !default;
$button-base-active-border-color: null !default;
$button-base-active-border-width: null !default;
$button-base-active-border-radius: null !default;

// Focus
$button-base-focus-border-width: null !default;
$button-base-focus-border-style: null !default;
$button-base-focus-border-color: null !default;
$button-base-focus-border-radius: null !default;
$button-base-focus-background-color: null !default;
$button-base-focus-text-color: null !default;

// Link
$link-button-base-text-color: null !default;

// Outline
$button-base-outline: null !default;
$button-base-outline-offset: null !default;
$button-base-outline-color: null !default;
$button-base-z-index: null !default;
$button-base-box-shadow: null !default;
$button-base-outline-border-radius: null !default;
