// Base
$button-icon-only-background-color: null !default;
$button-icon-only-text-color: null !default;
$button-icon-only-border-width: null !default;
$button-icon-only-font-size: null !default;
$button-icon-only-min-width: null !default;
$button-icon-only-gap: null !default;
$button-icon-only-padding-right: null !default;
$button-icon-only-padding-left: null !default;

// Icon
$button-icon-only-icon-font-size: null !default;

// Hover
$button-icon-only-hover-background-color: null !default;
$button-icon-only-hover-border-width: null !default;