$button-font-size: null !default;
$button-font-weight: null !default;
$button-font-family: null !default;
$button-background-color: null !default;
$button-text-color: null !default;
$button-border-width: null !default;
$button-border-color: null !default;
$button-border-radius: null !default;
$button-padding-top: null !default;
$button-padding-right: null !default;
$button-padding-bottom: null !default;
$button-padding-left: null !default;

/* Hover */
$button-primary-hover-background-color: null !default;
$button-primary-hover-text-color: null !default;
$button-primary-hover-border-color: null !default;
