// checkbox input field
$checkbox-input-width: null !default;
$checkbox-input-height: null !default;
$checkbox-input-padding: null !default;
$checkbox-input-margin: null !default;
$checkbox-input-border: null !default;
$checkbox-input-border-radius: null !default;
$checkbox-input-accent-color: null !default;

// checkbox label
$checkbox-label-width: null !default;
$checkbox-label-font-weight: null !default;
$checkbox-label-focus-outline: null !default;

// checkbox container
$checkbox-padding: null !default;
$checkbox-margin: null !default;
$checkbox-gap: null !default;

// checkbox + required
$checkbox-required-div-padding: null !default;
$checkbox-required-gap: null !default;

// checkbox + required + div
$checkbox-div-gap: null !default;

// checkbox + nota bene
$checkbox-nota-bene-padding: null !default;
$checkbox-nota-ben-margin: null !default;
