$checkbox-gap: null !default;
$checkbox-align-items: center !default;
$checkbox-width: auto !default;
$checkbox-height: null !default;
$checkbox-accent-color: null !default;
$checkbox-label-width: null !default;
$checkbox-required-gap: null !default;
$checkbox-input-width: null !default;
$checkbox-label-font-weight: null !default;
