$code-block-max-width: null !default;
$code-block-padding: null !default;
$code-block-background-color: null !default;
$code-block-text-color: null !default;
$code-block-border-width: null !default;
$code-block-border-style: null !default;
$code-block-border-color: null !default;
$code-block-code-background-color: null !default;
$code-block-code-padding: null !default;
$code-block-border-radius: null !default;
