$code-background-color: null !default;
$code-text-color: null !default;
$code-word-break: null !default;
$code-overflow-wrap: null !default;
$code-padding: null !default;
$code-breakpoint-word-break: null !default;
$code-breakpoint-overflow-wrap: null !default;
$code-font-size: null !default;
