$code-background-color: null !default;
$code-text-color: null !default;
$code-word-break: null !default;
$code-overflow-wrap: null !default;
$code-padding: null !default;
$code-breakpoint-word-break: null !default;
$code-breakpoint-overflow-wrap: null !default;
$code-font-size: null !default;
$code-border-width: null !default;
$code-border-style: null !default;
$code-border-color: null !default;
$code-border-radius: null !default;
