$color-picker-width: 2.5rem !default;
$color-picker-height: 2.75rem !default;
$color-picker-padding: 0.25rem !default;
$color-picker-border-radius: null !default;
$color-picker-appearance: null !default;
$color-picker-border: null !default;
$color-picker-border-radius: null !default;
$color-picker-color-swatch-wrapper-padding: null !default;
$color-picker-color-swatch-border: null !default;
$color-picker-color-swatch-border-radius: null !default;
