$collapsible-width: null !default;
$collapsible-max-width: null !default;

// Collapsing element
$collapsing-element-flex-direction: null !default;
$collapsing-element-justify-content: null !default;
$collapsing-element-align-items: null !default;
$collapsing-element-gap: null !default;
$collapsing-element-width: 100% !default;
$collapsing-element-max-width: null !default;
$collapsing-element-z-index: 20 !default;
$collapsing-element-padding-top: null !default;
$collapsing-element-padding-right: null !default;
$collapsing-element-padding-bottom: null !default;
$collapsing-element-padding-left: null !default;
$collapsing-element-border-width: null !default;
$collapsing-element-border-style: null !default;
$collapsing-element-border-color: null !default;
$collapsing-element-background-color: #fff !default;
$collapsing-element-text-color: null !default;
$collapsing-element-box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 10%) !default;
$collapsing-element-top: null !default;
$collapsing-element-left: null !default;
$collapsing-element-right: null !default;

// Collapsing element list
$collapsing-element-list-gap: 0 !default;
$collapsing-element-list-background-color: null !default;

// Collapsing element list item
$collapsing-element-list-item-align-items: null !default;
$collapsing-element-list-item-background-color: null !default;
$collapsing-element-list-item-text-color: null !default;
$collapsing-element-list-item-border-width: 0 0 1px 0 !default;
$collapsing-element-list-item-border-style: solid !default;
$collapsing-element-list-item-border-color: #f0f0f0 !default;
$collapsing-element-list-item-last-item-border-width: null !default;
$collapsing-element-list-item-first-item-border-width: null !default;
$collapsing-element-list-item-link-justify-content: null !default;
$collapsing-element-list-item-min-height: 3rem !default;

// Collapsing element link
$collapsing-element-list-item-link-padding-top: null !default;
$collapsing-element-list-item-link-padding-right: 1rem !default;
$collapsing-element-list-item-link-padding-bottom: null !default;
$collapsing-element-list-item-link-padding-left: 1rem !default;
$collapsing-element-list-item-link-text-color: null !default;
$collapsing-element-list-item-link-text-decoration: none !default;

// Collapsing element icon
$collapsing-element-list-icon: null !default;
$collapsing-element-list-icon-font-family: null !default;
$collapsing-element-list-icon-margin-left: null !default;
$collapsing-element-list-icon-font-size: null !default;
$collapsing-element-list-icon-text-color: null !default;
$collapsing-element-list-icon-margin-right: null !default;

// Collapsing element selected
$collapsing-element-list-link-selected-background-color: null !default;
$collapsing-element-list-link-selected-font-weight: bold !default;
$collapsing-element-list-link-selected-text-decoration: none !default;
$collapsing-element-list-selected-icon: null !default;
$collapsing-element-list-selected-icon-font-family: null !default;
$collapsing-element-list-selected-icon-margin-left: null !default;
$collapsing-element-list-selected-icon-font-size: null !default;
$collapsing-element-list-selected-icon-text-color: null !default;
$collapsing-element-list-selected-icon-margin-right: null !default;
$collapsing-element-list-link-selected-hover-background-color: null !default;
$collapsing-element-list-link-selected-hover-text-decoration: none !default;

// Collapsing element link hover
$collapsing-element-list-item-hover-text-color: null !default;
$collapsing-element-list-item-link-hover-text-color: null !default;
$collapsing-element-list-link-hover-text-decoration: none !default;
$collapsing-element-list-item-link-hover-background-color: null !default;
