// Container
$container-gap: 1.25rem !default;

// Container-s
$container-s-max-width: null !default;
$container-s-padding-top: null !default;
$container-s-padding-right: null !default;
$container-s-padding-bottom: null !default;
$container-s-padding-left: null !default;
$container-s-margin: 0 auto !default;

// Container-m
$container-m-max-width: null !default;
$container-m-padding-top: null !default;
$container-m-padding-right: null !default;
$container-m-padding-bottom: null !default;
$container-m-padding-left: null !default;
$container-m-margin: 0 auto !default;

// Container-l
$container-l-max-width: null !default;
$container-l-padding-top: null !default;
$container-l-padding-right: null !default;
$container-l-padding-bottom: null !default;
$container-l-padding-left: null !default;
$container-l-margin: 0 auto !default;
