$description-list-width: null !default;
$description-list-max-width: null !default;
$description-list-item-flex-direction: null !default;
$description-list-item-gap: null !default;
$description-list-item-padding: null !default;
$description-list-border-width: null !default;
$description-list-border-style: null !default;
$description-list-border-color: null !default;
$description-list-item-odd-background-color: null !default;
$description-list-item-white-space: null !default;
$description-list-item-title-font-weight: null !default;
$description-list-item-title-background-color: null !default;
$description-list-item-title-text-color: null !default;
$description-list-item-title-padding: null !default;
$description-list-item-title-width: null !default;
$description-list-item-data-background-color: null !default;
$description-list-item-data-text-color: null !default;
$description-list-item-data-padding: null !default;
$description-list-item-data-font-weight: null !default;
$description-list-item-data-width: null !default;
$description-list-item-flex-direction-after-breakpoint: null !default;
