// Base
$divider-striping-base-border-width: null !default;
$divider-striping-base-border-style: null !default;
$divider-striping-base-border-color: null !default;
$divider-striping-base-background-color: null !default;
