// Base
$divider-lines-subcontentblocks-border-width: null !default;
$divider-lines-subcontentblocks-border-style: null !default;
$divider-lines-subcontentblocks-border-color: null !default;
$divider-lines-subcontentblocks-padding-top: null !default;

// First of Type
$divider-lines-subcontentblocks-first-of-type-border-width: null !default;
$divider-lines-subcontentblocks-first-of-type-border-style: null !default;
$divider-lines-subcontentblocks-first-of-type-border-color: null !default;
$divider-lines-subcontentblocks-first-of-type-padding-top: null !default;
