$divider-lines-content-block-border-width: null !default;
$divider-lines-content-block-border-style: null !default;
$divider-lines-content-block-border-color: null !default;
$divider-lines-content-block-first-of-type-border-width: null !default;
$divider-lines-content-block-first-of-type-border-style: null !default;
$divider-lines-content-block-first-of-type-border-color: null !default;
