// Base
$divider-lines-main-border-width: null !default;
$divider-lines-main-border-style: null !default;
$divider-lines-main-border-color: null !default;
$divider-lines-main-padding-top: null !default;

// First of Type
$divider-lines-main-first-of-type-border-width: null !default;
$divider-lines-main-first-of-type-border-style: null !default;
$divider-lines-main-first-of-type-border-color: null !default;
$divider-lines-main-first-of-type-padding-top: null !default;
