// Base
$divider-lines-within-content-block-border-width: null !default;
$divider-lines-within-content-block-border-style: null !default;
$divider-lines-within-content-block-border-color: null !default;

// First of Type
$divider-lines-within-content-block-first-of-type-border-width: null !default;
$divider-lines-within-content-block-first-of-type-border-style: null !default;
$divider-lines-within-content-block-first-of-type-border-color: null !default;
