// Base
$divider-striping-content-block-border-width: null !default;
$divider-striping-content-block-border-style: null !default;
$divider-striping-content-block-border-color: null !default;
$divider-striping-content-block-background-color: null !default;
