$divider-striping-top-border-width: null !default;
$divider-striping-top-border-style: null !default;
$divider-striping-top-border-color: null !default;
$divider-striping-top-background-color: null !default;
