$filter-padding: null !default;
$filter-gap: null !default;
$filter-width: null !default;
$filter-intro-border-width: null !default;
$filter-intro-border-style: null !default;
$filter-intro-border-color: null !default;
$filter-intro-font-size: null !default;
$filter-intro-font-weight: null !default;
$filter-intro-text-color: null !default;
$filter-intro-span-font-size: null !default;
$filter-intro-span-text-color: null !default;
$filter-button-background-color: null !default;
$filter-button-text-color: null !default;
$filter-button-border-width: null !default;
$filter-button-border-style: null !default;
$filter-button-border-color: null !default;
$filter-button-padding: null !default;
$filter-button-min-height: null !default;
$filter-button-margin-left: null !default;
$filter-button-font-size: null !default;
$filter-button-icon-font-family: null !default;
$filter-button-icon-line-height: null !default;
$filter-button-icon-font-size: null !default;
$filter-button-icon-font-weight: null !default;
$filter-button-icon-before-close-content: null !default;
$filter-button-icon-before-open-content: null !default;
