$filter-padding: null !default;
$filter-gap: null !default;
$filter-width: null !default;
$filter-intro-border-width: null !default;
$filter-intro-border-style: null !default;
$filter-intro-border-color: null !default;
$filter-intro-font-size: null !default;
$filter-intro-font-weight: null !default;
$filter-intro-text-color: null !default;
$filter-intro-span-font-size: null !default;
$filter-intro-span-text-color: null !default;

// Button
$filter-button-background-color: null !default;
$filter-button-text-color: null !default;
$filter-button-border-width: null !default;
$filter-button-border-style: null !default;
$filter-button-border-color: null !default;
$filter-button-padding: null !default;
$filter-button-min-height: null !default;
$filter-button-margin-left: null !default;
$filter-button-font-size: null !default;

// Icon
$filter-icon-margin-left: null !default;
$filter-icon-margin-right: null !default;
$filter-icon-padding: null !default;
$filter-icon-color: null !default;
$filter-icon-mask: null !default;
$filter-icon-width: null !default;
$filter-icon-height: null !default;

// Close icon
$filter-close-icon-margin-left: null !default;
$filter-close-icon-margin-right: null !default;
$filter-close-icon-padding: null !default;
$filter-close-icon-color: null !default;
$filter-close-icon-mask: null !default;
$filter-close-icon-width: null !default;
$filter-close-icon-height: null !default;
