$footer-link-hover-font-size: null !default;
$footer-link-hover-font-weight: null !default;
$footer-link-hover-line-height: null !default;
$footer-link-hover-background-color: null !default;
$footer-link-hover-text-color: null !default;
$footer-link-hover-text-decoration: null !default;
$footer-link-hover-border-width: null !default;
$footer-link-hover-border-style: null !default;
$footer-link-hover-border-color: null !default;
$footer-link-hover-border-radius: null !default;
$footer-link-hover-icon-font-size: null !default;
$footer-link-hover-icon-font-weight: null !default;
$footer-link-hover-icon-line-height: null !default;
$footer-link-hover-icon-background-color: null !default;
$footer-link-hover-icon-text-color: null !default;
$footer-link-hover-icon-text-decoration: null !default;
$footer-link-hover-icon-border-width: null !default;
$footer-link-hover-icon-border-style: null !default;
$footer-link-hover-icon-border-color: null !default;
$footer-link-hover-icon-border-radius: null !default;
