$footer-flex-direction: null !default;
$footer-gap: null !default;
$footer-justify-content: null !default;
$footer-align-items: null !default;
$footer-flex-wrap: null !default;
$footer-min-height: null !default;
$footer-background-color: null !default;
$footer-text-color: null !default;
$footer-text-align: null !default;
$footer-padding-top: null !default;
$footer-padding-right: null !default;
$footer-padding-bottom: null !default;
$footer-padding-left: null !default;
$footer-max-width: null !default;
$footer-list-style: null !default;
