// Footer
$footer-flex-direction: null !default;
$footer-gap: null !default;
$footer-justify-content: null !default;
$footer-align-items: null !default;
$footer-flex-wrap: null !default;
$footer-min-height: null !default;
$footer-background-color: null !default;
$footer-text-color: null !default;
$footer-text-align: null !default;
$footer-padding-top: null !default;
$footer-padding-right: null !default;
$footer-padding-bottom: null !default;
$footer-padding-left: null !default;
$footer-max-width: null !default;
$footer-list-style: null !default;
$footer-border-width: null !default;
$footer-border-style: null !default;
$footer-border-color: null !default;

// content wrapper
$footer-content-wrapper-background-color: null !default;
$footer-content-wrapper-flex-direction: column !default;
$footer-content-wrapper-justify-content: null !default;
$footer-content-wrapper-align-items: flex-start !default;
$footer-content-wrapper-gap: null !default;
$footer-content-wrapper-padding-top: null !default;
$footer-content-wrapper-padding-right: null !default;
$footer-content-wrapper-padding-bottom: null !default;
$footer-content-wrapper-padding-left: null !default;
$footer-content-wrapper-max-width: null !default;
$footer-content-wrapper-border-radius: null !default;

// nav
$footer-navigation-flex-direction: column !default;
$footer-navigation-gap: null !default;
$footer-navigation-justify-content: null !default;
$footer-navigation-align-items: null !default;
$footer-navigation-flex-wrap: null !default;
$footer-navigation-padding-top: null !default;
$footer-navigation-padding-right: null !default;
$footer-navigation-padding-bottom: null !default;
$footer-navigation-padding-left: null !default;

// link
$footer-link-text-color: null !default;
$footer-link-hover-text-color: null !default;
$footer-link-visited-text-color: null !default;
$footer-link-visited-hover-text-color: null !default;
$footer-link-text-decoration: none !default;

// Current page
$footer-link-current-text-color: null !default;
$footer-link-current-background-color: null !default;
$footer-link-current-text-decoration: null !default;
$footer-link-current-border-width: null !default;
$footer-link-current-border-style: null !default;
$footer-link-current-border-color: null !default;

// List
$footer-list-gap: null !default;
$footer-list-justify-content: null !default;
$footer-list-align-items: null !default;
$footer-list-text-color: null !default;
$footer-list-font-weight: null !default;
$footer-list-width: null !default;
$footer-list-item-justify-content: null !default;
$footer-list-item-align-items: null !default;
$footer-list-item-text-color: null !default;
$footer-list-item-background-color: null !default;
$footer-list-flex-direction: null !default;
