// Base
$footer-navigation-link-visited-font-size: null !default;
$footer-navigation-link-visited-font-weight: null !default;
$footer-navigation-link-visited-line-height: null !default;
$footer-navigation-link-visited-background-color: null !default;
$footer-navigation-link-visited-text-color: null !default;
$footer-navigation-link-visited-text-decoration: null !default;
$footer-navigation-link-visited-border-width: null !default;
$footer-navigation-link-visited-border-style: null !default;
$footer-navigation-link-visited-border-color: null !default;
$footer-navigation-link-visited-border-radius: null !default;

// Icon
$footer-navigation-link-visited-icon-font-size: null !default;
$footer-navigation-link-visited-icon-font-weight: null !default;
$footer-navigation-link-visited-icon-line-height: null !default;
$footer-navigation-link-visited-icon-text-decoration: null !default;
$footer-navigation-link-visited-icon-padding-right: null !default;
$footer-navigation-link-visited-icon-padding-left: null !default;
$footer-navigation-link-visited-icon-background-color: null !default;
$footer-navigation-link-visited-icon-text-color: null !default;