$footer-link-font-size: null !default;
$footer-link-font-weight: null !default;
$footer-link-line-height: null !default;
$footer-link-background-color: null !default;
$footer-link-text-color: null !default;
$footer-link-text-decoration: null !default;
$footer-link-border-width: null !default;
$footer-link-border-style: null !default;
$footer-link-border-color: null !default;
$footer-link-border-radius: null !default;
$footer-link-icon-last-padding-right: null !default;
$footer-link-icon-last-padding-left: null !default;
