// Base
$footer-navigation-link-visited-font-size: null !default;
$footer-navigation-link-visited-font-weight: null !default;
$footer-navigation-link-visited-line-height: null !default;
$footer-navigation-link-visited-background-color: null !default;
$footer-navigation-link-visited-text-color: null !default;
$footer-navigation-link-visited-text-decoration: null !default;
$footer-navigation-link-visited-border-width: null !default;
$footer-navigation-link-visited-border-style: null !default;
$footer-navigation-link-visited-border-color: null !default;
$footer-navigation-link-visited-border-radius: null !default;

// Icon
$footer-navigation-link-visited-icon-font-size: null !default;
$footer-navigation-link-visited-icon-line-height: null !default;
$footer-navigation-link-visited-icon-text-decoration: null !default;
$footer-navigation-link-visited-icon-padding-right: null !default;
$footer-navigation-link-visited-icon-padding-left: null !default;
$footer-navigation-link-visited-icon-background-color: null !default;
$footer-navigation-link-visited-icon-text-color: null !default;
$footer-navigation-link-visited-icon-font-family: null !default;

// Hover
$footer-navigation-link-visited-hover-font-size: null !default;
$footer-navigation-link-visited-hover-font-weight: null !default;
$footer-navigation-link-visited-hover-line-height: null !default;
$footer-navigation-link-visited-hover-background-color: null !default;
$footer-navigation-link-visited-hover-text-color: null !default;
$footer-navigation-link-visited-hover-text-decoration: null !default;
$footer-navigation-link-visited-hover-border-width: null !default;
$footer-navigation-link-visited-hover-border-style: null !default;
$footer-navigation-link-visited-hover-border-color: null !default;
$footer-navigation-link-visited-hover-border-radius: null !default;

// Hover icon
$footer-navigation-link-visited-hover-icon-font-family: null !default;
$footer-navigation-link-visited-hover-icon-font-size: null !default;
$footer-navigation-link-visited-hover-icon-line-height: null !default;
$footer-navigation-link-visited-hover-icon-text-decoration: null !default;
$footer-navigation-link-visited-hover-icon-padding-right: null !default;
$footer-navigation-link-visited-hover-icon-padding-left: null !default;
$footer-navigation-link-visited-hover-icon-background-color: null !default;
$footer-navigation-link-visited-hover-icon-text-color: null !default;
