$footer-link-visited-font-size: null !default;
$footer-link-visited-font-weight: null !default;
$footer-link-visited-line-height: null !default;
$footer-link-visited-background-color: null !default;
$footer-link-visited-text-color: null !default;
$footer-link-visited-text-decoration: null !default;
$footer-link-visited-border-width: null !default;
$footer-link-visited-border-style: null !default;
$footer-link-visited-border-color: null !default;
$footer-link-visited-border-radius: null !default;
$footer-link-visited-icon-font-size: null !default;
$footer-link-visited-icon-font-weight: null !default;
$footer-link-visited-icon-line-height: null !default;
$footer-link-visited-icon-background-color: null !default;
$footer-link-visited-icon-text-color: null !default;
$footer-link-visited-icon-text-decoration: null !default;
$footer-link-visited-icon-border-width: null !default;
$footer-link-visited-icon-border-style: null !default;
$footer-link-visited-icon-border-color: null !default;
$footer-link-visited-icon-border-radius: null !default;
