$footer-link-focus-font-size: null !default;
$footer-link-focus-font-weight: null !default;
$footer-link-focus-line-height: null !default;
$footer-link-focus-background-color: null !default;
$footer-link-focus-text-color: null !default;
$footer-link-focus-text-decoration: null !default;
$footer-link-focus-border-width: null !default;
$footer-link-focus-border-style: null !default;
$footer-link-focus-border-color: null !default;
$footer-link-focus-border-radius: null !default;
$footer-link-focus-icon-font-size: null !default;
$footer-link-focus-icon-font-weight: null !default;
$footer-link-focus-icon-line-height: null !default;
$footer-link-focus-icon-background-color: null !default;
$footer-link-focus-icon-text-color: null !default;
$footer-link-focus-icon-text-decoration: null !default;
$footer-link-focus-icon-border-width: null !default;
$footer-link-focus-icon-border-style: null !default;
$footer-link-focus-icon-border-color: null !default;
$footer-link-focus-icon-border-radius: null !default;
