// Base
$footer-navigation-link-focus-font-size: null !default;
$footer-navigation-link-focus-font-weight: null !default;
$footer-navigation-link-focus-line-height: null !default;
$footer-navigation-link-focus-background-color: null !default;
$footer-navigation-link-focus-text-color: null !default;
$footer-navigation-link-focus-text-decoration: null !default;
$footer-navigation-link-focus-border-width: null !default;
$footer-navigation-link-focus-border-style: null !default;
$footer-navigation-link-focus-border-color: null !default;
$footer-navigation-link-focus-border-radius: null !default;

// Icon
$footer-navigation-link-focus-icon-font-size: null !default;
$footer-navigation-link-focus-icon-line-height: null !default;
$footer-navigation-link-focus-icon-text-decoration: null !default;
$footer-navigation-link-focus-icon-padding-right: null !default;
$footer-navigation-link-focus-icon-padding-left: null !default;
$footer-navigation-link-focus-icon-background-color: null !default;
$footer-navigation-link-focus-icon-text-color: null !default;
$footer-navigation-link-focus-icon-font-family: null !default;

// Visited Focus
$footer-navigation-link-visited-focus-font-size: null !default;
$footer-navigation-link-visited-focus-font-weight: null !default;
$footer-navigation-link-visited-focus-line-height: null !default;
$footer-navigation-link-visited-focus-background-color: null !default;
$footer-navigation-link-visited-focus-text-color: null !default;
$footer-navigation-link-visited-focus-text-decoration: null !default;
$footer-navigation-link-visited-focus-border-width: null !default;
$footer-navigation-link-visited-focus-border-style: null !default;
$footer-navigation-link-visited-focus-border-color: null !default;
$footer-navigation-link-visited-focus-border-radius: null !default;

// Visited Focus Icon
$footer-navigation-link-visited-focus-icon-font-size: null !default;
$footer-navigation-link-visited-focus-icon-font-weight: null !default;
$footer-navigation-link-visited-focus-icon-line-height: null !default;
$footer-navigation-link-visited-focus-icon-text-decoration: null !default;
$footer-navigation-link-visited-focus-icon-padding-right: null !default;
$footer-navigation-link-visited-focus-icon-padding-left: null !default;
$footer-navigation-link-visited-focus-icon-background-color: null !default;
$footer-navigation-link-visited-focus-icon-text-color: null !default;
$footer-navigation-link-visited-focus-icon-font-family: null !default;
