$footer-two-thirds-one-third-flex-direction: null !default;
$footer-two-thirds-one-third-gap: null !default;
$footer-two-thirds-one-third-justify-content: null !default;
$footer-two-thirds-one-third-align-items: null !default;
$footer-two-thirds-one-third-flex-wrap: null !default;
$footer-two-thirds-one-third-min-height: null !default;
$footer-two-thirds-one-third-background-color: null !default;
$footer-two-thirds-one-third-text-color: null !default;
$footer-two-thirds-one-third-padding-top: null !default;
$footer-two-thirds-one-third-padding-right: null !default;
$footer-two-thirds-one-third-padding-bottom: null !default;
$footer-two-thirds-one-third-padding-left: null !default;
$footer-two-thirds-one-third-max-width: null !default;
$footer-two-thirds-one-third-gap: null !default;
$footer-two-thirds-one-third-breakpoint-gap: null !default;
