// Footer
$footer-flex-direction: null !default;
$footer-gap: null !default;
$footer-justify-content: null !default;
$footer-align-items: null !default;
$footer-flex-wrap: null !default;
$footer-min-height: null !default;
$footer-background-color: null !default;
$footer-text-color: null !default;
$footer-text-align: null !default;
$footer-padding-top: null !default;
$footer-padding-right: null !default;
$footer-padding-bottom: null !default;
$footer-padding-left: null !default;
$footer-max-width: null !default;
$footer-list-style: null !default;

// link
$footer-link-font-size: null !default;
$footer-link-font-weight: null !default;
$footer-link-line-height: null !default;
$footer-link-background-color: null !default;
$footer-link-text-color: null !default;
$footer-link-text-decoration: null !default;
$footer-link-border-width: null !default;
$footer-link-border-style: null !default;
$footer-link-border-color: null !default;
$footer-link-border-radius: null !default;

// List
$footer-list-gap: null !default;
$footer-list-justify-content: null !default;
$footer-list-align-items: null !default;
$footer-list-text-color: null !default;
$footer-list-font-weight: null !default;
$footer-list-width: null !default;
$footer-list-item-justify-content: null !default;
$footer-list-item-align-items: null !default;
$footer-list-item-text-color: null !default;
$footer-list-item-background-color: null !default;
$footer-list-flex-direction: null !default;
