// Link
$footer-navigation-link-font-size: null !default;
$footer-navigation-link-font-weight: null !default;
$footer-navigation-link-line-height: null !default;
$footer-navigation-link-background-color: null !default;
$footer-navigation-link-text-color: null !default;
$footer-navigation-link-text-decoration: null !default;
$footer-navigation-link-border-width: null !default;
$footer-navigation-link-border-style: null !default;
$footer-navigation-link-border-color: null !default;
$footer-navigation-link-border-radius: null !default;

// Icon
$footer-navigation-link-icon-font-size: null !default;
$footer-navigation-link-icon-line-height: null !default;
$footer-navigation-link-icon-text-decoration: null !default;
$footer-navigation-link-icon-padding-right: null !default;
$footer-navigation-link-icon-padding-left: null !default;
$footer-navigation-link-icon-background-color: null !default;
$footer-navigation-link-icon-text-color: null !default;
$footer-navigation-link-icon-font-family: null !default;
$footer-navigation-link-icon-content: null !default;

// Last Icon
$footer-navigation-link-icon-last-padding-right: null !default;
$footer-navigation-link-icon-last-padding-left: null !default;
