// Base
$form-radio-vertical-align: null !default;
$form-radio-cursor: null !default;
$form-radio-width: null !default;
$form-radio-height: null !default;
$form-radio-align-self: null !default;
$form-radio-background-color: null !default;

// Radio
$radio-gap: null !default;
$radio-align-items: null !default;
$radio-input-width: null !default;

// Input
$input-column: null !default;
$label-column: null !default;
