$form-inline-gap: null !default;
$form-inline-text-color: null !default;
$form-inline-flex-direction: null !default;
$form-inline-width: auto !default;
$form-inline-max-width: unset !default;
$form-inline-align-items: null !default;
$form-inline-justify-content: null !default;

// Button
$form-inline-button-align-self: null !default;
$form-inline-button-width: null !default;
$form-inline-button-min-width: null !default;
$form-inline-button-min-height: null !default;
$form-inline-button-padding-top: null !default;
$form-inline-button-padding-right: null !default;
$form-inline-button-padding-bottom: null !default;
$form-inline-button-padding-left: null !default;
$form-inline-button-margin: null !default;
$form-inline-button-background-color: null !default;
$form-inline-button-color: null !default;
$form-inline-button-font-size: null !default;
$form-inline-button-line-height: null !default;
$form-inline-button-font-weight: null !default;
$form-inline-button-border-width: null !default;
$form-inline-button-border-style: null !default;
$form-inline-button-border-color: null !default;
$form-inline-button-after-breakpoint-width: null !default;
$form-inline-button-min-width: null !default;
