$form-base-align-items: null !default;
$form-base-justify-content: null !default;
$form-base-padding-top: null !default;
$form-base-padding-right: null !default;
$form-base-padding-bottom: null !default;
$form-base-padding-left: null !default;
$form-base-background-color: null !default;
$form-base-text-color: null !default;
$form-base-font-size: null !default;
$form-base-line-height: null !default;
$form-base-font-weight: null !default;
$form-base-gap: null !default;
$form-group-gap: null !default;
$form-base-border-width: null !default;
$form-base-border-style: null !default;
$form-base-border-color: null !default;
$form-base-max-width: null !default;
$form-base-input-text-color: null !default;
