// Base
$form-input-color-width: null !default;
$form-input-color-min-height: null !default;
$form-input-color-min-width: null !default;
$form-input-color-max-height: null !default;
$form-input-color-max-width: null !default;
$form-input-color-padding: null !default;
$form-input-color-align-self: null !default;
