// Help container
$form-help-container-padding: 0 2rem 0 0 !default;

// Help button
$form-help-button-top: 0 !default;
$form-help-button-right: 0 !default;
$form-help-button-padding: null !default;
$form-help-button-border-width: null !default;
$form-help-button-border-style: null !default;
$form-help-button-border-color: null !default;
$form-help-button-border-radius: null !default;
$form-help-button-background-color: null !default;
$form-help-button-text-color: null !default;
$form-help-button-margin: null !default;

// hover
$form-help-button-hover-background-color: null !default;
$form-help-button-hover-text-color: null !default;

// Help button icon
$form-help-icon-margin-left: null !default;
$form-help-icon-margin-right: null !default;
$form-help-icon-padding: null !default;
$form-help-icon-color: null !default;
$form-help-icon-mask: null !default;
$form-help-icon-width: null !default;
$form-help-icon-height: null !default;

// Help expanded button icon
$form-help-expanded-icon-margin-left: null !default;
$form-help-expanded-icon-margin-right: null !default;
$form-help-expanded-icon-padding: null !default;
$form-help-expanded-icon-color: null !default;
$form-help-expanded-icon-mask: null !default;
$form-help-expanded-icon-width: null !default;
$form-help-expanded-icon-height: null !default;

// Explanation
$form-help-button-explanation-gap: null !default;
