$form-input-padding-top: null !default;
$form-input-padding-right: null !default;
$form-input-padding-bottom: null !default;
$form-input-padding-left: null !default;
$form-input-background-color: null !default;
$form-input-text-color: null !default;
$form-input-font-family: null !default;
$form-input-font-size: null !default;
$form-input-line-height: null !default;
$form-input-font-weight: null !default;
$form-input-min-height: 0 !default;
$form-input-border-width: null !default;
$form-input-border-style: null !default;
$form-input-border-color: null !default;
$form-input-border-radius: null !default;
$form-input-column: null !default;
