$form-required-base-align-items: null !default;
$form-required-base-justify-content: null !default;
$form-required-base-padding-top: null !default;
$form-required-base-padding-right: null !default;
$form-required-base-padding-bottom: null !default;
$form-required-base-padding-left: null !default;
$form-required-base-background-color: null !default;
$form-required-base-text-color: null !default;
$form-required-base-font-size: null !default;
$form-required-base-line-height: null !default;
$form-required-base-font-weight: null !default;
$form-required-base-gap: null !default;
$form-required-base-border-width: null !default;
$form-required-base-border-style: null !default;
$form-required-base-border-color: null !default;
