$form-select-font-size: null !default;
$form-select-color: null !default;
$form-select-width: 100% !default;
$form-select-min-width: null !default;
$form-select-max-width: null !default;
$form-select-min-height: 3rem !default;
$form-select-border: null !default;
$form-select-border-radius: null !default;
$form-select-padding: null !default;
