$form-textarea-width: null !default;
$form-textarea-padding: null !default;
$form-textarea-font-size: null !default;
$form-textarea-font-family: null !default;
$form-textarea-text-color: null !default;
$form-textarea-background-color: null !default;
$form-textarea-min-height: null !default;
$form-textarea-border-radius: null !default;
$form-textarea-border-width: null !default;
$form-textarea-border-style: null !default;
$form-textarea-border-color: null !default;
$form-textarea-max-width: 100% !default;
$form-textarea-resize: vertical !default;
