$heading-xxl-font-family: null !default;
$heading-xxl-font-size: null !default;
$heading-xxl-font-weight: null !default;
$heading-xxl-line-height: null !default;
$heading-xxl-text-color: null !default;
$heading-xxl-margin: null !default;
$heading-xl-font-family: null !default;
$heading-xl-font-size: null !default;
$heading-xl-font-weight: null !default;
$heading-xl-line-height: null !default;
$heading-xl-text-color: null !default;
$heading-xl-margin: null !default;
$heading-large-font-family: null !default;
$heading-large-font-size: null !default;
$heading-large-font-weight: null !default;
$heading-large-line-height: null !default;
$heading-large-text-color: null !default;
$heading-large-margin: null !default;
$heading-normal-font-family: null !default;
$heading-normal-font-size: null !default;
$heading-normal-font-weight: null !default;
$heading-normal-line-height: null !default;
$heading-normal-text-color: null !default;
$heading-normal-margin: null !default;
$heading-small-font-family: null !default;
$heading-small-font-size: null !default;
$heading-small-font-weight: null !default;
$heading-small-line-height: null !default;
$heading-small-text-color: null !default;
$heading-small-margin: null !default;
$heading-xs-font-family: null !default;
$heading-xs-font-size: null !default;
$heading-xs-font-weight: null !default;
$heading-xs-line-height: null !default;
$heading-xs-text-color: null !default;
$heading-xs-margin: null !default;
