// Base
$header-navigation-link-focus-font-size: null !default;
$header-navigation-link-focus-font-weight: null !default;
$header-navigation-link-focus-line-height: null !default;
$header-navigation-link-focus-background-color: null !default;
$header-navigation-link-focus-text-color: null !default;
$header-navigation-link-focus-text-decoration: null !default;
$header-navigation-link-focus-border-width: null !default;
$header-navigation-link-focus-border-style: null !default;
$header-navigation-link-focus-border-color: null !default;
$header-navigation-link-focus-border-radius: null !default;

// Icon
$header-navigation-link-focus-icon-font-size: null !default;
$header-navigation-link-focus-icon-font-weight: null !default;
$header-navigation-link-focus-icon-line-height: null !default;
$header-navigation-link-focus-icon-text-decoration: null !default;
$header-navigation-link-focus-icon-padding-right: null !default;
$header-navigation-link-focus-icon-padding-left: null !default;
$header-navigation-link-focus-icon-background-color: null !default;
$header-navigation-link-focus-icon-text-color: null !default;

// Current Link Focus
$header-navigation-current-link-focus-font-size: null !default;
$header-navigation-current-link-focus-font-weight: null !default;
$header-navigation-current-link-focus-line-height: null !default;
$header-navigation-current-link-focus-background-color: null !default;
$header-navigation-current-link-focus-text-color: null !default;
$header-navigation-current-link-focus-text-decoration: null !default;
$header-navigation-current-link-focus-border-width: null !default;
$header-navigation-current-link-focus-border-style: null !default;
$header-navigation-current-link-focus-border-color: null !default;
$header-navigation-current-link-focus-border-radius: null !default;

// Outline
$header-navigation-link-focus-outline: null !default;
$header-navigation-link-focus-outline-offset: null !default;
$header-navigation-link-focus-outline-color: null !default;
$header-navigation-link-focus-z-index: null !default;
$header-navigation-link-focus-box-shadow: null !default;
$header-navigation-link-focus-outline-border-radius: null !default;
