$header-flex-direction: null !default;
$header-justify-content: null !default;
$header-align-items: null !default;
$header-gap: null !default;
$header-padding-top: null !default;
$header-padding-right: null !default;
$header-padding-bottom: null !default;
$header-padding-left: null !default;
$header-max-width: null !default;
$header-background-color: null !default;
$header-min-height: null !default;
$header-border-width: null !default;
$header-border-style: null !default;
$header-border-color: null !default;
$header-content-wrapper-flex-direction: null !default;
$header-content-wrapper-justify-content: null !default;
$header-content-wrapper-align-items: null !default;
$header-content-wrapper-width: null !default;
$header-content-wrapper-margin-top: null !default;
$header-content-wrapper-gap: null !default;