// Base
$header-navigation-button-justify-content: null !default;
$header-navigation-button-align-items: null !default;
$header-navigation-button-align-self: null !default;
$header-navigation-button-gap: null !default;
$header-navigation-button-background-color: null !default;
$header-navigation-button-text-color: null !default;
$header-navigation-button-font-family: null !default;
$header-navigation-button-font-size: null !default;
$header-navigation-button-font-weight: null !default;
$header-navigation-button-line-height: null !default;
$header-navigation-button-text-decoration: null !default;
$header-navigation-button-text-align: null !default;
$header-navigation-button-padding-top: null !default;
$header-navigation-button-padding-right: null !default;
$header-navigation-button-padding-bottom: null !default;
$header-navigation-button-padding-left: null !default;
$header-navigation-button-margin: null !default;
$header-navigation-button-box-sizing: null !default;
$header-navigation-button-width: null !default;
$header-navigation-button-min-width: null !default;
$header-navigation-button-height: null !default;
$header-navigation-button-min-height: null !default;
$header-navigation-button-border-width: null !default;
$header-navigation-button-border-style: null !default;
$header-navigation-button-border-color: null !default;
$header-navigation-button-border-radius: null !default;
$header-navigation-button-webkit-border-radius: null !default;
$header-navigation-button-webkit-appearance: null !default;
$header-navigation-button-cursor: null !default;
$header-navigation-button-overflow-wrap: null !default;
$header-navigation-button-image-max-width: null !default;
$header-navigation-button-child-pointer-events: null !default;
$header-navigation-button-breakpoint: null !default;
$header-navigation-button-breakpoint-min-width: null !default;
$header-navigation-button-breakpoint-display: null !default;

// Hover
$header-navigation-button-hover-background-color: null !default;
$header-navigation-button-hover-text-color: null !default;
$header-navigation-button-hover-border-color: null !default;
$header-navigation-button-hover-border-width: null !default;
$header-navigation-button-hover-border-style: null !default;
$header-navigation-button-hover-border-radius: null !default;

// Active
$header-navigation-button-active-background-color: null !default;
$header-navigation-button-active-text-color: null !default;
$header-navigation-button-active-border-style: null !default;
$header-navigation-button-active-border-color: null !default;
$header-navigation-button-active-border-width: null !default;
$header-navigation-button-active-border-radius: null !default;

// Focus
$header-navigation-button-focus-border-style: null !default;
$header-navigation-button-focus-border-color: null !default;
$header-navigation-button-focus-border-width: null !default;
$header-navigation-button-focus-border-radius: null !default;
$header-navigation-button-focus-background-color: null !default;
$header-navigation-button-focus-text-color: null !default;

// Link
$header-navigation-link-button-text-color: null !default;

// Outline
$header-navigation-button-focus-outline: null !default;
$header-navigation-button-focus-outline-offset: null !default;
$header-navigation-button-focus-outline-color: null !default;
$header-navigation-button-focus-z-index: null !default;
$header-navigation-button-focus-box-shadow: null !default;
$header-navigation-button-focus-outline-border-radius: null !default;

// Icon
$header-navigation-button-icon-font-size: null !default;
$header-navigation-button-icon-font-weight: null !default;
$header-navigation-button-icon-line-height: null !default;
$header-navigation-button-icon-text-decoration: null !default;
$header-navigation-button-icon-padding-right: null !default;
$header-navigation-button-icon-padding-left: null !default;
$header-navigation-button-icon-background-color: null !default;
$header-navigation-button-icon-text-color: null !default;
$header-navigation-button-icon-content: null !default;

// Icon Only
$header-navigation-button-icon-only-background-color: null !default;
$header-navigation-button-icon-only-text-color: null !default;
$header-navigation-button-icon-only-border-width: null !default;
$header-navigation-button-icon-only-font-size: null !default;
$header-navigation-button-icon-only-min-width: null !default;
$header-navigation-button-icon-only-gap: null !default;
$header-navigation-button-icon-only-padding-right: null !default;
$header-navigation-button-icon-only-padding-left: null !default;
$header-navigation-button-icon-only-icon-font-size: null !default;
$header-navigation-button-icon-only-hover-background-color: null !default;
$header-navigation-button-icon-only-hover-border-width: null !default;
