// Base
$header-navigation-link-hover-font-size: null !default;
$header-navigation-link-hover-font-weight: null !default;
$header-navigation-link-hover-line-height: null !default;
$header-navigation-link-hover-background-color: null !default;
$header-navigation-link-hover-text-color: null !default;
$header-navigation-link-hover-text-decoration: null !default;
$header-navigation-link-hover-border-width: null !default;
$header-navigation-link-hover-border-style: null !default;
$header-navigation-link-hover-border-color: null !default;
$header-navigation-link-hover-border-radius: null !default;

// Icon
$header-navigation-link-hover-icon-font-size: null !default;
$header-navigation-link-hover-icon-font-weight: null !default;
$header-navigation-link-hover-icon-line-height: null !default;
$header-navigation-link-hover-icon-text-decoration: null !default;
$header-navigation-link-hover-icon-padding-right: null !default;
$header-navigation-link-hover-icon-padding-left: null !default;
$header-navigation-link-hover-icon-background-color: null !default;
$header-navigation-link-hover-icon-text-color: null !default;
