$header-navigation-link-align-items: null !default;
$header-navigation-link-justify-content: null !default;
$header-navigation-link-padding-top: null !default;
$header-navigation-link-padding-right: null !default;
$header-navigation-link-padding-bottom: null !default;
$header-navigation-link-padding-left: null !default;
$header-navigation-link-min-height: null !default;
