$header-navigation-button-padding-top: null !default;
$header-navigation-button-padding-right: null !default;
$header-navigation-button-padding-bottom: null !default;
$header-navigation-button-padding-left: null !default;
$header-navigation-button-font-size: null !default;
$header-navigation-button-font-weight: null !default;
$header-navigation-button-line-height: null !default;
$header-navigation-button-text-color: null !default;
$header-navigation-button-text-decoration: null !default;
$header-navigation-button-background-color: null !default;
$header-navigation-button-border-width: null !default;
$header-navigation-button-border-style: null !default;
$header-navigation-button-border-color: null !default;
$header-navigation-button-border-radius: null !default;
$header-navigation-button-icon-font-size: null !default;
$header-navigation-button-icon-font-weight: null !default;
$header-navigation-button-icon-line-height: null !default;
$header-navigation-button-icon-text-color: null !default;
$header-navigation-button-icon-text-decoration: null !default;
$header-navigation-button-icon-background-color: null !default;
$header-navigation-button-icon-border-width: null !default;
$header-navigation-button-icon-border-style: null !default;
$header-navigation-button-icon-border-color: null !default;
$header-navigation-button-icon-border-radius: null !default;
$header-navigation-button-icon-only-width: null !default;
$header-navigation-button-icon-only-height: null !default;
$header-navigation-button-icon-only-padding: null !default;
$header-navigation-button-focus-outline-offset: null !default;
$header-navigation-button-focus-outline: null !default;
$header-navigation-link-button-padding-top: null !default;
$header-navigation-link-button-padding-right: null !default;
$header-navigation-link-button-padding-bottom: null !default;
$header-navigation-link-button-padding-left: null !default;
