// Base
$header-navigation-content-wrapper-flex-direction: null !default;
$header-navigation-content-wrapper-justify-content: null !default;
$header-navigation-content-wrapper-align-items: null !default;
$header-navigation-content-wrapper-gap: null !default;
$header-navigation-content-wrapper-padding-top: null !default;
$header-navigation-content-wrapper-padding-right: null !default;
$header-navigation-content-wrapper-padding-bottom: null !default;
$header-navigation-content-wrapper-padding-left: null !default;
$header-navigation-content-wrapper-max-width: null !default;
