// Base
$header-navigation-form-inline-button-icon-only-min-width: null !default;
$header-navigation-form-inline-button-icon-only-width: null !default;
$header-navigation-form-inline-button-icon-only-min-height: null !default;
$header-navigation-form-inline-button-icon-only-height: null !default;

// Icon
$header-navigation-form-inline-button-icon-only-font-family: null !default;
$header-navigation-form-inline-button-icon-only-font-size: null !default;
$header-navigation-form-inline-button-icon-only-padding-right: null !default;
$header-navigation-form-inline-button-icon-only-padding-left: null !default;
$header-navigation-form-inline-button-icon-only-text-color: null !default;
