$header-base-min-height: null !default;
$header-base-padding: null !default;
$header-base-background-color: null !default;
$header-base-text-color: null !default;
$header-base-content-block-flex-grow: null !default;
$header-base-content-block-align-items: null !default;
$header-base-content-block-justify-content: null !default;
$header-base-content-block-padding: null !default;
$header-base-content-block-padding-top: null !default;
$header-base-content-block-padding-bottom: null !default;
$header-base-title-font-size: null !default;
$header-base-title-text-color: null !default;
$header-base-title-font-weight: null !default;
