// Header navigation
$header-navigation-gap: null !default;
$header-navigation-justify-content: null !default;
$header-navigation-align-items: null !default;
$header-navigation-width: null !default;
$header-navigation-margin: null !default;
$header-navigation-background-color: null !default;
$header-navigation-padding-top: null !default;
$header-navigation-padding-right: null !default;
$header-navigation-padding-bottom: null !default;
$header-navigation-padding-left: null !default;
$header-navigation-max-width: null !default;
$header-navigation-border-width: null !default;
$header-navigation-border-style: null !default;
$header-navigation-border-color: null !default;
$header-navigation-border-radius: null !default;
$header-navigation-min-height: null !default;
$header-navigation-position: null !default;
$header-navigation-white-space: null !default;

// List
$header-navigation-list-gap: null !default;
$header-navigation-list-justify-content: null !default;
$header-navigation-list-align-items: null !default;
$header-navigation-list-text-color: null !default;
$header-navigation-list-font-weight: null !default;
$header-navigation-list-width: null !default;

// List Item
$header-navigation-list-item-justify-content: null !default;
$header-navigation-list-item-align-items: null !default;
$header-navigation-list-item-text-color: null !default;
$header-navigation-list-item-background-color: null !default;
$header-navigation-list-item-border-width: null !default;
$header-navigation-list-item-border-style: null !default;
$header-navigation-list-item-border-color: null !default;

// Input
$header-navigation-input-algin-self: null !default;
