// Base
$header-navigation-collapsible-collapsing-element-button-font-size: null !default;
$header-navigation-collapsible-collapsing-element-button-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-button-line-height: null !default;
$header-navigation-collapsible-collapsing-element-button-background-color: null !default;
$header-navigation-collapsible-collapsing-element-button-text-color: null !default;
$header-navigation-collapsible-collapsing-element-button-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-button-border-width: null !default;
$header-navigation-collapsible-collapsing-element-button-border-style: null !default;
$header-navigation-collapsible-collapsing-element-button-border-color: null !default;
$header-navigation-collapsible-collapsing-element-button-border-radius: null !default;

// Custom
$header-navigation-collapsible-collapsing-element-button-width: null !default;
$header-navigation-collapsible-collapsing-element-button-text-align: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-top: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-right: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-bottom: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-left: null !default;

// List Item Button
$header-navigation-collapsible-collapsing-element-list-item-button-font-size: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-line-height: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-background-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-text-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-border-width: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-border-style: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-border-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-border-radius: null !default;
