// Base
$header-navigation-collapsible-button-background-color: null !default;
$header-navigation-collapsible-button-font-size: null !default;
$header-navigation-collapsible-button-height: null !default;
$header-navigation-collapsible-button-min-height: null !default;
$header-navigation-collapsible-button-min-width: null !default;
$header-navigation-collapsible-button-width: null !default;
$header-navigation-collapsible-icon: null !default;
$header-navigation-collapsible-icon-font-size: null !default;
$header-navigation-collapsible-icon-color: null !default;
$header-navigation-collapsible-icon-collapsed: null !default;
$header-navigation-collapsible-icon-collapsed-font-size: null !default;
$header-navigation-collapsible-flex-direction: null !default;
$header-navigation-collapsible-justify-content: null !default;
$header-navigation-collapsible-gap: null !default;
$header-navigation-collapsible-max-width: null !default;
$header-navigation-collapsible-width: null !default;
$header-navigation-collapsible-z-index: null !default;
$header-navigation-collapsible-padding-top: null !default;
$header-navigation-collapsible-padding-right: null !default;
$header-navigation-collapsible-padding-bottom: null !default;
$header-navigation-collapsible-padding-left: null !default;
$header-navigation-collapsible-border-width: null !default;
$header-navigation-collapsible-border-style: null !default;
$header-navigation-collapsible-border-color: null !default;
$header-navigation-collapsible-background-color: null !default;
$header-navigation-collapsible-text-color: null !default;
$header-navigation-collapsible-box-shadow: null !default;
$header-navigation-collapsible-top: null !default;
$header-navigation-collapsible-left: null !default;
$header-navigation-collapsible-right: null !default;

// List
$header-navigation-collapsible-list-gap: null !default;
$header-navigation-collapsible-list-background-color: null !default;

// List Item
$header-navigation-collapsible-list-item-align-items: null !default;
$header-navigation-collapsible-list-item-background-color: null !default;
$header-navigation-collapsible-list-item-text-color: null !default;
$header-navigation-collapsible-list-item-border-width: null !default;
$header-navigation-collapsible-list-item-border-style: null !default;
$header-navigation-collapsible-list-item-border-color: null !default;
$header-navigation-collapsible-list-item-padding-top: null !default;
$header-navigation-collapsible-list-item-padding-right: null !default;
$header-navigation-collapsible-list-item-padding-bottom: null !default;
$header-navigation-collapsible-list-item-padding-left: null !default;
$header-navigation-collapsible-list-item-last-item-border-width: null !default;
$header-navigation-collapsible-list-item-first-item-border-width: null !default;

// List Item Link
$header-navigation-collapsible-list-item-link-text-decoration: null !default;
$header-navigation-collapsible-list-item-link-justify-content: null !default;
$header-navigation-collapsible-list-item-link-background-color: null !default;
$header-navigation-collapsible-list-item-link-text-color: null !default;
$header-navigation-collapsible-list-item-link-padding-top: null !default;
$header-navigation-collapsible-list-item-link-padding-right: null !default;
$header-navigation-collapsible-list-item-link-padding-bottom: null !default;
$header-navigation-collapsible-list-item-link-padding-left: null !default;

// List Item Hover
$header-navigation-collapsible-list-item-link-hover-background-color: null !default;
$header-navigation-collapsible-list-item-hover-text-color: null !default;
$header-navigation-collapsible-list-item-hover-text-decoration: null !default;

// List Item Link Hover
$header-navigation-collapsible-list-item-link-hover-text-color: null !default;

// List Item Active
$header-navigation-collapsible-list-item-active-background-color: null !default;
$header-navigation-collapsible-list-item-active-text-color: null !default;
$header-navigation-collapsible-list-item-active-font-size: null !default;
$header-navigation-collapsible-list-item-active-font-weight: null !default;
