$header-navigation-link-focus-font-size: null !default;
$header-navigation-link-focus-font-weight: null !default;
$header-navigation-link-focus-line-height: null !default;
$header-navigation-link-focus-background-color: null !default;
$header-navigation-link-focus-text-color: null !default;
$header-navigation-link-focus-text-decoration: null !default;
$header-navigation-link-focus-border-width: null !default;
$header-navigation-link-focus-border-style: null !default;
$header-navigation-link-focus-border-color: null !default;
$header-navigation-link-focus-border-radius: null !default;
$header-navigation-link-focus-icon-font-size: null !default;
$header-navigation-link-focus-icon-font-weight: null !default;
$header-navigation-link-focus-icon-line-height: null !default;
$header-navigation-link-focus-icon-background-color: null !default;
$header-navigation-link-focus-icon-text-color: null !default;
$header-navigation-link-focus-icon-text-decoration: null !default;
$header-navigation-link-focus-icon-border-width: null !default;
$header-navigation-link-focus-icon-border-style: null !default;
$header-navigation-link-focus-icon-border-color: null !default;
$header-navigation-link-focus-icon-border-radius: null !default;
$header-navigation-current-link-focus-font-size: null !default;
$header-navigation-current-link-focus-font-weight: null !default;
$header-navigation-current-link-focus-line-height: null !default;
$header-navigation-current-link-focus-background-color: null !default;
$header-navigation-current-link-focus-text-color: null !default;
$header-navigation-current-link-focus-text-decoration: null !default;
$header-navigation-current-link-focus-border-width: null !default;
$header-navigation-current-link-focus-border-style: null !default;
$header-navigation-current-link-focus-border-color: null !default;
$header-navigation-current-link-focus-border-radius: null !default;
$header-navigation-link-focus-outline-offset: null !default;
$header-navigation-link-focus-outline: null !default;
