// Base
$header-navigation-link-active-font-size: null !default;
$header-navigation-link-active-font-weight: null !default;
$header-navigation-link-active-line-height: null !default;
$header-navigation-link-active-background-color: null !default;
$header-navigation-link-active-text-color: null !default;
$header-navigation-link-active-text-decoration: null !default;
$header-navigation-link-active-border-width: null !default;
$header-navigation-link-active-border-style: null !default;
$header-navigation-link-active-border-color: null !default;
$header-navigation-link-active-border-radius: null !default;

// Icon
$header-navigation-link-active-icon-font-size: null !default;
$header-navigation-link-active-icon-font-weight: null !default;
$header-navigation-link-active-icon-line-height: null !default;
$header-navigation-link-active-icon-text-decoration: null !default;
$header-navigation-link-active-icon-padding-right: null !default;
$header-navigation-link-active-icon-padding-left: null !default;
$header-navigation-link-active-icon-background-color: null !default;
$header-navigation-link-active-icon-text-color: null !default;

// Current Link Active
$header-navigation-current-link-active-font-size: null !default;
$header-navigation-current-link-active-font-weight: null !default;
$header-navigation-current-link-active-line-height: null !default;
$header-navigation-current-link-active-background-color: null !default;
$header-navigation-current-link-active-text-color: null !default;
$header-navigation-current-link-active-text-decoration: null !default;
$header-navigation-current-link-active-border-width: null !default;
$header-navigation-current-link-active-border-style: null !default;
$header-navigation-current-link-active-border-color: null !default;
$header-navigation-current-link-active-border-radius: null !default;
