$header-navigation-collapsible-collapsing-element-button-width: null !default;
$header-navigation-collapsible-collapsing-element-button-text-align: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-top: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-right: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-bottom: null !default;
$header-navigation-collapsible-collapsing-element-button-padding-left: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-width: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-text-align: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-padding-top: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-padding-right: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-padding-bottom: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-padding-left: null !default;
