$header-navigation-form-inline-gap: null !default;
$header-navigation-form-inline-text-color: null !default;
$header-navigation-form-inline-flex-direction: null !default;
$header-navigation-form-inline-width: null !default;
