$h1-font-family: null !default;
$h1-font-size: null !default;
$h1-text-color: null !default;
$h1-font-weight: null !default;
$h1-line-height: null !default;
$h1-margin: null !default;
$h2-font-family: null !default;
$h2-font-size: null !default;
$h2-text-color: null !default;
$h2-font-weight: null !default;
$h2-line-height: null !default;
$h2-margin: null !default;
$h3-font-family: null !default;
$h3-font-size: null !default;
$h3-text-color: null !default;
$h3-font-weight: null !default;
$h3-line-height: null !default;
$h3-margin: null !default;
$h4-font-family: null !default;
$h4-font-size: null !default;
$h4-text-color: null !default;
$h4-font-weight: null !default;
$h4-line-height: null !default;
$h4-margin: null !default;
$h5-font-family: null !default;
$h5-font-size: null !default;
$h5-text-color: null !default;
$h5-font-weight: null !default;
$h5-line-height: null !default;
$h5-margin: null !default;
$h6-font-family: null !default;
$h6-font-size: null !default;
$h6-text-color: null !default;
$h6-font-weight: null !default;
$h6-line-height: null !default;
$h6-margin: null !default;
