$button-icon-only-min-width: null !default;
$button-icon-only-width: null !default;
$button-icon-only-min-height: null !default;
$button-icon-only-height: null !default;
$button-icon-only-font-family: null !default;
$button-icon-only-font-size: null !default;
$button-icon-only-padding-right: null !default;
$button-icon-only-padding-left: null !default;
$button-icon-only-text-color: null !default;
