$header-navigation-collapsible-collapsing-element-button-active-font-size: null !default;
$header-navigation-collapsible-collapsing-element-button-active-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-button-active-line-height: null !default;
$header-navigation-collapsible-collapsing-element-button-active-background-color: null !default;
$header-navigation-collapsible-collapsing-element-button-active-text-color: null !default;
$header-navigation-collapsible-collapsing-element-button-active-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-button-active-border-width: null !default;
$header-navigation-collapsible-collapsing-element-button-active-border-style: null !default;
$header-navigation-collapsible-collapsing-element-button-active-border-color: null !default;
$header-navigation-collapsible-collapsing-element-button-active-border-radius: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-font-size: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-line-height: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-background-color: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-text-color: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-border-width: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-border-style: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-border-color: null !default;
$header-navigation-collapsible-collapsing-element-button-focus-border-radius: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-font-size: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-line-height: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-background-color: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-text-color: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-border-width: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-border-style: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-border-color: null !default;
$header-navigation-collapsible-collapsing-element-button-hover-border-radius: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-font-size: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-line-height: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-background-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-text-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-border-width: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-border-style: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-border-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-active-border-radius: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-font-size: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-line-height: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-background-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-text-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-border-width: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-border-style: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-border-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-focus-border-radius: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-font-size: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-font-weight: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-line-height: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-background-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-text-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-text-decoration: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-border-width: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-border-style: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-border-color: null !default;
$header-navigation-collapsible-collapsing-element-list-item-button-hover-border-radius: null !default;
