$header-link-active-font-size: null !default;
$header-link-active-font-weight: null !default;
$header-link-active-line-height: null !default;
$header-link-active-background-color: null !default;
$header-link-active-text-color: null !default;
$header-link-active-text-decoration: null !default;
$header-link-active-border-width: null !default;
$header-link-active-border-style: null !default;
$header-link-active-border-color: null !default;
$header-link-active-border-radius: null !default;
$header-link-active-icon-font-size: null !default;
$header-link-active-icon-font-weight: null !default;
$header-link-active-icon-line-height: null !default;
$header-link-active-icon-background-color: null !default;
$header-link-active-icon-text-color: null !default;
$header-link-active-icon-text-decoration: null !default;
$header-link-active-icon-border-width: null !default;
$header-link-active-icon-border-style: null !default;
$header-link-active-icon-border-color: null !default;
$header-link-active-icon-border-radius: null !default;
