// Base
$header-navigation-button-active-font-size: null !default;
$header-navigation-button-active-font-weight: null !default;
$header-navigation-button-active-line-height: null !default;
$header-navigation-button-active-background-color: null !default;
$header-navigation-button-active-text-color: null !default;
$header-navigation-button-active-text-decoration: null !default;
$header-navigation-button-active-border-width: null !default;
$header-navigation-button-active-border-style: null !default;
$header-navigation-button-active-border-color: null !default;
$header-navigation-button-active-border-radius: null !default;

$header-navigation-button-focus-font-size: null !default;
$header-navigation-button-focus-font-weight: null !default;
$header-navigation-button-focus-line-height: null !default;
$header-navigation-button-focus-background-color: null !default;
$header-navigation-button-focus-text-color: null !default;
$header-navigation-button-focus-text-decoration: null !default;
$header-navigation-button-focus-border-width: null !default;
$header-navigation-button-focus-border-style: null !default;
$header-navigation-button-focus-border-color: null !default;
$header-navigation-button-focus-border-radius: null !default;

$header-navigation-button-hover-font-size: null !default;
$header-navigation-button-hover-font-weight: null !default;
$header-navigation-button-hover-line-height: null !default;
$header-navigation-button-hover-background-color: null !default;
$header-navigation-button-hover-text-color: null !default;
$header-navigation-button-hover-text-decoration: null !default;
$header-navigation-button-hover-border-width: null !default;
$header-navigation-button-hover-border-style: null !default;
$header-navigation-button-hover-border-color: null !default;
$header-navigation-button-hover-border-radius: null !default;

// Icon
$header-navigation-button-active-icon-font-size: null !default;
$header-navigation-button-active-icon-font-weight: null !default;
$header-navigation-button-active-icon-line-height: null !default;
$header-navigation-button-active-icon-text-decoration: null !default;
$header-navigation-button-active-icon-padding-right: null !default;
$header-navigation-button-active-icon-padding-left: null !default;
$header-navigation-button-active-icon-background-color: null !default;
$header-navigation-button-active-icon-text-color: null !default;
$header-navigation-button-active-icon-content: null !default;

$header-navigation-button-focus-icon-font-size: null !default;
$header-navigation-button-focus-icon-font-weight: null !default;
$header-navigation-button-focus-icon-line-height: null !default;
$header-navigation-button-focus-icon-text-decoration: null !default;
$header-navigation-button-focus-icon-padding-right: null !default;
$header-navigation-button-focus-icon-padding-left: null !default;
$header-navigation-button-focus-icon-background-color: null !default;
$header-navigation-button-focus-icon-text-color: null !default;
$header-navigation-button-focus-icon-content: null !default;

$header-navigation-button-hover-icon-font-size: null !default;
$header-navigation-button-hover-icon-font-weight: null !default;
$header-navigation-button-hover-icon-line-height: null !default;
$header-navigation-button-hover-icon-text-decoration: null !default;
$header-navigation-button-hover-icon-padding-right: null !default;
$header-navigation-button-hover-icon-padding-left: null !default;
$header-navigation-button-hover-icon-background-color: null !default;
$header-navigation-button-hover-icon-text-color: null !default;
$header-navigation-button-hover-icon-content: null !default;

// Outline
$header-navigation-button-focus-outline: null !default;
$header-navigation-button-focus-outline-offset: null !default;
$header-navigation-button-focus-outline-color: null !default;
$header-navigation-button-focus-z-index: null !default;
$header-navigation-button-focus-box-shadow: null !default;
$header-navigation-button-focus-outline-border-radius: null !default;
