// Base
$header-navigation-link-font-size: null !default;
$header-navigation-link-font-weight: null !default;
$header-navigation-link-line-height: null !default;
$header-navigation-link-background-color: null !default;
$header-navigation-link-text-color: null !default;
$header-navigation-link-text-decoration: null !default;
$header-navigation-link-border-width: null !default;
$header-navigation-link-border-style: null !default;
$header-navigation-link-border-color: null !default;
$header-navigation-link-border-radius: null !default;

// Icon
$header-navigation-link-icon-font-size: null !default;
$header-navigation-link-icon-font-weight: null !default;
$header-navigation-link-icon-line-height: null !default;
$header-navigation-link-icon-text-decoration: null !default;
$header-navigation-link-icon-padding-right: null !default;
$header-navigation-link-icon-padding-left: null !default;
$header-navigation-link-icon-background-color: null !default;
$header-navigation-link-icon-text-color: null !default;
$header-navigation-link-icon-content: null !default;

// Last Icon
$header-navigation-link-icon-last-padding-right: null !default;
$header-navigation-link-icon-last-padding-left: null !default;

// Custom
$header-navigation-link-align-items: null !default;
$header-navigation-link-justify-content: null !default;
$header-navigation-link-padding-top: null !default;
$header-navigation-link-padding-right: null !default;
$header-navigation-link-padding-bottom: null !default;
$header-navigation-link-padding-left: null !default;
$header-navigation-link-min-height: null !default;
