$hero-background-color: null !default;
$hero-min-height: null !default;
$hero-height: null !default;
$hero-max-height: null !default;
$hero-image-object-position: null !default;
$hero-title-font-size: null !default;
$hero-title-text-color: null !default;
