$hero-content-container-flex-direction: null !default;
$hero-content-container-justify-content: null !default;
$hero-content-container-align-items: null !default;
$hero-content-container-padding-top: null !default;
$hero-content-container-padding-right: null !default;
$hero-content-container-padding-bottom: null !default;
$hero-content-container-padding-left: null !default;
$hero-content-container-text-color: null !default;
