$hero-content-container-flex-direction: null !default;
$hero-content-container-justify-content: null !default;
$hero-content-container-align-items: null !default;
$hero-content-container-padding-top: null !default;
$hero-content-container-padding-right: null !default;
$hero-content-container-padding-bottom: null !default;
$hero-content-container-padding-left: null !default;
$hero-content-container-text-color: null !default;

$hero-tile-flex-direction: column !default;
$hero-tile-gap: null !default;
$hero-tile-border-width: null !default;
$hero-tile-border-style: null !default;
$hero-tile-border-color: null !default;
$hero-tile-border-radius: null !default;
$hero-tile-background-color: null !default;
$hero-tile-text-color: null !default;
$hero-tile-padding-top: null !default;
$hero-tile-padding-right: null !default;
$hero-tile-padding-bottom: null !default;
$hero-tile-padding-left: null !default;

$tile-title-font-size-text: null !default;
$tile-title-text-color: inherit !default;
$tile-subtitle-font-size-text: null !default;
$tile-subtitle-text-color: inherit !default;

$hero-tile-list-gap: null !default;
$hero-tile-list-padding: null !default;
$hero-tile-list-background-color: null !default;
$hero-tile-list-line-height: null !default;
$hero-tile-list-font-size: null !default;
$hero-tile-list-font-weight: null !default;
$hero-tile-list-text-color: null !default;
$hero-tile-list-item-background-color: null !default;
$hero-tile-list-item-border-width: null !default;
$hero-tile-list-item-border-style: null !default;
$hero-tile-list-item-border-color: null !default;
$hero-tile-list-item-padding: null !default;
$hero-tile-list-item-line-height: null !default;
$hero-tile-list-item-font-size: null !default;
$hero-tile-list-item-font-weight: null !default;
$hero-tile-list-item-text-color: null !default;

$hero-list-gap: null !default;
$hero-list-padding: null !default;
$hero-list-background-color: null !default;
$hero-list-line-height: null !default;
$hero-list-font-size: null !default;
$hero-list-font-weight: null !default;
$hero-list-text-color: null !default;
$hero-list-item-background-color: null !default;
$hero-list-item-border-width: null !default;
$hero-list-item-border-style: null !default;
$hero-list-item-border-color: null !default;
$hero-list-item-padding: null !default;
$hero-list-item-line-height: null !default;
$hero-list-item-font-size: null !default;
$hero-list-item-font-weight: null !default;
$hero-list-item-text-color: null !default;