$hero-min-height: null !default;
$hero-height: null !default;
$hero-max-height: null !default;
$hero-width: null !default;
$hero-max-width: null !default;
$hero-background-color: null !default;
$hero-margin: null !default;
$hero-image-object-position: null !default;
$hero-title-font-size: null !default;
$hero-title-text-color: null !default;
$hero-border-radius: null !default;
$hero-padding: null !default;
$hero-justify-content: null !default;
$hero-align-items: null !default;
$hero-background-image: null !default;
$hero-background-repeat: null !default;
$hero-flex-direction: null !default;
$hero-text-color: null !default;
$hero-font-size: null !default;

// Content wrapper
$hero-content-wrapper-padding: null !default;
$hero-content-wrapper-max-width: null !default;
$hero-content-wrapper-text-align: null !default;
$hero-content-wrapper-margin: null !default;
$hero-content-wrapper-justify-content: null !default;
$hero-content-wrapper-align-items: null !default;
$hero-content-wrapper-flex-direction: null !default;
$hero-content-wrapper-background-color: null !default;
$hero-content-wrapper-gap: null !default;

// Background-image
$hero-image-object-position: null !default;
