$icon-color: currentcolor !default;
$icon-height: null !default;
$icon-width: null !default;
$icon-mask-ascending: null !default;
$icon-mask-check: null !default;
$icon-mask-chevron-down: null !default;
$icon-mask-chevron-left: null !default;
$icon-mask-chevron-light-down: null !default;
$icon-mask-chevron-light-left: null !default;
$icon-mask-chevron-light-right: null !default;
$icon-mask-chevron-light-up: null !default;
$icon-mask-chevron-right: null !default;
$icon-mask-chevron-up: null !default;
$icon-mask-close: null !default;
$icon-mask-descending: null !default;
$icon-mask-download: null !default;
$icon-mask-hamburger: null !default;
$icon-mask-heart: null !default;
$icon-mask-home: null !default;
$icon-mask-lock-closed: null !default;
$icon-mask-on-off: null !default;
$icon-mask-outgoing: null !default;
$icon-mask-questionmark: null !default;
$icon-mask-reset: null !default;
$icon-mask-search: null !default;
$icon-mask-smartphone: null !default;
$icon-mask-sort: null !default;
$icon-mask-to-top: null !default;
$icon-mask-trash: null !default;
$icon-mask-user: null !default;
