// Base
$language-selector-list-label-font-size: null !default;
$language-selector-list-label-gap: null !default;
$language-selector-list-label-text-color: null !default;
$language-selector-list-label-max-width: null !default;

// Button
$language-selector-list-button-background-color: null !default;
$language-selector-list-button-text-color: null !default;
$language-selector-list-button-font-size: null !default;
$language-selector-list-button-font-weight: null !default;
$language-selector-list-button-line-height: null !default;
$language-selector-list-button-padding-top: null !default;
$language-selector-list-button-padding-right: null !default;
$language-selector-list-button-padding-bottom: null !default;
$language-selector-list-button-padding-left: null !default;
$language-selector-list-button-border-width: null !default;
$language-selector-list-button-border-style: null !default;
$language-selector-list-button-border-color: null !default;
$language-selector-list-button-min-height: null !default;
$language-selector-list-button-width: null !default;
$language-selector-list-button-min-width: null !default;
$language-selector-list-button-max-width: null !default;

// Button Icon
$language-selector-list-button-icon: null !default;
$language-selector-list-button-icon-font-family: null !default;
$language-selector-list-button-icon-margin-left: null !default;
$language-selector-list-button-icon-font-size: null !default;
$language-selector-list-button-icon-text-color: null !default;

// Closed Button Icon
$language-selector-list-closed-button-icon: null !default;

// Open Button Icon
$language-selector-list-open-button-icon: null !default;

// List
$language-selector-list-box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 10%) !default;
$language-selector-list-border-width: null !default;
$language-selector-list-border-style: null !default;
$language-selector-list-min-width: 250px !default;
$language-selector-list-max-width: 250px !default;
$language-selector-list-border-color: null !default;
$language-selector-list-border-radius: null !default;
$language-selector-list-background-color: null !default;
$language-selector-list-margin-top: null !default;
$language-selector-list-right: null !default;
$language-selector-list-left: null !default;
$language-selector-list-font-size: null !default;

// List Item
$language-selector-list-item-border-width: 0 0 1px 0 !default;
$language-selector-list-item-border-style: solid !default;
$language-selector-list-item-background-color: null !default;
$language-selector-list-item-text-color: null !default;
$language-selector-list-item-min-height: null !default;
$language-selector-list-item-border-width: null !default;
$language-selector-list-item-border-color: null !default;

// List Item Hover
$language-selector-list-item-hover-background-color: null !default;
$language-selector-list-item-hover-text-color: null !default;
$language-selector-list-item-hover-font-size: null !default;
$language-selector-list-item-hover-font-weight: null !default;

// List Item Link
$language-selector-list-item-link-padding: 0 1rem !default;
$language-selector-list-item-link-min-height: 3rem !default;
$language-selector-list-item-link-border-width: null !default;
$language-selector-list-item-link-border-style: null !default;
$language-selector-list-item-link-border-color: null !default;
$language-selector-list-item-link-line-height: null !default;
$language-selector-list-item-link-white-space: null !default;
$language-selector-list-item-link-height: null !default;

// List Item Active
$language-selector-list-item-active-font-weight: bold !default;
$language-selector-list-item-active-background-color: null !default;
$language-selector-list-item-active-text-color: null !default;
$language-selector-list-item-active-font-size: null !default;
