$layout-footer-content-block-min-height: null !default;
$layout-footer-content-block-gap: null !default;
$layout-footer-content-block-padding-top: null !default;
$layout-footer-content-block-padding-right: null !default;
$layout-footer-content-block-padding-bottom: null !default;
$layout-footer-content-block-padding-left: null !default;
$layout-footer-content-block-max-width: null !default;
