// Page whitespace
$page-whitespace-top: null !default;
$page-whitespace-right: null !default;
$page-whitespace-bottom: null !default;
$page-whitespace-left: null !default;

// content
$layout-flex-direction: null !default;
$layout-justify-content: null !default;
$layout-align-items: null !default;
$layout-padding-top: null !default;
$layout-padding-right: null !default;
$layout-padding-bottom: null !default;
$layout-padding-left: null !default;
$layout-max-width: null !default;
$layout-gap: 2rem !default;
$layout-gap-nested: 1.25rem !default;
