$layout-header-gap: null !default;
$layout-header-padding-top: null !default;
$layout-header-padding-right: null !default;
$layout-header-padding-bottom: null !default;
$layout-header-padding-left: null !default;
$layout-header-max-width: null !default;
$layout-header-content-block-gap: null !default;
$layout-header-within-content-block-gap: null !default;
