$layout-footer-gap: null !default;
$layout-footer-padding-top: null !default;
$layout-footer-padding-right: null !default;
$layout-footer-padding-bottom: null !default;
$layout-footer-padding-left: null !default;
$layout-footer-max-width: null !default;
$layout-footer-within-content-block-gap: null !default;
