$layout-authentication-max-width: null !default;
$layout-authentication-background-color: null !default;
$layout-authentication-text-color: null !default;
$layout-authentication-padding-top: null !default;
$layout-authentication-padding-right: null !default;
$layout-authentication-padding-bottom: null !default;
$layout-authentication-padding-left: null !default;
