/* List */
$list-gap: null !default;
$list-padding: null !default;
$list-background-color: null !default;
$list-line-height: null !default;
$list-font-size: null !default;
$list-font-weight: null !default;
$list-text-color: null !default;
$list-margin: null !default;
$footer-list-padding: null !default;

/* List item */
$list-item-background-color: null !default;
$list-item-border-width: null !default;
$list-item-border-style: null !default;
$list-item-border-color: null !default;
$list-item-padding: null !default;
$list-item-line-height: null !default;
$list-item-font-size: null !default;
$list-item-font-weight: null !default;
$list-item-list-style: null !default;
$list-item-text-color: null !default;
