$logo-display: null !default;
$logo-flex-direction: null !default;
$logo-justify-content: null !default;
$logo-align-items: null !default;
$logo-align-self: center !default;
$logo-white-space: null !default;
$logo-gap: null !default;
$logo-width: null !default;
$logo-height: null !default;
$logo-margin: null !default;
$logo-font-size: null !default;
$logo-font-weight: null !default;
$logo-text-color: null !default;
$logo-background-color: transparent !default;
$logo-border-radius: null !default;
$logo-padding: null !default;

// Img
$logo-img-height: 2.75rem !default;
$logo-img-width: 2.75rem !default;
$logo-img-border-radius: null !default;
$logo-img-object-position: null !default;
$logo-img-object-fit: null !default;
$logo-img-background-color: null !default;
$logo-img-padding: null !default;
