$login-meta-flex-direction: null !default;
$login-meta-justify-content: null !default;
$login-meta-align-items: center !default;
$login-meta-padding-top: null !default;
$login-meta-padding-right: null !default;
$login-meta-padding-bottom: null !default;
$login-meta-padding-left: null !default;
$login-meta-gap: null !default;
$login-meta-background-color: null !default;
$login-meta-text-color: null !default;
