$main-background-color: null !default;
$main-flex-direction: null !default;
$main-justify-content: null !default;
$main-align-items: null !default;
$main-gap: null !default;
$main-padding-top: null !default;
$main-padding-right: null !default;
$main-padding-bottom: null !default;
$main-padding-left: null !default;
$main-max-width: null !default;
$main-margin: 0 auto !default;
$main-border-radius: null !default;

// content wrapper
$main-content-wrapper-flex-direction: null !default;
$main-content-wrapper-justify-content: null !default;
$main-content-wrapper-align-items: null !default;
$main-content-wrapper-gap: null !default;
$main-content-wrapper-padding-top: null !default;
$main-content-wrapper-padding-right: null !default;
$main-content-wrapper-padding-bottom: null !default;
$main-content-wrapper-padding-left: null !default;
$main-content-wrapper-max-width: null !default;
