$max-line-length-max-width: 50rem !default;
$max-line-length-hyphens: null !default;
$max-line-length-word-break: null !default;
$max-line-length-breakpoint-hyphens: null !default;
$max-line-length-breakpoint-word-break: null !default;
