$message-counter-base-min-width: null !default;
$message-counter-base-height: null !default;
$message-counter-base-padding: null !default;
$message-counter-base-background-color: null !default;
$message-counter-base-text-color: null !default;
$message-counter-font-size: null !default;
$message-counter-base-border-with: null !default;
$message-counter-base-border-style: null !default;
$message-counter-base-border-color: null !default;
$message-counter-base-border-radius: null !default;
