$message-counter-base-min-width: 1.125rem !default;
$message-counter-base-height: 1.125rem !default;
$message-counter-base-padding: 0.25rem !default;
$message-counter-base-background-color: #d52a1e !default;
$message-counter-base-text-color: white !default;
$message-counter-font-size: 0.8rem !default;
$message-counter-base-border-with: null !default;
$message-counter-base-border-style: null !default;
$message-counter-base-border-color: null !default;
$message-counter-base-border-radius: 1.125rem !default;
$message-counter-margin: 0 0.25rem !default;
