// Base
$navigation-link-focus-font-size: null !default;
$navigation-link-focus-font-weight: null !default;
$navigation-link-focus-line-height: null !default;
$navigation-link-focus-background-color: null !default;
$navigation-link-focus-text-color: null !default;
$navigation-link-focus-text-decoration: null !default;
$navigation-link-focus-border-width: null !default;
$navigation-link-focus-border-style: null !default;
$navigation-link-focus-border-color: null !default;
$navigation-link-focus-border-radius: null !default;

// Icon
$navigation-link-focus-icon-font-size: null !default;
$navigation-link-focus-icon-font-weight: null !default;
$navigation-link-focus-icon-line-height: null !default;
$navigation-link-focus-icon-background-color: null !default;
$navigation-link-focus-icon-text-color: null !default;
$navigation-link-focus-icon-text-decoration: null !default;
$navigation-link-focus-icon-border-width: null !default;
$navigation-link-focus-icon-border-style: null !default;
$navigation-link-focus-icon-border-color: null !default;
$navigation-link-focus-icon-border-radius: null !default;

// Outline
$navigation-link-focus-outline: null !default;
$navigation-link-focus-outline-offset: null !default;
$navigation-link-focus-outline-color: null !default;
$navigation-link-focus-z-index: null !default;
$navigation-link-focus-box-shadow: null !default;
$navigation-link-focus-outline-border-radius: null !default;
