// Base
$navigation-link-active-font-size: null !default;
$navigation-link-active-font-weight: null !default;
$navigation-link-active-line-height: null !default;
$navigation-link-active-background-color: null !default;
$navigation-link-active-text-color: null !default;
$navigation-link-active-text-decoration: null !default;
$navigation-link-active-border-width: null !default;
$navigation-link-active-border-style: null !default;
$navigation-link-active-border-color: null !default;
$navigation-link-active-border-radius: null !default;

// Icon
$navigation-link-active-icon-font-size: null !default;
$navigation-link-active-icon-font-weight: null !default;
$navigation-link-active-icon-line-height: null !default;
$navigation-link-active-icon-background-color: null !default;
$navigation-link-active-icon-text-color: null !default;
$navigation-link-active-icon-text-decoration: null !default;
$navigation-link-active-icon-border-width: null !default;
$navigation-link-active-icon-border-style: null !default;
$navigation-link-active-icon-border-color: null !default;
$navigation-link-active-icon-border-radius: null !default;

// Outline
$navigation-link-active-outline: null !default;
$navigation-link-active-outline-offset: null !default;
$navigation-link-active-outline-color: null !default;
$navigation-link-active-z-index: null !default;
$navigation-link-active-box-shadow: null !default;
$navigation-link-active-outline-border-radius: null !default;
