// Base
$navigation-link-font-size: null !default;
$navigation-link-font-weight: null !default;
$navigation-link-line-height: null !default;
$navigation-link-background-color: null !default;
$navigation-link-text-color: null !default;
$navigation-link-text-decoration: null !default;
$navigation-link-border-width: null !default;
$navigation-link-border-style: null !default;
$navigation-link-border-color: null !default;
$navigation-link-border-radius: null !default;

// Outline
$navigation-link-outline: null !default;
$navigation-link-outline-offset: null !default;
$navigation-link-outline-color: null !default;
$navigation-link-z-index: null !default;
$navigation-link-box-shadow: null !default;
$navigation-link-outline-border-radius: null !default;
