// List Item
$navigation-tabs-list-item-padding: null !default;

// List Item Hover
$navigation-tabs-list-item-hover-background-color: null !default;
$navigation-tabs-list-item-hover-text-color: null !default;

// Link
$navigation-tabs-link-text-decoration: null !default;
