// Nav
$navigation-font-family: null !default;
$navigation-font-size: null !default;
$navigation-font-weight: null !default;
$navigation-line-height: null !default;
$navigation-text-color: null !default;

// List
$navigation-list-margin: null !default;
$navigation-list-padding: null !default;
$navigation-list-gap: null !default;
$navigation-list-background-color: null !default;

// List item
$navigation-list-item-padding: null !default;
$navigation-list-item-background-color: null !default;
$navigation-list-item-border-width: null !default;
$navigation-list-item-border-style: null !default;
$navigation-list-item-border-color: null !default;
$navigation-list-item-list-style: null !default;

// List item icon
$navigation-list-item-icon-content: null !default;
$navigation-list-item-icon-font-family: null !default;
$navigation-list-item-icon-line-height: null !default;
$navigation-list-item-icon-font-size: null !default;
$navigation-list-item-icon-padding-top: null !default;
$navigation-list-item-icon-padding-right: null !default;
$navigation-list-item-icon-padding-bottom: null !default;
$navigation-list-item-icon-padding-left: null !default;
$navigation-list-item-icon-display: null !default;

// Link
$navigation-link-background-color: null !default;
$navigation-link-text-decoration: null !default;
$navigation-link-border-width: null !default;
$navigation-link-border-style: null !default;
$navigation-link-border-color: null !default;
$navigation-link-border-radius: null !default;
$navigation-link-text-color: null !default;
$navigation-link-hover-text-color: null !default;
$navigation-link-visited-text-color: null !default;
$navigation-link-visited-hover-text-color: null !default;

// Outline
$navigation-link-outline: null !default;
$navigation-link-outline-offset: null !default;
$navigation-link-outline-color: null !default;
$navigation-link-z-index: null !default;
$navigation-link-box-shadow: null !default;
