// Base
$navigation-link-visited-font-size: null !default;
$navigation-link-visited-font-weight: null !default;
$navigation-link-visited-line-height: null !default;
$navigation-link-visited-background-color: null !default;
$navigation-link-visited-text-color: null !default;
$navigation-link-visited-text-decoration: null !default;
$navigation-link-visited-border-width: null !default;
$navigation-link-visited-border-style: null !default;
$navigation-link-visited-border-color: null !default;
$navigation-link-visited-border-radius: null !default;

// Icon
$navigation-link-visited-icon-font-size: null !default;
$navigation-link-visited-icon-font-weight: null !default;
$navigation-link-visited-icon-line-height: null !default;
$navigation-link-visited-icon-background-color: null !default;
$navigation-link-visited-icon-text-color: null !default;
$navigation-link-visited-icon-text-decoration: null !default;
$navigation-link-visited-icon-border-width: null !default;
$navigation-link-visited-icon-border-style: null !default;
$navigation-link-visited-icon-border-color: null !default;
$navigation-link-visited-icon-border-radius: null !default;

// Outline
$navigation-link-visited-outline: null !default;
$navigation-link-visited-outline-offset: null !default;
$navigation-link-visited-outline-color: null !default;
$navigation-link-visited-z-index: null !default;
$navigation-link-visited-box-shadow: null !default;
$navigation-link-visited-outline-border-radius: null !default;
