// Base
$notification-confirmation-page-background-color: null !default;
$notification-confirmation-page-text-color: null !default;
$notification-confirmation-page-span-font-weight: null !default;
$notification-confirmation-page-icon-font-family: null !default;
$notification-confirmation-page-icon-font-size: null !default;
$notification-confirmation-page-icon-padding-right: null !default;
$notification-confirmation-page-icon-padding-left: null !default;
$notification-confirmation-page-icon-text-color: inherit !default;
$notification-confirmation-page-icon-margin-right: null !default;
