// Base
$notification-paragraph-width: null !default;
$notification-paragraph-padding-top: null !default;
$notification-paragraph-padding-right: null !default;
$notification-paragraph-padding-bottom: null !default;
$notification-paragraph-padding-left: null !default;
$notification-paragraph-span-font-weight: null !default;
$notification-paragraph-gap: null !default;
