$notification-explanation-background-color: null !default;
$notification-explanation-text-color: null !default;
$notification-explanation-border-width: null !default;
$notification-explanation-border-style: null !default;
$notification-explanation-border-color: null !default;
$notification-explanation-icon-font-family: null !default;
$notification-explanation-icon-font-size: null !default;
$notification-explanation-icon-padding-right: null !default;
$notification-explanation-icon-padding-left: null !default;
$notification-explanation-icon-text-color: null !default;
$notification-explanation-icon-margin-right: null !default;
$notification-explanation-icon: null !default;

// Notification type
$notification-explanation-background-color: null !default;
$notification-explanation-text-color: null !default;
$notification-explanation-border-width: null !default;
$notification-explanation-border-style: null !default;
$notification-explanation-border-color: null !default;

// Icon
$notification-explanation-icon-font-family: null !default;
$notification-explanation-icon-font-size: null !default;
$notification-explanation-icon-padding-right: null !default;
$notification-explanation-icon-padding-left: null !default;
$notification-explanation-icon-color: null !default;
$notification-explanation-icon-margin-right: null !default;
$notification-explanation-icon: null !default;

// Page notification
$notification-explanation-page-padding-top: null !default;
$notification-explanation-page-padding-right: null !default;
$notification-explanation-page-padding-bottom: null !default;
$notification-explanation-page-padding-left: null !default;
$notification-explanation-page-gap: null !default;

// Content wrapper
$notification-explanation-page-content-wrapper-padding-top: null !default;
$notification-explanation-page-content-wrapper-padding-right: null !default;
$notification-explanation-page-content-wrapper-padding-bottom: null !default;
$notification-explanation-page-content-wrapper-padding-left: null !default;
$notification-explanation-page-content-wrapper-gap: null !default;
