$notification-error-background-color: null !default;
$notification-error-text-color: null !default;
$notification-error-border-width: null !default;
$notification-error-border-style: null !default;
$notification-error-border-color: null !default;
$notification-error-icon-font-family: null !default;
$notification-error-icon-font-size: null !default;
$notification-error-icon-padding-right: null !default;
$notification-error-icon-padding-left: null !default;
$notification-error-icon-text-color: null !default;
$notification-error-icon-margin-right: null !default;
$notification-error-icon: null !default;

// Notification type
$notification-error-background-color: null !default;
$notification-error-text-color: null !default;
$notification-error-border-width: null !default;
$notification-error-border-style: null !default;
$notification-error-border-color: null !default;

// Icon
$notification-error-icon-font-family: null !default;
$notification-error-icon-font-size: null !default;
$notification-error-icon-padding-right: null !default;
$notification-error-icon-padding-left: null !default;
$notification-error-icon-text-color: null !default;
$notification-error-icon-margin-right: null !default;
$notification-error-icon: null !default;

// Page notification
$notification-error-page-padding-top: null !default;
$notification-error-page-padding-right: null !default;
$notification-error-page-padding-bottom: null !default;
$notification-error-page-padding-left: null !default;
$notification-error-page-gap: null !default;

// Content wrapper
$notification-error-page-content-wrapper-padding-top: null !default;
$notification-error-page-content-wrapper-padding-right: null !default;
$notification-error-page-content-wrapper-padding-bottom: null !default;
$notification-error-page-content-wrapper-padding-left: null !default;
$notification-error-page-content-wrapper-gap: null !default;
