// error
$notification-table-error-background-color: null !default;
$notification-table-error-text-color: null !default;

// warning
$notification-table-warning-background-color: null !default;
$notification-table-warning-text-color: null !default;

// confirmation
$notification-table-confirmation-background-color: null !default;
$notification-table-confirmation-text-color: null !default;

// explanation
$notification-table-explanation-background-color: null !default;
$notification-table-explanation-text-color: null !default;

// system
$notification-table-system-background-color: null !default;
$notification-table-system-text-color: null !default;
