// Base
$notification-block-element-flex-direction: column !default;
$notification-block-element-justify-content: null !default;
$notification-block-element-align-items: flex-start !default;
$notification-block-element-gap: null !default;
$notification-block-element-width: null !default;
$notification-block-element-padding-top: null !default;
$notification-block-element-padding-right: null !default;
$notification-block-element-padding-bottom: null !default;
$notification-block-element-padding-left: null !default;
$notification-block-element-max-width: null !default;
$notification-block-element-position: null !default;
$notification-block-element-text-color: null !default;
