$notification-background-color: null !default;
$notification-text-color: null !default;
$notification-span-font-weight: null !default;
$notification-icon-font-family: null !default;
$notification-icon-font-size: null !default;
$notification-icon-padding-right: null !default;
$notification-icon-padding-left: null !default;
$notification-icon-text-color: null !default;
$notification-icon-margin-right: null !default;
