$notification-warning-background-color: null !default;
$notification-warning-text-color: null !default;
$notification-warning-border-width: null !default;
$notification-warning-border-style: null !default;
$notification-warning-border-color: null !default;
$notification-warning-icon-font-family: null !default;
$notification-warning-icon-font-size: null !default;
$notification-warning-icon-padding-right: null !default;
$notification-warning-icon-padding-left: null !default;
$notification-warning-icon-text-color: null !default;
$notification-warning-icon-margin-right: null !default;
$notification-warning-icon: null !default;

// Notification type
$notification-warning-background-color: null !default;
$notification-warning-text-color: null !default;
$notification-warning-border-width: null !default;
$notification-warning-border-style: null !default;
$notification-warning-border-color: null !default;

// Icon
$notification-warning-icon-font-family: null !default;
$notification-warning-icon-font-size: null !default;
$notification-warning-icon-padding-right: null !default;
$notification-warning-icon-padding-left: null !default;
$notification-warning-icon-color: null !default;
$notification-warning-icon-margin-right: null !default;
$notification-warning-icon: null !default;

// Page notification
$notification-warning-page-padding-top: null !default;
$notification-warning-page-padding-right: null !default;
$notification-warning-page-padding-bottom: null !default;
$notification-warning-page-padding-left: null !default;
$notification-warning-page-gap: null !default;

// Content wrapper
$notification-warning-page-content-wrapper-padding-top: null !default;
$notification-warning-page-content-wrapper-padding-right: null !default;
$notification-warning-page-content-wrapper-padding-bottom: null !default;
$notification-warning-page-content-wrapper-padding-left: null !default;
$notification-warning-page-content-wrapper-gap: null !default;
