$notification-confirmation-background-color: null !default;
$notification-confirmation-text-color: null !default;
$notification-confirmation-border-width: null !default;
$notification-confirmation-border-style: null !default;
$notification-confirmation-border-color: null !default;
$notification-confirmation-icon-font-family: null !default;
$notification-confirmation-icon-font-size: null !default;
$notification-confirmation-icon-padding-right: null !default;
$notification-confirmation-icon-padding-left: null !default;
$notification-confirmation-icon-text-color: null !default;
$notification-confirmation-icon-margin-right: null !default;
$notification-confirmation-icon: null !default;

// Notification type
$notification-confirmation-background-color: null !default;
$notification-confirmation-text-color: null !default;
$notification-confirmation-border-width: null !default;
$notification-confirmation-border-style: null !default;
$notification-confirmation-border-color: null !default;

// Icon
$notification-confirmation-icon-font-family: null !default;
$notification-confirmation-icon-font-size: null !default;
$notification-confirmation-icon-padding-right: null !default;
$notification-confirmation-icon-padding-left: null !default;
$notification-confirmation-icon-text-color: null !default;
$notification-confirmation-icon-margin-right: null !default;
$notification-confirmation-icon: null !default;

// Page notification
$notification-confirmation-page-padding-top: null !default;
$notification-confirmation-page-padding-right: null !default;
$notification-confirmation-page-padding-bottom: null !default;
$notification-confirmation-page-padding-left: null !default;
$notification-confirmation-page-gap: null !default;

// First span
$notification-confirmation-page-span-font-weight: null !default;

// Content wrapper
$notification-confirmation-page-content-wrapper-padding-top: null !default;
$notification-confirmation-page-content-wrapper-padding-right: null !default;
$notification-confirmation-page-content-wrapper-padding-bottom: null !default;
$notification-confirmation-page-content-wrapper-padding-left: null !default;
$notification-confirmation-page-content-wrapper-gap: null !default;

// First span
$notification-confirmation-page-span-font-weight: null !default;
