// Base
$notification-explanation-page-background-color: null !default;
$notification-explanation-page-text-color: null !default;
$notification-explanation-page-span-font-weight: null !default;
$notification-explanation-page-icon-font-family: null !default;
$notification-explanation-page-icon-font-size: null !default;
$notification-explanation-page-icon-padding-right: null !default;
$notification-explanation-page-icon-padding-left: null !default;
$notification-explanation-page-icon-text-color: null !default;
$notification-explanation-page-icon-margin-right: null !default;
