// Base
$notification-system-message-background-color: null !default;
$notification-system-message-text-color: null !default;
$notification-system-message-span-font-weight: null !default;
$notification-system-message-icon-font-family: null !default;
$notification-system-message-icon-font-size: null !default;
$notification-system-message-icon-padding-right: null !default;
$notification-system-message-icon-padding-left: null !default;
$notification-system-message-icon-text-color: null !default;
$notification-system-message-icon-margin-right: null !default;
