// Block
$notification-form-block-gap: null !default;
$notification-form-block-padding-top: null !default;
$notification-form-block-padding-right: null !default;
$notification-form-block-padding-bottom: null !default;
$notification-form-block-padding-left: null !default;
$notification-form-span-font-weight: null !default;
$notification-form-block-icon-before-content: null !default;
$notification-form-block-icon-after-content: null !default;

// Fields
$notification-form-fields-gap: null !default;
$notification-form-fields-icon-font-family: null !default;
$notification-form-fields-icon-font-size: null !default;
$notification-form-fields-icon-padding-right: null !default;
$notification-form-fields-icon-padding-left: null !default;
$notification-form-fields-icon-text-color: null !default;
$notification-form-fields-icon-margin-right: null !default;
$notification-form-fields-error-icon: null !default;
$notification-form-fields-warning-icon: null !default;
$notification-form-fields-explanation-icon: null !default;
$notification-form-fields-confirmation-icon: null !default;
$notification-form-fields-border-width: null !default;
$notification-form-fields-border-style: null !default;
$notification-form-fields-error-border-color: null !default;
$notification-form-fields-explanation-border-color: null !default;
$notification-form-fields-warning-border-color: null !default;
$notification-form-fields-confirmation-border-color: null !default;
$notification-form-fields-system-border-color: null !default;
