$notification-background-color: null !default;
$notification-text-color: null !default;
$notification-padding-top: null !default;
$notification-padding-right: null !default;
$notification-padding-bottom: null !default;
$notification-padding-left: null !default;
$notification-border-width: null !default;
$notification-border-style: null !default;
$notification-gap: null !default;
$notification-border-radius: null !default;

// notification type (span first of type)
$notification-type-font-weight: null !default;
$notification-type-order: null !default;
$notification-type-gap: null !default;

// icon
$notification-icon-font-family: null !default;
$notification-icon-font-size: null !default;
$notification-icon-padding-right: null !default;
$notification-icon-padding-left: null !default;
$notification-icon-text-color: null !default;
$notification-icon-margin-right: null !default;
