$notification-system-background-color: null !default;
$notification-system-text-color: null !default;
$notification-system-border-width: null !default;
$notification-system-border-style: null !default;
$notification-system-border-color: null !default;
$notification-system-icon-font-family: null !default;
$notification-system-icon-font-size: null !default;
$notification-system-icon-padding-right: null !default;
$notification-system-icon-padding-left: null !default;
$notification-system-icon-text-color: null !default;
$notification-system-icon-margin-right: null !default;
$notification-system-icon: null !default;

// Notification type
$notification-system-background-color: null !default;
$notification-system-text-color: null !default;
$notification-system-border-width: null !default;
$notification-system-border-style: null !default;
$notification-system-border-color: null !default;

// Icon
$notification-system-icon-font-family: null !default;
$notification-system-icon-font-size: null !default;
$notification-system-icon-padding-right: null !default;
$notification-system-icon-padding-left: null !default;
$notification-system-icon-color: null !default;
$notification-system-icon-margin-right: null !default;
$notification-system-icon: null !default;

// Page notification
$notification-system-page-padding-top: null !default;
$notification-system-page-padding-right: null !default;
$notification-system-page-padding-bottom: null !default;
$notification-system-page-padding-left: null !default;
$notification-system-page-gap: null !default;

// Content wrapper
$notification-system-page-content-wrapper-padding-top: null !default;
$notification-system-page-content-wrapper-padding-right: null !default;
$notification-system-page-content-wrapper-padding-bottom: null !default;
$notification-system-page-content-wrapper-padding-left: null !default;
$notification-system-page-content-wrapper-gap: null !default;
