$page-title-line-height: null !default;
$page-title-font-size: null !default;
$page-title-font-weight: null !default;
$page-title-width: null !default;
$page-title-max-width: null !default;
$page-title-margin: null !default;
$page-title-padding: null !default;

// Breakpoint 1
$page-title-padding-breakpoint-1: null !default;

// Breakpoint 2
$page-title-padding-breakpoint-2: null !default;
