// Active Item
$pagination-link-active-background-color: null !default;
$pagination-link-active-text-color: null !default;
$pagination-link-active-border-width: null !default;
$pagination-link-active-border-style: null !default;
$pagination-link-active-border-color: null !default;
$pagination-link-active-font-weight: null !default;

// Link
$pagination-link-background-color: null !default;
$pagination-link-text-color: null !default;
$pagination-link-border-width: null !default;
$pagination-link-border-style: null !default;
$pagination-link-border-color: null !default;
$pagination-link-border-radius: null !default;
$pagination-link-text-decoration: null !default;

// Link Hover
$pagination-link-hover-background-color: null !default;
$pagination-link-hover-text-color: null !default;
$pagination-link-hover-border-width: null !default;
$pagination-link-hover-border-style: null !default;
$pagination-link-hover-border-color: null !default;

// Adjacent
$pagination-adjacent-background-color: null !default;
$pagination-adjacent-text-color: null !default;
$pagination-adjacent-border-width: null !default;
$pagination-adjacent-border-style: null !default;
$pagination-adjacent-border-color: null !default;
$pagination-adjacent-border-radius: null !default;
$pagination-adjacent-padding: null !default;
$pagination-adjacent-white-space: null !default;

// Adjacent Hover
$pagination-adjacent-hover-background-color: null !default;
$pagination-adjacent-hover-text-color: null !default;
$pagination-adjacent-hover-border-width: null !default;
$pagination-adjacent-hover-border-style: null !default;
$pagination-adjacent-hover-border-color: null !default;

// Adjacent Previous
$pagination-adjacent-previous-padding: null !default;

// Previous Icon
$pagination-previous-icon-margin-left: null !default;
$pagination-previous-icon-margin-right: null !default;

// Adjacent Next
$pagination-adjacent-next-padding: null !default;

// Next Icon
$pagination-next-icon-margin-left: null !default;
$pagination-next-icon-margin-right: null !default;

// List
$pagination-list-gap: null !default;
$pagination-border-top-width: null !default;
$pagination-border-right-width: null !default;
$pagination-border-bottom-width: null !default;
$pagination-border-left-width: null !default;
$pagination-border-style: null !default;
$pagination-border-color: null !default;

// Item
$pagination-item-height: null !default;
$pagination-item-width: null !default;

// Nav
$pagination-justify-content: null !default;
$pagination-align-items: center !default;
$pagination-border-width: null !default;
$pagination-border-style: null !default;
$pagination-border-color: null !default;
$pagination-padding-top: null !default;
$pagination-gap: null !default;
