// Base
$radio-gap: null !default;
$radio-align-items: null !default;

// Input
$radio-input-width: null !default;
$radio-input-height: null !default;
$radio-input-accent-color: null !default;

// Label
$radio-label-width: null !default;

// Required
$radio-required-gap: null !default;
