$radio-gap: null !default;
$radio-align-items: center !default;
$radio-vertical-align: middle !default;
$radio-cursor: pointer !default;
$radio-width: auto !default;
$radio-height: null !default;
$radio-align-self: null !default;
$radio-background-color: null !default;
$radio-accent-color: null !default;

// Input
$radio-input-width: null !default;
$radio-input-height: null !default;
$radio-input-accent-color: null !default;

// Label
$radio-label-font-weight: null !default;
$radio-label-width: auto !default;
$radio-label-focus-outline: null !default;

// Required
$radio-required-gap: null !default;
