// Sidemenu
$sidemenu-max-width: null !default;

// Main
$sidemenu-main-padding-top: null !default;
$sidemenu-main-padding-bottom: null !default;
$sidemenu-main-gap: null !default;
$sidemenu-main-max-height: null !default;

// Nav
$sidemenu-nav-width: null !default;
$sidemenu-nav-padding-top: null !default;
$sidemenu-nav-padding-right: null !default;
$sidemenu-nav-padding-bottom: null !default;
$sidemenu-nav-padding-left: null !default;
$sidemenu-nav-background-color: null !default;
$sidemenu-nav-border-width: null !default;
$sidemenu-nav-border-style: null !default;
$sidemenu-nav-border-color: null !default;
$sidemenu-nav-background-image: null !default;
$sidemenu-nav-background-repeat: null !default;
$sidemenu-nav-background-size: null !default;
$sidemenu-nav-background-position: null !default;

// List
$sidemenu-ul-padding: null !default;

// List item
$sidemenu-list-item-background-color: null !default;
$sidemenu-list-item-border-color: null !default;
$sidemenu-list-item-border-style: null !default;
$sidemenu-list-item-border-width: null !default;
$sidemenu-list-item-padding: null !default;
$sidemenu-list-item-line-height: null !default;
$sidemenu-list-item-font-size: null !default;
$sidemenu-list-item-font-weight: null !default;
$sidemenu-list-item-text-color: null !default;
$sidemenu-list-item-list-style: null !default;

// Toggle button
$sidemenu-toggle-button-margin-left: null !default;
$sidemenu-toggle-button-min-width: null !default;
$sidemenu-toggle-button-min-height: null !default;
$sidemenu-toggle-button-font-size: null !default;
$sidemenu-toggle-button-margin-top: null !default;
$sidemenu-expanded-button-icon: null !default;
$sidemenu-button-icon-font-family: null !default;
$sidemenu-button-icon-font-size: null !default;
$sidemenu-button-icon-font-weight: null !default;
$sidemenu-button-icon-white-space: null !default;
$sidemenu-collapsed-button-icon: null !default;
