// Sidemenu
$sidemenu-page-max-width: null !default;
$sidemenu-page-padding-top: null !default;
$sidemenu-page-padding-right: null !default;
$sidemenu-page-padding-bottom: null !default;
$sidemenu-page-padding-left: null !default;

// Main
$sidemenu-main-padding-top: null !default;
$sidemenu-main-padding-bottom: null !default;
$sidemenu-main-gap: null !default;
$sidemenu-main-max-height: null !default;

// Page content
$page-content-gap: null !default;
$page-content-padding: null !default;

// Nav
$sidemenu-nav-width: null !default;
$sidemenu-nav-min-width: null !default;
$sidemenu-nav-padding-top: null !default;
$sidemenu-nav-padding-right: null !default;
$sidemenu-nav-padding-bottom: null !default;
$sidemenu-nav-padding-left: null !default;
$sidemenu-nav-background-color: null !default;
$sidemenu-nav-border-width: null !default;
$sidemenu-nav-border-style: null !default;
$sidemenu-nav-border-color: null !default;
$sidemenu-nav-background-image: null !default;
$sidemenu-nav-background-repeat: null !default;
$sidemenu-nav-background-size: null !default;
$sidemenu-nav-background-position: null !default;
$sidemenu-nav-gap: null !default;
$sidemenu-background-color: null !default;

// Link
$sidemenu-text-decoration: null !default;

// List
$sidemenu-ul-padding: null !default;

// List item
$sidemenu-list-item-background-color: null !default;
$sidemenu-list-item-border-color: null !default;
$sidemenu-list-item-border-style: null !default;
$sidemenu-list-item-border-width: null !default;
$sidemenu-list-item-padding: null !default;
$sidemenu-list-item-line-height: null !default;
$sidemenu-list-item-font-size: null !default;
$sidemenu-list-item-font-weight: null !default;
$sidemenu-list-item-text-color: null !default;
$sidemenu-list-item-list-style: null !default;

// Button
$sidemenu-button-margin-left: null !default;
$sidemenu-button-margin-top: null !default;
$sidemenu-button-min-width: null !default;
$sidemenu-button-min-height: null !default;
$sidemenu-button-font-size: null !default;
$sidemenu-button-background-color: null !default;
$sidemenu-button-padding: null !default;
$sidemenu-button-color: null !default;
$sidemenu-button-gap: 0 !default;
$sidemenu-collapsed-button-margin-left: null !default;
$sidemenu-collapsed-button-margin-top: null !default;
$sidemenu-collapsed-button-min-width: null !default;
$sidemenu-collapsed-button-min-height: null !default;
$sidemenu-collapsed-button-font-size: null !default;
$sidemenu-collapsed-button-background-color: null !default;
$sidemenu-collapsed-button-padding: null !default;
$sidemenu-collapsed-button-color: null !default;
$sidemenu-collapsed-button-gap: null !default;

// Sidemenu expanded icon
$sidemenu-expanded-icon-margin-left: null !default;
$sidemenu-expanded-icon-margin-right: null !default;
$sidemenu-expanded-icon-padding-right: null !default;
$sidemenu-expanded-icon-padding-left: null !default;
$sidemenu-expanded-icon-color: null !default;
$sidemenu-expanded-icon-mask: null !default;
$sidemenu-expanded-icon-width: null !default;
$sidemenu-expanded-icon-height: null !default;

// Sidemenu collapsed con
$sidemenu-collapsed-icon-margin-left: null !default;
$sidemenu-collapsed-icon-margin-right: null !default;
$sidemenu-collapsed-icon-padding-right: null !default;
$sidemenu-collapsed-icon-padding-left: null !default;
$sidemenu-collapsed-icon-color: null !default;
$sidemenu-collapsed-icon-mask: null !default;
$sidemenu-collapsed-icon-width: null !default;
$sidemenu-collapsed-icon-height: null !default;

// Breakpoint
$sidemenu-button-breakpoint-margin-left: null !default;
$sidemenu-breakpoint-background-color: null !default;
$sidemenu-nav-breakpoint-border-width: null !default;
$sidemenu-nav-breakpoint-border-style: null !default;
$sidemenu-nav-breakpoint-border-color: null !default;
