$skip-to-content-width: null !default;
$skip-to-content-padding: null !default;
$skip-to-content-text-align: center !default;
$skip-to-content-font-size: inherit !default;
$skip-to-content-min-height: null !default;
$skip-to-content-border-width: null !default;
$skip-to-content-border-style: null !default;
$skip-to-content-border-color: null !default;
$skip-to-content-background-color: null !default;
$skip-to-content-text-color: null !default;
$skip-to-content-margin: null !default;
$skip-to-content-align-self: null !default;
$skip-to-content-order: null !default;

// Hover
$skip-to-content-hover-background-color: null !default;
$skip-to-content-hover-text-color: null !default;
$skip-to-content-hover-border-width: null !default;
$skip-to-content-hover-border-style: null !default;
$skip-to-content-hover-border-color: null !default;
