// Slogan
$slogan-text-color: null !default;
$slogan-font-size: null !default;
$slogan-font-weight: null !default;
$slogan-font-family: null !default;
$slogan-text-decoration: none !default;
$slogan-font-style: null !default;
$slogan-white-space: null !default;
