// Item
$tabs-item-border-width: null !default;
$tabs-item-border-style: null !default;
$tabs-item-border-color: null !default;
$tabs-item-border-radius: null !default;
$tabs-item-text-color: null !default;
$tabs-item-line-height: null !default;
$tabs-item-padding: null !default;
$tabs-item-background-color: null !default;
$tabs-item-text-decoration: null !default;
$tabs-item-font-weight: null !default;

// Item Hover
$tabs-item-hover-border-width: null !default;
$tabs-item-hover-border-style: null !default;
$tabs-item-hover-border-color: null !default;
$tabs-item-hover-text-color: null !default;
$tabs-item-hover-font-weight: null !default;
$tabs-item-hover-background-color: null !default;

// Item Current
$tabs-item-current-border-width: null !default;
$tabs-item-current-border-style: null !default;
$tabs-item-current-border-color: null !default;
$tabs-item-current-text-color: null !default;
$tabs-item-current-background-color: null !default;
$tabs-item-current-font-weight: null !default;

// Item Current Hover
$tabs-item-current-hover-border-width: null !default;
$tabs-item-current-hover-border-style: null !default;
$tabs-item-current-hover-border-color: null !default;
$tabs-item-current-hover-text-color: null !default;
$tabs-item-current-hover-background-color: null !default;
$tabs-item-current-hover-font-weight: null !default;

// Parent
$tabs-background-color: null !default;

// List
$tabs-border-top-width: null !default;
$tabs-border-right-width: null !default;
$tabs-border-bottom-width: null !default;
$tabs-border-left-width: null !default;
$tabs-border-style: null !default;
$tabs-border-color: null !default;
$tabs-gap: null !default;

// Focus
$tabs-outline-offset: inherit !default;
