$table-condensed-font-size: null !default;
$table-condensed-line-height: null !default;

// Head
$table-condensed-head-cell-padding: null !default;
$table-condensed-head-cell-font-weight: null !default;
$table-condensed-head-cell-font-size: null !default;

// Cell
$table-condensed-cell-padding: null !default;
$table-condensed-cell-font-weight: null !default;
$table-condensed-cell-font-size: null !default;

// Foot
$table-condensed-foot-padding: null !default;
$table-condensed-foot-font-size: null !default;
$table-condensed-foot-font-weight: null !default;
$table-condensed-foot-header-padding: null !default;
$table-condensed-foot-header-font-size: null !default;
$table-condensed-foot-header-font-weight: null !default;
$table-condensed-foot-cell-padding: null !default;
$table-condensed-foot-cell-font-size: null !default;
$table-condensed-foot-cell-font-weight: null !default;

// Caption
$table-condensed-caption-font-size: null !default;
