// Base
$table-base-caption-background-color: null !default;
$table-base-caption-text-color: null !default;
$table-base-caption-font-size: null !default;
$table-base-caption-text-align: null !default;
$table-base-caption-line-height: null !default;
$table-base-caption-padding: null !default;