$table-rowspan-caption-background-color: null !default;
$table-rowspan-caption-text-color: null !default;
$table-rowspan-caption-font-size: null !default;
$table-rowspan-caption-padding: null !default;
$table-rowspan-border: null !default;
