$table-summary-width: null !default;
$table-summary-min-width: null !default;

// Body
$table-summary-body-border-width: null !default;
$table-summary-body-border-style: null !default;
$table-summary-body-border-color: null !default;

// Cell
$table-summary-cell-border-width: null !default;
$table-summary-cell-border-style: null !default;
$table-summary-cell-border-color: null !default;

// Last Row Cell
$table-summary-last-row-cell-border-width: null !default;
$table-summary-last-row-cell-border-style: null !default;
$table-summary-last-row-cell-border-color: null !default;

// Footer
$table-summary-footer-border-width: null !default;
$table-summary-footer-border-style: null !default;
$table-summary-footer-border-color: null !default;
$table-summary-footer-background-color: null !default;
