// Table
$table-font-size: null !default;
$table-line-height: null !default;
$table-font-weight: null !default;
$table-text-color: null !default;
$table-background-color: null !default;
$table-border-width: null !default;
$table-border-style: null !default;
$table-border-color: null !default;
$table-text-align: null !default;
$table-gap: null !default;

// Table Head
$table-head-background-color: null !default;
$table-head-text-color: null !default;
$table-head-border-width: null !default;
$table-head-border-style: null !default;
$table-head-border-color: null !default;
$table-head-cell-padding: null !default;
$table-head-cell-border-width: null !default;
$table-head-cell-border-style: null !default;
$table-head-cell-border-color: null !default;
$table-head-cell-font-weight: null !default;
$table-head-cell-font-size: null !default;
$table-head-text-align: null !default;

// Table Body
$table-body-head-cell-padding: null !default;
$table-body-head-cell-border-width: null !default;
$table-body-head-cell-border-style: null !default;
$table-body-head-cell-border-color: null !default;
$table-body-head-cell-background-color: null !default;
$table-body-head-cell-text-color: null !default;
$table-body-head-cell-font-weight: null !default;
$table-body-head-cell-font-size: null !default;

// Table Cell
$table-cell-padding: null !default;
$table-cell-gap: null !default;
$table-cell-background-color: null !default;
$table-cell-text-color: null !default;
$table-cell-border-width: null !default;
$table-cell-border-style: null !default;
$table-cell-border-color: null !default;

// Table Row
$table-row-background-color: null !default;
$table-row-border-width: null !default;
$table-row-border-style: null !default;
$table-row-border-color: null !default;
$table-row-background-color-striping: null !default;
$table-first-row-cell-border-width: null !default;
$table-first-row-cell-border-style: null !default;
$table-first-row-cell-border-color: null !default;
$table-last-row-cell-border-width: null !default;
$table-last-row-cell-border-style: null !default;
$table-last-row-cell-border-color: null !default;

// Table Foot
$table-foot-background-color: null !default;
$table-foot-text-color: null !default;
$table-foot-font-size: null !default;
$table-foot-font-weight: null !default;
$table-foot-padding: null !default;
$table-foot-border-width: null !default;
$table-foot-border-style: null !default;
$table-foot-border-color: null !default;
$table-foot-header-background-color: null !default;
$table-foot-header-text-color: null !default;
$table-foot-header-border-width: null !default;
$table-foot-header-border-style: null !default;
$table-foot-header-border-color: null !default;
$table-foot-header-padding: null !default;
$table-foot-header-font-weight: null !default;
$table-foot-header-font-size: null !default;
$table-foot-cell-background-color: null !default;
$table-foot-cell-text-color: null !default;
$table-foot-cell-border-width: null !default;
$table-foot-cell-border-style: null !default;
$table-foot-cell-border-color: null !default;
$table-foot-cell-padding: null !default;
$table-foot-cell-font-weight: null !default;
$table-foot-cell-font-size: null !default;
