// Button
$table-action-buttons-button-background-color: null !default;
$table-action-buttons-button-text-color: inherit !default;
$table-action-buttons-button-justify-content: null !default;
$table-action-buttons-button-font-size: null !default;

// Button Hover
$table-action-buttons-button-hover-background-color: null !default;
$table-action-buttons-button-hover-text-color: null !default;

// Form
$table-action-buttons-width: null !default;
$table-action-buttons-form-display: null !default;
$table-action-buttons-flex-direction: null !default;
$table-action-buttons-justify-content: null !default;
