// Base
$expando-rows-table-cell-background-color: null !default;
$expando-rows-table-cell-padding: null !default;
$expando-rows-table-cell-after-breakpoint-padding: null !default;
$expando-rows-row-background-color: null !default;
$expando-rows-row-font-weight: null !default;
$expando-rows-row-striping-background-color: null !default;