$tag-font-size: 1rem !default;
$tag-font-weight: normal !default;
$tag-line-height: 1.75 !default;
$tag-padding: 0.25rem 0.5rem !default;
$tag-border-radius: 0.25rem !default;
$tag-border-width: 1px !default;
