// Color 1
$tags-color-1-background-color: null !default;
$tags-color-1-text-color: null !default;
$tags-color-1-border-color: null !default;

// Color 1 light
$tags-color-1-light-background-color: null !default;
$tags-color-1-light-text-color: null !default;
$tags-color-1-light-border-color: null !default;

// Color 1 medium
$tags-color-1-medium-background-color: null !default;
$tags-color-1-medium-text-color: null !default;
$tags-color-1-medium-border-color: null !default;

// Color 1 dark
$tags-color-1-dark-background-color: null !default;
$tags-color-1-dark-text-color: null !default;
$tags-color-1-dark-border-color: null !default;

// Color 2
$tags-color-2-background-color: null !default;
$tags-color-2-text-color: null !default;
$tags-color-2-border-color: null !default;

// Color 2 light
$tags-color-2-light-background-color: null !default;
$tags-color-2-light-text-color: null !default;
$tags-color-2-light-border-color: null !default;

// Color 2 medium
$tags-color-2-medium-background-color: null !default;
$tags-color-2-medium-text-color: null !default;
$tags-color-2-medium-border-color: null !default;

// Color 2 dark
$tags-color-2-dark-background-color: null !default;
$tags-color-2-dark-text-color: null !default;
$tags-color-2-dark-border-color: null !default;

// Color 3
$tags-color-3-background-color: null !default;
$tags-color-3-text-color: null !default;
$tags-color-3-border-color: null !default;

// Color 3 light
$tags-color-3-light-background-color: null !default;
$tags-color-3-light-text-color: null !default;
$tags-color-3-light-border-color: null !default;

// Color 3 medium
$tags-color-3-medium-background-color: null !default;
$tags-color-3-medium-text-color: null !default;
$tags-color-3-medium-border-color: null !default;

// Color 3 dark
$tags-color-3-dark-background-color: null !default;
$tags-color-3-dark-text-color: null !default;
$tags-color-3-dark-border-color: null !default;

// Color 4
$tags-color-4-background-color: null !default;
$tags-color-4-text-color: null !default;
$tags-color-4-border-color: null !default;

// Color 4 light
$tags-color-4-light-background-color: null !default;
$tags-color-4-light-text-color: null !default;
$tags-color-4-light-border-color: null !default;

// Color 4 medium
$tags-color-4-medium-background-color: null !default;
$tags-color-4-medium-text-color: null !default;
$tags-color-4-medium-border-color: null !default;

// Color 4 dark
$tags-color-4-dark-background-color: null !default;
$tags-color-4-dark-text-color: null !default;
$tags-color-4-dark-border-color: null !default;

// Color 5
$tags-color-5-background-color: null !default;
$tags-color-5-text-color: null !default;
$tags-color-5-border-color: null !default;

// Color 5 light
$tags-color-5-light-background-color: null !default;
$tags-color-5-light-text-color: null !default;
$tags-color-5-light-border-color: null !default;

// Color 5 medium
$tags-color-5-medium-background-color: null !default;
$tags-color-5-medium-text-color: null !default;
$tags-color-5-medium-border-color: null !default;

// Color 5 dark
$tags-color-5-dark-background-color: null !default;
$tags-color-5-dark-text-color: null !default;
$tags-color-5-dark-border-color: null !default;

// Color 6
$tags-color-6-background-color: null !default;
$tags-color-6-text-color: null !default;
$tags-color-6-border-color: null !default;

// Color 6 light
$tags-color-6-light-background-color: null !default;
$tags-color-6-light-text-color: null !default;
$tags-color-6-light-border-color: null !default;

// Color 6 medium
$tags-color-6-medium-background-color: null !default;
$tags-color-6-medium-text-color: null !default;
$tags-color-6-medium-border-color: null !default;

// Color 6 dark
$tags-color-6-dark-background-color: null !default;
$tags-color-6-dark-text-color: null !default;
$tags-color-6-dark-border-color: null !default;
