$tags-flex-direction: row !default;
$tags-align-items: center !default;
$tags-justify-content: left !default;
$tags-flex-wrap: wrap !default;
$tags-gap: 0.5rem !default;
$tags-padding-top: 0.25rem !default;
$tags-padding-right: 0.5rem !default;
$tags-padding-bottom: 0.25rem !default;
$tags-padding-left: 0.5rem !default;
$tags-list-style: none !default;

/* Blue */
$tags-soft-blue-light-background-color: #eef8fe !default;
$tags-soft-blue-light-text-color: #006fb3 !default;
$tags-soft-blue-light-border-color: #006fb3 !default;
$tags-soft-blue-medium-background-color: #abdbf8 !default;
$tags-soft-blue-medium-text-color: #005c94 !default;
$tags-soft-blue-medium-border-color: #005c94 !default;
$tags-soft-blue-dark-background-color: #40adef !default;
$tags-soft-blue-dark-text-color: #003e64 !default;
$tags-soft-blue-dark-border-color: #003e64 !default;

/* Green */
$tags-soft-green-light-background-color: #ebfaef !default;
$tags-soft-green-light-text-color: #157b31 !default;
$tags-soft-green-light-border-color: #157b31 !default;
$tags-soft-green-medium-background-color: #94e6ab !default;
$tags-soft-green-medium-text-color: #116629 !default;
$tags-soft-green-medium-border-color: #1b9d3f !default;
$tags-soft-green-dark-background-color: #20bd4c !default;
$tags-soft-green-dark-text-color: #134421 !default;
$tags-soft-green-dark-border-color: #116629 !default;

/* Yellow */
$tags-soft-yellow-light-background-color: #fff7cf !default;
$tags-soft-yellow-light-text-color: #7d6900 !default;
$tags-soft-yellow-light-border-color: #7d6900 !default;
$tags-soft-yellow-medium-background-color: #fecf48 !default;
$tags-soft-yellow-medium-text-color: #685700 !default;
$tags-soft-yellow-medium-border-color: #a08700 !default;
$tags-soft-yellow-dark-background-color: #ddb900 !default;
$tags-soft-yellow-dark-text-color: #584a00 !default;
$tags-soft-yellow-dark-border-color: #685700 !default;

/* Orange */
$tags-soft-orange-light-background-color: #fff5ed !default;
$tags-soft-orange-light-text-color: #a75312 !default;
$tags-soft-orange-light-border-color: #a75312 !default;
$tags-soft-orange-medium-background-color: #ffcaa1 !default;
$tags-soft-orange-medium-text-color: #8b450f !default;
$tags-soft-orange-medium-border-color: #d66a17 !default;
$tags-soft-orange-dark-background-color: #ffa865 !default;
$tags-soft-orange-dark-text-color: #5e2f0a !default;
$tags-soft-orange-dark-border-color: #a75312 !default;

/* Red */
$tags-soft-red-light-background-color: #fff4f3 !default;
$tags-soft-red-light-text-color: #c3372c !default;
$tags-soft-red-light-border-color: #ffa49d !default;
$tags-soft-red-medium-background-color: #ffc7c3 !default;
$tags-soft-red-medium-text-color: #a22e25 !default;
$tags-soft-red-medium-border-color: #f84638 !default;
$tags-soft-red-dark-background-color: #ff7d73 !default;
$tags-soft-red-dark-text-color: #6e1f19 !default;
$tags-soft-red-dark-border-color: #a22e25 !default;

/* Violet */
$tags-soft-violet-light-background-color: #f7f6fc !default;
$tags-soft-violet-light-text-color: #6e5fae !default;
$tags-soft-violet-light-border-color: #bfb6e6 !default;
$tags-soft-violet-medium-background-color: #d6d1ef !default;
$tags-soft-violet-medium-text-color: #5b4f90 !default;
$tags-soft-violet-medium-border-color: #8c7cd2 !default;
$tags-soft-violet-dark-background-color: #a89cdd !default;
$tags-soft-violet-dark-text-color: #3d3560 !default;
$tags-soft-violet-dark-border-color: #5b4f90 !default;

/* Color 1 */
$tags-color-1-background-color: $tags-soft-blue-light-background-color !default;
$tags-color-1-text-color: $tags-soft-blue-light-text-color !default;
$tags-color-1-border-color: $tags-soft-blue-light-border-color !default;
$tags-color-1-light-background-color: $tags-soft-blue-light-background-color !default;
$tags-color-1-light-text-color: $tags-soft-blue-light-text-color !default;
$tags-color-1-light-border-color: $tags-soft-blue-light-border-color !default;
$tags-color-1-medium-background-color: $tags-soft-blue-medium-background-color !default;
$tags-color-1-medium-text-color: $tags-soft-blue-medium-text-color !default;
$tags-color-1-medium-border-color: $tags-soft-blue-medium-border-color !default;
$tags-color-1-dark-background-color: $tags-soft-blue-dark-background-color !default;
$tags-color-1-dark-text-color: $tags-soft-blue-dark-text-color !default;
$tags-color-1-dark-border-color: $tags-soft-blue-dark-border-color !default;

/* Color 2 */
$tags-color-2-background-color: $tags-soft-green-light-background-color !default;
$tags-color-2-text-color: $tags-soft-green-light-text-color !default;
$tags-color-2-border-color: $tags-soft-green-light-border-color !default;
$tags-color-2-light-background-color: $tags-soft-green-light-background-color !default;
$tags-color-2-light-text-color: $tags-soft-green-light-text-color !default;
$tags-color-2-light-border-color: $tags-soft-green-light-border-color !default;
$tags-color-2-medium-background-color: $tags-soft-green-medium-background-color !default;
$tags-color-2-medium-text-color: $tags-soft-green-medium-text-color !default;
$tags-color-2-medium-border-color: $tags-soft-green-medium-border-color !default;
$tags-color-2-dark-background-color: $tags-soft-green-dark-background-color !default;
$tags-color-2-dark-text-color: $tags-soft-green-dark-text-color !default;
$tags-color-2-dark-border-color: $tags-soft-green-dark-border-color !default;

/* Color 3 */
$tags-color-3-background-color: $tags-soft-yellow-light-background-color !default;
$tags-color-3-text-color: $tags-soft-yellow-light-text-color !default;
$tags-color-3-border-color: $tags-soft-yellow-light-border-color !default;
$tags-color-3-light-background-color: $tags-soft-yellow-light-background-color !default;
$tags-color-3-light-text-color: $tags-soft-yellow-light-text-color !default;
$tags-color-3-light-border-color: $tags-soft-yellow-light-border-color !default;
$tags-color-3-medium-background-color: $tags-soft-yellow-medium-background-color !default;
$tags-color-3-medium-text-color: $tags-soft-yellow-medium-text-color !default;
$tags-color-3-medium-border-color: $tags-soft-yellow-medium-border-color !default;
$tags-color-3-dark-background-color: $tags-soft-yellow-dark-background-color !default;
$tags-color-3-dark-text-color: $tags-soft-yellow-dark-text-color !default;
$tags-color-3-dark-border-color: $tags-soft-yellow-dark-border-color !default;

/* Color 4 */
$tags-color-4-background-color: $tags-soft-orange-light-background-color !default;
$tags-color-4-text-color: $tags-soft-orange-light-text-color !default;
$tags-color-4-border-color: $tags-soft-orange-light-border-color !default;
$tags-color-4-light-background-color: $tags-soft-orange-light-background-color !default;
$tags-color-4-light-text-color: $tags-soft-orange-light-text-color !default;
$tags-color-4-light-border-color: $tags-soft-orange-light-border-color !default;
$tags-color-4-medium-background-color: $tags-soft-orange-medium-background-color !default;
$tags-color-4-medium-text-color: $tags-soft-orange-medium-text-color !default;
$tags-color-4-medium-border-color: $tags-soft-orange-medium-border-color !default;
$tags-color-4-dark-background-color: $tags-soft-orange-dark-background-color !default;
$tags-color-4-dark-text-color: $tags-soft-orange-dark-text-color !default;
$tags-color-4-dark-border-color: $tags-soft-orange-dark-border-color !default;

/* Color 5 */
$tags-color-5-background-color: $tags-soft-red-light-background-color !default;
$tags-color-5-text-color: $tags-soft-red-light-text-color !default;
$tags-color-5-border-color: $tags-soft-red-light-border-color !default;
$tags-color-5-light-background-color: $tags-soft-red-light-background-color !default;
$tags-color-5-light-text-color: $tags-soft-red-light-text-color !default;
$tags-color-5-light-border-color: $tags-soft-red-light-border-color !default;
$tags-color-5-medium-background-color: $tags-soft-red-medium-background-color !default;
$tags-color-5-medium-text-color: $tags-soft-red-medium-text-color !default;
$tags-color-5-medium-border-color: $tags-soft-red-medium-border-color !default;
$tags-color-5-dark-background-color: $tags-soft-red-dark-background-color !default;
$tags-color-5-dark-text-color: $tags-soft-red-dark-text-color !default;
$tags-color-5-dark-border-color: $tags-soft-red-dark-border-color !default;

/* Color 6 */
$tags-color-6-background-color: $tags-soft-violet-light-background-color !default;
$tags-color-6-text-color: $tags-soft-violet-light-text-color !default;
$tags-color-6-border-color: $tags-soft-violet-light-border-color !default;
$tags-color-6-light-background-color: $tags-soft-violet-light-background-color !default;
$tags-color-6-light-text-color: $tags-soft-violet-light-text-color !default;
$tags-color-6-light-border-color: $tags-soft-violet-light-border-color !default;
$tags-color-6-medium-background-color: $tags-soft-violet-medium-background-color !default;
$tags-color-6-medium-text-color: $tags-soft-violet-medium-text-color !default;
$tags-color-6-medium-border-color: $tags-soft-violet-medium-border-color !default;
$tags-color-6-dark-background-color: $tags-soft-violet-dark-background-color !default;
$tags-color-6-dark-text-color: $tags-soft-violet-dark-text-color !default;
$tags-color-6-dark-border-color: $tags-soft-violet-dark-border-color !default;
