// Base
$test-cases-header-margin-top: null !default;
$test-cases-header-margin-bottom: null !default;
$test-cases-footer-margin-top: null !default;
$test-cases-footer-margin-bottom: null !default;
$test-cases-column-2-p-margin: null !default;

// Color Overview
$color-overview-li-div-padding: null !default;
$color-overview-li-div-width: null !default;
$color-overview-li-div-breakpoint: null !default;
$color-overview-li-div-breakpoint-width: null !default;
$color-overview-li-div-breakpoint-flex-grow: null !default;

// Color Block
$color-block-li-breakpoint: null !default;
$color-block-li-div-breakpoint: null !default;
$color-block-li-div-div-width: null !default;
$color-block-li-div-div-min-width: null !default;
$color-block-li-div-div-height: null !default;
$color-block-li-div-div-font-size: null !default;
$color-block-li-div-div-padding: null !default;
$color-block-li-div-div-flex-grow: null !default;
$color-block-li-div-p-margin: null !default;
