// tile
$tile-flex-direction: null !default;
$tile-justify-content: null !default;
$tile-align-items: null !default;
$tile-gap: null !default;
$tile-background-color: null !default;
$tile-text-color: null !default;
$tile-padding-top: null !default;
$tile-padding-right: null !default;
$tile-padding-bottom: null !default;
$tile-padding-left: null !default;
$tile-border-width: null !default;
$tile-border-style: null !default;
$tile-border-color: null !default;
$tile-border-radius: null !default;
$tile-box-shadow: null !default;
$tile-cursor: null !default;
$tile-image-max-width: null !default;
$tile-child-pointer-events: null !default;

// tiles
$tiles-align-items: null !default;

// link
$tile-link-text-color: null !default;
