// Base
$tile-image-cover-object-position: null !default;
$tile-image-cover-max-height: null !default;
$tile-image-cover-margin-top: null !default;
$tile-image-cover-margin-right: null !default;
$tile-image-cover-margin-left: null !default;
