:root {
  $base-background-color: #f0f0f0;
  $base-text-color: #000;
  $base-border-color: #a3a3a3;

  --error-background-color: #ffd9d9;
  --error-text-color: #000;
  --error-border-color: #b25451;

  --explanation-background-color: #d9edff;
  --explanation-text-color: #000;
  --explanation-border-color: #537399;

  --warning-background-color: #fff2d1;
  --warning-text-color: #000;
  --warning-border-color: #aa5d0c;

  --confirmation-background-color: #deffdb;
  --confirmation-text-color: #000;
  --confirmation-border-color: #627660;

  --system-background-color: var(--grey-2);
  --system-text-color: #000;
  --system-border-color: #6d6d6d;
}
