:root {
  /* Colors */
  --branding-color-1: LightSalmon;
  --branding-color-2: SeaShell;
  --branding-color-accent: LightSeaGreen;

  /* Branding color combinations. 
  e.g if a branding color is used as a background-color. What should the text
  and link colors be.

  /* Branding color 1 */
  --branding-color-1-background-color: var(--branding-color-1);
  --branding-color-1-text-color: black;

  --branding-color-1-link-text-color: var(--branding-color-1-text-color);
  --branding-color-1-link-active-text-color: var(--branding-color-1-text-color);
  --branding-color-1-link-visited-text-color: var(
    --branding-color-1-text-color
  );
  --branding-color-1-link-hover-text-color: var(--branding-color-1-text-color);
  --branding-color-1-link-visited-hover-text-color: var(
    --branding-color-1-text-color
  );

  /* Branding color 2 */
  --branding-color-2-background-color: var(--branding-color-2);
  --branding-color-2-text-color: black;

  --branding-color-2-link-text-color: var(--branding-color-2-text-color);
  --branding-color-2-link-active-text-color: var(--branding-color-2-text-color);
  --branding-color-2-link-visited-text-color: var(
    --branding-color-2-text-color
  );
  --branding-color-2-link-hover-text-color: var(--branding-color-2-text-color);
  --branding-color-2-link-visited-hover-text-color: var(
    --branding-color-2-text-color
  );

  /* Accent color */
  --branding-color-accent-background-color: var(--branding-color-accent);
  --branding-color-accent-text-color: white;

  --branding-color-accent-link-text-color: var(
    --branding-color-accent-text-color
  );
  --branding-color-accent-link-active-text-color: var(
    --branding-color-accent-text-color
  );
  --branding-color-accent-link-visited-text-color: var(
    --branding-color-accent-text-color
  );
  --branding-color-accent-link-hover-text-color: var(
    --branding-color-accent-text-color
  );
  --branding-color-accent-link-visited-hover-text-color: var(
    --branding-color-accent-text-color
  );
}
