/* Icon */

@use "../fonts/tabler-icons/glyphs";
@use "@minvws/manon/mixins/icon";

$missing-glyph: "\25A1";

$glyphs: (
  // Base icon set
  "descending": glyphs.$ti-icon-caret-down-filled,
  "ascending": glyphs.$ti-icon-caret-up-filled,
  "sort": glyphs.$ti-icon-caret-up-down-filled,
  "check": glyphs.$ti-icon-check,
  "pinterest": glyphs.$ti-icon-brand-pinterest,
  "twitter-inverse": glyphs.$ti-icon-brand-twitter-filled,
  "twitter": glyphs.$ti-icon-brand-twitter,
  "flickr": glyphs.$ti-icon-brand-flickr,
  "youtube": glyphs.$ti-icon-brand-youtube,
  "instagram": glyphs.$ti-icon-brand-instagram,
  "facebook": glyphs.$ti-icon-brand-facebook,
  "chevron-left": glyphs.$ti-icon-chevron-left,
  "hamburger": glyphs.$ti-icon-menu-2,
  "chevron-right": glyphs.$ti-icon-chevron-right,
  "questionmark": glyphs.$ti-icon-question-mark,
  "speech": glyphs.$ti-icon-message-circle-2,
  "arrow-down": glyphs.$ti-icon-arrow-down,
  "arrow-up": glyphs.$ti-icon-arrow-up,
  "arrow-right": glyphs.$ti-icon-arrow-right,
  "arrow-left": glyphs.$ti-icon-arrow-left,
  "map": glyphs.$ti-icon-map-pin,
  "outgoing": glyphs.$ti-icon-arrow-up-right,
  "pause": glyphs.$ti-icon-player-pause,
  "trash": glyphs.$ti-icon-trash,
  "user": glyphs.$ti-icon-user,
  "chevron-up": glyphs.$ti-icon-chevron-up,
  "chevron-down": glyphs.$ti-icon-chevron-down,
  "plus": glyphs.$ti-icon-plus,
  "calendar": glyphs.$ti-icon-calendar,
  "download": glyphs.$ti-icon-download,
  "heart": glyphs.$ti-icon-heart,
  "letter": glyphs.$ti-icon-mail,
  "reset": glyphs.$ti-icon-refresh,
  "play": glyphs.$ti-icon-player-play,
  "search": glyphs.$ti-icon-search,
  "clock": glyphs.$ti-icon-clock,
  "close": glyphs.$ti-icon-x,
  "line": glyphs.$ti-icon-minus,
  "closed": glyphs.$ti-icon-lock,
  "on-off": glyphs.$ti-icon-power,
  "to-top": glyphs.$ti-icon-arrow-bar-to-up,
  "grid": glyphs.$ti-icon-grid-dots,
  "list": glyphs.$ti-icon-list,
  "csv-file": glyphs.$ti-icon-file-type-csv,
  "html-file": glyphs.$ti-icon-file-type-html,
  "pdf-file": glyphs.$ti-icon-file-type-pdf,
  "document": glyphs.$ti-icon-file-text,
  "bar-graph": glyphs.$ti-icon-chart-bar,
  "tree-graph": glyphs.$ti-icon-list-tree,
  "grid-view": glyphs.$ti-icon-layout-grid,
  "list-view": glyphs.$ti-icon-layout-list,
  // TODO: Icon set "Health and care"
  "voor-elkaar-zorgen": $missing-glyph,
  "hart-met-oudere": $missing-glyph,
  "hart-tussen-2-uitgestoken-handen": $missing-glyph,
  "hoofd-silhouet-hoesten": $missing-glyph,
  "hoofd-silhouet-met-wattenstaafje-bij-mond": $missing-glyph,
  "jeugdzorg": $missing-glyph,
  "gezinszorg-met-oudere": $missing-glyph,
  "gezinszorg": $missing-glyph,
  "man-met-hart": $missing-glyph,
  "man-met-pleister1": $missing-glyph,
  "man-met-pot-met-deksel": $missing-glyph,
  "medisch-beroepsgeheim": $missing-glyph,
  "verzorgingstehuis": $missing-glyph,
  "langdurige-zorg": $missing-glyph,
  "persoon-in-rolstoel-en-munten": $missing-glyph,
  "persoon-met-rugpijn": $missing-glyph,
  "persoon-staand-met-hart": $missing-glyph,
  "rollator-bij-trap": $missing-glyph,
  "kinderbescherming": $missing-glyph,
  "verboden-te-roken": $missing-glyph,
  "vrouw-en-persoon-in-rolstoel": $missing-glyph,
  "mantelzorg": $missing-glyph,
  "ouderenzorg": $missing-glyph,
  "welzijnswerk-ouderen": $missing-glyph,
  "noodopvang": $missing-glyph,
  "opvang-en-nazorg": $missing-glyph,
  "hoofd-silhouet-met-wattenstaafje-bij-neus": $missing-glyph,
  "rokende-filtersigaret": $missing-glyph,
  "koorts": $missing-glyph,
  "benauwdheid": $missing-glyph,
  "geen-spatscherm": $missing-glyph,
  "schone-handen": $missing-glyph,
  "mondkapje": $missing-glyph,
  "man-met-mondkapje": $missing-glyph,
  "puber-met-mondkapje": $missing-glyph,
  "psychologische-hulp": $missing-glyph,
  "vrouw-met-pot-met-deksel": $missing-glyph,
  "coronavaccinsvg": $missing-glyph,
  "ehbo-aed": $missing-glyph,
  "ehbo-ruimte": $missing-glyph,
  "kolfruimte": $missing-glyph,
  "esculaap": $missing-glyph,
  "verbod-rolstoel": $missing-glyph,
  // TODO: Icon set "Computers and internet"
  "chip": $missing-glyph,
  "computer": $missing-glyph,
  "oude-computer": $missing-glyph,
  "dataverkeer": $missing-glyph,
  "digitaal-onderzoek": $missing-glyph,
  "digitale-uitwisseling": $missing-glyph,
  "nieuwe-computer": $missing-glyph,
  "gamecontroller": $missing-glyph,
  "grafieken-op-beeldscherm": $missing-glyph,
  "beeldscherm-met-hartpng": $missing-glyph,
  "hybride-laptop": $missing-glyph,
  "informatie-op-internet": $missing-glyph,
  "internet": $missing-glyph,
  "ga-naar-www": $missing-glyph,
  "internet-archief": $missing-glyph,
  "laptop": $missing-glyph,
  "laptop-met-huis": $missing-glyph,
  "cybersecurity": $missing-glyph,
  "printer": $missing-glyph,
  "server": $missing-glyph,
  "smartphone": glyphs.$ti-icon-device-mobile,
  "smartphone-bedienen-met-vinger": $missing-glyph,
  "usb-lader": $missing-glyph,
  "tablet": $missing-glyph,
  "televisie": $missing-glyph,
  "website": $missing-glyph,
  "webwinkel": $missing-glyph,
  "ict": $missing-glyph,
  "computercode": $missing-glyph,
  "digitalisering": $missing-glyph,
  "ux-design": $missing-glyph,
  "database": $missing-glyph,
  "application": $missing-glyph,
  "basisregistratie": $missing-glyph,
  "gegevensuitwisseling": $missing-glyph,
  "smartphone-met-streep-erdoor": $missing-glyph,
  "beeldscherm-met-streep-erdoor": $missing-glyph,
  "inloggen": $missing-glyph,
  "online-leren": $missing-glyph,
  "online-groepstraining": $missing-glyph,
  "wifi": $missing-glyph,
  "beeldbellen": $missing-glyph,
  "zendmast": $missing-glyph,
  // TODO: Icon set "Buildings"
  "2-hoge-gebouwen-met-pijl-naar-rechts": $missing-glyph,
  "huurwoning": $missing-glyph,
  "bakkerijketens": $missing-glyph,
  "koopwoning": $missing-glyph,
  "cateringbedrijven": $missing-glyph,
  "circulaire-bouw": $missing-glyph,
  "dorp": $missing-glyph,
  "gemeente-en-provinciefonds": $missing-glyph,
  "leefbaarheid": $missing-glyph,
  "evenemententent": $missing-glyph,
  "festival-ehbo": $missing-glyph,
  "schone-industrie": $missing-glyph,
  "fabriek-aan-water": $missing-glyph,
  "fabriek-met-stapel-munten": $missing-glyph,
  "uw-cak": $missing-glyph,
  "gebouw-cjib": $missing-glyph,
  "gebouw-cvz": $missing-glyph,
  "gebouw-igz": $missing-glyph,
  "villa": $missing-glyph,
  "ambassade-consulaat": $missing-glyph,
  "school": $missing-glyph,
  "sector-speciaal-onderwijs": $missing-glyph,
  "rechtbank": $missing-glyph,
  "home": glyphs.$ti-icon-home,
  "overstroming-dreiging-1": $missing-glyph,
  "overstroming-dreiging-2": $missing-glyph,
  "overstroming-dreiging-3": $missing-glyph,
  "leegstand": $missing-glyph,
  "kleinschalig-wonen": $missing-glyph,
  "instortingsgevaar": $missing-glyph,
  "woninginbraak": $missing-glyph,
  "huis-visueel-gehandicapten": $missing-glyph,
  "huis-auditief-gehandicapten": $missing-glyph,
  "lokaal-welzijnswerk": $missing-glyph,
  "huis-psychiatrische-patienten": $missing-glyph,
  "verpleeghuis": $missing-glyph,
  "huis-verstandelijk-gehandicapten": $missing-glyph,
  "huis-lichamelijk-gehandicapten": $missing-glyph,
  "woning-gelijkvloers-wel-rollator": $missing-glyph,
  "rolstoel-toegankelijke-woning": $missing-glyph,
  "huurtoeslag": $missing-glyph,
  "adl-woning": $missing-glyph,
  "huisvesting": $missing-glyph,
  "woning-met-verdieping": $missing-glyph,
  "woning-met-traplift": $missing-glyph,
  "coffeeshop": $missing-glyph,
  "coffeeshop-in-wijk": $missing-glyph,
  "huiselijk-geweld": $missing-glyph,
  "beschermde-woonomgeving": $missing-glyph,
  "laag-huis": $missing-glyph,
  "grootstedelijk": $missing-glyph,
  "excellente-scholen": $missing-glyph,
  "gebouw-nvwa": $missing-glyph,
  "gebouw-vws": $missing-glyph,
  "gebouw-zini": $missing-glyph,
  "uitvoering": $missing-glyph,
  "hoog-huis": $missing-glyph,
  "basis-kantoorgebouw": $missing-glyph,
  "schade": $missing-glyph,
  "flat": $missing-glyph,
  "leegstand-en-tijdelijk-gebruik": $missing-glyph,
  "ziekenhuis": $missing-glyph,
  "gebouwenbeheer": $missing-glyph,
  "hoogbouw-met-pijl-naar-2-hoge-gebouwen": $missing-glyph,
  "man-torso-voor-hoogbouw": $missing-glyph,
  "gebouw-ggz": $missing-glyph,
  "zorgkantoor": $missing-glyph,
  "grote-brand": $missing-glyph,
  "actieve-gevel": $missing-glyph,
  "kantoor-vol-energie": $missing-glyph,
  "ondernemingen": $missing-glyph,
  "horecaketens": $missing-glyph,
  "toren": $missing-glyph,
  "moskee": $missing-glyph,
  "ontwerp": $missing-glyph,
  "rijtjeshuis": $missing-glyph,
  "industrie": $missing-glyph,
  "industrie-met-druppel-water": $missing-glyph,
  "schuur-met-silo-erachter": $missing-glyph,
  "stacaravan": $missing-glyph,
  "supermarktketens": $missing-glyph,
  "megastallen": $missing-glyph,
  "monument": $missing-glyph,
  "dreiging-van-buitenaf": $missing-glyph,
  "drie-personen-in-huis": $missing-glyph,
  "gebouw-met-busje": $missing-glyph,
  "gemeentehuissvg": $missing-glyph
);

:root {
  --icon-font-family: "tabler-icons";
}

@include icon.define-icons($glyphs);
