/* Notification styling */

:root {
  --notification-error-border-color: transparent;
  --notification-confirmation-border-color: transparent;
  --notification-explanation-border-color: transparent;
  --notification-warning-border-color: transparent;
  --notification-system-border-color: transparent;
}
