/*---------------------------------------------------------------*/
/*------ components/article-section-divider-line.scss -----------*/
/*---------------------------------------------------------------*/
@use "article-section-divider-line-variables";

main > article > div > section {
  border-width: var(--article-section-divider-line-border-width);
  border-style: var(--article-section-divider-line-border-style);
  border-color: var(--article-section-divider-line-border-color);
  padding: var(--article-section-divider-line-padding, 1rem 0);
}
