/*---------------------------------------------------------------*/
/*--- components/article-section-divider-line-variables.scss ----*/
/*---------------------------------------------------------------*/
:root {
  --article-section-divider-line-border-width: 1px 0 0 0;
  --article-section-divider-line-border-style: solid;
  --article-section-divider-line-border-color: #ccc;
}
