/*---------------------------------------------------------------*/
/*---------------------- article-section.scss -------------------*/
/*---------------------------------------------------------------*/
@use "article-section-variables";

article {
  > section,
  > div > section {
    display: flex;
    flex-direction: var(--article-section-flex-direction);
    gap: var(--article-section-gap);
    align-items: var(--article-section-align-items);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: var(--article-section-padding-top);
    padding-right: var(--article-section-padding-right);
    padding-bottom: var(--article-section-padding-bottom);
    padding-left: var(--article-section-padding-left);
    max-width: var(--article-section-max-width);
  }
}
