/*------------------------------------------------------------------------*/
/*------------- breadcrumb-bar-content-wrapper-variables.scss ------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Layout */
  --breadcrumb-bar-content-wrapper-flex-direction: var(
    --content-flex-direction
  );
  --breadcrumb-bar-content-wrapper-justify-content: var(
    --content-justify-content
  );
  --breadcrumb-bar-content-wrapper-align-items: var(--content-align-items);
  --breadcrumb-bar-content-wrapper-gap: var(--content-gap);
  --breadcrumb-bar-content-wrapper-padding-top: 0;
  --breadcrumb-bar-content-wrapper-padding-right: var(
    --content-padding-right,
    1rem
  );
  --breadcrumb-bar-content-wrapper-padding-bottom: 0;
  --breadcrumb-bar-content-wrapper-padding-left: var(
    --content-padding-left,
    1rem
  );
  --breadcrumb-bar-content-wrapper-max-width: var(--content-max-width, 100%);
}
