/*---------------------------------------------------------------*/
/*-------------------- button-dropdown.scss ---------------------*/
/*---------------------------------------------------------------*/
@use "button-dropdown-variables";

.dropdown {
  width: auto;
  margin: 0;
  padding: 0;
  gap: 0;
}
