/*---------------------------------------------------------------*/
/*------------------- components/code-base.scss -----------------*/
/*---------------------------------------------------------------*/
@use "code-base-variables";

$breakpoint: 24rem !default;

%code {
  background-color: var(--code-base-background-color, inherit);
  color: var(--code-base-text-color, inherit);
  width: 100%;
  word-break: var(--code-base-word-break, inherit);
  overflow-wrap: var(--code-base-overflow-wrap, inherit);
  padding: var(--code-base-padding, 0);
  box-sizing: border-box;

  @media (width >= $breakpoint) {
    word-break: var(--code-base-breakpoint-word-break, normal);
    overflow-wrap: var(--code-base-breakpoint-overflow-wrap, anywhere);
  }
}

/* Code */
code {
  @extend %code;
  font-size: var(--code-base-font-size, inherit);
}

/* Code within text elements */
span,
li,
p {
  > code {
    @extend %code;
  }
}

/* Code within headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  > code {
    @extend %code;
  }
}

/* Code within links */
a {
  &:hover,
  &:visited,
  &:focus,
  &:active {
    > code {
      @extend %code;
    }
  }
}
