/*----------------------------------------------------------------------------------*/
/*------------ components/divider-lines-within-content-block.scss ------------------*/
/*----------------------------------------------------------------------------------*/
@use "divider-lines-within-content-block-variables";

%divider-line-contentblock {
  border-width: var(--divider-lines-within-content-block-border-width);
  border-style: var(--divider-lines-within-content-block-border-style);
  border-color: var(--divider-lines-within-content-block-border-color);

  &:first-of-type {
    border-width: var(
      --divider-lines-within-content-block-first-of-type-border-width
    );
    border-style: var(
      --divider-lines-within-content-block-first-of-type-border-style
    );
    border-color: var(
      --divider-lines-within-content-block-first-of-type-border-color
    );
  }
}

main {
  > article,
  > section,
  > div {
    > article,
    > section,
    > div {
      @extend %divider-line-contentblock;
    }
  }
}
