/*---------------------------------------------------------------*/
/*----------------- form-horizontal.scss -------------------*/
/*---------------------------------------------------------------*/
@use "form-horizontal-variables";

$breakpoint: 24rem !default;

form.horizontal {
  flex-direction: column;
  gap: var(--form-horizontal-gap);
  flex-wrap: wrap;

  button,
  a.button,
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    margin-left: 0;
  }

  > div,
  > section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: var(--form-horizontal-justify-content);
    flex-wrap: wrap;
    gap: var(--form-horizontal-group-gap)
      var(--form-horizontal-group-vertical-gap);
    margin: 0;

    &.checkbox {
      margin: 0;
      gap: var(--checkbox-gap);
      flex-wrap: nowrap;

      @media (width >= $breakpoint) {
        max-width: var(--input-column);
        margin-left: var(--label-column);
      }

      %horizontal-checkbox,
      input[type="checkbox"] {
        /* Align checkbox with input fields */
        margin-left: 0;
        flex-grow: 0;
        margin-right: 0;

        & + label {
          max-width: calc(100% - var(--checkbox-width));
        }
      }

      > div {
        @extend %horizontal-checkbox;

        input[type="checkbox"] {
          margin-left: 0;
        }
      }
    }

    &.radio {
      gap: var(--form-radio-margin-right);
      flex-wrap: nowrap;

      %horizontal-radio,
      input[type="radio"] {
        flex-grow: 0;
        margin-right: 0;

        & + label {
          max-width: calc(100% - var(--radio-input-width));
        }

        @media (width >= $breakpoint) {
          /* Align radio with input fields */
          margin-left: var(--label-column);
        }
      }

      > div {
        @extend %horizontal-radio;

        input[type="radio"] {
          margin-left: 0;
        }
      }
    }

    &.checkbox,
    &.radio {
      justify-content: flex-start;

      > .nota-bene {
        margin-left: var(--label-column);
      }
    }

    /* Notifications */
    &.error,
    &.warning,
    &.explanation,
    &.confirmation,
    &.system {
      flex-direction: var(
        --form-horizontal-notification-block-element-flex-direction
      );
      justify-content: var(
        --form-horizontal-notification-block-element-justify-content
      );
      align-items: var(
        --form-horizontal-notification-block-element-align-items
      );
      gap: var(--form-horizontal-notification-block-element-gap);
      margin: 0;

      > * {
        max-width: 100%;
      }
    }

    input[type="color"] {
      max-width: var(--form-input-color-max-width);
    }

    > * {
      flex-grow: 1;
      box-sizing: border-box;
    }

    > button,
    > a.button,
    > input[type="button"],
    > input[type="submit"],
    > input[type="reset"] {
      flex-grow: 0;
    }

    @media (width >= $breakpoint) {
      flex-wrap: nowrap;

      > * {
        max-width: var(--input-column);
      }

      label {
        width: 100%;
        max-width: var(--form-horizontal-label-max-width);
      }
    }
  }

  .option-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (width >= $breakpoint) {
      > * {
        margin-left: var(--label-column);
      }
    }
  }

  @media (width >= $breakpoint) {
    %align-to-input {
      width: auto;
      max-width: 100%;
      margin-left: var(--label-column);
      flex-grow: 0;
    }

    > button,
    > a.button,
    > input[type="button"],
    > input[type="submit"],
    > input[type="reset"],
    > a {
      @extend %align-to-input;
    }

    > div {
      > button,
      > a.button,
      > input[type="button"],
      > input[type="submit"],
      > input[type="reset"],
      > a {
        @extend %align-to-input;
      }
    }

    > div.horizontal,
    > div.button-container {
      max-width: var(--input-column);
      margin-left: var(--label-column);
      flex-wrap: wrap;

      button,
      a.button,
      input[type="button"],
      input[type="submit"],
      input[type="reset"] {
        max-width: 100%;
        margin-left: 0;
      }
    }
  }
}
