/*---------------------------------------------------------------*/
/*------ form-fieldset-visually-hidden-horizontal.scss -----*/
/*---------------------------------------------------------------*/
@use "form-horizontal-variables";
/* Uses form-fieldset-visually-hidden */

$breakpoint-1: 24rem !default;

form.horizontal {
  > fieldset > fieldset {
    legend {
      font-weight: inherit;
      margin: 0;
      box-sizing: border-box;
      width: var(--label-column);
      float: left;
      padding-right: var(--form-horizontal-gap);
      margin-top: var(--form-horizontal-fieldset-label-margin-top);
    }

    > * {
      @media (width >= $breakpoint-1) {
        width: var(--input-column);
        float: right;
      }
    }
  }
}
