/*---------------------------------------------------------------*/

/*------------- components/horizontal-scroll.scss ---------------*/

/*---------------------------------------------------------------*/
%horizontal-scroll,
.horizontal-scroll {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
