/*-----------------------------------------------------------*/
/*-------- components/skip-to-content-variables.scss --------*/
/*-----------------------------------------------------------*/
:root {
  --skip-to-content-display: static;
  --skip-to-content-top: 0;
  --skip-to-content-right: 0;
  --skip-to-content-bottom: 0;
  --skip-to-content-left: 0;
  --skip-to-content-background-color: var(--application-base-accent-color);
  --skip-to-content-text-color: var(--application-base-accent-color-text-color);
  --skip-to-content-text-align: center;
  --skip-to-content-padding: 0 1rem;
  --skip-to-content-min-height: 2.75rem;
  --skip-to-content-width: 100%;
  --skip-to-content-font-size: var(--application-font-size);

  /* Focus */
  --skip-to-content-border-width: 0;
  --skip-to-content-border-style: solid;
  --skip-to-content-border-color: transparent;

  /* Hover */
  --skip-to-content-hover-background-color: var(
    --application-base-accent-color-hover
  );
  --skip-to-content-hover-text-color: var(
    --application-base-accent-color-hover-text-color
  );
  --skip-to-content-hover-border-width: 1px;
  --skip-to-content-hover-border-style: solid;
  --skip-to-content-hover-border-color: var(
    --application-base-accent-color-hover
  );
}
