/*---------------------------------------------------------------*/
/*-------------------------- tile.scss --------------------------*/
/*---------------------------------------------------------------*/
@use "tile-variables";
@use "mixins/tile";

.tile {
  @include tile.tile("tile-");
}

.tiles {
  align-items: var(--tiles-align-items);

  /* render each div, nav or section directly within a tiles group as a tile */
  > div,
  > nav,
  > section {
    @include tile.tile("tile-");
  }
}

ul.tiles {
  padding-left: 0;

  > li {
    @include tile.tile("tile-");

    > a {
      color: var(--text-dark);
      text-decoration: none;
    }
  }
}
