/*------------------------------------------------------------------------*/
/*--------------- main-variables-content-wrapper-div.css -----------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Div */
  --div-content-wrapper-gap: var(--content-gap);
  --div-content-wrapper-padding-top: var(--content-padding-top);
  --div-content-wrapper-padding-right: var(--content-padding-right);
  --div-content-wrapper-padding-bottom: var(--content-padding-bottom);
  --div-content-wrapper-padding-left: var(--content-padding-left);
}