/*------------------------------------------------------------------------*/
/*-------------------- docs-styling/div/div-variables.css ----------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Main */
  --main-gap: var(--content-gap);
  --main-padding-top: var(--page-whitespace-top);
  --main-padding-right: var(--page-whitespace-right);
  --main-padding-bottom: var(--page-whitespace-bottom);
  --main-padding-left: var(--page-whitespace-left);

  /* Div */
  --div-gap: var(--content-gap);
  --div-padding-top: 0;
  --div-padding-right: 0;
  --div-padding-bottom: 0;
  --div-padding-left: 0;
}
