@use "variables";

/* Open sans */
/* Regular */
@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: var(--text-body-font-display, swap);
  src: url("#{variables.$font-path}/OpenSans/OpenSans-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: italic;
  font-display: var(--text-body-font-display, swap);
  src: url("#{variables.$font-path}/OpenSans/OpenSans-Italic.woff2")
    format("woff2");
}

/* Semi bold */
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: var(--text-body-font-display, swap);
  src: url("#{variables.$font-path}/OpenSans/OpenSans-SemiBold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  font-display: var(--text-body-font-display, swap);
  src: url("#{variables.$font-path}/OpenSans/OpenSans-SemiBoldItalic.woff2")
    format("woff2");
}

/* Icon font */
@font-face {
  font-family: "tabler-icons";
  font-weight: normal;
  font-style: normal;
  font-display: var(--text-icon-font-display, block);
  src: url("#{variables.$font-path}/tabler-icons/tabler-icons.eot?v2.44.0");
  src:
    url("#{variables.$font-path}/tabler-icons/tabler-icons.eot?#iefix-v2.44.0")
      format("embedded-opentype"),
    url("#{variables.$font-path}/tabler-icons/tabler-icons.woff2?v2.44.0")
      format("woff2"),
    url("#{variables.$font-path}/tabler-icons/tabler-icons.woff?")
      format("woff"),
    url("#{variables.$font-path}/tabler-icons/tabler-icons.ttf?v2.44.0")
      format("truetype");
}
