/*------------------------------------------------------------------------*/
/*------ docs-styling/section/section-content-wrapper-variables.css ------*/
/*------------------------------------------------------------------------*/

:root {
  /* Resetting previously set styles. */
  /* This is only needed if these styles have been added */

  /* Main */
  --main-gap: 0;
  --main-padding-top: 0;
  --main-padding-right: 0;
  --main-padding-bottom: 0;
  --main-padding-left: 0;

  /* Section */
  --section-gap: 0;
  --section-padding-top: 0;
  --section-padding-right: 0;
  --section-padding-bottom: 0;
  --section-padding-left: 0;

  /* -- end of the style reset -- */

  /* Section content wrapper */
  --section-content-wrapper-gap: var(--content-gap);
  --section-content-wrapper-padding-top: var(--content-padding-top);
  --section-content-wrapper-padding-right: var(--content-padding-right);
  --section-content-wrapper-padding-bottom: var(--content-padding-bottom);
  --section-content-wrapper-padding-left: var(--content-padding-left);
}