/*------------------------------------------------------------------------*/
/*------------- docs-styling/section/section-variables.css ---------------*/
/*------------------------------------------------------------------------*/

:root {
  /* Main */
  --main-gap: var(--content-gap);
  --main-padding-top: var(--page-whitespace-top);
  --main-padding-right: var(--page-whitespace-right);
  --main-padding-bottom: var(--page-whitespace-bottom);
  --main-padding-left: var(--page-whitespace-left);

  /* Section */
  --section-gap: var(--content-gap);
  --section-padding-top: 0;
  --section-padding-right: 0;
  --section-padding-bottom: 0;
  --section-padding-left: 0;
}