/* Application base styling - Variables */
/* This file contains styling on high level elements such as the body */

@use "color-scheme";

:root {
  --application-base-font-family: "IBM Plex Sans", sans-serif;
  --application-base-text-color: #{color-scheme.$oc-gray-9};
  --application-font-size: 1rem;
  --application-base-background-color: #f3f3f3;
}
