/* Application base styling - Variables */
/* This file contains styling on high level elements such as the body */

:root {
  --application-base-font-family: "IBM Plex Sans", sans-serif;
  --application-base-text-color: #3b3b3b;
  --application-font-size: 1rem;
  --application-base-background-color: #f3f3f3;
}
