/*------------------------------------------------------------------------*/
/*------------------------ main-tests-reset.css --------------------------*/
/*------------------------------------------------------------------------*/
main > div {
  display: flex;
  flex-direction: var(--content-flex-direction);
  justify-content: var(--content-justify-content);
  align-items: var(--content-align-items);
  gap: var(--content-gap);
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: var(--content-padding-top);
  padding-right: var(--content-padding-right);
  padding-bottom: var(--content-padding-bottom);
  padding-left: var(--content-padding-left);
  max-width: var(--content-max-width);
}
