@use "../../core/color-scheme/" as color-scheme;

/* Primary */
$color-brand-primary: #{color-scheme.$dark-blue-600};
$color-brand-primary-muted: #{color-scheme.$dark-blue-500};
$color-brand-primary-subtle: #{color-scheme.$dark-blue-100};

/* Secundary */
$color-brand-secundary: #{color-scheme.$ruby-red-600};
$color-brand-secundary-muted: #{color-scheme.$ruby-red-500};
$color-brand-secundary-subtle: #{color-scheme.$ruby-red-100};
