@use "../mixin/apply-from-theme";
@use "../variables" as theme;

@mixin collapsible {
  &.collapsed {
    padding: 0;
    gap: 0;
    margin: 0;
    position: relative;

    @include apply-from-theme.apply-from-theme(
      (
        width: theme.$collapsible-width,
        max-width: theme.$collapsible-max-width,
      )
    );

    button.collapsible-toggle {
      display: flex;
      max-height: 100%;

      + .collapsing-element {
        display: flex;
      }

      &[aria-expanded="false"] {
        & + .collapsing-element {
          display: none;
        }
      }
    }
  }

  /* Above breakpoint */
  button.collapsible-toggle {
    display: none;
  }
}
