@use "../variables" as theme;

@mixin collapsible {
  /* Above breakpoint */
  button.collapsible-toggle {
    display: none;
  }

  &.collapsed {
    padding: 0;
    gap: 0;
    margin: 0;
    position: relative;
    width: theme.$collapsible-width;
    max-width: theme.$collapsible-max-width;

    button.collapsible-toggle {
      display: flex;
      max-height: 100%;

      /* Let the icon’s height matches the button text height, 
      and its width adjusts automatically to maintain the correct aspect ratio. 
      */
      .icon {
        height: theme.$collapsible-button-icon-height;
        width: theme.$collapsible-button-icon-width;
      }

      + .collapsing-element {
        display: flex;
      }

      &[aria-expanded="false"] {
        & + .collapsing-element {
          display: none;
        }
      }
    }
  }
}
