@use "theming";
@use "../variables" as theme;

@mixin collapsible {
  /* Above breakpoint */
  button.collapsible-toggle {
    display: none;
  }

  &.collapsed {
    padding: 0;
    gap: 0;
    margin: 0;
    position: relative;

    @include theming.apply-from-theme(
      (
        width: theme.$collapsible-width,
        max-width: theme.$collapsible-max-width,
      )
    );

    button.collapsible-toggle {
      display: flex;
      max-height: 100%;
      border-width: theme.$collapsible-toggle-border-width;
      border-style: theme.$collapsible-toggle-border-style;
      border-color: theme.$collapsible-toggle-border-color;
      border-radius: theme.$collapsible-toggle-border-radius;

      &.secondary {
        background-color: theme.$collapsible-toggle-secondary-background-color;
        border-color: theme.$collapsible-toggle-secondary-border-color;
        color: theme.$collapsible-toggle-secondary-text-color;
      }
      /* The icon’s height matches the button text height, 
      and its width adjusts automatically to maintain the correct aspect ratio. 
      */
      .icon {
        height: 100%;
        width: auto;
      }

      + .collapsing-element {
        display: flex;
      }

      &[aria-expanded="false"] {
        & + .collapsing-element {
          display: none;
        }
      }
    }
  }
}
