/*---------------------------------------------------------------------*/
/*------------------------- mixins/icon.scss --------------------------*/
/*---------------------------------------------------------------------*/

@mixin icon {
  position: static;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  line-height: 1;
  font-style: normal;
}
