/*---------------------------------------------------------------------*/
/*------------------------- mixins/icon.scss --------------------------*/
/*---------------------------------------------------------------------*/

@mixin icon {
  position: static;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  line-height: 1;
  font-style: normal;
}

@mixin icon-format($prefix) {
  @include icon;

  font-family: var(--#{$prefix}icon-font-family);
  font-size: var(--#{$prefix}icon-font-size);
  text-decoration: var(--#{$prefix}icon-text-decoration);
  padding-right: var(--#{$prefix}icon-padding-right);
  padding-left: var(--#{$prefix}icon-padding-left);
  background-color: var(--#{$prefix}icon-background-color);
  color: var(--#{$prefix}icon-text-color);
}

@mixin icon-format-variables($prefix, $parentPrefix) {
  --#{$prefix}icon: none;
  --#{$prefix}icon-font-family: var(--icon-font-family);
  --#{$prefix}icon-font-size: var(--icon-font-size);
  --#{$prefix}icon-text-decoration: var(--#{$parentPrefix}text-decoration);
  --#{$prefix}icon-padding-right: 0.5rem;
  --#{$prefix}icon-padding-left: 0;
  --#{$prefix}icon-background-color: var(--#{$parentPrefix}background-color);
  --#{$prefix}icon-text-color: var(--#{$parentPrefix}text-color);
}

@mixin icon-content($prefix) {
  content: var(--#{$prefix}icon);
}