/*---------------------------------------------------------------------*/
/*------------------------- mixins/icon.scss --------------------------*/
/*---------------------------------------------------------------------*/

@mixin icon {
  position: static;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
  line-height: 1;
  font-style: normal;
}

@mixin icon-format($prefix) {
  @include icon;

  font-family: var(--#{$prefix}icon-font-family);
  font-size: var(--#{$prefix}icon-font-size);
  text-decoration: var(--#{$prefix}icon-text-decoration);
  padding-right: var(--#{$prefix}icon-padding-right);
  padding-left: var(--#{$prefix}icon-padding-left);
}

@mixin icon-content($prefix) {
  content: var(--#{$prefix}icon);
}
