/*---------------------------------------------------------------------*/
/*------------------------- mixins/icon-only.scss ---------------------*/
/*---------------------------------------------------------------------*/
@use "icon";
@use "button";
@use "outline";

@mixin icon-only($prefix) {
  background-color: var(--#{$prefix}background-color);
  border-width: var(--#{$prefix}border-width);
  font-size: 0;
  min-width: var(--#{$prefix}min-width);
  gap: var(--#{$prefix}gap);
  padding-right: var(--#{$prefix}padding-right);
  padding-left: var(--#{$prefix}padding-left);

  /* Icon */
  &::before {
    font-size: var(--#{$prefix}icon-font-size);
  }

  /* Hover */
  &:hover {
    background-color: var(--#{$prefix}hover-background-color);
    border-width: var(--#{$prefix}hover-border-width);
    font-size: 0;
  }
}

@mixin icon-only-variables($prefix, $parentPrefix) {
  --#{$prefix}background-color: var(--#{$parentPrefix}background-color);
  --#{$prefix}border-width: var(--#{$parentPrefix}border-width);
  --#{$prefix}font-size: var(--#{$parentPrefix}font-size);
  --#{$prefix}min-width: var(--#{$parentPrefix}min-width);
  --#{$prefix}gap: var(--#{$parentPrefix}gap);
  --#{$prefix}padding-right: var(--#{$parentPrefix}padding-right);
  --#{$prefix}padding-left: var(--#{$parentPrefix}padding-left);

  /* Icon */
  --#{$prefix}icon-font-size: var(--#{$parentPrefix}icon-font-size);

  /* Hover */
  --#{$prefix}hover-background-color: var(
    --#{$parentPrefix}hover-background-color
  );
  --#{$prefix}hover-border-width: var(--#{$parentPrefix}hover-border-width);
}
