/*---------------------------------------------------------------------*/
/*------------------------- mixins/icon.scss --------------------------*/
/*---------------------------------------------------------------------*/
@use "icon";

@mixin styling($prefix) {
  background-color: var(--#{$prefix}background-color);
  color: var(--#{$prefix}text-color);
  text-decoration: var(--#{$prefix}text-decoration);
}

@mixin link-and-icon-styling($prefix) {
  @include styling($prefix);

  &:before {
    @include styling("#{$prefix}icon-");
  }
}

@mixin link($prefix) {
  @include styling($prefix);

  @include link-elements-styling($prefix);

  &:before {
    @include icon.icon-format($prefix);
    @include icon.icon-content($prefix);
  }

  &.icon,
  .icon {
    &:before {
      @include icon.icon-format($prefix);
    }
  }

  > span.icon:last-of-type:not(:only-of-type) {
    font-size: 0;
    padding-right: var(--#{$prefix}icon-last-padding-right);
    padding-left: var(--#{$prefix}icon-last-padding-left);
  }
}

@mixin link-elements-styling($prefix) {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @include link-and-icon-styling($prefix);
    @content;
  }
}
