@mixin list($prefix) {
  & {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}gap);
    padding: var(--#{$prefix}padding);
    background-color: var(--#{$prefix}background-color);
    line-height: var(--#{$prefix}line-height);
    font-size: var(--#{$prefix}font-size);
    font-weight: var(--#{$prefix}font-weight);
    color: var(--#{$prefix}text-color);
    margin: 0;
    box-sizing: border-box;

    li {
      background-color: var(--#{$prefix}item-background-color);
      border-width: var(--#{$prefix}item-border-width);
      border-style: var(--#{$prefix}item-border-style);
      border-color: var(--#{$prefix}item-border-color);
      padding: var(--#{$prefix}item-padding);
      line-height: var(--#{$prefix}item-line-height);
      font-size: var(--#{$prefix}item-font-size);
      font-weight: var(--#{$prefix}item-font-weight);
      color: var(--#{$prefix}item-text-color);
      box-sizing: border-box;

      a {
        line-height: inherit;
        font-size: inherit;
        font-weight: inherit;
      }
    }
  }
}

@mixin list-variables($prefix, $parentPrefix) {
  /* List */
  --#{$prefix}gap: var(--#{$parentPrefix}gap);
  --#{$prefix}padding: var(--#{$parentPrefix}padding);
  --#{$prefix}background-color: var(--#{$parentPrefix}background-color);
  --#{$prefix}line-height: var(--#{$parentPrefix}line-height);
  --#{$prefix}font-size: var(--#{$parentPrefix}font-size);
  --#{$prefix}font-weight: var(--#{$parentPrefix}font-weight);
  --#{$prefix}text-color: var(--#{$parentPrefix}flex-text-color);

  /* List item */
  --#{$prefix}item-background-color: var(
    --#{$parentPrefix}item-background-color
  );
  --#{$prefix}item-border-width: var(--#{$parentPrefix}item-border-width);
  --#{$prefix}item-border-style: var(--#{$parentPrefix}item-border-style);
  --#{$prefix}item-border-color: var(--#{$parentPrefix}item-border-color);
  --#{$prefix}item-padding: var(--#{$parentPrefix}item-padding);
  --#{$prefix}item-line-height: var(--#{$parentPrefix}item-line-height);
  --#{$prefix}item-font-size: var(--#{$parentPrefix}item-font-size);
  --#{$prefix}item-text-color: var(--#{$parentPrefix}item-text-color);
}
