/*---------------------------------------------------------------------*/
/*------------------------------ tile.scss ----------------------------*/
/*---------------------------------------------------------------------*/
@mixin tile($prefix) {
  & {
    display: flex;
    flex-direction: var(--#{$prefix}flex-direction, column);
    gap: var(--#{$prefix}gap);
    border-width: var(--#{$prefix}border-width);
    border-style: var(--#{$prefix}border-style);
    border-color: var(--#{$prefix}border-color);
    border-radius: var(--#{$prefix}border-radius);
    box-sizing: border-box;
    background-color: var(--#{$prefix}background-color);
    color: var(--#{$prefix}text-color);
    padding-top: var(--#{$prefix}padding-top);
    padding-right: var(--#{$prefix}padding-right);
    padding-bottom: var(--#{$prefix}padding-bottom);
    padding-left: var(--#{$prefix}padding-left);

    > * {
      box-sizing: border-box;
      width: 100%;
    }

    h1 {
      font-size: var(--tile-title-font-size-text);
      color: var(--tile-title-text-color, inherit);
    }

    h2 {
      font-size: var(--tile-subtitle-font-size-text);
      color: var(--tile-subtitle-text-color, inherit);
    }

    ul {
      padding-left: 2rem;
    }

    button {
      width: auto;
    }
  }
}

@mixin tile-variables($prefix, $parentPrefix) {
  --#{$prefix}flex-direction: var(--#{$parentPrefix}flex-direction);
  --#{$prefix}gap: var(--#{$parentPrefix}gap);
  --#{$prefix}border-width: var(--#{$parentPrefix}border-width);
  --#{$prefix}border-style: var(--#{$parentPrefix}border-style);
  --#{$prefix}border-color: var(--#{$parentPrefix}border-color);
  --#{$prefix}border-radius: var(--#{$parentPrefix}border-radius);
  --#{$prefix}background-color: var(--#{$parentPrefix}background-color);
  --#{$prefix}text-color: var(--#{$parentPrefix}text-color);
  --#{$prefix}padding-top: var(--#{$parentPrefix}padding-top);
  --#{$prefix}padding-right: var(--#{$parentPrefix}padding-right);
  --#{$prefix}padding-bottom: var(--#{$parentPrefix}padding-bottom);
  --#{$prefix}padding-left: var(--#{$parentPrefix}padding-left);
}
