@use "../../core/color-scheme/" as color-scheme;

$color-border-default: #{color-scheme.$oc-gray-4};
$color-border-subtle: #{color-scheme.$oc-gray-2};
$color-border-intense: #{color-scheme.$oc-gray-6};
