/* Main */

:root {
  --main-padding-top: var(--spacing-xxxl);
  --sidemenu-main-padding-top: var(--main-padding-top);
  --main-padding-bottom: var(--spacing-xxxl);
  --sidemenu-main-padding-bottom: var(--main-padding-bottom);
}
