@use "../variables" as theme;

$columns-breakpoint-1: 42rem !default;
$columns-breakpoint-2: 60rem !default;
$columns-breakpoint-3: 70rem !default;

.column-4 {
  display: grid;
  grid-template-columns: 1fr;
  gap: theme.$layout-gap;
  width: 100%;
  box-sizing: border-box;

  > * {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (width >= $columns-breakpoint-1) {
  .column-4 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (width >= $columns-breakpoint-2) {
  .column-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width >= $columns-breakpoint-3) {
  .column-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
