@use "../variables" as theme;

.container-s,
.container-m,
.container-l {
  width: 100%;
  box-sizing: border-box;
  margin: theme.$container-s-margin;
  gap: theme.$container-gap;
  display: flex;
  flex-direction: column;
}

.container-s {
  max-width: theme.$container-s-max-width;
  padding-top: theme.$container-s-padding-top;
  padding-right: theme.$container-s-padding-right;
  padding-bottom: theme.$container-s-padding-bottom;
  padding-left: theme.$container-s-padding-left;
}

.container-m {
  max-width: theme.$container-m-max-width;
  padding-top: theme.$container-m-padding-top;
  padding-right: theme.$container-m-padding-right;
  padding-bottom: theme.$container-m-padding-bottom;
  padding-left: theme.$container-m-padding-left;
}

.container-l {
  max-width: theme.$container-l-max-width;
  padding-top: theme.$container-l-padding-top;
  padding-right: theme.$container-l-padding-right;
  padding-bottom: theme.$container-l-padding-bottom;
  padding-left: theme.$container-l-padding-left;
}
