@mixin in-focus {
  transform: scale(1, 1);
  font-size: inherit;
  padding: inherit;
}

*.focus-only,
*.button.focus-only {
  @include in-focus;

  &:not(:focus) {
    transform: scale(1, 0);
    font-size: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    border: 0;
  }
}
