@use "../variables" as theme;

$breakpoint: 42rem !default;

.one-third-two-thirds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  gap: theme.$layout-gap;

  > * {
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }

  > section,
  > article,
  > div {
    padding: 0;
    gap: theme.$layout-gap-nested;
    display: flex;
    flex-direction: column;
  }

  @media (width >= $breakpoint) {
    gap: theme.$layout-gap;

    > * {
      &:nth-child(even) {
        width: calc(66.66% - (theme.$layout-gap / 2));
      }

      &:nth-child(odd) {
        width: calc(33.33% - (theme.$layout-gap / 2));
      }
    }
  }
}
