@use "../variables" as theme;

.overlay:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: theme.$overlay-background-color;
  top: 0;
  left: 0;
  opacity: theme.$overlay-opacity;
  z-index: -1;
}

*:has(> .overlay) {
  position: relative;
  z-index: 0;
}
