$adjustments: url("adjustments.svg") !default;
$affiliate: url("affiliate.svg") !default;
$alert: url("alert.svg") !default;
$alert-circle: url("alert-circle.svg") !default;
$alert-triangle: url("alert-triangle.svg") !default;
$archive: url("archive.svg") !default;
$arrow-back-up: url("arrow-back-up.svg") !default;
$arrow-down: url("arrow-down.svg") !default;
$arrow-left: url("arrow-left.svg") !default;
$arrow-right: url("arrow-right.svg") !default;
$arrow-up: url("arrow-up.svg") !default;
$ascending: url("ascending.svg") !default;
$bell: url("bell.svg") !default;
$bell-off: url("bell-off.svg") !default;
$building: url("building.svg") !default;
$bulb: url("bulb.svg") !default;
$calendar: url("calendar.svg") !default;
$check: url("check.svg") !default;
$check-circle: url("check-circle.svg") !default;
$chevron-down: url("chevron-down.svg") !default;
$chevron-left: url("chevron-left.svg") !default;
$chevron-right: url("chevron-right.svg") !default;
$chevron-up: url("chevron-up.svg") !default;
$circle-check: url("circle-check.svg") !default;
$circle-cross: url("circle-cross.svg") !default;
$circle-dash: url("circle-dash.svg") !default;
$circle-x: url("circle-x.svg") !default;
$clock: url("clock.svg") !default;
$close: url("close.svg") !default;
$confirmation: url("confirmation.svg") !default;
$descending: url("descending.svg") !default;
$dots: url("dots.svg") !default;
$dots-circle-horizontal: url("dots-circle-horizontal.svg") !default;
$dots-vertical: url("dots-vertical.svg") !default;
$download: url("download.svg") !default;
$edit: url("edit.svg") !default;
$external-link: url("external-link.svg") !default;
$eye: url("eye.svg") !default;
$eye-off: url("eye-off.svg") !default;
$eye-plus: url("eye-plus.svg") !default;
$file: url("file.svg") !default;
$file-alert: url("file-alert.svg") !default;
$file-upload: url("file-upload.svg") !default;
$folder: url("folder.svg") !default;
$grid: url("grid.svg") !default;
$hamburger: url("hamburger.svg") !default;
$heart: url("heart.svg") !default;
$home: url("home.svg") !default;
$image: url("image.svg") !default;
$information: url("information.svg") !default;
$link: url("link.svg") !default;
$list: url("list.svg") !default;
$list-search: url("list-search.svg") !default;
$loader: url("loader.svg") !default;
$lock: url("lock.svg") !default;
$lock-closed: url("lock-closed.svg") !default;
$mail: url("mail.svg") !default;
$map-pin: url("map-pin.svg") !default;
$map-pin-filled: url("map-pin-filled.svg") !default;
$message: url("message.svg") !default;
$minus: url("minus.svg") !default;
$on-off: url("on-off.svg") !default;
$outgoing: url("outgoing.svg") !default;
$paw: url("paw.svg") !default;
$pencil: url("pencil.svg") !default;
$plus: url("plus.svg") !default;
$progress: url("progress.svg") !default;
$progression: url("progression.svg") !default;
$questionmark: url("questionmark.svg") !default;
$refresh: url("refresh.svg") !default;
$report: url("report.svg") !default;
$search: url("search.svg") !default;
$send: url("send.svg") !default;
$send-2: url("send-2.svg") !default;
$settings: url("settings.svg") !default;
$sort: url("sort.svg") !default;
$subtask: url("subtask.svg") !default;
$trash: url("trash.svg") !default;
$warning: url("warning.svg") !default;

$icons: (
  adjustments: $adjustments,
  affiliate: $affiliate,
  alert: $alert,
  alert-circle: $alert-circle,
  alert-triangle: $alert-triangle,
  archive: $archive,
  arrow-back-up: $arrow-back-up,
  arrow-down: $arrow-down,
  arrow-left: $arrow-left,
  arrow-right: $arrow-right,
  arrow-up: $arrow-up,
  ascending: $ascending,
  bell: $bell,
  bell-off: $bell-off,
  building: $building,
  bulb: $bulb,
  calendar: $calendar,
  check: $check,
  check-circle: $check-circle,
  chevron-down: $chevron-down,
  chevron-left: $chevron-left,
  chevron-right: $chevron-right,
  chevron-up: $chevron-up,
  circle-check: $circle-check,
  circle-cross: $circle-cross,
  circle-dash: $circle-dash,
  circle-x: $circle-x,
  clock: $clock,
  close: $close,
  confirmation: $confirmation,
  descending: $descending,
  dots: $dots,
  dots-circle-horizontal: $dots-circle-horizontal,
  dots-vertical: $dots-vertical,
  download: $download,
  edit: $edit,
  external-link: $external-link,
  eye: $eye,
  eye-off: $eye-off,
  eye-plus: $eye-plus,
  file: $file,
  file-alert: $file-alert,
  file-upload: $file-upload,
  folder: $folder,
  grid: $grid,
  hamburger: $hamburger,
  heart: $heart,
  home: $home,
  image: $image,
  information: $information,
  link: $link,
  list: $list,
  list-search: $list-search,
  loader: $loader,
  lock: $lock,
  lock-closed: $lock-closed,
  mail: $mail,
  map-pin: $map-pin,
  map-pin-filled: $map-pin-filled,
  message: $message,
  minus: $minus,
  on-off: $on-off,
  outgoing: $outgoing,
  paw: $paw,
  pencil: $pencil,
  plus: $plus,
  progress: $progress,
  progression: $progression,
  questionmark: $questionmark,
  refresh: $refresh,
  report: $report,
  search: $search,
  send: $send,
  send-2: $send-2,
  settings: $settings,
  sort: $sort,
  subtask: $subtask,
  trash: $trash,
  warning: $warning,
);
